Repository seed4j/seed4j, pull requests merged in 2021-12, with the labels that each got.

#331 Add Release Drafter and Automated Release
  .github/release-drafter.yml
  .github/workflows/github-actions.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  release.sh
Labels: area: feature request :bulb:, generator: internal, generator: CI

#332 Dependabot: change label to area: dependencies
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#329 Feature/add logback
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/config/PostgresqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/config/LiquibaseBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/application/SpringBootLoggingApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/config/SpringBootLoggingBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/Level.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/config/SpringBootMvcBeanConfiguration.java
  src/main/resources/generator/server/springboot/core/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/logback.xml.mustache
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/application/SpringBootLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/infrastructure/config/SpringBootLoggingBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/resources/generator/server/springboot/core/logback-spring.xml
  src/test/resources/generator/server/springboot/core/logback.xml
Labels: area: feature request :bulb:, server: spring boot

#336 CI: disable codecov for fork
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#337 Fix sonar: Regular expressions should not overflow the stack
  src/main/java/tech/jhipster/lite/generator/project/domain/CheckConfig.java
Labels: area: enhancement :wrench:, generator: internal

#338 Fix sonar: remove others read/exec
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
Labels: area: enhancement :wrench:, generator: internal

#339 Fix inject value in Exception Translator
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/resources/generator/server/springboot/mvc/web/src/ExceptionTranslator.java.mustache
Labels: area: bug :bug:, server: spring boot

#341 Exception Translator: fix beans with Security Exception Translator
  src/main/resources/generator/server/springboot/mvc/web/test/ExceptionTranslatorIT.java.mustache
Labels: area: bug :bug:, theme: security, server: spring boot

#342 Remove pathmatch.matching-strategy property in generator
  src/main/resources/config/application.properties
  src/test/resources/config/application.properties
Labels: area: enhancement :wrench:, generator: internal

#343 MVC: Remove springfox
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
Labels: area: enhancement :wrench:, server: spring boot

#344 Fix sonar code smells
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/primary/rest/MySQLResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/primary/rest/PostgresqlResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/rest/JwtSecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
Labels: area: enhancement :wrench:, generator: internal

#346 Fix log message when application started
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
Labels: area: enhancement :wrench:, server: spring boot

#348 Readme: add MySQL
  README.md
Labels: area: documentation:books:, generator: internal

#345 Actuator: Add Actuator
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
Labels: area: feature request :bulb:, server: spring boot

#350 Release drafter: improve labels
  .github/release-drafter.yml
Labels: area: enhancement :wrench:, generator: CI

#349 Fix sonar code smells part2
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/error/domain/UnauthorizedValueException.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/CheckConfig.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/resources/generator/server/javatool/base/UnauthorizedValueException.java.mustache
  src/main/resources/generator/server/javatool/base/UnauthorizedValueExceptionTest.java.mustache
  src/test/java/tech/jhipster/lite/error/domain/UnauthorizedValueExceptionTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
Labels: generator: internal, area: refactoring

#351 Refactoring: remove unused methods related to springfox
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
  src/test/resources/logback.xml
Labels: area: enhancement :wrench:, server: spring boot

#352 Fix sonar code smells part3
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/BadRequestAlertException.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/resources/generator/server/javatool/base/AssertTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/src/ExceptionTranslator.java.mustache
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: generator: internal, area: refactoring

#354 CI: matrix builds
  .github/workflows/github-actions.yml
  .github/workflows/release.yml
  tests-ci/config/tomcat-postgresql.json
  tests-ci/config/undertow-mysql.json
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#360 Security JWT: improve SecurityUtils
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/SecurityUtils.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/SecurityUtilsTest.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#362 Security JWT: generate account resource for basic auth
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/account/AccountResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/account/AccountResourceIT.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#363 Security JWT: add roles in properties for basic auth
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#361 Maven: Add configuration plugin/pluginManagement
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Plugin.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/PluginTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: enhancement :wrench:, theme: maven

#364 Fix Code smells
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResourceIT.java
Labels: area: enhancement :wrench:, generator: internal

#366 Use replace instead of replaceAll
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: enhancement :wrench:, generator: internal

#367 Fix JaCoCo version
  pom.xml
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: area: bug :bug:, generator: internal, server: java

#369 Upgrade sonar image to sonarqube:9.2.4-community
  src/main/docker/sonar.yml
Labels: area: dependencies

#371 Readme: update with JaCoCo and Basic Auth
  README.md
Labels: area: documentation:books:

#370 CI: SonarCloud Analysis
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#372 Revert "CI: SonarCloud Analysis"
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#373 Remove schema in python
  roadmap/spring-boot.py
  roadmap/spring_boot_project.png
Labels: area: documentation:books:, area: cleanup

#376 Fix Code smell: Logging should not be vulnerable to injection attacks
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/GitUtils.java
Labels: area: enhancement :wrench:, generator: internal

#377 Readme: display SonarCloud badges
  README.md
Labels: area: documentation:books:

#378 Refactoring PostgresqlDomainService to avoid duplication
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQL.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/Postgresql.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlTest.java
Labels: generator: internal, area: refactoring

#382 Remove unused variable and import
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/rest/JwtSecurityResourceIT.java
Labels: generator: internal, area: refactoring

#383 Remove SuppressWarnings in Exception Translator Test Controller
  src/main/resources/generator/server/springboot/mvc/web/test/ExceptionTranslatorTestController.java.mustache
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslatorTestController.java
Labels: generator: internal, area: refactoring

#384 Upgrade mockito to 4.2.0
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
Labels: area: dependencies

#385 Upgrade lint-staged and prettier
  src/main/resources/generator/init/package.json.mustache
Labels: area: dependencies

#380 Prettier xml
  .lintstagedrc.js
  .prettierrc
  package-lock.json
  package.json
  pom.xml
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml
  src/test/resources/generator/buildtool/maven/pom.test.xml
  src/test/resources/generator/server/springboot/core/logback-spring.xml
  src/test/resources/generator/server/springboot/core/logback.xml
  src/test/resources/logback.xml
Labels: area: enhancement :wrench:, generator: internal

#386 PostgreSQL: refactoring docker image
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/Postgresql.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/resources/generator/server/springboot/database/postgresql/postgresql.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlTest.java
Labels: server: spring boot, area: dependencies, theme: database, area: refactoring

#389 Add JHipster Lite logo
  README.md
Labels: area: documentation:books:, generator: internal

#390 Upgrade to Spring Boot 2.6.2
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
Labels: server: spring boot, area: dependencies

#391 Upgrade testcontainers to 1.16.2
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQL.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/Postgresql.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLTest.java
Labels: server: spring boot, area: dependencies, theme: database

#381 Add sonar
  src/main/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/Sonar.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/SonarResource.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/package-info.java
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/rest/SonarResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#393 Update package json
  package.json
Labels: area: enhancement :wrench:, generator: internal

#394 Fix some Sonar Code Smells for generated projects
  src/main/resources/generator/server/springboot/database/postgresql/FixedPostgreSQL10DialectTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/ApplicationSecurityDefaults.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/ApplicationSecurityProperties.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/SecurityUtils.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/TokenProvider.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/ApplicationSecurityPropertiesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/src/BadRequestAlertException.java.mustache
Labels: area: enhancement :wrench:

#395 Fix postgres Docker Image
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/Postgresql.java
Labels: area: bug :bug:, server: spring boot, theme: database

#396 Templates: prettier format
  src/main/resources/generator/server/sonar/sonar.yml.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/TokenProviderTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/ExceptionTranslatorIT.java.mustache
Labels: server: spring boot, server: java, area: refactoring

#400 Add Spring Boot Developer Tools
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Dependency.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/rest/DevToolsResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/rest/DevToolsResourceIT.java
Labels: area: feature request :bulb:, server: spring boot

#379 Aop logging
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/application/AopLoggingApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/domain/AopLoggingService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/config/AopLoggingConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/primary/rest/AopLoggingResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/package-info.java
  src/main/resources/generator/server/springboot/aop/logging/LoggingAspect.java.mustache
  src/main/resources/generator/server/springboot/aop/logging/LoggingAspectConfiguration.java.mustache
  src/main/resources/generator/server/springboot/aop/logging/LoggingAspectTest.java.mustache
  src/main/resources/generator/server/springboot/core/application-fast.properties.mustache
  src/main/resources/generator/server/springboot/core/application-test.properties.mustache
  src/main/resources/generator/server/springboot/core/application.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/application/AopLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/domain/maven/AopLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/config/AopLoggingBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/primary/rest/AopLoggingResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#407 Fix Code smells: Logging Aspect
  src/main/resources/generator/server/springboot/aop/logging/LoggingAspect.java.mustache
  src/main/resources/generator/server/springboot/aop/logging/LoggingAspectTest.java.mustache
Labels: server: spring boot, area: refactoring

#412 Fix Maven Plugin Management Indentation
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: bug :bug:, server: java

#403 add Spring Boot Async Configuration
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/config/SpringBootAsyncBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/infrastructure/config/SpringBootCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/config/LiquibaseBeanConfiguration.java
  src/main/resources/generator/server/springboot/async/src/AsyncConfiguration.java.mustache
  src/main/resources/generator/server/springboot/common/test/LogbackRecorder.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/config/SpringBootAsyncBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/infrastructure/config/SpringBootCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#417 add Spring Boot Configuration Processor in core
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/resources/generator/server/springboot/mvc/security/jwt/jwt-security-annotation-processor.patch
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityTest.java
Labels: area: enhancement :wrench:, server: spring boot

#433 Add Spring Boot Cache Simple
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/infrastructure/config/SpringBootCacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SpringBootCacheSimpleDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SpringBootCacheSimpleService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/config/SpringBootCacheSimpleBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/package-info.java
  src/main/resources/generator/server/springboot/cache/common/src/CacheConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/infrastructure/config/SpringBootCacheBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/config/SpringBootCacheSimpleConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResourceIT.java
  tests-ci/config/undertow-mysql-simplecache.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: cache

#436 Maven resources filtering config
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#415 add Spring Boot Logstash TCP appender
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/application/LogstashApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/domain/Logstash.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/domain/LogstashService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/infrastructure/config/LogstashBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/infrastructure/rest/LogstashResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/package-info.java
  src/main/resources/generator/server/springboot/logging/logstash/tcp/src/LogstashTcpConfiguration.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/src/LogstashTcpLifeCycle.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/src/LogstashTcpProperties.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpLifeCycleTest.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpPropertiesTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/application/LogstashApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/domain/LogstashTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/infrastructure/config/LogstashBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/infrastructure/primary/rest/LogstashResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#439 MavenService.addDependencyManagement
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: area: enhancement :wrench:, theme: maven

#418 Command Repository
  src/main/java/tech/jhipster/lite/generator/project/domain/CommandRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/CommandLocalRepository.java
  src/main/resources/config/application.properties
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/CommandLocalRepositoryIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/CommandLocalRepositoryTest.java
  src/test/resources/generator/command/package-test.json
Labels: area: feature request :bulb:, generator: internal

#444 Project Local Repository: add missing unit tests for containsRegexp
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#434 Add changelog in liquibase
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/Liquibase.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseService.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#447 Liquibase: fix code smells
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#449 Disable getPath tests depending on OS
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
Labels: area: enhancement :wrench:, generator: internal

#448 BuildToolService.addDependencyManagement
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Dependency.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
Labels: area: enhancement :wrench:, theme: maven

#450 Fix maven deletion tests
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
Labels: area: bug :bug:, theme: maven

#451 Replace SpringBootTest by IntegrationTest with properties
  src/main/resources/generator/server/springboot/core/IntegrationTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LiquibaseConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/CorsFilterConfigurationIT.java.mustache
  src/test/java/tech/jhipster/lite/IntegrationTest.java
Labels: area: enhancement :wrench:, server: spring boot
