Repository seed4j/seed4j, pull requests merged in 2022-04, with the labels that each got.

#1203 Heroku deployment
  Procfile
  README.md
  app.json
  system.properties
Labels: area: feature request :bulb:, generator: internal

#1212 Heroku: try to fix app.json [ci skip]
  README.md
  app.json
Labels: area: enhancement :wrench:, generator: internal

#1214 Heroku: remove Procfile and update README [ci skip]
  Procfile
  README.md
Labels: area: enhancement :wrench:, generator: internal

#1215 Heroku: update version and improve release script [ci skip]
  app.json
  release.sh
Labels: area: enhancement :wrench:, generator: internal

#1216 Heroku: update logos [ci skip]
  app.json
Labels: area: enhancement :wrench:, generator: internal

#1218 Heroku: remove port from app.json [ci skip]
  app.json
Labels: area: enhancement :wrench:, generator: internal

#1217 Allow calling API when backend is started with another port than 7471
  src/main/webapp/app/main.ts
Labels: area: bug :bug:, generator: internal

#1219 Front: fix vite proxy
  vite.config.ts
Labels: area: bug :bug:, generator: internal

#786 Add cypress react
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/React.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/application/CypressReactApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/domain/CypressReact.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/domain/CypressReactDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/domain/CypressReactService.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/config/CypressReactBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/primary/CypressReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/package-info.java
  src/main/resources/generator/client/react/cypress.json
  src/main/resources/generator/client/react/cypress/plugins/index.ts
  src/main/resources/generator/client/react/jest.config.ts
  src/main/resources/generator/client/react/src/test/javascript/integration/common/primary/app/App.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/integration/tsconfig.json
  src/main/resources/generator/client/react/src/test/javascript/spec/common/primary/app/App.spec.tsx.mustache
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/application/ReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/application/CypressReactApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/application/CypressReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/domain/CypressReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/config/CypressReactBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/primary/CypressReactResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: tests, theme: client

#1221 Refactoring: move cypress folder from component to javascript
  package.json
  src/test/javascript/cypress/.eslintrc.js
  src/test/javascript/cypress/cypress-config.json
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/cypress/support/selector.ts
  src/test/javascript/cypress/tsconfig.json
Labels: generator: internal, area: refactoring

#1224 Revert "Revert "Maven: Update maven version to 3.8.5""
  .mvn/wrapper/maven-wrapper.properties
  pom.xml
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: theme: maven, area: dependencies

#1226 Init context
  src/main/java/tech/jhipster/lite/generator/init/README.md
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
Labels: area: refactoring, theme: init

#1230 Use constants for GeneratorStep
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResource.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/rest/ReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/primary/CypressReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/rest/SvelteResource.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResource.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/primary/rest/NpmResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/rest/JavaArchUnitResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/rest/JacocoResource.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/rest/SonarResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/primary/rest/MariaDBResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/primary/rest/MySQLResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/primary/rest/PostgresqlResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/rest/DevToolsResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/primary/rest/DummyResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringdocResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/rest/EurekaResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResource.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/rest/CodespacesResource.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/rest/TypescriptResource.java
Labels: generator: internal, area: refactoring

#1228 Maven context
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/README.md
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceIT.java
Labels: theme: maven, area: refactoring

#1232 [React] Upgrade Vite 2.8.6 to 2.9.1
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/React.java
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
Labels: area: dependencies, client: react

#1234 [Angular] Remove favicon
  src/main/resources/generator/client/angular/angular.json
  src/main/resources/generator/client/angular/src/main/webapp/index.html.mustache
Labels: area: refactoring, client: angular

#1188 Add pinia for vue 3
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/Vue.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/dependencies/vue/package.json
  src/main/webapp/app/main.ts
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: vue

#1236 VueDomainService: fix import for compilation
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
Labels: area: bug :bug:, client: vue

#1233 Refactoring: Java context
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/README.md
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/application/JavaBaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBase.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/application/JavaBaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResourceIT.java
Labels: server: java, area: refactoring

#1248 Generic build tool: add README [ci skip]
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/README.md
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
Labels: area: documentation:books:, generator: internal

#1270 Bootstrap css improvements
  package-lock.json
  package.json
  src/main/webapp/app/common/primary/app/App.vue
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/GradleLogo.png
  src/main/webapp/content/JHipster-Lite-neon-blue.png
  src/main/webapp/content/JHipster-Lite-neon-blue_40x.png
  src/main/webapp/content/MavenLogo.png
  src/main/webapp/content/SvelteLogo.png
  src/main/webapp/content/V2_JHipster_Bowtie_RGB_2x.png
  src/main/webapp/content/css/custom.css
  src/main/webapp/content/java_rounded_40x40.png
  src/test/javascript/cypress/integration/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1275 Polish bootstrap css
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1276 Add prefix clients for front-end APIs
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/rest/ReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/primary/CypressReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/rest/SvelteResource.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResource.java
  src/main/webapp/app/springboot/secondary/client/AngularRepository.ts
  src/main/webapp/app/springboot/secondary/client/ReactRepository.ts
  src/main/webapp/app/springboot/secondary/client/VueRepository.ts
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/rest/ReactResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/cypress/infrastructure/primary/CypressReactResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/rest/SvelteResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResourceIT.java
  src/test/javascript/spec/springboot/secondary/client/AngularRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/ReactRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/VueRepository.spec.ts
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: client

#1287 Cypress: fix minor code smells
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/Cypress.java
Labels: area: refactoring, theme: tests

#1291 Fix calls in generate.sh
  tests-ci/generate.sh
Labels: area: bug :bug:, generator: internal

#1290 [Angular] JWT (clean code)
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/resources/generator/client/angular/proxy.conf.json
  src/main/resources/generator/client/angular/proxy.conf.json.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
Labels: area: refactoring, client: angular

#1292 support gradle init and wrapper
  .gitignore
  README.md
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/README.md
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/rest/GradleResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/generator/buildtool/gradle/gradlew
  src/main/resources/generator/buildtool/gradle/gradlew.bat
  src/main/resources/generator/buildtool/gradle/settings.gradle.kts.mustache
  src/main/webapp/app/springboot/primary/Generator.vue
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/gradle/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/rest/GradleResourceIT.java
Labels: area: feature request :bulb:, theme: gradle

#1293 Add webflux
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebflux.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/config/SpringBootWebfluxBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/rest/SpringBootWebfluxResource.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringbootWebfluxAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/config/SpringBootWebfluxBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/rest/SpringBootWebfluxResourceIT.java
  tests-ci/config/reactiveapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#1295 Init project without package.json + husky
  src/main/java/tech/jhipster/lite/generator/init/application/InitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitService.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
Labels: area: feature request :bulb:, theme: init

#1298 CI: update GitHub Actions to allow launching Gradle build
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#1299 CI: add gradleapp
  .github/workflows/github-actions.yml
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  tests-ci/config/gradleapp.json
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#1247 Add secondary for project download
  src/main/webapp/app/http/AxiosHttp.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/Project.fixture.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1321 Improve bootstrap css
  .github/workflows/release.yml
  .prettierrc
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/Angular_full_color_logo.svg
  src/main/webapp/content/React-icon.svg
  src/main/webapp/content/css/custom.css
  src/main/webapp/content/springio-icon.svg
Labels: area: enhancement :wrench:, generator: internal

#1342 add github actions for gradle based builds
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-maven.yml.mustache
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResourceIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceIT.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: ci

#1322 add initial playwright configuration
  src/main/docker/sonar.yml
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/README.md
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/Playwright.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/config/PlaywrightBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResource.java
  src/main/resources/generator/client/common/playwright/playwright.config.ts.mustache
  src/main/resources/generator/client/common/playwright/src/test/javascript/integration/common/primary/app/Home-Page.ts.mustache
  src/main/resources/generator/client/common/playwright/src/test/javascript/integration/common/primary/app/Home.spec.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightAssert.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/config/PlaywrightBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightResourceIT.java
Labels: area: feature request :bulb:, theme: tests

#1266 Add primary for project download
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.html
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1368 Front: add swagger link in navbar
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1369 Front: improve navbar
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1371 Remove swagger url when starting the application
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/test/java/tech/jhipster/lite/JHLiteAppTest.java
Labels: area: enhancement :wrench:, generator: internal

#1373 fix playwright test spec
  src/main/resources/generator/client/common/playwright/src/test/javascript/integration/common/primary/app/Home.spec.ts.mustache
Labels: area: enhancement :wrench:, theme: tests

#1376 CI: wait 60sec for Sonar
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#1374 Front: add conditional section and init svelte
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/css/custom.css
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1378 Front: fix springboot section
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1379 README: update with front url [ci skip]
  README.md
Labels: area: enhancement :wrench:, generator: internal

#1380 Add schema to Project DTO
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTO.java
Labels: area: enhancement :wrench:, generator: internal

#1381 Front: minor improvements
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1388 Upgrade Vue from 3.2.31 to 3.2.33
  package-lock.json
  package.json
Labels: area: dependencies

#1389 [React] Upgrade React 18
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies

#1396 Front: add Spring Security JWT
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1425 Clean test logs
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/resources/generator/server/springboot/core/application-test.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
Labels: area: enhancement :wrench:, server: spring boot

#1429 Fix idemPotency on maven dependencyManagement adding
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
Labels: area: enhancement :wrench:, theme: maven

#1443 Bootstrap navbar
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/css/custom.css
Labels: area: enhancement :wrench:, generator: internal

#1446 Front: add security JWT basic auth button
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1447 Add webflux / add button in front
  jest.config.js
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: feature request :bulb:, server: spring boot, theme: webflux

#1448 Front: add database buttons
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1450 Bootstrap generator section
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/css/custom.css
  src/test/javascript/cypress/integration/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1451 Front: add jacoco, sonar backend and sonar backend+frontend buttons
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1454 Bootstrap sub section
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/css/custom.css
Labels: area: enhancement :wrench:, generator: internal

#1457 Remove deprecated WebSecurityConfigurerAdapter for jwt security config
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/SecurityConfiguration.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#1458 Refactoring: move download to project resource
  src/main/java/tech/jhipster/lite/generator/init/application/InitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/project/application/ProjectApplicationService.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectResource.java
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptorIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceIT.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/application/ProjectApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectResourceIT.java
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  tests-ci/generate.sh
Labels: generator: internal, area: refactoring

#1461 Download: only JHipster Lite project
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal

#1463 Angular: add README [ci skip]
  src/main/java/tech/jhipster/lite/generator/client/angular/core/README.md
Labels: area: documentation:books:, client: angular

#1462 Front: add spring boot actuator
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1465 Front: add spring boot aop logging and logstash
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1466 Front: fix download api
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: generator: internal, area: refactoring

#1481 Cursor pointer on inputs label
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1480 Refactor Generator component with AngularGenerator
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/primary/angular-generator/index.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/angular-generator/AngularGenerator.spec.ts
Labels: generator: internal, area: refactoring

#1482 Add autofocus to path input
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1484 Refactor adding React Vue Svelte and SpringBoot Generators
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/primary/react-generator/index.ts
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringbootGenerator.vue
  src/main/webapp/app/springboot/primary/spring-boot-generator/index.ts
  src/main/webapp/app/springboot/primary/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/svelte-generator/SvelteGenerator.vue
  src/main/webapp/app/springboot/primary/svelte-generator/index.ts
  src/main/webapp/app/springboot/primary/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/vue-generator/VueGenerator.vue
  src/main/webapp/app/springboot/primary/vue-generator/index.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/svelte-generator/SvelteGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/vue-generator/VueGenerator.spec.ts
Labels: generator: internal, area: refactoring

#1424 Fix #691 - Add Mongock support
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/config/MongockBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/rest/MongockResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/package-info.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/database/mongock/InitialMigrationSetup.java.mustache
  src/main/resources/generator/server/springboot/database/mongock/InitialMigrationSetupTest.java.mustache
  src/main/resources/generator/server/springboot/database/mongock/MongockDatabaseConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/config/MongockBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/rest/MongockResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database migration

#1501 Refactor download project
  src/main/webapp/app/common/domain/DocumentFile.ts
  src/main/webapp/app/common/primary/FileDownloader.ts
  src/main/webapp/app/common/secondary/ResponseDocumentFile.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/common/primary/FileDownloader.fixture.ts
  src/test/javascript/spec/common/primary/FileDownloader.spec.ts
  src/test/javascript/spec/springboot/domain/Project.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: generator: internal, area: refactoring

#1507 Bump Node.js to 16.15.0
  .github/actions/setup/action.yml
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/pom.xml
Labels: area: dependencies

#1522 Mutualize buttons
  src/main/webapp/app/common/primary/default-button/DefaultButton.component.ts
  src/main/webapp/app/common/primary/default-button/DefaultButton.vue
  src/main/webapp/app/common/primary/default-button/index.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/primary/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringbootGenerator.vue
  src/main/webapp/app/springboot/primary/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/svelte-generator/SvelteGenerator.vue
  src/main/webapp/app/springboot/primary/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/vue-generator/VueGenerator.vue
  src/test/javascript/spec/common/primary/default-button/DefaultButton.spec.ts
Labels: generator: internal, area: refactoring

#1548 Move header in dedicated component
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/header/Header.component.ts
  src/main/webapp/app/springboot/primary/header/Header.vue
  src/main/webapp/app/springboot/primary/header/index.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/header/Header.spec.ts
Labels: generator: internal, area: refactoring

#1530 Save commands history
  package-lock.json
  package.json
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/primary/HistoryStore.ts
  src/main/webapp/app/common/secondary/ProjectHistoryRepository.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/client/AngularService.ts
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/main/webapp/app/springboot/secondary/client/AngularRepository.ts
  src/main/webapp/app/springboot/secondary/client/ReactRepository.ts
  src/main/webapp/app/springboot/secondary/client/VueRepository.ts
  src/test/javascript/spec/common/domain/History.fixture.ts
  src/test/javascript/spec/common/domain/ProjectHistoryService.fixture.ts
  src/test/javascript/spec/common/primary/HistoryStore.fixture.ts
  src/test/javascript/spec/common/primary/HistoryStore.spec.ts
  src/test/javascript/spec/common/secondary/ProjectHistoryRepository.spec.ts
  src/test/javascript/spec/common/secondary/RestHistory.fixture.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/AngularRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/ReactRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/VueRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal
