Repository seed4j/seed4j, pull requests merged in 2022-10, with the labels that each got.

#3745 Add side menu
  src/main/style/organism/_organism.scss
  src/main/style/organism/organism.pug
  src/main/style/organism/side-menu/_side-menu.scss
  src/main/style/organism/side-menu/side-menu.code.pug
  src/main/style/organism/side-menu/side-menu.md
  src/main/style/organism/side-menu/side-menu.mixin.pug
  src/main/style/organism/side-menu/side-menu.render.pug
  src/main/style/organism/vertical-space/vertical-space.code.pug
  src/main/style/organism/vertical-space/vertical-space.mixin.pug
  src/main/style/template/_template.scss
  src/main/style/template/layout/layout.mixin.pug
  src/main/style/template/menu-content-template/_menu-content-template.scss
  src/main/style/template/menu-content-template/menu-content-template.code.pug
  src/main/style/template/menu-content-template/menu-content-template.md
  src/main/style/template/menu-content-template/menu-content-template.mixin.pug
  src/main/style/template/menu-content-template/menu-content-template.render.pug
  src/main/style/template/template.pug
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.html
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.html
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.vue
  src/main/webapp/app/module/primary/project-actions/ProjectActions.html
Labels: area: enhancement :wrench:, generator: internal

#3753 Add start-class property in pom
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#3754 Add triage label
  .github/workflows/triage.yml
Labels: area: enhancement :wrench:, generator: CI

#3755 Some clean code, using IntelliJ, in CucumberTestContext
  src/main/resources/generator/server/springboot/cucumber/CucumberTestContext.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContext.java
Labels: area: refactoring, theme: tests

#3776 Improve jest configuration by ignoring some package.json used in tests
  jest.config.js
Labels: area: enhancement :wrench:, generator: internal

#3778 Reorganize JHLite steps
  src/test/java/tech/jhipster/lite/TestProjects.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsSteps.java
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#3783 Remove unused variable
  src/main/resources/generator/server/javatool/arch/HexagonalArchTest.java.mustache
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
Labels: area: enhancement :wrench:, server: spring boot

#3780 Add visual separation for side menu
  src/main/style/organism/side-menu/_side-menu.scss
Labels: area: enhancement :wrench:, generator: internal

#3784 Fix Cache configuration, with EHCache
  src/main/resources/generator/server/springboot/cache/ehcache/main/JavaCacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/CacheConfigurationTest.java.mustache
Labels: area: bug :bug:, server: spring boot, theme: cache

#3808 Replace replacement path
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoThresholdModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ContentReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
Labels: generator: internal, area: refactoring

#3815 Update pom.xml with developers section
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#3814 frontend-maven-plugin depends on client-core
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendMavenModuleConfiguration.java
Labels: area: enhancement :wrench:, theme: maven, theme: client

#3782 Custom JHLite component tests
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumbercommon/domain/CucumbersModules.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumbercommon/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/infrastructure/primary/CustomJHLiteModuleConfiguration.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#3817 Add appname to vue generated app
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.html.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: bug :bug:, client: vue

#3841 CI: disable svelte because of problem in coverage [ci skip]
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, generator: CI, client: svelte

#3840 maven wrapper module
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/MavenModuleConfiguration.java
  src/test/features/maven.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: maven

#3835 Upgrade Angular 14.2.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#3862 Launch both vite and tikui in dev mode
  package.json
  tikuiconfig.json
  vite.config.ts
Labels: area: enhancement :wrench:, generator: internal

#3816 Feature/refactor example default
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/CodespaceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterPropertyDefaultValue.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/OpenApiModulesConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertyDefinition.java
  src/main/webapp/app/module/domain/ModulePropertyDefaultValue.ts
  src/main/webapp/app/module/domain/ModulePropertyDefinition.ts
  src/main/webapp/app/module/domain/ModulePropertyExample.ts
  src/main/webapp/app/module/primary/PropertyValue.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.html
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/secondary/RestModulePropertyDefinition.ts
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterPropertyDefaultValueTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterPropertyExampleTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinitionTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesDefinitionTest.java
  src/test/javascript/cypress/fixtures/landscape.json
  src/test/javascript/cypress/fixtures/modules.json
  src/test/javascript/cypress/integration/Patch.spec.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.fixture.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#3865 Hexagonal architecture documentation improvement
  documentation/hexagonal-architecture.md
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
Labels: area: documentation:books:

#3867 Update default value for module
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinitionTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesDefinitionTest.java
Labels: area: enhancement :wrench:, generator: internal

#3869 Static analysis code cleanup
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepository.java
  src/test/java/tech/jhipster/lite/common/domain/EnumsTest.java
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContext.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
Labels: generator: internal, area: refactoring

#3870 Fix failing PR labelling
  .github/workflows/triage.yml
Labels: area: enhancement :wrench:, generator: CI

#3871 Replace deprecated example
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/infrastructure/primary/OAuth2Auth0ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/infrastructure/primary/OAuth2OktaModuleConfiguration.java
Labels: generator: internal, area: refactoring

#3752 React: Move to vitest
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/jest.config.ts
  src/main/resources/generator/client/react/src/test/javascript/spec/common/primary/app/App.spec.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/common/primary/app/App.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/common/services/storage.test.ts.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/services/login.test.ts.mustache
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/client/react/vitest.config.ts
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: feature request :bulb:, client: react

#3873 Svelte: move to Vitest
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/resources/generator/client/svelte/jest.config.cjs
  src/main/resources/generator/client/svelte/src/main/webapp/jest-setup.ts.mustache
  src/main/resources/generator/client/svelte/src/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/svelte/vitest.config.ts
  src/main/resources/generator/dependencies/svelte/package.json
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
Labels: area: feature request :bulb:, client: svelte

#3894 React - Svelte: Vitest + Coverage
  src/main/resources/generator/client/react/vitest.config.ts
  src/main/resources/generator/client/svelte/vitest.config.ts
Labels: area: bug :bug:, client: react, client: svelte

#3866 Vue: move to Vitest
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/jest.config.js
  src/main/resources/generator/client/vue/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/common/primary/homepage/Homepage.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/common/secondary/ConsoleLogger.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/http/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/router/Router.spec.ts.mustache
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/vitest.config.ts
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: feature request :bulb:, client: vue

#3951 Upgrade Angular 14.2.6
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#3933 Vitest: clean reference to jest
  package.json
  sonar-project.properties
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/src/main/webapp/config/setupTests.ts.mustache
  src/main/resources/generator/client/react/vitest.config.ts
  src/main/resources/generator/client/svelte/tsconfig.json
  src/main/resources/generator/client/svelte/vitest.config.ts
  src/main/resources/generator/client/vue/vitest.config.ts
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
Labels: client: react, client: svelte

#3960 Fix warning about router-link in header spec
  src/test/javascript/spec/common/primary/header/Header.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#3961 Bump to node 16.18.0
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  pom.xml
Labels: generator: internal, area: dependencies

#3963 README: add videos links [ci skip]
  README.md
Labels: area: documentation:books:, generator: internal

#3964 Update documentation
  documentation/01-fill_information.png
  documentation/02-init.png
  documentation/03-maven.png
  documentation/04-java_base.png
  documentation/05-spring_boot.png
  documentation/06-spring_boot_mvc.png
  documentation/07-zalando-problems.png
  documentation/08-vue.png
  documentation/09-frontend_maven_plugin.png
  documentation/10-download.png
  documentation/guides.md
  src/main/webapp/app/common/primary/header/Header.vue
Labels: area: documentation:books:, generator: internal

#3962 Rename svelte to svelte-core
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/SvelteModuleConfiguration.java
  src/test/features/svelte.feature
  tests-ci/generate.sh
Labels: area: refactoring, client: svelte

#3931 move module endpoints (get + post /apply-patch)
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleToApply.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesToApply.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/domain/resource/UnknownSlugException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/InvalidModuleQueryException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/InvalidProperitesDefinitionQueryException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleApplicationController.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulePropertiesDefinitionController.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesPatchApplicationHandlerMapping.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesPropertiesDefinitionHandlerMapping.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/ModulesResource.java
  src/test/features/modules.feature
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourcesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleApplicationControllerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulePropertiesDefinitionControllerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: bug :bug:, generator: internal

#3965 prettier format some templates
  src/main/resources/generator/server/springboot/core/ApplicationStartupTracesTest.java.mustache
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationAssertions.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/JsonHelper.java.mustache
Labels: server: java, area: refactoring

#3983 Improved formatting of AnnotationArchTest for better readability
  src/main/resources/generator/server/javatool/arch/AnnotationArchTest.java.mustache
  src/test/java/tech/jhipster/lite/AnnotationArchTest.java
Labels: server: spring boot, area: refactoring

#3980 Delete deprecated method
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacements.java
Labels: generator: internal, area: refactoring

#3985 Update cursor for compacted and extend buttons
  src/main/webapp/app/module/primary/landscape/Landscape.vue
Labels: area: bug :bug:, generator: internal

#3987 Dockerfile: Skip build of javadoc and sources jar during maven build
  Dockerfile
Labels: area: bug :bug:, generator: internal, theme: docker :whale:

#3991 Delete src/main/resources/generator/history
  src/main/resources/generator/history/history.json
Labels: generator: internal, area: refactoring

#3994 Remove jhipster-needle-exception-translator from templates
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/ExceptionTranslatorIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/ExceptionTranslatorTestController.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/ExceptionTranslatorIT.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/ExceptionTranslatorTestController.java.mustache
Labels: server: spring boot, area: refactoring

#3950 add neo4j support
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/application/Neo4jApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/infrastructure/primary/Neo4jModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/application/Neo4jMigrationsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/domain/Neo4jMigrationsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/infrastructure/primary/Neo4jMigrationsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/package-info.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/database/neo4j-migrations/neo4j-migrations.md
  src/main/resources/generator/server/springboot/database/neo4j/TestNeo4jManager.java.mustache
  src/main/resources/generator/server/springboot/database/neo4j/neo4j.md.mustache
  src/main/resources/generator/server/springboot/database/neo4j/neo4j.yml.mustache
  src/main/resources/generator/server/springboot/database/neo4j/spring.factories.mustache
  src/test/features/neo4j-migrations.feature
  src/test/features/neo4j.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/domain/Neo4jMigrationsModuleFactoryTest.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database, $$ bug-bounty $$, $300

#4034 Neo4j : add to start docker compose script
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactory.java
  tests-ci/start_docker_compose.sh
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#3984 Caffeine cache module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/application/CaffeineCacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/domain/CaffeineCacheModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/infrastructure/primary/CaffeineCacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/package-info.java
  src/main/resources/generator/server/springboot/cache/caffeine/caffeine.md.mustache
  src/test/features/caffeine-cache.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/domain/CaffeineCacheModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: cache

#4045 Remove deprecated APIs
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleOrganization.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleResource.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinitionTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourceFixture.java
Labels: generator: internal, area: refactoring

#4052 [3976] - Delete Mustache resources folder and files
  src/main/resources/generator/mustache/README.md.mustache
  src/main/resources/generator/mustache/README.txt
Labels: area: triage

#4053 Upgrade Angular 14.2.7
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4020 Add applied modules count in header
  src/main/webapp/app/common/domain/Statistics.ts
  src/main/webapp/app/common/domain/StatisticsRepository.ts
  src/main/webapp/app/common/primary/header/Header.component.ts
  src/main/webapp/app/common/primary/header/Header.vue
  src/main/webapp/app/common/secondary/RestStatistics.ts
  src/main/webapp/app/common/secondary/RestStatisticsRepository.ts
  src/main/webapp/app/main.ts
  src/test/javascript/spec/common/domain/Statistics.spec.ts
  src/test/javascript/spec/common/primary/header/Header.spec.ts
  src/test/javascript/spec/common/secondary/RestStatisticsRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#4068 ci: use environment file to manage outputs without warnings
  .github/workflows/github-actions.yml
  .github/workflows/release.yml
Labels: area: enhancement :wrench:, generator: CI

#4087 CI: remove javadoc and sources jar before uploading
  .github/workflows/release.yml
  tests-ci/start.sh
Labels: area: bug :bug:, generator: internal

#4091 Update java-archunit dependencies
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/ArchUnitModuleConfiguration.java
Labels: area: bug :bug:

#4088 Put landscape in light
  src/main/style/organism/side-menu/_side-menu.scss
  src/main/style/template/menu-content-template/_menu-content-template.scss
  src/main/webapp/app/assets/global.scss
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.vue
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.vue
Labels: area: enhancement :wrench:, generator: internal

#4114 Encode path in URI
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: bug :bug:, generator: internal

#4092 Add a default error page for tomcat and undertow
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/resources/generator/server/springboot/mvc/web/resources/404.html
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#4123 Add style documentation
  CONTRIBUTING.md
  README.md
  documentation/style.md
Labels: area: documentation:books:

#4125 Fix optional typescript
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/optional/domain/OptionalTypescriptModuleFactory.java
  src/main/resources/generator/typescript/jest.config.js
  src/main/resources/generator/typescript/tsconfig.json
  src/test/features/optional-typescript.feature
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/optional/OptionalTypescriptModuleFactoryTest.java
Labels: area: bug :bug:, theme: typescript

#4128 Respect multiword eslint rule for vue
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/vitest.config.ts
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/AppVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/index.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/HomepageVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/index.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/main.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue

#4126 Ci typescript
  .github/workflows/github-actions.yml
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#4124 use boot 3 compatible mongock version
  pom.xml
Labels: server: spring boot, generator: internal, area: dependencies, theme: database migration

#4146 Remove unused readme section
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/resources/generator/init/README.md.mustache
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: enhancement :wrench:, theme: docs

#4147 Remove unused import
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
Labels: area: refactoring, theme: typescript

#4148 Format: ForcedProjectFolderPrefixIntTest.java
  src/test/java/tech/jhipster/lite/projectfolder/infrastructure/primary/ForcedProjectFolderPrefixIntTest.java
Labels: generator: internal, area: refactoring

#4152 Upgrade Angular 14.2.8
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4150 Spring Boot 3: remove zalando
  pom.xml
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/BadRequestAlertException.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ErrorConstants.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslator.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/FieldErrorDTO.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/HeaderUtil.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ProblemConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/InvalidProjectFolderException.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/BadRequestAlertExceptionTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslatorIT.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslatorTestController.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/FieldErrorDTOTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/HeaderUtilTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/resources/config/application.properties
Labels: server: spring boot, generator: internal, area: refactoring

#3832 Upgrade to Spring Boot 3
  .github/workflows/github-actions.yml
  pom.xml
  src/main/java/tech/jhipster/lite/documentation/infrastructure/primary/SpringdocConfiguration.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/BadRequestAlertException.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ErrorConstants.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslator.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/FieldErrorDTO.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/HeaderUtil.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ProblemConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/InvalidProjectFolderException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/OpenApiModulesConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesToApply.java
  src/test/java/tech/jhipster/lite/BeanValidationAssertions.java
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContext.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/BadRequestAlertExceptionTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslatorIT.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/ExceptionTranslatorTestController.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/FieldErrorDTOTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/HeaderUtilTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/resources/config/application.properties
  src/test/resources/logback.xml
Labels: server: spring boot, generator: internal, area: dependencies

#4161 make annotation attribute override explicit
  src/test/java/tech/jhipster/lite/IntegrationTest.java
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#4164 bump vite from 3.1.8 to 3.2.1 in /src/main/resources/generator/dependencies/vue
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue

#4165 remove unused CSRF interceptor
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/CucumberConfiguration.java
  src/test/resources/projects/cucumber/CucumberConfiguration.java
Labels: area: triage

#4163 remove JPA properties that do not alter defaults
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#4166 simplify test in ExceptionTranslatorIT
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/ExceptionTranslatorIT.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/ExceptionTranslatorIT.java.mustache
Labels: server: spring boot, area: refactoring

#4162 remove not needed custom Postgres dialect
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/resources/generator/server/springboot/database/postgresql/FixedPostgreSQL10Dialect.java.mustache
  src/main/resources/generator/server/springboot/database/postgresql/FixedPostgreSQL10DialectTest.java.mustache
  src/test/features/postgresql.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#4169 Front: label + field not well displayed
  src/main/style/quark/_quark.scss
  src/main/webapp/content/css/custom.css
Labels: area: enhancement :wrench:, generator: internal

#4170 Angular: clean code
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.route.spec.ts.mustache
  src/test/resources/projects/angular/app.component.spec.ts
Labels: area: refactoring, client: angular

#4155 fix DB drivers and Devtools dependency declaration
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#4171 Add PostgreSQL dialect module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresqldialect/application/PostgresqlDialectApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresqldialect/domain/PostgresqlDialectModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresqldialect/infrastructure/primary/PostgresqlDialectModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresqldialect/package-info.java
  src/main/resources/generator/server/springboot/database/postgresqldialect/FixedPostgreSQL10Dialect.java.mustache
  src/main/resources/generator/server/springboot/database/postgresqldialect/FixedPostgreSQL10DialectTest.java.mustache
  src/test/features/postgresqldialect.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresqldialect/domain/PostgresqlDialectModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#4173 move templates related to mongock to dbmigration folder
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactory.java
  src/main/resources/generator/server/springboot/dbmigration/mongock/MongockDatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/mongock/mongock.md
Labels: server: spring boot, theme: database migration, area: refactoring

#4174 Add radius to connectors in landscape
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/LandscapeConnector.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeConnector.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#4176 add documentation for different versions file paths in module-creation.md
  documentation/module-creation.md
Labels: area: triage

#4178 Angular: Sonar
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.route.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular
