Repository seed4j/seed4j, pull requests merged in 2022-03, with the labels that each got.

#879 Docker: Add dockerfile
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
  src/main/resources/generator/server/springboot/docker/Dockerfile.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: docker :whale:

#881 Docker: polish [ci skip]
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
Labels: area: enhancement :wrench:, theme: docker :whale:

#880 Spring Boot Mvc: refactoring with constants
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
Labels: server: spring boot, area: refactoring

#900 CI: concurrency cancel in progress
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#911 [React] Empty home page
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReact.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainService.java
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/App.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.css.mustache
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ReactResourceIT.java
Labels: area: enhancement :wrench:, client: react

#875 Spring Boot Database: MariaDB
  .github/workflows/github-actions.yml
  README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/application/MariaDBApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDB.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/config/MariaDBBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/primary/rest/MariaDBResource.java
  src/main/resources/generator/server/springboot/database/mariadb/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mariadb/mariadb.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/application/MariaDBApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/config/MariaDBBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/primary/rest/MariaDBResourceIT.java
  tests-ci/config/mariadbapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#912 Remove add test containers method for DBs modules
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
Labels: server: spring boot, theme: database, area: refactoring

#443 Spring Boot Security: OAuth 2.0 and OpenID Connect
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/CommonSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/CommonSecurityService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/infrastructure/config/CommonSecurityBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2Security.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/config/OAuth2SecurityBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResource.java
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/jhipster-realm.json.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/jhipster-users-0.json.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/keycloak.yml.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/application/SecurityUtils.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/domain/ApplicationSecurityDefaults.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/domain/AuthoritiesConstants.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/ApplicationSecurityProperties.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/AudienceValidator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/CustomClaimConverter.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/JwtGrantedAuthorityConverter.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/OAuth2Configuration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/infrastructure/config/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/application/SecurityUtilsTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/WithUnauthenticatedMockUser.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/ApplicationSecurityPropertiesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/AudienceValidatorTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/CustomClaimConverterIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/FakeRequestAttributes.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/JwtGrantedAuthorityConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/SecurityConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/SecurityConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/config/TestSecurityConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/CommonSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/infrastructure/config/CommonSecurityBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/config/OAuth2SecurityBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResourceIT.java
  tests-ci/config/oauth2app.json
  tests-ci/config/undertow-oauth2.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot

#922 Security JWT: refactoring and using common security service
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/config/JwtSecurityBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
Labels: theme: security, server: spring boot, area: refactoring

#924 Improve documentation [ci skip]
  CONTRIBUTING.md
  README.md
Labels: area: documentation:books:

#925 Improve documentation [ci skip]
  README.md
Labels: area: documentation:books:, generator: internal

#926 JHLite: update tag in API
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/rest/JwtSecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResource.java
Labels: generator: internal, theme: api, area: refactoring

#929 Refactoring: add missing primary rest
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/rest/ViteReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViteVueResource.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/rest/JacocoResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/rest/EurekaResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResource.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/rest/TypescriptResource.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/rest/ViteReactResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/rest/JacocoResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/rest/EurekaResourceIT.java
  src/test/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/rest/TypescriptResourceIT.java
Labels: generator: internal, area: refactoring

#930 Refactoring: rename ViteVue to Vue
  .github/dependabot.yml
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/config/ViteVueBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViteVueResource.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/Vue.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/config/VueBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResource.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/package-info.java
  src/main/resources/generator/client/vue/.eslintrc.js
  src/main/resources/generator/client/vue/jest.config.js
  src/main/resources/generator/client/vue/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/vite.config.ts
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/StyledApp.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/StyledApp.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/index.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/env.d.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/main.ts.mustache
  src/main/resources/generator/client/vue/webapp/content/images/JHipster-Lite-neon-green.png
  src/main/resources/generator/client/vue/webapp/content/images/VueLogo.png
  src/main/resources/generator/client/vue/webapp/index.html.mustache
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/config/VueBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResourceIT.java
  tests-ci/generate.sh
Labels: area: refactoring, client: vue

#940 Liquibase: Update changelog URI to use https
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/sequence_user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user_with_autoincrement.xml.mustache
  src/test/resources/generator/server/springboot/liquibase/master.test.xml
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#717 feat: Add Github Actions support
  src/main/java/tech/jhipster/lite/generator/githubactions/application/GithubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/githubactions/domain/GithubActionsDomainService.java
  src/main/java/tech/jhipster/lite/generator/githubactions/domain/GithubActionsService.java
  src/main/java/tech/jhipster/lite/generator/githubactions/infrastructure/config/GithubActionsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/githubactions/infrastructure/primary/rest/GithubActionsResource.java
  src/main/java/tech/jhipster/lite/generator/githubactions/package-info.java
  src/main/resources/generator/githubactions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/githubactions/.github/workflows/github-actions.yml.mustache
  src/test/java/tech/jhipster/lite/generator/githubactions/application/GithubActionsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/githubactions/application/GithubActionsAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/githubactions/domain/GithubActionsDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/githubactions/infrastructure/config/GithubActionsBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/githubactions/infrastructure/primary/rest/GithubActionsResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: ci

#942 [Angular] Remove wildcard imports
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/config/AngularBeanConfigurationIT.java
Labels: area: refactoring, client: angular

#945 README: update with prettier and sonar [ci skip]
  README.md
Labels: area: documentation:books:, generator: internal

#944 Reduce output log in generated projects
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/JavaArchUnitDomainService.java
  src/main/resources/generator/server/springboot/core/logback.xml.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitAssertFiles.java
Labels: area: enhancement :wrench:, server: spring boot

#946 Add capacity to configure logging in test application properties
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
  src/main/resources/generator/server/springboot/core/application-test.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/resources/generator/server/springboot/core/application.test.properties
Labels: area: enhancement :wrench:, server: spring boot

#947 [React] Remove wildcard imports
  src/test/java/tech/jhipster/lite/generator/client/react/core/application/ReactApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/application/ReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/infrastructure/config/ReactBeanConfigurationIT.java
Labels: area: refactoring, client: react

#952 Add secondary mapper for project object
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
  src/main/webapp/app/generator/secondary/RestProject.ts
  src/test/javascript/spec/generator/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/generator/secondary/RestProject.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#955 Project: add method to rename file
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#953 Add front JavaBase and SpringBoot buttons
  src/main/webapp/app/generator/domain/ProjectService.ts
  src/main/webapp/app/generator/primary/Generator.component.ts
  src/main/webapp/app/generator/primary/Generator.html
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
  src/test/javascript/spec/generator/domain/Project.fixture.ts
  src/test/javascript/spec/generator/domain/ProjectService.fixture.ts
  src/test/javascript/spec/generator/primary/Generator.spec.ts
  src/test/javascript/spec/generator/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/generator/secondary/RestProject.spec.ts
Labels: area: feature request :bulb:, generator: internal

#918 Add user context for mariadb and liquibase
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/config/SpringBootUserBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResource.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResourceIT.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#869 Add git init script when initializing project
  src/main/java/tech/jhipster/lite/generator/init/application/InitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitService.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitAssertFiles.java
Labels: area: enhancement :wrench:, theme: init

#957 Add Cypress dependencies and configuration
  package-lock.json
  package.json
  src/test/component/cypress/.eslintrc.js
  src/test/component/cypress/cypress-config.json
  src/test/component/cypress/integration/Home.spec.ts
  src/test/component/cypress/tsconfig.json
Labels: area: feature request :bulb:, generator: internal, theme: tests

#962 Add mariadb into user migration with flyway
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/Flyway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#963 CI: launch Cypress
  .github/workflows/github-actions.yml
Labels: area: feature request :bulb:, generator: CI, theme: tests

#970 Spring Cloud Consul: fix context path
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
Labels: area: bug :bug:, server: spring boot, theme: microservices

#971 add dependabot config for docker image
  .github/dependabot.yml
  src/main/resources/generator/dependencies/Dockerfile
Labels: area: enhancement :wrench:, area: dependencies, theme: docker :whale:

#969 Add first e2e tests
  package.json
  src/main/webapp/app/common/primary/home/Home.component.ts
  src/main/webapp/app/common/primary/home/Home.html
  src/main/webapp/app/common/primary/home/Home.vue
  src/main/webapp/app/common/primary/home/index.ts
  src/main/webapp/app/generator/primary/Generator.html
  src/main/webapp/app/router/index.ts
  src/test/component/cypress/.eslintrc.js
  src/test/component/cypress/cypress-config.json
  src/test/component/cypress/integration/Generator.spec.ts
  src/test/component/cypress/integration/Home.spec.ts
  src/test/component/cypress/support/selector.ts
  src/test/javascript/spec/common/primary/home/Home.spec.ts
Labels: area: feature request :bulb:, generator: internal

#974 dependabot for docker / fix dockerfile directory in config
  .github/dependabot.yml
Labels: area: enhancement :wrench:, area: dependencies, theme: docker :whale:

#981 CI: change dependabot config to rebase-strategy disabled
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#985 Add project name, package and port to front generator
  package-lock.json
  src/main/webapp/app/generator/domain/Project.ts
  src/main/webapp/app/generator/primary/Generator.html
  src/main/webapp/app/generator/secondary/RestProject.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/router/index.ts
  src/main/webapp/app/springboot/domain/BaseName.ts
  src/main/webapp/app/springboot/domain/Folder.ts
  src/main/webapp/app/springboot/domain/PackageName.ts
  src/main/webapp/app/springboot/domain/Port.ts
  src/main/webapp/app/springboot/domain/Project.ts
  src/main/webapp/app/springboot/domain/ProjectName.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.html
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/ProjectToUpdate.ts
  src/main/webapp/app/springboot/primary/index.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/app/springboot/secondary/RestGeneratorJHipster.ts
  src/main/webapp/app/springboot/secondary/RestProject.ts
  src/test/component/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/generator/domain/Project.fixture.ts
  src/test/javascript/spec/springboot/domain/Project.fixture.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/ProjectToUpdate.fixture.ts
  src/test/javascript/spec/springboot/primary/ProjectToUpdate.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/RestGeneratorJHipster.spec.ts
  src/test/javascript/spec/springboot/secondary/RestProject.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#987 Refactoring GitHub Actions
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/config/GitHubActionsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResource.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/package-info.java
  src/main/java/tech/jhipster/lite/generator/githubactions/application/GithubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/githubactions/infrastructure/config/GithubActionsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/githubactions/package-info.java
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions.yml.mustache
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/config/GitHubActionsBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResourceIT.java
  src/test/java/tech/jhipster/lite/generator/githubactions/application/GithubActionsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/githubactions/infrastructure/config/GithubActionsBeanConfigurationIT.java
Labels: area: refactoring, theme: ci

#989 Front: add Spring Boot MVC Tomcat
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.html
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/component/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#993 README: improve contributing with front
  CONTRIBUTING.md
  README.md
Labels: area: documentation:books:, generator: internal

#996 Update npm test to avoid using cache
  package.json
Labels: area: enhancement :wrench:, generator: internal

#1000 OAuth2: improve security utils
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/application/SecurityUtils.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/application/SecurityUtilsTest.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#1003 Change statusCode of generator exception
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslatorIT.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslatorTestController.java
Labels: area: enhancement :wrench:, generator: internal

#1004 Add Frontend Maven Plugin
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.html
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/component/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#1006 Fix sonarlint issues
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/config/MariaDBBeanConfigurationIT.java
Labels: generator: internal, area: refactoring

#1008 Dependabot auto merge pr
  .github/workflows/dependabot-auto-merge.yml
Labels: area: enhancement :wrench:, generator: CI

#1011 dependabot: convert from crlf to lf [ci skip]
  .github/workflows/dependabot-auto-merge.yml
Labels: area: enhancement :wrench:, generator: CI

#994 Create History API
  src/main/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationService.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResource.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/dto/HistoryDTO.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/dto/HistoryDTOTest.java
Labels: area: feature request :bulb:, generator: internal

#1027 Fix #1007 - Upgrade to Spring Boot v2.7.0-M2
  pom.xml
Labels: server: spring boot, area: dependencies

#1050 Svelte gitignore
  .gitignore
  src/main/resources/generator/init/gitignore
Labels: area: enhancement :wrench:, client: svelte

#760 Add svelte kit
  .github/dependabot.yml
  .github/workflows/github-actions.yml
  .gitignore
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/application/SvelteApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/Svelte.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteService.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/config/SvelteBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/rest/SvelteResource.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/package-info.java
  src/main/resources/generator/client/svelte/.eslintrc.cjs
  src/main/resources/generator/client/svelte/jest.config.cjs
  src/main/resources/generator/client/svelte/src/main/webapp/app.d.ts.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app.html.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/StyledApp.svelte.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/assets/JHipster-Lite-neon-orange.png
  src/main/resources/generator/client/svelte/src/main/webapp/assets/svelte-logo.png
  src/main/resources/generator/client/svelte/src/main/webapp/jest-setup.ts.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/routes/index.svelte.mustache
  src/main/resources/generator/client/svelte/src/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/svelte/svelte.config.js
  src/main/resources/generator/client/svelte/tsconfig.json
  src/main/resources/generator/dependencies/svelte/package.json
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/application/SvelteApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/application/SvelteAssert.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/config/SvelteBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/rest/SvelteResourceIT.java
  src/test/resources/generator/common/.lintstagedrc.js
  tests-ci/config/svelteapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: svelte

#1014 Add console logger for errors
  src/main/webapp/app/common/domain/Logger.ts
  src/main/webapp/app/common/domain/Message.ts
  src/main/webapp/app/common/secondary/ConsoleLogger.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/test/javascript/spec/common/domain/Logger.fixture.ts
  src/test/javascript/spec/common/secondary/ConsoleLogger.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: feature request :bulb:, generator: internal

#1042 Upgrade to Spring Boot v3
  pom.xml
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/springdoc/SpringdocConfiguration.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslatorTestController.java
Labels: server: spring boot, area: dependencies

#1065 Fix prettier xml by adding pluginSearchDirs in configuration
  .prettierrc
  src/main/resources/generator/init/.prettierrc.mustache
Labels: area: bug :bug:, generator: internal

#1005 OAuth2: add account context
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2Security.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/account/domain/AccountConstants.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/account/infrastructure/primary/rest/AccountResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/account/infrastructure/primary/rest/UserDTO.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/error/domain/AccountException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/application/SecurityUtils.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/domain/ApplicationSecurityDefaults.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/domain/AuthoritiesConstants.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/ApplicationSecurityProperties.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/AudienceValidator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/CustomClaimConverter.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/JwtGrantedAuthorityConverter.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/OAuth2Configuration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/src/security/oauth2/infrastructure/config/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/account/infrastructure/primary/rest/AccountResourceIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/account/infrastructure/primary/rest/AccountResourceTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/account/infrastructure/primary/rest/OAuth2TestUtil.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/account/infrastructure/primary/rest/UserDTOTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/error/domain/AccountExceptionTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/application/SecurityUtilsTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/WithUnauthenticatedMockUser.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/ApplicationSecurityPropertiesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/AudienceValidatorTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/CustomClaimConverterIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/FakeRequestAttributes.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/JwtGrantedAuthorityConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/SecurityConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/SecurityConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/TestSecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/src/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/ExceptionTranslatorIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/ExceptionTranslatorTestController.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot

#1017 Retrieve commands history from API
  src/main/webapp/app/common/domain/History.ts
  src/main/webapp/app/common/domain/ProjectHistoryService.ts
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/ProjectHistoryRepository.ts
  src/main/webapp/app/common/secondary/RestHistory.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/http/AxiosHttp.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/common/domain/ProjectHistoryService.fixture.ts
  src/test/javascript/spec/common/secondary/ProjectHistoryRepository.spec.ts
  src/test/javascript/spec/common/secondary/RestHistory.fixture.ts
  src/test/javascript/spec/common/secondary/RestHistory.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/http/AxiosHttp.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#1073 Refactoring: update constants with hexa arch
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2Security.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
Labels: generator: internal, area: refactoring

#1074 Refactoring: update spring boot mvc with constants
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
Labels: generator: internal, area: refactoring

#1075 Refactoring: project repository in front
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: generator: internal, area: refactoring

#1076 CI: move codecov after cypress
  .github/workflows/github-actions.yml
Labels: generator: CI, area: refactoring

#1078 fix: mongodbapp generation call api route
  tests-ci/generate.sh
Labels: area: bug :bug:, generator: CI

#1077 Refactoring: use constants for com.mycompany.myapp
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/MongodbAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringdocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserAssertFiles.java
Labels: generator: internal, area: refactoring

#1083 Refactoring: update integration test to common
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
Labels: server: spring boot, area: refactoring

#1085 Use relative path into vue generated
  src/main/resources/generator/client/vue/jest.config.js
  src/main/resources/generator/client/vue/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/tsconfig.json
Labels: area: enhancement :wrench:, client: vue

#1086 CI: fix call api function
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#1026 Add Databases API endpoint webapp
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1039 Adding migration endpoints in Webapp frontend
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1089 Maven: Update maven version to 3.8.5
  .mvn/wrapper/maven-wrapper.properties
  pom.xml
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: theme: maven, area: dependencies

#1090 Vue: fix test with jest without cache
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
Labels: area: bug :bug:, client: vue

#1040 Adding security endpoints in Webapp frontend
  src/main/resources/generator/client/angular/src/main/webapp/content/images/AngularLogo.svg
  src/main/resources/generator/client/svelte/.eslintrc.cjs
  src/main/resources/generator/client/svelte/jest.config.cjs
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1071 Add router into vue app generated
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/Vue.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/resources/generator/client/vue/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/router/Router.spec.ts.mustache
  src/main/resources/generator/client/vue/vite.config.ts
  src/main/resources/generator/client/vue/webapp/app/main.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/router/router.ts.mustache
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
Labels: area: feature request :bulb:, generator: internal

#1092 Move dependabot job to run after all other jobs
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, generator: CI

#1093 Upgrade sonar 9.3 and fix code smells
  src/main/docker/sonar.yml
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
Labels: generator: internal, area: dependencies, area: refactoring

#1094 Clean imports
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/MongodbAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaAssert.java
Labels: generator: internal, area: refactoring

#1068 Tool api webapp
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1069 Add secondary for Cloud API
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1070 Add secondary for Cache API
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1095 Front / Refactoring: project repository to spring boot repository
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/spec/common/domain/ProjectHistoryService.fixture.ts
  src/test/javascript/spec/common/secondary/RestHistory.fixture.ts
  src/test/javascript/spec/common/secondary/RestHistory.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/http/AxiosHttpStub.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/AngularRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/ReactRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/client/VueRepository.spec.ts
Labels: generator: internal, area: refactoring

#674 feat/issue/283 kafka broker
  .github/workflows/github-actions.yml
  README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/Kafka.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/Zookeeper.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/config/KafkaBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/config/MariaDBBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/config/PostgresqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/config/AopLoggingConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/config/SpringBootMvcBeanConfiguration.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/broker/kafka/DummyProducer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyProducerTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaConfiguration.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaProducerProperties.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaProducerPropertiesTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/kafka.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/config/kafkaapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: broker

#1099 Revert "Maven: Update maven version to 3.8.5"
  .mvn/wrapper/maven-wrapper.properties
  pom.xml
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: theme: maven, area: dependencies

#1103 Refactoring: improve constants in User
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
Labels: server: spring boot, area: refactoring

#1105 sonarcloud: avoid shallow clone
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#1087 Create redirection resource to come back into web app
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/config/FrontendMavenBeanConfiguration.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/redirection/RedirectionResource.java
  src/main/resources/generator/server/springboot/mvc/web/src/RedirectionResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/RedirectionResourceIT.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenAssert.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/redirection/RedirectionResourceIT.java
Labels: area: bug :bug:, generator: internal

#1106 CI: add final step
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#1102 fix: kafkacontainer
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/resources/generator/server/springboot/broker/kafka/DummyProducerIT.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
Labels: area: bug :bug:, server: spring boot, theme: broker

#1115 Revert "Upgrade to Spring Boot v3"
  pom.xml
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/springdoc/SpringdocConfiguration.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslatorTestController.java
Labels: server: spring boot, area: dependencies

#1129 Bump minimist 1.2.6 to fix vulnerability
  package-lock.json
Labels: area: dependencies

#1131 Kafka: fix generation of DummyProducerIT
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
Labels: area: bug :bug:, server: spring boot, theme: broker

#1169 add arch unit test for shared kernal with framework dependencies
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
Labels: area: enhancement :wrench:, generator: internal

#1146 Add backend secondary zip function
  pom.xml
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1178 Fix ArchUnit for array
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
Labels: area: bug :bug:, generator: internal

#1172 feat(kafka): add akhq support
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/Akhq.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/Kafka.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/Zookeeper.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResource.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/broker/kafka/akhq.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: broker

#1173 Download backend project
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1179 Dependabot: Update sonar docker image
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#1191 Fix security hotspot about file
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: bug :bug:, generator: internal

#1192 Add method to check if the folder is a JHipster Lite project
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal
