Repository seed4j/seed4j, pull requests merged in 2022-12, with the labels that each got.

#4562 add landscape scroll on click
  src/main/webapp/app/common/primary/cursor/BodyCursorUpdater.ts
  src/main/webapp/app/common/primary/cursor/CursorType.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/LandscapeScroller.ts
  src/test/javascript/spec/common/primary/cursor/BodyCursorUpdater.spec.ts
  src/test/javascript/spec/common/secondary/EmitterStub.fixture.ts
  src/test/javascript/spec/module/primary/GlobalWindow.fixture.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeScroller.spec.ts
Labels: area: triage

#4558 Add prop type utility for vue
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/documentation/vue.md
  src/main/resources/generator/client/vue/test/spec/vue/vue-prop/ArrayComponentVue.vue
  src/main/resources/generator/client/vue/test/spec/vue/vue-prop/ObjectComponentVue.vue
  src/main/resources/generator/client/vue/test/spec/vue/vue-prop/VueProp.spec.ts
  src/main/resources/generator/client/vue/webapp/app/vue/VueProp.ts
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: triage

#4564 Start cucumber tests in failsafe
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#4567 Add metadata to assertion exception
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/resources/generator/server/javatool/base/AssertionException.java.mustache
  src/main/resources/generator/server/javatool/base/NotAfterTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/NotBeforeTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/main/AssertionErrorType.java.mustache
  src/main/resources/generator/server/javatool/base/main/AssertionException.java.mustache
  src/main/resources/generator/server/javatool/base/main/BusinessContext.java.mustache
  src/main/resources/generator/server/javatool/base/main/Generated.java.mustache
  src/main/resources/generator/server/javatool/base/main/MissingMandatoryValueException.java.mustache
  src/main/resources/generator/server/javatool/base/main/NotAfterTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/NotBeforeTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/NullElementInCollectionException.java.mustache
  src/main/resources/generator/server/javatool/base/main/NumberValueTooHighException.java.mustache
  src/main/resources/generator/server/javatool/base/main/NumberValueTooLowException.java.mustache
  src/main/resources/generator/server/javatool/base/main/ProjectCollections.java.mustache
  src/main/resources/generator/server/javatool/base/main/SharedKernel.java.mustache
  src/main/resources/generator/server/javatool/base/main/StringTooLongException.java.mustache
  src/main/resources/generator/server/javatool/base/main/StringTooShortException.java.mustache
  src/main/resources/generator/server/javatool/base/main/TooManyElementsException.java.mustache
  src/main/resources/generator/server/javatool/base/main/assertions.md.mustache
  src/main/resources/generator/server/javatool/base/main/package-info-common.java.mustache
  src/main/resources/generator/server/javatool/base/main/package-info-error.java.mustache
  src/main/resources/generator/server/javatool/base/main/package-types.md.mustache
  src/main/resources/generator/server/javatool/base/test/AssertTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/ComponentTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/MissingMandatoryValueExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/NotAfterTimeExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/NotBeforeTimeExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/NullElementInCollectionExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/NumberValueTooHighExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/NumberValueTooLowExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/ProjectCollectionsTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/ReplaceCamelCase.java.mustache
  src/main/resources/generator/server/javatool/base/test/StringTooLongExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/StringTooShortExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/TooManyElementsExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/UnitTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
Labels: area: enhancement :wrench:, server: spring boot

#4565 International assertion errors
  sonar-project.properties
  src/main/java/tech/jhipster/lite/error/domain/AssertionErrorType.java
  src/main/java/tech/jhipster/lite/error/domain/AssertionException.java
  src/main/java/tech/jhipster/lite/error/domain/MissingMandatoryValueException.java
  src/main/java/tech/jhipster/lite/error/domain/NotAfterTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NotBeforeTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NullElementInCollectionException.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooHighException.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooLowException.java
  src/main/java/tech/jhipster/lite/error/domain/StringTooLongException.java
  src/main/java/tech/jhipster/lite/error/domain/StringTooShortException.java
  src/main/java/tech/jhipster/lite/error/domain/StringWithWitespacesException.java
  src/main/java/tech/jhipster/lite/error/domain/TooManyElementsException.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ArgumentsReplacer.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsHandler.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/ErrorsConfiguration.java
  src/main/resources/messages/assertions-errors/messages.properties
  src/main/resources/messages/assertions-errors/messages_fr.properties
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/ArgumentsReplacerTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorMessagesTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsHandlerIntTest.java
  src/test/java/tech/jhipster/lite/error_generator/domain/MissingMandatoryValueFactory.java
  src/test/java/tech/jhipster/lite/error_generator/infrastructure/primary/AssertionsErrorsResource.java
Labels: server: spring boot, generator: internal

#4636 Disable Spring Cloud modules to allow Spring Boot 3 migration
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/resources/config/application.properties
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
Labels: area: dependencies, theme: microservices

#4620 Add JHLite error messages
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyErrorKey.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/UnknownJavaVersionSlugException.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeException.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/LandscapeErrorKey.java
  src/main/resources/messages/errors/messages.properties
  src/main/resources/messages/errors/messages_fr.properties
  src/test/java/tech/jhipster/lite/module/domain/javadependency/UnknownJavaVersionSlugExceptionTest.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeExceptionTest.java
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#4652 Upgrade vitest
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/react/package.json
  src/main/resources/generator/dependencies/svelte/package.json
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: bug :bug:, client: vue, client: react, client: svelte, theme: client

#4680 Add not empty map assertion
  src/main/resources/generator/server/javatool/base/main/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/test/AssertTest.java.mustache
Labels: server: java

#4653 Add generator errors handler
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsConfiguration.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsHandler.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsConfiguration.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsHandler.java
  src/main/resources/messages/assertions-errors/assertion-errors-messages.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
  src/main/resources/messages/errors/generator-errors-messages.properties
  src/main/resources/messages/errors/generator-errors-messages_fr.properties
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsHandlerIntTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsMessagesTest.java
  src/test/java/tech/jhipster/lite/error_generator/infrastructure/primary/GeneratorErrorsResource.java
Labels: server: spring boot, generator: internal

#4688 Log generator exception in handler
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsHandler.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal

#4690 Log assertion errors
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsHandler.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/AssertionErrorsHandlerTest.java
  src/test/java/tech/jhipster/lite/error_generator/domain/MissingMandatoryValueFactory.java
  src/test/java/tech/jhipster/lite/error_generator/infrastructure/primary/AssertionsErrorsResource.java
Labels: area: triage

#4691 Uniformize base name variable
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactory.java
  src/main/resources/generator/server/javatool/base/main/ProjectCollections.java.mustache
  src/main/resources/generator/server/javatool/base/test/ProjectCollectionsTest.java.mustache
  src/main/resources/generator/server/springboot/core/IntegrationTest.java.mustache
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cucumber/cucumber.md.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/main/domain/Roles.java.mustache
Labels: area: enhancement :wrench:, generator: internal

#4684 Bean validation errors handler
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/BeanValidationErrorsHandler.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/BeanValidationErrorsHandlerIntTest.java
  src/test/java/tech/jhipster/lite/error/infrastructure/primary/BeanValidationErrorsHandlerTest.java
  src/test/java/tech/jhipster/lite/error_generator/infrastructure/primary/BeanValidationErrorsResource.java
  src/test/java/tech/jhipster/lite/error_generator/infrastructure/primary/RestMandatoryParameter.java
Labels: server: spring boot, generator: internal

#4713 Svelte: upgrade Vite and linked dependencies
  src/main/resources/generator/dependencies/svelte/package.json
Labels: area: dependencies, client: svelte

#4714 React: upgrade Vite 4.0.0
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#4683 Add example to liquibase
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/0000000000_example.xml
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml
  src/test/features/dummy.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
Labels: area: enhancement :wrench:, theme: database migration

#4437 Upgrade Angular 15
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.ts
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/resources/projects/angular/main.ts
Labels: area: dependencies, client: angular

#4728 Bump to vite 4.0.0
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#4729 Vue: bump to vite 4.0.0
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue

#4745 Add java enums module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/application/JavaEnumsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/domain/JavaEnumsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/infrastructure/primary/JavaEnumsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/package-info.java
  src/main/resources/generator/server/javatool/enums/main/Enums.java.mustache
  src/main/resources/generator/server/javatool/enums/main/UnmappableEnumException.java.mustache
  src/main/resources/generator/server/javatool/enums/test/EnumsTest.java.mustache
  src/test/features/java-enums.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/java_enum/domain/JavaEnumsModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: java

#4692 Add bean validation error handler in spring boot
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/resources/generator/server/springboot/core/main/ApplicationStartupTraces.java.mustache
  src/main/resources/generator/server/springboot/core/main/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/main/application-local.properties.mustache
  src/main/resources/generator/server/springboot/core/main/application.properties.mustache
  src/main/resources/generator/server/springboot/core/main/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/test/ApplicationStartupTracesTest.java.mustache
  src/main/resources/generator/server/springboot/core/test/IntegrationTest.java.mustache
  src/main/resources/generator/server/springboot/core/test/LogsSpy.java.mustache
  src/main/resources/generator/server/springboot/core/test/application-test.properties.mustache
  src/main/resources/generator/server/springboot/core/test/logback.xml.mustache
  src/main/resources/generator/server/springboot/mvc/frontend/RedirectionResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/main/BeanValidationErrorsHandler.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/main/cors/CorsFilterConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/main/cors/CorsProperties.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsHandlerIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsHandlerTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/RestMandatoryParameter.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
Labels: area: enhancement :wrench:, server: spring boot

#4753 Upgrade Angular 15.0.4
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4762 Fix native build related to sb3
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/NativeHints.java
Labels: area: bug :bug:, server: spring boot, generator: internal

#4195 Improve buttons
  src/main/style/atom/button/_button.scss
  src/main/style/atom/chip/_chip.scss
  src/main/style/font/roboto/Roboto-Bold.ttf
  src/main/style/font/roboto/Roboto-Regular.ttf
  src/main/style/font/roboto/roboto.scss
  src/main/style/layout.pug
  src/main/style/token/_colors.scss
  src/main/style/token/_fonts.scss
  src/main/style/token/color/_brand.scss
  src/main/style/token/color/_color.scss
  src/main/style/token/color/_neutral.scss
Labels: area: enhancement :wrench:, generator: internal

#4764 Angular: upgrade dependencies
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4766 Missing template in package-types.md
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
Labels: area: bug :bug:, server: java

#4765 React: upgrade dependencies
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#4767 Trailling line break for SonarQube commands
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
Labels: area: enhancement :wrench:

#4815 Angular: upgrade @angular-builders/jest 15.0.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4840 Upgrade spring cloud
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/resources/config/application.properties
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
Labels: area: dependencies, theme: microservices

#4845 Angular: ES2022
  src/main/resources/generator/client/angular/core/tsconfig.json
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#4850 Rename test after renaming of FileSystemJavaDependenciesCommandsHandler
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandlerTest.java
Labels: area: triage

#4867 fix: Loading class `com.mysql.jdbc.Driver'. This is deprecated.
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#4869 Module angular-health creates a page that can't be displayed on jhlite-0.24
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactoryTest.java
Labels: area: bug :bug:, client: angular

#4868 Finish gradle build tool module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/GradleModuleConfiguration.java
  src/main/resources/config/application.properties
  src/test/features/gradle.feature
  src/test/features/maven.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: gradle

#4871 Module 'angular-health' depends on 'spring-boot-actuator'
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/infrastructure/primary/AngularhealthModuleConfiguration.java
Labels: area: enhancement :wrench:, client: angular

#4881 Angular: new inject() function
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular
