Repository seed4j/seed4j, pull requests merged in 2022-05, with the labels that each got.

#1283 Feat/issues/1096 kafka consumer
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResource.java
  src/main/resources/generator/server/springboot/broker/kafka/AbstractConsumer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyConsumer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyConsumerIT.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyConsumerTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyProducerTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaConfiguration.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaProducerProperties.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaProducerPropertiesTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaProperties.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaPropertiesTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: broker

#1550 Indicate when button already used
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/primary/HistoryStore.ts
  src/main/webapp/app/common/primary/default-button/DefaultButton.component.ts
  src/main/webapp/app/common/primary/default-button/DefaultButton.vue
  src/main/webapp/app/common/secondary/ProjectHistoryRepository.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/primary/generator/angular-generator/index.ts
  src/main/webapp/app/springboot/primary/generator/generator-button/GeneratorButton.component.ts
  src/main/webapp/app/springboot/primary/generator/generator-button/GeneratorButton.vue
  src/main/webapp/app/springboot/primary/generator/generator-button/index.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.vue
  src/main/webapp/app/springboot/primary/generator/project-generator/index.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/primary/generator/react-generator/index.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/index.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.vue
  src/main/webapp/app/springboot/primary/generator/svelte-generator/index.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.vue
  src/main/webapp/app/springboot/primary/generator/vue-generator/index.ts
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringbootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/primary/HistoryStore.spec.ts
  src/test/javascript/spec/common/secondary/ProjectHistoryRepository.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/generator-button/GeneratorButton.spec.ts
  src/test/javascript/spec/springboot/primary/generator/project-generator/ProjectGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/svelte-generator/SvelteGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
Labels: area: feature request :bulb:, generator: internal

#1551 Bump sonarqube from 9.3 to 9.4
  src/main/docker/sonar.yml
Labels: area: dependencies

#1557 Front: fix button with history when changing path
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1505 Templating forward port for github codespace
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainService.java
  src/main/resources/generator/setup/codespaces/devcontainer.json.mustache
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainServiceTest.java
Labels: area: bug :bug:, theme: init

#1564 Rework assert class
  .gitignore
  sonar-project.properties
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/AssertionException.java
  src/main/java/tech/jhipster/lite/error/domain/MissingMandatoryValueException.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooHighException.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooLowException.java
  src/main/java/tech/jhipster/lite/error/domain/StringTooLongException.java
  src/main/java/tech/jhipster/lite/error/domain/StringTooShortException.java
  src/test/java/tech/jhipster/lite/common/domain/WordUtilsTest.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/error/domain/MissingMandatoryValueExceptionTest.java
Labels: area: enhancement :wrench:, generator: internal

#1583 Fix added history when exception
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptor.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptorIT.java
Labels: area: bug :bug:, generator: internal

#1558 Add Toast notification
  package-lock.json
  package.json
  src/main/webapp/app/common/domain/NotificationService.ts
  src/main/webapp/app/common/primary/toast/Toast.component.ts
  src/main/webapp/app/common/primary/toast/Toast.vue
  src/main/webapp/app/common/primary/toast/ToastType.enum.ts
  src/main/webapp/app/common/primary/toast/index.ts
  src/main/webapp/app/common/secondary/ToastService.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/header/Header.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/main/webapp/app/springboot/secondary/client/AngularRepository.ts
  src/main/webapp/app/springboot/secondary/client/ReactRepository.ts
  src/main/webapp/app/springboot/secondary/client/VueRepository.ts
  src/test/javascript/spec/common/domain/NotificationService.fixture.ts
  src/test/javascript/spec/common/primary/toast/Toast.spec.ts
  src/test/javascript/spec/common/secondary/ToastService.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/project-generator/ProjectGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1587 update package-lock to v2
  package-lock.json
Labels: area: enhancement :wrench:, generator: internal

#1590 Frontend: Fix add toast for Angular with JWT, Flyway and Liquibase
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/test/javascript/spec/common/secondary/ToastService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1601 CI: disable kafka consumer and producer
  tests-ci/generate.sh
Labels: area: bug :bug:, generator: CI

#1449 Add generation timestamp in history file
  src/main/java/tech/jhipster/lite/common/domain/JsonUtils.java
  src/main/java/tech/jhipster/lite/common/domain/TimeUtils.java
  src/main/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationService.java
  src/main/java/tech/jhipster/lite/generator/history/domain/GeneratorHistoryData.java
  src/main/java/tech/jhipster/lite/generator/history/domain/GeneratorHistoryValue.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptor.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResource.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/dto/HistoryDTO.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/DefaultInstantDeserializer.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/GeneratorHistoryDataDTO.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/GeneratorHistoryValueDTO.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/config/PlaywrightBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptorIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/HistoryResourceTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/dto/HistoryDTOTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/DefaultInstanceDeserializerTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/GeneratorHistoryDataDTOTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/dto/GeneratorHistoryValueDTOTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringbootWebfluxAssert.java
Labels: area: enhancement :wrench:, generator: internal

#1610 Frontend: Add timestamp to RestService
  src/main/webapp/app/common/secondary/RestHistory.ts
  src/main/webapp/app/common/secondary/RestService.ts
  src/test/javascript/spec/common/secondary/RestHistory.fixture.ts
  src/test/javascript/spec/common/secondary/RestHistory.spec.ts
  src/test/javascript/spec/common/secondary/RestService.fixture.ts
Labels: area: enhancement :wrench:, generator: internal

#1608 Instant asserter
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/NotAfterTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NotBeforeTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NotFutureTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NotPastTimeException.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
Labels: area: enhancement :wrench:, generator: internal

#1616 Add Collection asserters
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/NullElementInCollectionException.java
  src/main/java/tech/jhipster/lite/error/domain/TooManyElementsException.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
Labels: area: enhancement :wrench:, generator: internal, server: java

#1618 CI: change dependabot time to 00:00
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#1617 CI: wait Sonar message instead of hard coded sleep
  .github/workflows/github-actions.yml
  src/main/docker/sonar.yml
  src/main/resources/generator/server/sonar/sonar.yml.mustache
  tests-ci/wait_sonar.sh
  tests-ci/wait_sonar_analysis.sh
Labels: area: enhancement :wrench:, generator: CI

#1626 Format: devcontainer.json [ci skip]
  .devcontainer/devcontainer.json
  src/main/resources/generator/setup/codespaces/devcontainer.json.mustache
Labels: area: refactoring, theme: init

#1650 Sonar: ignore rules
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: enhancement :wrench:, theme: ci

#1556 [Angular] Add Angular Material
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.css.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/styles.css.mustache
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
Labels: area: feature request :bulb:, client: angular

#1588 Add Axios Http into generated Vue Webapp
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/Vue.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/resources/generator/client/vue/test/spec/http/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/http/AxiosHttpStub.ts.mustache
  src/main/resources/generator/client/vue/test/spec/http/AxiosStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/http/AxiosHttp.ts.mustache
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResourceIT.java
Labels: area: feature request :bulb:, client: vue

#1667 Add BigDecimal asserter
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooHighException.java
  src/main/java/tech/jhipster/lite/error/domain/NumberValueTooLowException.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
Labels: area: enhancement :wrench:, generator: internal, server: java

#1685 Import arch unit in test scope
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnit.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitAssertFiles.java
Labels: area: enhancement :wrench:, theme: tests

#1686 Update deprecated authentication method
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/TestSecurityConfiguration.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#1687 Rework audience validator test
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/security/oauth2/infrastructure/config/AudienceValidatorTest.java.mustache
Labels: theme: security, server: spring boot, area: refactoring

#1684 Remove deprecated assertions
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBase.java
  src/main/resources/generator/server/javatool/base/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/AssertTest.java.mustache
  src/main/resources/generator/server/javatool/base/UnauthorizedValueException.java.mustache
  src/main/resources/generator/server/javatool/base/UnauthorizedValueExceptionTest.java.mustache
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainServiceTest.java
Labels: server: java, area: refactoring

#1691 Frontend: Add svelte button
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/client/SvelteService.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.vue
  src/main/webapp/app/springboot/secondary/client/SvelteRepository.ts
  src/test/javascript/spec/springboot/domain/client/SvelteService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/svelte-generator/SvelteGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/SvelteRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1702 Simple collections utility
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainService.java
  src/main/resources/generator/server/javatool/base/ProjectCollections.java.mustache
  src/main/resources/generator/server/javatool/base/ProjectCollectionsTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainServiceTest.java
Labels: area: enhancement :wrench:, server: java

#1661 Angular: refactoring to have a login component
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwt.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainService.java
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app-routing.module.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app-routing.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.css.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.component.css.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.component.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/login/login.route.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
Labels: area: refactoring, client: angular

#1662 Add Gitpod generation
  README.md
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/application/GitpodApplicationService.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodDomainService.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodService.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/config/GitpodBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/primary/rest/GitpodResource.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/package-info.java
  src/main/resources/generator/setup/gitpod/.gitpod.Dockerfile
  src/main/resources/generator/setup/gitpod/.gitpod.yml
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/content/CodespacesLogo.png
  src/main/webapp/content/GitpodLogo.png
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/application/GitpodApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/application/GitpodAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/config/GitpodBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/primary/rest/GitpodResourceIT.java
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/project-generator/ProjectGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: init

#1721 Angular / Refactoring folders (remove common/primary)
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainService.java
  src/main/resources/generator/client/angular/core/angular.json
  src/main/resources/generator/client/angular/core/jest.conf.js
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app-routing.module.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app-routing.module.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.css.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.module.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/content/images/AngularLogo.svg
  src/main/resources/generator/client/angular/core/src/main/webapp/content/images/JHipster-Lite-neon-red.png
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.prod.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.prod.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/polyfills.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/styles.css.mustache
  src/main/resources/generator/client/angular/core/tsconfig.app.json
  src/main/resources/generator/client/angular/core/tsconfig.json
  src/main/resources/generator/client/angular/core/tsconfig.spec.json
  src/main/resources/generator/client/angular/security/jwt/proxy.conf.json.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.model.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.css.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.model.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.module.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.route.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
Labels: area: refactoring, client: angular

#1502 Add Spring Cloud Gateway
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/Gateway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/config/GatewayBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/rest/GatewayResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebflux.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainService.java
  src/main/resources/generator/server/springboot/springcloud/gateway/java/GatewayResource.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/java/RouteVM.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/java/test/GatewayResourceIT.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/resources/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/resources/test/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/config/GatewayBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/rest/GatewayResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringbootWebfluxAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainServiceTest.java
  tests-ci/config/gatewayapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, generator: cloud

#1731 Rework add file repository
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/FilePath.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectFile.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainService.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodDomainService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/gradle/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectFileTest.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectFilesAsserter.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal

#1733 Fix #1635 - Add springdoc button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1742 Fix prettier for Gradle folder
  .prettierignore
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/rest/GradleResourceIT.java
Labels: area: bug :bug:, generator: internal

#1769 Front: align server and client
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: enhancement :wrench:, generator: internal

#1690 Frontend: Add an AlertBus
  package-lock.json
  package.json
  src/main/webapp/app/common/domain/NotificationService.ts
  src/main/webapp/app/common/domain/alert/AlertBus.ts
  src/main/webapp/app/common/domain/alert/AlertListener.ts
  src/main/webapp/app/common/domain/alert/AlertMessage.ts
  src/main/webapp/app/common/domain/alert/Alerted.ts
  src/main/webapp/app/common/domain/alert/Unsubscribe.ts
  src/main/webapp/app/common/primary/app/App.component.ts
  src/main/webapp/app/common/primary/app/App.html
  src/main/webapp/app/common/primary/toast/Toast.component.ts
  src/main/webapp/app/common/primary/toast/Toast.vue
  src/main/webapp/app/common/primary/toast/ToastMessage.ts
  src/main/webapp/app/common/primary/toast/ToastType.ts
  src/main/webapp/app/common/primary/toast/index.ts
  src/main/webapp/app/common/secondary/ToastService.ts
  src/main/webapp/app/common/secondary/alert/AlertType.ts
  src/main/webapp/app/common/secondary/alert/MittAlertBus.ts
  src/main/webapp/app/common/secondary/alert/MittAlertListener.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/spring-boot-generator/SpringbootGenerator.vue
  src/test/javascript/spec/common/domain/AlertBus.fixture.ts
  src/test/javascript/spec/common/domain/AlertListener.fixure.ts
  src/test/javascript/spec/common/domain/NotificationService.fixture.ts
  src/test/javascript/spec/common/primary/toast/Toast.spec.ts
  src/test/javascript/spec/common/secondary/ToastService.fixture.ts
  src/test/javascript/spec/common/secondary/ToastService.spec.ts
  src/test/javascript/spec/common/secondary/alert/MittAlertBus.spec.ts
  src/test/javascript/spec/common/secondary/alert/MittAlertListener.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/project-generator/ProjectGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/svelte-generator/SvelteGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1703 Add Gradle add/delete dependency util method
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/infrastructure/config/BuildToolBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/gradle/GradleDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: gradle

#1758 Add Gradle add repository util method
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: gradle

#1701 Add oauth 2 Angular
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/README.md
  src/main/java/tech/jhipster/lite/generator/client/angular/common/application/AngularCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommon.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/infrastructure/AngularCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/README.md
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2Service.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/config/AngularOauth2BeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOauth2Resource.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/package-info.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/client/angular/core/angular.json
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.css.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.spec.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.html
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.ts
  src/main/resources/generator/dependencies/angular/package.json
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/client/AngularService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/secondary/client/AngularRepository.ts
  src/test/java/tech/jhipster/lite/generator/client/angular/common/application/AngularCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/common/infrastructure/AngularCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2ApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2Assert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/config/AngularOauth2BeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOauth2ResourceIT.java
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/client/AngularService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/AngularRepository.spec.ts
  tests-ci/config/angularoauth2app.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, client: angular

#1777 Refactoring vue styled
  src/main/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/Vue.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/StyledApp.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/StyledApp.vue.mustache
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/client/VueService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.vue
  src/main/webapp/app/springboot/secondary/client/VueRepository.ts
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/rest/VueResourceIT.java
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/client/VueService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/VueRepository.spec.ts
  tests-ci/generate.sh
Labels: area: refactoring, client: vue

#1778 Feat/kafka readme
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/config/KafkaBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
Labels: area: documentation:books:, server: spring boot, theme: broker

#1775 Init modules mechanism
  src/main/java/tech/jhipster/lite/common/domain/JHipsterCollections.java
  src/main/java/tech/jhipster/lite/generator/module/domain/ArgumentsReplacer.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContent.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFile.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterProjectFolder.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterSource.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/package-info.java
  src/test/java/tech/jhipster/lite/common/domain/JHipsterCollectionsTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/ArgumentsReplacerTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/generator/content/no-template.txt
  src/test/resources/generator/content/template.txt.mustache
Labels: area: enhancement :wrench:, generator: internal

#1786 Fix past and future assertions
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/NotFutureTimeException.java
  src/main/java/tech/jhipster/lite/error/domain/NotPastTimeException.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBase.java
  src/main/resources/generator/server/javatool/base/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/AssertTest.java.mustache
  src/main/resources/generator/server/javatool/base/NotFutureTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/NotPastTimeException.java.mustache
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainServiceTest.java
Labels: area: bug :bug:, server: java

#1801 chore: update header level for kafka README
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/test/java/tech/jhipster/lite/generator/readme/application/ReadMeApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/readme/domain/ReadMeDomainServiceTest.java
Labels: area: documentation:books:, server: spring boot, theme: broker

#1802 chore: add back dummy generation
  tests-ci/generate.sh
Labels: area: bug :bug:, server: spring boot, theme: broker

#1803 Rework java base module
  pom.xml
  src/main/java/tech/jhipster/lite/common/domain/Generated.java
  src/main/java/tech/jhipster/lite/generator/module/domain/InvalidProjectBaseNameException.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterBasePackage.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContent.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterProjectBaseName.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterProjectFolder.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterSource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/application/JavaBaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleProperties.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/config/JavaBaseBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterBasePackageTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterDestinationTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterProjectBaseNameTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterSourceTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/application/JavaBaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/config/JavaBaseBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResourceIT.java
Labels: server: java, area: refactoring

#1700 Add remote url to projectDTO schema
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTO.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTOTest.java
Labels: area: enhancement :wrench:, generator: internal

#1837 Svelte: migrate svelte.x to sveltekit.x
  src/main/resources/generator/client/svelte/src/main/webapp/app.html.mustache
Labels: area: bug :bug:, client: svelte

#1818 Add Logger to Vue common application
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainService.java
  src/main/resources/generator/client/vue/test/spec/common/domain/Logger.fixture.ts.mustache
  src/main/resources/generator/client/vue/test/spec/common/secondary/ConsoleLogger.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/domain/Logger.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/domain/Message.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/secondary/ConsoleLogger.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/application/VueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueDomainServiceTest.java
Labels: area: enhancement :wrench:, client: vue

#1838 Enums mapper utility
  sonar-project.properties
  src/main/java/tech/jhipster/lite/common/domain/Enums.java
  src/main/java/tech/jhipster/lite/common/domain/UnmappableEnumException.java
  src/test/java/tech/jhipster/lite/common/domain/EnumsTest.java
Labels: area: enhancement :wrench:, generator: internal

#1839 Client tools: add missing package-info
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/tools/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/package-info.java
Labels: area: enhancement :wrench:, theme: client

#1840 Fix code smells related to pattern regexp
  src/main/java/tech/jhipster/lite/generator/project/domain/CheckConfig.java
  src/test/java/tech/jhipster/lite/generator/project/domain/CheckConfigTest.java
Labels: area: enhancement :wrench:, generator: internal

#1841 Init: use cucumber for tests
  src/test/features/init.feature
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitSteps.java
Labels: area: enhancement :wrench:, theme: init

#1625 Add ProjectDTO details API
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/java/tech/jhipster/lite/generator/project/application/ProjectApplicationService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectService.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/config/ProjectBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTO.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectResource.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/project/application/ProjectApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/config/ProjectBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTOTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectResourceIT.java
  src/test/resources/generator/command/package-complete.json
Labels: area: feature request :bulb:, generator: internal

#1860 Front: add OAuth2 buttons
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1861 Spring boot 2.7: fix cloud configuration
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap-local.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap-local.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/test/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/eureka/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/eureka/src/test/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/application/SpringCloudCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaAssert.java
Labels: server: spring boot, area: dependencies, theme: microservices

#1857 Move common springboot actuator
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuator.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/config/SpringBootActuatorBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/rest/SpringBootActuatorResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringbootActuatorAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/config/SpringBootActuatorBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/rest/SpringBootActuatorResourceIT.java
  tests-ci/generate.sh
Labels: server: spring boot, area: refactoring

#1867 Add logSpy
  src/test/java/tech/jhipster/lite/LogSpy.java
Labels: area: enhancement :wrench:, generator: internal

#1865 Add http status in for cucumber assertions
  src/test/java/tech/jhipster/lite/cucumber/AsyncResponseAsserter.java
  src/test/java/tech/jhipster/lite/cucumber/CucumberAssertions.java
  src/test/java/tech/jhipster/lite/cucumber/ResponseAsserter.java
  src/test/java/tech/jhipster/lite/cucumber/SyncResponseAsserter.java
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTOTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
Labels: area: enhancement :wrench:, generator: internal

#1869 Add pre action in modules
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulePreActions.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesDomainService.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1871 Text replacement in module
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesDomainService.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/ReplacementErrorException.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/UnknownCurrentValueException.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1870 Module post actions
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulePreActions.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesDomainService.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterProjectFolder.java
  src/main/java/tech/jhipster/lite/generator/module/domain/postaction/JHipsterModuleExecutionContext.java
  src/main/java/tech/jhipster/lite/generator/module/domain/postaction/JHipsterModulePostActions.java
  src/main/java/tech/jhipster/lite/generator/module/domain/postaction/RunnableInContext.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MissingPomException.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1877 Banner: refactoring using module system
  src/main/java/tech/jhipster/lite/generator/module/JHipsterModules.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/application/BannerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleProperties.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/config/BannerBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/test/features/banner.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/application/BannerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/config/BannerBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerSteps.java
Labels: server: spring boot, area: refactoring

#1880 Add regex replacement in modules
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/ElementMatcher.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/RegexMatcher.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/TextMatcher.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/RegexMatcherTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#1881 Append encoding header in pom files
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandlerTest.java
Labels: area: bug :bug:, generator: internal

#1875 Cucumber module
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/application/CucumberApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleProperties.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/package-info.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/cucumber/AsyncElementAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/AsyncHeaderAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/AsyncResponseAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/Awaiter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberAssertions.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberJson.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberTestContext.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberTestContextUnitTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/ElementAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/ElementAssertions.java.mustache
  src/main/resources/generator/server/springboot/cucumber/HeaderAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/HeaderAssertions.java.mustache
  src/main/resources/generator/server/springboot/cucumber/ResponseAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/SyncElementAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/SyncHeaderAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/SyncResponseAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/cucumber.md.mustache
  src/main/resources/generator/server/springboot/cucumber/gitkeep
  src/test/features/cucumber.feature
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberSteps.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: tests

#1745 Add Pulsar generator
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Dependency.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/Pulsar.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/config/PulsarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainService.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/broker/pulsar/PulsarConfiguration.java.mustache
  src/main/resources/generator/server/springboot/broker/pulsar/PulsarConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/broker/pulsar/PulsarProperties.java.mustache
  src/main/resources/generator/server/springboot/broker/pulsar/PulsarTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/broker/pulsar/pulsar.yml.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/DependencyTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonTest.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/config/pulsarapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: broker

#1895 Front cucumber button
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberResource.java
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberSteps.java
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: internal

#1897 Front: add Pulsar button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal
