Repository seed4j/seed4j, pull requests merged in 2022-06, with the labels that each got.

#1912 Add package-info and move architecture annotations to java base
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/JavaArchUnitDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/resources/generator/server/javatool/base/BusinessContext.java.mustache
  src/main/resources/generator/server/javatool/base/SharedKernel.java.mustache
  src/main/resources/generator/server/javatool/base/package-info-common.java.mustache
  src/main/resources/generator/server/javatool/base/package-info-error.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/domain/JavaArchUnitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/rest/JavaArchUnitResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: java

#1946 Revert "chore(deps-dev): bump @angular/cli from 13.3.7 to 14.0.0 in /src/main/resources/generator/dependencies/angular"
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies

#1950 Upgrade Cypress to v10
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/Cypress.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainService.java
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/cypress-config.json.mustache
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/cypress-config.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/application/CypressAssert.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainServiceTest.java
  src/test/javascript/cypress/cypress-config.json
  src/test/javascript/cypress/cypress-config.ts
Labels: area: dependencies, theme: tests

#1957 Remove whitespaces in pom manipulation
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal

#1953 Handle spring properties in modules
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesDomainService.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/JHipsterModuleSpringProperties.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/PropertyKey.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/PropertyValue.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/SpringProfile.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/SpringProperties.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/SpringProperty.java
  src/main/java/tech/jhipster/lite/generator/module/domain/javaproperties/SpringPropertyType.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandler.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandler.java
  src/main/resources/config/application.properties
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandlerTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitAssertFiles.java
  src/test/resources/projects/project-with-spring-properties/application.properties
Labels: area: enhancement :wrench:, generator: internal

#1951 Automatic modules APIs
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/SpringJHipsterModuleAppliedListener.java
  src/main/java/tech/jhipster/lite/generator/module/JHipsterModules.java
  src/main/java/tech/jhipster/lite/generator/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/generator/module/domain/InvalidJHipsterModuleSlugException.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleApplied.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleEvents.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleToApply.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/DuplicatedSlugException.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/InvalidProjectQueryException.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModuleApiDoc.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModuleResource.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModulesHandlerMapping.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterProjectQueryController.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/SpringJHipsterModuleAppliedEvents.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/application/JavaBaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/JavaBaseResourceConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/application/BannerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResourceConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/application/CucumberApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberResource.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/springdoc/SpringdocConfiguration.java
  src/test/features/java-base.feature
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleSlugTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModulesHandlerMappingTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModulesResourceFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterProjectQueryModuleHandlerTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/rest/OAuth2SecurityResourceIT.java
Labels: area: feature request :bulb:, generator: internal

#1955 Optional modules replacements
  src/main/java/tech/jhipster/lite/generator/module/domain/DocumentationTitle.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesDomainService.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterSource.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/FileReplacer.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleMandatoryReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleOptionalReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/resources/generator/init/README.md.mustache
  src/test/java/tech/jhipster/lite/generator/module/domain/DocumentationTitleTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterSourceTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#2000 Module properties definition
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterModulePropertiesDefinition.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyDescription.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyExample.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyKey.java
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyType.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModulePropertiesDefinition.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModulePropertyDefinition.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterModulePropertiesDefinitionTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyDescriptionTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyExampleTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModulePropertiesDefinitionTest.java
Labels: area: enhancement :wrench:, generator: internal

#2016 Angular: Upgrade Jest 28
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
Labels: area: dependencies

#2021 React: Upgrade Jest 28
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/React.java
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
Labels: area: dependencies

#2022 Svelte: Upgrade Jest 28
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/Svelte.java
  src/main/resources/generator/dependencies/svelte/package.json
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainServiceTest.java
Labels: area: dependencies

#1876 Feature/autofill projectdetails
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/ProjectStore.ts
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/main/webapp/app/springboot/secondary/RestProject.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/ProjectStore.fixture.ts
  src/test/javascript/spec/springboot/primary/ProjectStore.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/RestProject.spec.ts
Labels: area: feature request :bulb:, generator: internal

#2026 Front: add dummy feature button
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/primary/rest/DummyResource.java
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2029 Front: add springdoc security jwt button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2031 move history file
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptorIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#2032 Add xml to list of lint-staged extensions
  src/main/resources/generator/init/.lintstagedrc.js
  src/test/resources/generator/common/.lintstagedrc.js
Labels: area: enhancement :wrench:, theme: init

#2028 Front: add undertow button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2033 Front: add tooltips on the main top menu
  src/main/webapp/app/common/primary/icon/Icon.component.ts
  src/main/webapp/app/common/primary/icon/Icon.vue
  src/main/webapp/app/springboot/primary/header/Header.vue
Labels: area: enhancement :wrench:, generator: internal

#2034 Clean readme
  README.md
Labels: area: documentation:books:, generator: internal

#2035 Clean typo and spaces
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/MavenCommandHandler.java
  src/main/resources/generator/server/javatool/base/Assert.java.mustache
Labels: generator: internal, server: java, area: refactoring

#2039 Remove unused @pinia/testing lib
  package-lock.json
  package.json
  src/test/javascript/spec/springboot/primary/generator/generator-button/GeneratorButton.spec.ts
Labels: area: dependencies

#2059 Set max length for property description
  src/main/java/tech/jhipster/lite/generator/module/domain/properties/JHipsterPropertyDescription.java
Labels: area: enhancement :wrench:, generator: internal

#2058 Front: add docker file button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2060 Rework docker && project files
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/common/domain/ProjectFilesReader.java
  src/main/java/tech/jhipster/lite/common/infrastructure/secondary/FileSystemProjectFilesReader.java
  src/main/java/tech/jhipster/lite/generator/docker/application/DockerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/DockerDomainService.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/DockerImage.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/DockerImageName.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/DockerImages.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/DockerService.java
  src/main/java/tech/jhipster/lite/generator/docker/domain/UnknownDockerImageException.java
  src/main/java/tech/jhipster/lite/generator/docker/infrastructure/configuration/DockerBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/docker/infrastructure/secondary/FileSystemDockerImagesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContent.java
  src/main/java/tech/jhipster/lite/generator/module/domain/TemplatedFile.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemCurrentJavaDependenciesVersionsRepository.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/config/KafkaBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/config/PulsarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/config/MariaDBBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/config/PostgresqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/config/OAuth2SecurityBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/infrastructure/SpringCloudCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfiguration.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/common/infrastructure/secondary/FileSystemProjectFilesReaderTest.java
  src/test/java/tech/jhipster/lite/generator/docker/application/DockerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/docker/domain/DockerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/docker/infrastructure/configuration/DockerBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/docker/infrastructure/secondary/FileSystemDockerImagesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemCurrentJavaDependenciesVersionsRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2SecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal

#2057 Add properties definition in module list
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModuleCategory.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/primary/RestJHipsterModulesTest.java
Labels: area: enhancement :wrench:, generator: internal

#2073 Front: add jib button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2061 Angular 14
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.model.ts.mustache
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#2074 Front eureka client button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2076 Front async config button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2077 Front add Consul button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2079 Front devtools button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1896 Common springdoc mvc webflux
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/Springdoc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocConstants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/config/SpringdocBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/rest/SpringdocResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/Springdoc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/package-info.java
  src/main/resources/generator/server/springboot/apidocumentation/springdoc/src/SpringdocConfiguration.java.mustache
  src/main/resources/generator/server/springboot/apidocumentation/springdoc/src/SpringdocConfigurationSecurityJWT.java.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/config/SpringdocBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/rest/SpringdocResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringdocDomainServiceTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: webflux

#2081 Update maven version to 3.8.6 and maven wrapper version to 3.1.1
  .devcontainer/devcontainer.json
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  pom.xml
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.jar
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/mvnw
  src/main/resources/generator/buildtool/maven/mvnw.cmd
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: theme: maven, area: dependencies

#2083 Fix style scoped for modules page
  src/main/webapp/app/module/primary/modules-list/ModulesList.vue
Labels: area: enhancement :wrench:, generator: internal

#2086 Fix global text color
  src/main/webapp/app/module/primary/modules-list/ModulesList.vue
Labels: area: enhancement :wrench:, generator: internal

#2103 feat(kafka): link endpoints to frontend
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#1770 Add MSSQL core
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/project/domain/DatabaseType.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/application/MssqlApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/Mssql.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/config/MssqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/primary/rest/MssqlResource.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/core/MssqlTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/database/mssqlserver/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mssqlserver/mssqlserver.yml.mustache
  src/main/resources/generator/server/sql/container-license-acceptance.txt
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/MongodbAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/application/MssqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlDomainServiceUnitTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/config/MssqlBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/primary/rest/MssqlResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/config/mssqlapp.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#2120 Front part to generate Angular Health
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/springboot/domain/client/AngularService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/secondary/client/AngularRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/domain/client/AngularService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/AngularRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2130 Migrate spring boot async to module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/config/SpringBootAsyncBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/SpringBootAsyncConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResource.java
  src/test/features/async.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/application/SpringBootAsyncAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/config/SpringBootAsyncBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResourceIT.java
Labels: server: spring boot, area: refactoring

#2131 Front : add Ehcache with XML config button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2133 Angular 14.0.2 - upgrade all libs
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies

#2145 Add mssql button to webapp
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2146 Front ehcache java button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2149 Front: add setup section
  src/main/webapp/app/springboot/domain/SetupService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/setup-generator/SetupGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/setup-generator/SetupGenerator.vue
  src/main/webapp/app/springboot/primary/generator/setup-generator/index.ts
  src/main/webapp/content/css/custom.css
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SetupService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/setup-generator/SetupGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2150 Update devtools to new module system
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/DevToolsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/rest/DevToolsResource.java
  src/main/resources/generator/server/springboot/devtools/devtools.md.mustache
  src/test/features/dev-tools.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/rest/DevToolsResourceIT.java
Labels: server: spring boot, area: refactoring

#2152 Format OAuth2 cucumber tests
  src/test/features/oauth2.feature
Labels: theme: security, server: spring boot, area: refactoring, theme: tests

#2174 Test JHipster modules tools
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, generator: internal

#2153 Upgrade keycloak-js 18.0.1
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.ts
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#2178 Front add Gihub actions button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/SetupService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/setup-generator/SetupGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/setup-generator/SetupGenerator.vue
  src/main/webapp/app/springboot/secondary/SetupRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SetupService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/setup-generator/SetupGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
  src/test/javascript/spec/springboot/secondary/SetupRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2155 Liquibase changelog version
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/master.xml
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/sequence_user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user_with_autoincrement.xml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  src/test/resources/generator/server/springboot/liquibase/master.test.xml
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#2183 fix missing common properties in postgresql module
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/test/features/postgresql.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
Labels: area: bug :bug:, server: spring boot, theme: database

#2180 Java base documentation
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/resources/generator/server/javatool/base/assertions.md.mustache
  src/main/resources/generator/server/javatool/base/package-types.md.mustache
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
  src/test/resources/projects/README.md
Labels: area: enhancement :wrench:, server: java

#2132 Add needle management
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/ElementMatcher.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JustAfter.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JustBefore.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JustLineAfter.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/JustLineBefore.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/PositionalMatcher.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/RegexMatcher.java
  src/main/java/tech/jhipster/lite/generator/module/domain/replacement/TextMatcher.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
Labels: area: enhancement :wrench:, generator: internal

#2197 Handle binary files in module
  src/main/java/tech/jhipster/lite/common/domain/ProjectFilesReader.java
  src/main/java/tech/jhipster/lite/common/infrastructure/secondary/FileSystemProjectFilesReader.java
  src/main/java/tech/jhipster/lite/generator/docker/infrastructure/secondary/FileSystemDockerImagesRepository.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContent.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterSource.java
  src/main/java/tech/jhipster/lite/generator/module/domain/TemplatedFile.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemCurrentJavaDependenciesVersionsRepository.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/npm/infrastructure/secondary/FileSystemNpmVersions.java
  src/test/java/tech/jhipster/lite/common/infrastructure/secondary/FileSystemProjectFilesReaderTest.java
  src/test/java/tech/jhipster/lite/generator/docker/infrastructure/secondary/FileSystemDockerImagesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/npm/infrastructure/secondary/FileSystemNpmVersionsTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
Labels: area: enhancement :wrench:, generator: internal

#2213 Clean code
  src/main/java/tech/jhipster/lite/generator/project/domain/DatabaseType.java
Labels: generator: internal, area: refactoring

#2211 Add JPA reset option for cucumber
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberModuleConfiguration.java
  src/main/resources/generator/server/springboot/cucumber/CucumberJpaReset.java.mustache
  src/test/features/cucumber.feature
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#2196 Front cypress button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2219 Front archunit button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2220 fix: generate svelte && cypress project crash
  src/main/resources/generator/client/svelte/svelte.config.js
  src/main/resources/generator/client/svelte/tsconfig.json
Labels: area: bug :bug:, client: svelte

#2229 Angular: improve coverage
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwt.java
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.model.spec.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
Labels: area: enhancement :wrench:, client: angular

#2228 Front playwright button
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/ProjectService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/angular-generator/AngularGenerator.vue
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/vue-generator/VueGenerator.vue
  src/main/webapp/app/springboot/secondary/ProjectRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/angular-generator/AngularGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/vue-generator/VueGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2230 Angular: improve coverage and remove unused code
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwt.java
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
Labels: area: enhancement :wrench:, client: angular

#2231 Modules screen
  src/main/webapp/app/module/domain/Module.ts
  src/main/webapp/app/module/domain/ModuleProperties.ts
  src/main/webapp/app/module/domain/ModuleToApply.ts
  src/main/webapp/app/module/domain/ModulesRepository.ts
  src/main/webapp/app/module/primary/modules-list/ModulesList.component.ts
  src/main/webapp/app/module/primary/modules-list/ModulesList.html
  src/main/webapp/app/module/primary/modules-list/ModulesList.vue
  src/main/webapp/app/module/primary/modules-list/index.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/main/webapp/app/module/primary/modules/index.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/app/router/index.ts
  src/test/javascript/cypress/integration/Modules.spec.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/primary/ModulesList.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal, $$ bug-bounty $$, $300

#2239 Add cypress tests to modules page
  src/test/javascript/cypress/cypress-config.ts
  src/test/javascript/cypress/fixtures/modules.json
  src/test/javascript/cypress/integration/Modules.spec.ts
  src/test/javascript/cypress/support/Interceptor.ts
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#2255 Open readPrincipal method
  src/main/resources/generator/server/springboot/mvc/security/oauth2/main/infrastructure/primary/AuthenticatedUser.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#2252 Add optional marker for optional fields
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/test/javascript/spec/module/primary/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2249 Allow not templatized files in batch
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModulesFixture.java
Labels: area: enhancement :wrench:, generator: internal

#2274 Fix documentation links line break
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModule.java
Labels: area: documentation:books:, area: enhancement :wrench:

#2282 Rename module apply endpoint
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/JHipsterModulesPatchApplicationHandlerMapping.java
  src/main/java/tech/jhipster/lite/generator/module/infrastructure/primary/OpenApiModulesConfiguration.java
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
  src/test/javascript/cypress/integration/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2284 Fix typo in hexagonal architecture documentation
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
Labels: area: documentation:books:

#2285 Revert "chore: add back dummy generation"
  tests-ci/generate.sh
Labels: area: bug :bug:, server: spring boot, theme: broker

#2281 Remove useless module context
  src/main/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
Labels: area: enhancement :wrench:, generator: internal

#2292 Add modules to navbar
  src/main/webapp/app/springboot/primary/header/Header.vue
Labels: area: enhancement :wrench:, generator: internal

#2272 Logs spys
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/application/LogsSpyApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/domain/LogsSpyModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/infrastructure/primary/LogsSpyModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/package-info.java
  src/main/resources/generator/server/springboot/logsspy/LogsSpy.java.mustache
  src/main/resources/generator/server/springboot/logsspy/logs-spy.md
  src/test/features/logs-spy.feature
  src/test/java/tech/jhipster/lite/LogsSpy.java
  src/test/java/tech/jhipster/lite/generator/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/generator/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
  src/test/java/tech/jhipster/lite/generator/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logsspy/domain/LogsSpyModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: java

#2294 Modules application feedback
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2295 Simple tab navigation
  src/main/webapp/app/module/primary/modules/Modules.html
Labels: area: enhancement :wrench:, generator: internal

#2297 Add missing package-info to infinitest
  src/main/java/tech/jhipster/lite/generator/infinitest/package-info.java
Labels: area: enhancement :wrench:, theme: tests

#1776 React jwt
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/React.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/application/ReactJwtApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwt.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/config/ReactJwtBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/rest/ReactJwtResource.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/package-info.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/services/storage.ts.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/LoginModal.scss.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/interface.d.ts.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/services/login.ts.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/common/services/storage.test.ts.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/services/login.test.ts.mustache
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/client/react/vite.config.ts
  src/main/resources/generator/dependencies/react/package.json
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/client/ReactService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/secondary/client/ReactRepository.ts
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/application/ReactJwtApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/config/ReactJwtBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/rest/ReactJwtResourceIT.java
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
  src/test/javascript/spec/springboot/domain/client/ReactService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/ReactRepository.spec.ts
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, client: react

#2312 Add infinitest readme
  src/main/java/tech/jhipster/lite/generator/infinitest/README.md
Labels: area: documentation:books:, server: java

#2314 Fix React JWT
  package-lock.json
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/rest/ReactJwtResourceIT.java
Labels: area: bug :bug:, client: react

#2318 Simple filter for modules
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2323 Uniformise line breaks in modules
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustLineAfter.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustLineBefore.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandler.java
Labels: area: enhancement :wrench:, generator: internal

#2324 Ignore the whole .vscode folder
  .gitignore
Labels: area: enhancement :wrench:, generator: internal
