Repository seed4j/seed4j, pull requests merged in 2022-07, with the labels that each got.

#2344 Hexagonal architecture documentation typos
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
Labels: area: documentation:books:, area: enhancement :wrench:

#2325 Module properties stats
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.component.ts
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.html
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.vue
  src/main/webapp/app/module/primary/module-properties/index.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/test/javascript/spec/module/primary/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2346 Springdoc / convert to module
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/Springdoc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocConstants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/config/SpringdocBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/rest/SpringdocResource.java
  src/test/features/springdoc.feature
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/config/SpringdocBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/rest/SpringdocResourceIT.java
Labels: server: spring boot, theme: api, area: refactoring

#2342 Front move download button
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/project-generator/ProjectGenerator.vue
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/primary/generator/project-generator/ProjectGenerator.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2349 Dependency management in modules
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DependenciesCommandsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyCommandsCreator.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyScope.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyType.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/ProjectJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/AddDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/AddJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/AddJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/JavaDependencyCommand.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/JavaDependencyCommandType.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/RemoveDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/command/RemoveJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJavaDependenciesCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemProjectJavaDependenciesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenScope.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenType.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/DirectJavaDependencyTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyMangementTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemProjectJavaDependenciesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/MavenTypeTest.java
  src/test/resources/projects/maven/pom.xml
Labels: area: enhancement :wrench:, generator: internal

#2354 Move docker package
  src/main/java/tech/jhipster/lite/docker/domain/DockerImage.java
  src/main/java/tech/jhipster/lite/docker/domain/DockerImageName.java
  src/main/java/tech/jhipster/lite/docker/domain/DockerImages.java
  src/main/java/tech/jhipster/lite/docker/domain/UnknownDockerImageException.java
  src/main/java/tech/jhipster/lite/docker/infrastructure/secondary/FileSystemDockerImagesRepository.java
  src/main/java/tech/jhipster/lite/docker/package-info.java
  src/main/java/tech/jhipster/lite/generator/docker/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/config/KafkaBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/config/PulsarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/application/MariaDBApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/config/MssqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/application/OAuth2SecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/infrastructure/SpringCloudCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfiguration.java
  src/test/java/tech/jhipster/lite/docker/infrastructure/secondary/FileSystemDockerImagesRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlDomainServiceUnitTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainServiceTest.java
Labels: generator: internal, area: refactoring

#2355 Migrate eureka to module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/application/SpringCloudCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaClient.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/config/EurekaBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/EurekaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/rest/EurekaResource.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringProperty.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringPropertyType.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandler.java
  src/main/resources/generator/server/springboot/springcloud/eureka/application.config.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/eureka/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/eureka/src/test/bootstrap.properties.mustache
  src/test/features/eureka.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/application/SpringCloudCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/config/EurekaBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/rest/EurekaResourceIT.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/projects/files/application.properties
Labels: server: spring boot, area: refactoring, theme: microservices

#2378 Remove unused slugs
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
Labels: generator: internal, area: refactoring

#2380 Move npm package out of generator
  src/main/java/tech/jhipster/lite/generator/npm/package-info.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/npm/domain/NpmPackageName.java
  src/main/java/tech/jhipster/lite/npm/domain/NpmVersion.java
  src/main/java/tech/jhipster/lite/npm/domain/NpmVersionSource.java
  src/main/java/tech/jhipster/lite/npm/domain/NpmVersions.java
  src/main/java/tech/jhipster/lite/npm/domain/UnknownNpmPackageException.java
  src/main/java/tech/jhipster/lite/npm/infrastructure/secondary/FileSystemNpmVersions.java
  src/main/java/tech/jhipster/lite/npm/infrastructure/secondary/NpmVersionSourceFolder.java
  src/main/java/tech/jhipster/lite/npm/package-info.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/npm/infrastructure/secondary/FileSystemNpmVersionsTest.java
Labels: generator: internal, area: refactoring

#2395 Eureka: refactoring text blocks
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
Labels: server: spring boot, area: refactoring, theme: tests

#2398 Mark already applied modules
  src/main/webapp/app/module/domain/ModuleToApply.ts
  src/main/webapp/app/module/domain/ModulesRepository.ts
  src/main/webapp/app/module/domain/ProjectFolder.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2400 Add missing indentation properties
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/ArchUnitModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/OAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/EurekaModuleConfiguration.java
  src/test/features/springdoc.feature
Labels: area: enhancement :wrench:, generator: internal

#2410 CI: disable Svelte
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, client: svelte

#2394 Consul: migrate to module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/README.md
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/ConsulModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResource.java
  src/main/resources/generator/server/springboot/springcloud/consul/docker/application.config.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/consul.yml.mustache
  src/test/features/consul.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResourceIT.java
Labels: server: spring boot, area: refactoring, theme: microservices

#2382 Gateway module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudModuleDependencies.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/Gateway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/config/GatewayBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/GatewayModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/rest/GatewayResource.java
  src/main/resources/generator/server/springboot/springcloud/gateway/java/GatewayResource.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/java/test/GatewayResourceIT.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/resources/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/resources/test/bootstrap.properties.mustache
  src/test/features/gateway.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/application/GatewayAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/config/GatewayBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/rest/GatewayResourceIT.java
Labels: server: spring boot, area: refactoring, theme: microservices

#2419 Sonar modules
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/Sonar.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/SonarModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/rest/SonarResource.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandler.java
  src/test/features/sonar.feature
  src/test/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/application/SonarAssert.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/infrastructure/config/SonarBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/rest/SonarResourceIT.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: refactoring, theme: init

#2422 Spring cloud config module
  sonar-project.properties
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/infrastructure/SpringCloudCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigClientApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/config/SpringCloudConfigClientBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/SpringCloudConfigModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigResource.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/resources/generator/server/springboot/springcloud/configclient/application.config.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap-local.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/test/bootstrap.properties.mustache
  src/test/features/cloud-config.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/infrastructure/SpringCloudCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/config/SpringCloudConfigBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigClientResourceIT.java
Labels: server: spring boot, area: refactoring, theme: microservices

#2428 fix: build crash on svelte cause using beta version
  .github/workflows/github-actions.yml
  src/main/resources/generator/dependencies/svelte/package.json
Labels: area: bug :bug:, client: svelte

#2421 Maven init module
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/MavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/features/maven.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/rest/JacocoResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/infrastructure/primary/rest/MssqlResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/rest/MongockResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/rest/SpringBootActuatorResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/rest/SpringBootWebfluxResourceIT.java
  src/test/java/tech/jhipster/lite/history/infrastructure/primary/HistoryResourceIT.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: theme: maven, area: refactoring

#2436 Upgrade Angular 14.0.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies

#2447 Upgrade @sveltejs/kit 1.0.0-next.361 (use Vite)
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/Svelte.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainService.java
  src/main/resources/generator/client/svelte/svelte.config.js
  src/main/resources/generator/client/svelte/vite.config.js
  src/main/resources/generator/dependencies/svelte/package.json
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/application/SvelteAssert.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainServiceTest.java
Labels: area: dependencies

#2456 Cucumber: hide information message
  src/test/resources/cucumber.properties
Labels: area: enhancement :wrench:, theme: tests

#2453 Typescript module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/typescript/application/TypescriptApplicationService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/Typescript.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptService.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/config/TypescriptBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/TypescriptModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/rest/TypescriptResource.java
  src/test/features/typescript.feature
  src/test/java/tech/jhipster/lite/generator/typescript/application/TypescriptApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/typescript/application/TypescriptAssert.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/infrastructure/config/TypescriptBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/rest/TypescriptResourceIT.java
Labels: area: refactoring, theme: typescript

#2452 Add JHipster-lite docker release and instruction to use JHipster lite through docker
  .github/workflows/docker-image-publish.yml
  Dockerfile
  README.md
Labels: area: feature request :bulb:, theme: docker :whale:

#2449 Forced project folder
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/dto/ProjectDTO.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectFoldersResource.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/jackson/InvalidProjectFolderException.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/jackson/JacksonProjectFolderDeserializer.java
  src/main/resources/config/application.properties
  src/main/webapp/app/main.ts
  src/main/webapp/app/springboot/domain/FolderName.ts
  src/main/webapp/app/springboot/domain/ProjectFolderService.ts
  src/main/webapp/app/springboot/primary/Generator.component.ts
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/app/springboot/secondary/ProjectFolderRepository.ts
  src/test/java/tech/jhipster/lite/IntegrationTest.java
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/primary/rest/NpmResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectFoldersResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MssqlDomainServiceUnitTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainServiceTest.java
  src/test/java/tech/jhipster/lite/history/infrastructure/primary/HistoryResourceTest.java
  src/test/java/tech/jhipster/lite/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesResourcesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/ForcedProjectFolderPrefixIT.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/ProjectFakeController.java
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/ProjectFolderService.fixture.ts
  src/test/javascript/spec/springboot/primary/Generator.spec.ts
  src/test/javascript/spec/springboot/secondary/ProjectFolderRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#2450 Migrate AOP logging
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/application/AopLoggingApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/config/AopLoggingConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/AOPLoggingModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResource.java
  src/test/features/aop-logging.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/application/AopLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/maven/AopLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/config/AopLoggingBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResourceIT.java
Labels: server: spring boot, area: refactoring

#2457 Make jest-sonar optional in Vue
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
Labels: area: enhancement :wrench:, client: vue

#2454 Migrate angular core
  src/main/java/tech/jhipster/lite/generator/client/angular/core/application/AngularApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/config/AngularBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/AngularModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResource.java
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/application/AngularHealthApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/common/application/AngularCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/config/AngularBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/rest/AngularResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/application/AngularJwtApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2ApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: refactoring, client: angular

#2451 Add documentation / guide to generate a simple project
  documentation/01-fill_information.png
  documentation/02-init.png
  documentation/03-maven.png
  documentation/04-java_base.png
  documentation/05-spring_boot_section.png
  documentation/06-spring_boot.png
  documentation/07-spring_boot_mvc.png
  documentation/08-vue.png
  documentation/09-frontend_maven_plugin.png
  documentation/10-download.png
  documentation/guides.md
Labels: area: documentation:books:

#2459 Cloud profile
  Dockerfile
  README.md
  src/main/resources/config/application-cloud.properties
Labels: area: enhancement :wrench:, generator: internal, theme: docker :whale:

#2471 Add manual format to typescript module factory
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptModuleFactory.java
Labels: area: refactoring, theme: typescript

#2486 Delete maven module parts
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongodbApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/application/MssqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationServiceIT.java
Labels: area: enhancement :wrench:, theme: maven

#2465 Delete module with pom assertion
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
Labels: generator: internal, area: refactoring, theme: tests

#2490 Add uncapitalize to project base name
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/test/java/tech/jhipster/lite/common/domain/WordUtilsTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseNameTest.java
Labels: area: enhancement :wrench:, generator: internal

#2466 Rename File system dependencies command handler
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJavaBuildCommandsHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJavaDependenciesCommandsHandlerTest.java
Labels: generator: internal, area: refactoring

#2470 Add kebab case format to project base name
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseNameTest.java
Labels: area: enhancement :wrench:, generator: internal

#2485 Manage base maven plugin with automated versions
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#2491 Frontend maven module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/config/FrontendMavenBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendMavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResource.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/features/frontend-maven.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenAssert.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/config/FrontendMavenBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResourceIT.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: theme: maven, area: refactoring

#2500 Allow explicit java dependency removal in module
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#2507 Prefer switch as checkout git command
  CONTRIBUTING.md
Labels: area: documentation:books:

#2505 Delete unused build tools methods
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Parent.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Repository.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/ParentTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/RepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: theme: maven, theme: gradle, area: refactoring

#2508 Migrate docker plugins
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Plugin.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDocker.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/config/SpringBootDockerBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/SpringBootDockerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModulePropertiesDefinition.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPort.java
  src/test/features/spring-boot-docker.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/PluginTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/config/SpringBootDockerBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPortTest.java
Labels: area: refactoring, theme: docker :whale:

#2528 Gradle migration
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/rest/GradleResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/settings.gradle.kts.mustache
  src/main/webapp/app/springboot/primary/Generator.vue
  src/main/webapp/content/GradleLogo.png
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/application/GradleAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/rest/GradleResourceIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  tests-ci/config/gradleapp.json
  tests-ci/generate.sh
Labels: theme: gradle, area: refactoring

#2532 Fix regex replacements
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ContentReplacement.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ElementReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/FileReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustAfter.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustBefore.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustLineAfter.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JustLineBefore.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/MandatoryReplacementException.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/PositionalMatcher.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ReplacementErrorException.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/UnknownCurrentValueException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
Labels: area: enhancement :wrench:, generator: internal

#2455 Migrate Kafka domain service to new module system
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/readme/application/ReadMeApplicationService.java
  src/main/java/tech/jhipster/lite/generator/readme/domain/ReadMeDomainService.java
  src/main/java/tech/jhipster/lite/generator/readme/domain/ReadMeService.java
  src/main/java/tech/jhipster/lite/generator/readme/infrastructure/config/ReadMeBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/readme/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/config/KafkaBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/broker/kafka/apache-kafka.md.mustache
  src/test/features/apache-kafka.feature
  src/test/java/tech/jhipster/lite/generator/readme/application/ReadMeApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/readme/domain/ReadMeDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaResourceIT.java
  src/test/resources/generator/dependencies/Dockerfile
Labels: server: spring boot, area: refactoring, theme: broker

#2501 Forced project folder for modules
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectFoldersResource.java
  src/main/java/tech/jhipster/lite/module/domain/ForcedProjectFolder.java
  src/main/java/tech/jhipster/lite/module/domain/FreeProjectFolder.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterProjectFolderFactory.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/InvalidProjectFolderException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleApplicationController.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesPatchApplicationHandlerMapping.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/ProjectFolderConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/jackson/InvalidProjectFolderException.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/jackson/JacksonProjectFolderDeserializer.java
  src/main/webapp/app/main.ts
  src/main/webapp/app/module/domain/ProjectFoldersRepository.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/app/module/secondary/RestProjectFoldersRepository.ts
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/primary/rest/ProjectFoldersResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/ForcedProjectFolderTest.java
  src/test/java/tech/jhipster/lite/module/domain/FreeProjectFolderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleApplicationControllerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/ForcedProjectFolderPrefixIT.java
  src/test/javascript/cypress/integration/Modules.spec.ts
  src/test/javascript/spec/module/domain/ProjectFolders.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/secondary/RestProjectFoldersRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#2538 Add cloud profile by default for Heroku
  app.json
Labels: area: enhancement :wrench:, generator: internal

#2592 JHLite: Upgrade Vite 3
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#2586 Generated Vue 3: Upgrade Vite 3
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue

#2593 Generated Svelte: Upgrade Vite 3
  src/main/resources/generator/dependencies/svelte/package.json
Labels: area: dependencies, client: svelte

#2579 Spring MVC modules
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/config/SpringBootMvcBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/application/ZalandoProblemsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/domain/ZalandoProblemsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/infrastructure/primary/ZalandoProblemsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPort.java
  src/main/resources/generator/server/springboot/mvc/web/cors-configuration.md
  src/main/resources/generator/server/springboot/mvc/web/test/JsonHelper.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/BadRequestAlertException.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/ErrorConstants.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/FieldErrorDTO.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/HeaderUtil.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/ProblemConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/BadRequestAlertExceptionTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/ExceptionTranslatorIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/ExceptionTranslatorTestController.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/FieldErrorDTOTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/HeaderUtilTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/TestUtil.java.mustache
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/springboot/domain/SpringBootService.ts
  src/main/webapp/app/springboot/primary/generator/ServiceProjection.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.vue
  src/main/webapp/app/springboot/secondary/SpringBootRepository.ts
  src/test/features/spring-mvc.feature
  src/test/features/zalando-problems.feature
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/rest/JwtSecurityResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/config/SpringBootMvcBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/domain/ZalandoProblemsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/SpringBootService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/ServiceProjection.spec.ts
  src/test/javascript/spec/springboot/primary/generator/spring-boot-generator/SpringBootGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/SpringBootRepository.spec.ts
  tests-ci/generate.sh
Labels: server: spring boot, area: refactoring

#2581 Bean validation test tools
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/application/BeanValidationTestApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/domain/BeanValidationTestModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/infrastructure/primary/BeanValidationTestModuleConfiguration.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/beanvalidationtest/BeanValidationAssertions.java.mustache
  src/main/resources/generator/server/springboot/beanvalidationtest/BeanValidationTest.java.mustache
  src/test/features/bean-validation-test.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/domain/BeanValidationTestModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, server: spring boot

#2587 Add missing line breaks in readme
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/main/resources/generator/init/README.md.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoThresholdModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: documentation:books:

#2590 Pulsar module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/Pulsar.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/config/PulsarBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/PulsarModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResource.java
  src/test/features/pulsar.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/application/PulsarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/rest/PulsarResourceIT.java
Labels: server: spring boot, area: refactoring, theme: broker

#2585 Add cucumber authentication module
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/application/CucumberAuthenticationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/cucumberauthentication/AuthenticationSteps.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/CucumberAuthenticationConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/cucumber-authentication.md
  src/test/features/cucumber-authentication.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactoryTest.java
  src/test/resources/projects/cucumber/CucumberConfiguration.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: security, server: spring boot, theme: tests

#2607 GitHub actions module
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/config/GitHubActionsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/GitHubActionsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/features/github-actions.feature
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/config/GitHubActionsBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/rest/GitHubActionsResourceIT.java
  src/test/java/tech/jhipster/lite/history/infrastructure/primary/HistoryResourceIT.java
Labels: area: refactoring, theme: init

#2613 MongoDB module
  src/main/java/tech/jhipster/lite/generator/project/domain/DatabaseType.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongodbApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/Mongodb.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/MongoDbModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/LogLevel.java
  src/main/resources/generator/server/springboot/database/mongodb/mongodb.md.mustache
  src/main/resources/generator/server/springboot/database/mongodb/spring.factories.mustache
  src/test/features/mongodb.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/MongodbAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongodbApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
Labels: server: spring boot, theme: database, area: refactoring

#2121 Add tags to module
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/error/domain/StringWithWitespacesException.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/MavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/GitHubActionsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/AngularModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactCodeModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/VueModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/infinitest/infrastructure/primary/InfinitestConfiguration.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/InitModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/hexagonaldocumentation/infrastructure/primary/HexagonalArchitectureDocumentationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/ArchUnitModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/JavaBaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendMavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoThresholdModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/SonarModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/SpringBootAsyncConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/infrastructure/primary/BeanValidationTestModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/infrastructure/primary/PulsarModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/SpringBootCoreModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/infrastructure/primary/MariaDBModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/primary/MySQLModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/primary/PostgresqlModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/DevToolsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/SpringBootDockerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/AOPLoggingModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/infrastructure/primary/LogsSpyModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/OAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/infrastructure/primary/ZalandoProblemsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/SpringCloudConfigModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/ConsulModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/EurekaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/GatewayModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/CodespaceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/primary/GitpodModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/TypescriptModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/InvalidJHipsterModuleTagException.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleTag.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleTags.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleResource.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModule.java
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterTagTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterTagsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModulesResourceFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesTest.java
Labels: area: enhancement :wrench:, generator: internal

#2582 Rename files batch methods
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/hexagonaldocumentation/domain/HexagonalDocumentationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleFiles.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
Labels: generator: internal, area: refactoring

#2610 Flyway module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/Flyway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/config/FlywayBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/FlywayModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/test/features/flyway.feature
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/config/FlywayBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResourceIT.java
  tests-ci/config/undertowapp.json
Labels: server: spring boot, theme: database migration, area: refactoring

#2614 React: fix peer dependencies
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#2616 React: Duplicate key dev in package.json
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
Labels: area: refactoring, client: react

#2617 Simple cache module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/domain/SpringBootCacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/infrastructure/config/SpringBootCacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/Ehcache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/config/EhcacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/EHCacheModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SimpleCacheModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SpringBootCacheSimpleDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SpringBootCacheSimpleService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/config/SpringBootCacheSimpleBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/CacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResource.java
  src/main/resources/generator/server/springboot/cache/ehcache/main/EhcacheProperties.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/main/JavaCacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/main/XmlCacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/JavaCacheConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/cache/simple/src/CacheConfiguration.java.mustache
  src/test/features/ehcache.feature
  src/test/features/simple-cache.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/infrastructure/config/SpringBootCacheBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/config/EhcacheBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SpringBootCacheSimpleAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SimpleCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/config/SpringBootCacheSimpleConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResourceIT.java
Labels: server: spring boot, theme: cache, area: refactoring

#2618 Remove react style checkbox
  src/main/webapp/app/springboot/domain/client/ReactService.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/react-generator/ReactGenerator.vue
  src/main/webapp/app/springboot/secondary/client/ReactRepository.ts
  src/test/javascript/cypress/integration/Generator.spec.ts
  src/test/javascript/spec/springboot/domain/client/ReactService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/react-generator/ReactGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/ReactRepository.spec.ts
Labels: area: refactoring, client: react

#2619 Remove svelte style checkbox
  src/main/webapp/app/springboot/domain/client/SvelteService.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.component.ts
  src/main/webapp/app/springboot/primary/generator/svelte-generator/SvelteGenerator.vue
  src/main/webapp/app/springboot/secondary/client/SvelteRepository.ts
  src/test/javascript/spec/springboot/domain/client/SvelteService.fixture.ts
  src/test/javascript/spec/springboot/primary/generator/svelte-generator/SvelteGenerator.spec.ts
  src/test/javascript/spec/springboot/secondary/client/SvelteRepository.spec.ts
Labels: area: refactoring, client: svelte

#2622 React: Use createRoot instead of ReactDOM.render
  src/main/resources/generator/client/react/src/main/webapp/app/index.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#2624 Logstash module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/Logstash.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/config/LogstashBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/LogstashModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResource.java
  src/main/resources/generator/server/springboot/logging/logstash/main/LogstashTcpConfiguration.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/main/LogstashTcpLifeCycle.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/main/LogstashTcpProperties.java.mustache
  src/test/features/logstash.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/config/LogstashBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResourceIT.java
Labels: server: spring boot, area: refactoring

#2625 Add conditions in replacements
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ContentReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ElementReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleAfterReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ReplacementCondition.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleAfterReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
Labels: area: enhancement :wrench:, generator: internal

#2631 Handle tags in module page
  src/main/webapp/app/module/domain/Module.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/javascript/cypress/fixtures/modules.json
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2632 Update dependencies
  package-lock.json
Labels: area: dependencies

#2633 Manual node && npm update
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
Labels: area: dependencies

#2635 Fix stack overflow errors
  sonar-project.properties
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleFiles.java
Labels: area: bug :bug:, generator: internal

#2636 Switch to add template in files batch
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/domain/BeanValidationTestModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/domain/ZalandoProblemsModuleFactory.java
Labels: generator: internal, area: refactoring

#2609 Mongock module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/config/MongockBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/MongockModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/rest/MongockResource.java
  src/test/features/mongock.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/application/MongockAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/config/MongockBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/infrastructure/primary/rest/MongockResourceIT.java
Labels: server: spring boot, theme: database migration, area: refactoring

#2626 Liquibase module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/config/LiquibaseBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/LiquibaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/AsyncSpringLiquibase.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/SpringLiquibaseUtil.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LogbackRecorder.java.mustache
  src/test/features/liquibase.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
Labels: server: spring boot, theme: database migration, area: refactoring

#2184 refactor spring boot actuator
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuator.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/config/SpringBootActuatorBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/SpringBootActuatorModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/rest/SpringBootActuatorResource.java
  src/test/features/springboot-actuator.feature
  src/test/java/tech/jhipster/lite/generator/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringbootActuatorAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/config/SpringBootActuatorBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/rest/SpringBootActuatorResourceIT.java
Labels: server: spring boot, area: refactoring

#2638 Remove not styled react
  src/main/java/tech/jhipster/lite/generator/client/react/core/application/ReactCoreApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactCodeModulesConfiguration.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/test/features/react-jwt.feature
  src/test/features/react.feature
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: refactoring, client: react

#2194 Add default maven goal
  package-lock.json
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/resources/projects/maven-with-default-goal/pom.xml
Labels: area: enhancement :wrench:, server: spring boot

#2641 Add packagePath in properties
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/domain/BeanValidationTestModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SimpleCacheModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/domain/LogsSpyModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/zalandoproblem/domain/ZalandoProblemsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
Labels: area: enhancement :wrench:, generator: internal

#2639 Add sonar documentation
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactory.java
  src/main/resources/generator/server/sonar/sonar.md.mustache
  src/test/features/sonar.feature
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
Labels: area: documentation:books:, theme: init

#2594 React jwt module
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/application/ReactJwtApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwt.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtService.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/config/ReactJwtBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/ReactJwtModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/rest/ReactJwtResource.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/application/ReactJwtApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/config/ReactJwtBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/infrastructure/primary/rest/ReactJwtResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/projects/react-app/App.css
  src/test/resources/projects/react-app/App.tsx
  src/test/resources/projects/react-app/StyledApp.tsx
Labels: area: refactoring, client: react

#2643 Remove actuator generator action
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
Labels: server: spring boot, area: refactoring

#2645 React: CORS errors when login
  src/main/resources/generator/client/react/src/main/webapp/app/login/services/login.ts.mustache
  src/main/resources/generator/client/react/vite.config.ts
Labels: area: bug :bug:, client: react

#2674 Cucumber oauth2 specific authentication
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/application/CucumberAuthenticationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/resources/generator/server/springboot/cucumberauthentication/oauth2/AuthenticationSteps.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/oauth2/CucumberAuthenticationConfiguration.java.mustache
  src/test/features/cucumber-authentication.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot, theme: tests

#2694 Cucumber JWT authentication
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/application/CucumberAuthenticationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/resources/generator/server/springboot/cucumberauthentication/jwt/AuthenticationSteps.java.mustache
  src/test/features/cucumber-authentication.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: security, server: spring boot, theme: tests

#2695 Merge LogSpy in Spring Core
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/application/LogsSpyApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/domain/LogsSpyModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/infrastructure/primary/LogsSpyModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/package-info.java
  src/main/resources/generator/server/springboot/core/LogsSpy.java.mustache
  src/main/resources/generator/server/springboot/core/logs-spy.md
  src/test/features/logs-spy.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logsspy/domain/LogsSpyModuleFactoryTest.java
  tests-ci/generate.sh
Labels: server: spring boot, area: refactoring

#2699 React: login button is not center
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#2700 Multiple git repository depending on environment
  sonar-project.properties
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/secondary/CommandLineGitRepository.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/secondary/GitChecker.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/secondary/GitInitException.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/secondary/GitRepositoryConfiguration.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/secondary/JGitGitRepository.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/secondary/CommandLineGitRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/secondary/GitCheckerTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/secondary/GitRepositoryConfigurationTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/secondary/JGitGitRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#2713 Remove git init from project repo
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: refactoring, theme: init

#2716 Security JWT: fix roles in properties
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactory.java
Labels: area: bug :bug:, theme: security, server: spring boot

#2715 WebFlux module
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebflux.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/config/SpringBootWebfluxBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/SpringBootWebfluxModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/rest/SpringBootWebfluxResource.java
  src/main/resources/generator/server/springboot/webflux/web/main/BadRequestAlertException.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/ErrorConstants.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/FieldErrorDTO.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/HeaderUtil.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/ProblemConfiguration.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/cors/CorsFilterConfigurationIT.java.mustache
  src/test/features/webflux.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringbootWebfluxAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/config/SpringBootWebfluxBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/rest/SpringBootWebfluxResourceIT.java
Labels: server: spring boot, area: refactoring, theme: webflux

#2729 Remove deprecated batch methods
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleFiles.java
Labels: generator: internal, area: refactoring

#2730 Angular 14.1.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#2726 Delete SQL common service
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Dependency.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/Gradle.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/config/MavenBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/Level.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBoot.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/infrastructure/config/SpringBootCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/DependencyTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/secondary/CommandLineGitRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/project/application/ProjectApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
Labels: server: spring boot, theme: database, area: refactoring

#2727 Playwright module
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/Playwright.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/config/PlaywrightBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/features/playwright.feature
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/application/PlaywrightAssert.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/config/PlaywrightBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightResourceIT.java
Labels: area: refactoring, theme: tests

#2739 Avoid temp zip file for project download
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepository.java
Labels: area: enhancement :wrench:, generator: internal

#2742 Fix text dark in Generator page
  src/main/webapp/app/springboot/primary/Generator.vue
Labels: area: bug :bug:, generator: internal

#2745 Angular: lint errors
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainService.java
  src/main/resources/generator/client/angular/core/.eslintrc.json
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.ts
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2Assert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainServiceTest.java
Labels: area: bug :bug:, client: angular

#2743 Cypress module
  src/main/java/tech/jhipster/lite/common/domain/JsonUtils.java
  src/main/java/tech/jhipster/lite/generator/client/common/application/ClientCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientCommonService.java
  src/main/java/tech/jhipster/lite/generator/client/common/infrastructure/ClientCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/application/CypressApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/Cypress.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressService.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/config/CypressBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/primary/CypressModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/primary/CypressResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/test/features/cypress.feature
  src/test/java/tech/jhipster/lite/common/domain/JsonUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/client/common/application/ClientCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/common/domain/ClientCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/common/infrastructure/ClientCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/application/CypressApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/application/CypressAssert.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/config/CypressBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/primary/CypressResourceIT.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/projects/empty-ts-config/tsconfig.json
  src/test/resources/projects/ts-config-with-cypress-exclusions/tsconfig.json
  src/test/resources/projects/ts-config-with-empty-exclusions/tsconfig.json
  src/test/resources/projects/ts-config-with-exclusions/tsconfig.json
Labels: area: refactoring, theme: tests

#2747 Angular: Remove ngx-webstorage dependency
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwt.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/config/AngularJwtBeanConfiguration.java
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.spec.ts.mustache
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
Labels: area: enhancement :wrench:, client: angular

#2746 React: unused imports
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: refactoring, client: react

#2749 React: login button is not center
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
Labels: area: enhancement :wrench:, client: react

#2751 Rework module screen
  package-lock.json
  package.json
  src/main/webapp/app/module/domain/Modules.ts
  src/main/webapp/app/module/primary/ModulePropertiesType.ts
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.component.ts
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.html
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.vue
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.html
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/main/webapp/app/module/primary/tag-filter/TagFilter.component.ts
  src/main/webapp/app/module/primary/tag-filter/TagFilter.html
  src/main/webapp/app/module/primary/tag-filter/TagFilter.vue
  src/main/webapp/app/module/primary/tag-filter/index.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2764 Delete optional utils
  src/main/java/tech/jhipster/lite/common/domain/OptionalUtils.java
  src/test/java/tech/jhipster/lite/common/domain/OptionalUtilsTest.java
Labels: generator: internal, area: refactoring

#2765 Remove unused from WordUtils
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/test/java/tech/jhipster/lite/common/domain/WordUtilsTest.java
Labels: generator: internal, area: refactoring

#2768 Move module form position
  src/main/webapp/app/module/primary/modules/Modules.vue
Labels: area: enhancement :wrench:, generator: internal

#2771 Remove most of the legacy steps
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactCoreModulesConfiguration.java
  src/test/features/angular-health.feature
  src/test/features/apache-kafka.feature
  src/test/features/banner.feature
  src/test/features/consul.feature
  src/test/features/cucumber-authentication.feature
  src/test/features/cucumber.feature
  src/test/features/dev-tools.feature
  src/test/features/init.feature
  src/test/features/jwt-authentication.feature
  src/test/features/mariadb.feature
  src/test/features/mongodb.feature
  src/test/features/mssql.feature
  src/test/features/mysql.feature
  src/test/features/oauth2.feature
  src/test/features/postgresql.feature
  src/test/features/pulsar.feature
  src/test/features/react-jwt.feature
  src/test/features/springboot-actuator.feature
  src/test/features/springdoc.feature
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
Labels: generator: internal, server: java, area: refactoring

#2772 Bump jest to 28.1.3 and ts-jest to 28.0.7
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies, theme: typescript

#2773 Mark applied modules
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/test/javascript/spec/module/primary/Modules.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2802 Rename cypress module
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/primary/CypressModuleConfiguration.java
  src/test/features/cypress.feature
Labels: area: refactoring, theme: tests

#2803 Delete front leftovers
  package-lock.json
  package.json
  src/main/webapp/app/common/domain/DocumentFile.ts
  src/main/webapp/app/common/domain/History.ts
  src/main/webapp/app/common/domain/Service.ts
  src/main/webapp/app/common/primary/FileDownloader.ts
  src/main/webapp/app/common/primary/HistoryStore.ts
  src/main/webapp/app/common/secondary/RestHistory.ts
  src/main/webapp/app/common/secondary/RestService.ts
  src/main/webapp/app/common/secondary/RestServiceId.ts
  src/main/webapp/app/main.ts
  src/test/javascript/spec/common/domain/History.fixture.ts
  src/test/javascript/spec/common/primary/FileDownloader.fixture.ts
  src/test/javascript/spec/common/primary/FileDownloader.spec.ts
  src/test/javascript/spec/common/primary/HistoryStore.fixture.ts
  src/test/javascript/spec/common/primary/HistoryStore.spec.ts
  src/test/javascript/spec/common/secondary/RestHistory.fixture.ts
  src/test/javascript/spec/common/secondary/RestHistory.spec.ts
  src/test/javascript/spec/common/secondary/RestService.fixture.ts
  src/test/javascript/spec/common/secondary/RestServiceId.spec.ts
Labels: generator: internal, area: refactoring

#2808 Allow file manipulation ot user controlled paths
  sonar-project.properties
  src/main/docker/sonar.yml
  src/main/resources/generator/dependencies/Dockerfile
Labels: area: enhancement :wrench:, generator: internal

#2812 Revert "Sonar upgrade"
  src/main/docker/sonar.yml
  src/main/resources/generator/dependencies/Dockerfile
Labels: area: dependencies

#2811 Remove quotes from commit message
  src/main/java/tech/jhipster/lite/git/infrastructure/secondary/CommandLineGitRepository.java
Labels: area: enhancement :wrench:, generator: internal

#2814 Add Springdoc module for OAuth2
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/resources/generator/server/springboot/apidocumentation/springdoc/src/SpringdocConfigurationSecurityOAuth2.java.mustache
  src/test/features/springdoc.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
Labels: area: feature request :bulb:, server: spring boot, theme: api

#2815 Typo in Unknown Authentication Scheme Exception
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/secondary/UnknownAuthenticationSchemeException.java.mustache
Labels: theme: security, server: spring boot, area: refactoring

#2816 Fix OAuth2 authenticated user account api
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/secondary/OAuth2AuthenticationReader.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/infrastructure/OAuth2TokenFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/infrastructure/secondary/OAuth2AuthenticationReaderTest.java.mustache
Labels: area: bug :bug:, theme: security, server: spring boot

#2818 Clean the readme
  README.md
Labels: area: documentation:books:, generator: internal

#2829 Documentation: add hexagonal architecture
  .jhipster/modules/history.json
  README.md
  documentation/hexagonal-architecture.md
  documentation/hexagonal-flow.png
  documentation/hexagonal-global-schema.png
Labels: area: documentation:books:, generator: internal

#2830 Commit with history
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleEvents.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/SpringJHipsterModuleAppliedEvents.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/JavaProjects.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, generator: internal

#2831 Documentation: update guides, using modules
  documentation/01-fill_information.png
  documentation/02-init.png
  documentation/03-maven.png
  documentation/04-java_base.png
  documentation/05-spring_boot.png
  documentation/05-spring_boot_section.png
  documentation/06-spring_boot.png
  documentation/06-spring_boot_mvc.png
  documentation/07-spring_boot_mvc.png
  documentation/07-zalando-problems.png
  documentation/08-vue.png
  documentation/09-frontend_maven_plugin.png
  documentation/10-download.png
  documentation/guides.md
Labels: area: documentation:books:, generator: internal

#2836 Remove unused imports from beer steps
  src/main/resources/generator/server/springboot/mvc/dummy/test/dummy/infrastructure/primary/beer/BeersSteps.java.mustache
Labels: area: enhancement :wrench:, theme: tests

#2838 Use needle replacers for cucumber authentication
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
Labels: area: enhancement :wrench:, generator: internal

#2842 Java: unused imports
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/project/domain/download/ProjectsDownloaderTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
Labels: server: java, area: refactoring

#2843 Java: clean code
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacer.java
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
Labels: server: java, area: refactoring

#2841 Vue: clean code
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: refactoring, client: vue

#2851 Angular: JHLite generates unused code
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
Labels: area: refactoring, client: angular

#2849 Angular: TestBed.get is deprecated
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.spec.ts.mustache
  src/test/resources/projects/angular/app-routing.module.spec.ts
Labels: area: enhancement :wrench:, client: angular

#2845 Angular: Setting page titles natively with the Angular Router
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.route.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.route.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#2854 Kafka: allow custom package name
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/rest/KafkaModuleConfiguration.java
Labels: area: enhancement :wrench:, server: spring boot, theme: broker

#2856 Kafka: fix testcontainer
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
Labels: area: enhancement :wrench:, server: spring boot, theme: broker

#2857 Cucumber: rename modules
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/test/features/cucumber-authentication.feature
  tests-ci/generate.sh
Labels: server: spring boot, area: refactoring, theme: tests

#2858 Reorganize spring boot modules
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/beanvalidationtest/infrastructure/primary/BeanValidationTestModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/LiquibaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/DevToolsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/SpringBootActuatorModuleConfiguration.java
Labels: server: spring boot, area: refactoring

#2847 Angular: Jest warnings
  src/main/resources/generator/client/angular/core/jest.conf.js
Labels: area: enhancement :wrench:, client: angular

#2861 Angular: use new syntax 'Typed Angular Forms'
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular
