Repository seed4j/seed4j, pull requests merged in 2022-01, with the labels that each got.

#453 Fix integrations tests
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LiquibaseConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/CorsFilterConfigurationIT.java.mustache
Labels: area: bug :bug:, server: spring boot, theme: database

#455 Put back IntegrationTest annotation with Nested
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LiquibaseConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/tcp/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/CorsFilterConfigurationIT.java.mustache
Labels: area: enhancement :wrench:, server: spring boot

#456 Update README with new options
  README.md
Labels: area: documentation:books:, server: spring boot

#431 add Spring Boot Ehcache (XML configuration)
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/Ehcache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResource.java
  src/main/resources/generator/server/springboot/cache/ehcache/resources/ehcache.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResourceIT.java
  tests-ci/config/tomcat-postgresql-ehcachexml.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: cache

#458 Logstash: add suppress warning for configuring loggers
  src/main/resources/generator/server/springboot/logging/logstash/tcp/src/LogstashTcpLifeCycle.java.mustache
Labels: area: enhancement :wrench:, server: spring boot

#462 Add package manager context
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/package-info.java
Labels: area: feature request :bulb:, theme: npm

#460 Add prettier and npm install API
  src/main/java/tech/jhipster/lite/common/domain/OSUtils.java
  src/main/java/tech/jhipster/lite/generator/init/application/InitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitService.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/config/InitBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/CommandLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/executables/Npm.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/common/domain/OSUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/executables/NpmTest.java
Labels: area: feature request :bulb:, theme: init

#465 remove useless method: JwtSecurityDomainService.addGitPatch
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
Labels: theme: security, server: spring boot, area: refactoring

#468 Refactoring: move POM_XML from Maven to Constants
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/application/JacocoApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/application/AopLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/primary/rest/AopLoggingResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/common/application/SpringBootCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/application/SpringBootJCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/rest/DevToolsResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResourceIT.java
Labels: theme: maven, area: refactoring

#469 Refactoring: add and use PACKAGE_JSON
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
Labels: area: refactoring, theme: npm

#470 add Actuator to CI
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#474 Simplify Ehcache Java Configuration
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/Ehcache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/config/EhcacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/application/SpringBootJCacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/domain/SpringBootJCache.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/domain/SpringBootJCacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/domain/SpringBootJCacheService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/infrastructure/config/SpringBootJCacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/package-info.java
  src/main/resources/generator/server/springboot/cache/ehcache/src/CacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/src/EhcacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/src/EhcacheConfigurer.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/src/EhcacheProperties.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/CacheConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/CacheConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/cache/jcache/src/JCacheConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cache/jcache/src/JCacheConfigurer.java.mustache
  src/main/resources/generator/server/springboot/cache/jcache/src/JCacheCreator.java.mustache
  src/main/resources/generator/server/springboot/cache/jcache/test/JCacheCreatorTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/application/SpringBootJCacheApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/application/SpringBootJCacheAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/jcache/infrastructure/config/SpringBootJCacheBeanConfigurationIT.java
Labels: area: enhancement :wrench:, server: spring boot, theme: cache

#479 fix maven plugin tests
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: bug :bug:, theme: maven

#478 fix maven dependency management indentation
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: bug :bug:, theme: maven

#435 Spring Boot: Spring Cloud Consul
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/application/ConsulApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/domain/ConsulService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/infrastructure/config/ConsulBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/infrastructure/primary/rest/ConsulResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/resources/generator/server/springboot/consul/src/bootstrap-fast.properties.mustache
  src/main/resources/generator/server/springboot/consul/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/consul/src/consul.yml.mustache
  src/main/resources/generator/server/springboot/consul/test/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/consul/application/ConsulApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/consul/application/ConsulAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/consul/infrastructure/config/ConsulBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/consul/infrastructure/primary/rest/ConsulResourceIT.java
  tests-ci/config/undertow-consul.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: cloud :cloud:

#457 Add config server
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/common/domain/Base64Utils.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigClientApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/config/SpringCloudConfigClientBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/package-info.java
  src/main/resources/generator/server/springboot/springcloud/configclient/application.config.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/jhipster-registry.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap-fast.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/test/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/common/domain/Base64UtilsTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/config/SpringCloudConfigBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigClientResourceIT.java
  tests-ci/config/tomcat-configserver.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: cloud :cloud:

#445 Reduce logs during tests
  src/main/resources/logback-spring.xml
  src/test/resources/logback.xml
Labels: area: enhancement :wrench:, generator: internal

#482 Improve App startup log
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/MainAppIT.java.mustache
  src/test/java/tech/jhipster/lite/JHLiteAppIT.java
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#484 Fix code smells, related to improvement of startup log
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#485 Clean old yeoman config
  .yo-rc-global.json
  .yo-rc.json
Labels: generator: internal, area: refactoring

#486 Bump assertj-core to 3.22.0
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
Labels: area: dependencies

#487 Bump lint-staged to 12.1.5
  src/main/resources/generator/init/package.json.mustache
Labels: area: dependencies

#466 Package Manager NPM: add method for adding dependency
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/application/NpmApplicationService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/config/NpmBeanConfiguration.java
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/application/NpmApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/resources/generator/command/package-complete.json
  src/test/resources/generator/command/package-empty.json
  src/test/resources/generator/command/package-no-dependencies.json
Labels: area: feature request :bulb:, theme: npm

#488 Init prettier xml
  .prettierrc
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainService.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/init/.prettierrc.mustache
  src/main/resources/generator/init/package.json.mustache
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/logback.xml.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/application/SpringBootLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
Labels: area: feature request :bulb:, theme: init

#480 improve line separator handling
  .gitattributes
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesDomainService.java
  src/main/resources/generator/init/.editorconfig.mustache
  src/main/resources/generator/init/.prettierrc.mustache
  src/main/resources/generator/init/gitattributes
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectTest.java
Labels: area: enhancement :wrench:, generator: internal

#491 harmonization of pom.xml indentation and eol management
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: theme: maven, area: refactoring

#492 Refactoring: move Consul to Spring Cloud
  src/main/java/tech/jhipster/lite/generator/server/springboot/consul/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/package-info.java
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap-fast.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/consul.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/test/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/config/ConsulBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResourceIT.java
Labels: server: spring boot, area: refactoring, theme: microservices

#493 Fix eol in MainApp
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/MainAppIT.java.mustache
  src/test/java/tech/jhipster/lite/JHLiteAppIT.java
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#494 Spring Cloud Consul: add central config
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/resources/generator/server/springboot/springcloud/consul/docker/application.config.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/consul.yml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
Labels: area: feature request :bulb:, server: spring boot, theme: microservices

#495 Update License to 2022
  LICENSE.txt
  NOTICE
Labels: area: documentation:books:, generator: internal

#502 Bump lint-staged to 12.1.6
  src/main/resources/generator/init/package.json.mustache
Labels: area: dependencies

#503 Bump prettier-plugin-java to 1.6.1
  src/main/resources/generator/init/package.json.mustache
Labels: area: dependencies

#505 Refactoring: move npm command to NPM context
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/application/NpmApplicationService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/Npm.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmRepository.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/config/NpmBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/secondary/NpmLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/project/domain/CommandRepository.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResourceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/application/NpmApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/primary/rest/NpmResourceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/secondary/NpmLocalRepositoryIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/secondary/NpmLocalRepositoryTest.java
Labels: area: refactoring, theme: npm

#506 only test file permissions on posix
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/init/application/InitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: bug :bug:, generator: internal

#507 Security JWT: clean import
  src/main/resources/generator/server/springboot/mvc/security/jwt/test/CorsFilterConfigurationIT.java.mustache
Labels: theme: security, server: spring boot, area: refactoring

#509 Windows CI and EOL normalization
  .editorconfig
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesDomainService.java
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/MustacheUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
Labels: area: bug :bug:, generator: internal

#513 Refactoring: rename methods in Maven
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
Labels: theme: maven, area: refactoring

#517 Bump lint-staged to 12.1.7
  src/main/resources/generator/init/package.json.mustache
Labels: area: dependencies

#516 Refactoring Main App with Unit Test
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/MainAppTest.java.mustache
  src/test/java/tech/jhipster/lite/JHLiteAppTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResourceIT.java
Labels: server: spring boot, generator: internal, area: refactoring

#519 Optional Utils: notBlank method
  src/main/java/tech/jhipster/lite/common/domain/OptionalUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Dependency.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Plugin.java
  src/test/java/tech/jhipster/lite/common/domain/OptionalUtilsTest.java
Labels: generator: internal, area: refactoring

#518 Add repository
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/Repository.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/RepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: enhancement :wrench:, theme: maven

#498 Typescript: add dependency, script and config files
  src/main/java/tech/jhipster/lite/generator/typescript/application/TypescriptApplicationService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/Typescript.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptService.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/config/TypescriptBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/TypescriptResource.java
  src/main/java/tech/jhipster/lite/generator/typescript/package-info.java
  src/main/resources/generator/typescript/.eslintrc.js
  src/main/resources/generator/typescript/jest.config.js
  src/main/resources/generator/typescript/tsconfig.json
  src/test/java/tech/jhipster/lite/generator/typescript/application/TypescriptApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/typescript/application/TypescriptAssert.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/infrastructure/config/TypescriptBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/TypescriptResourceIT.java
Labels: area: feature request :bulb:, theme: typescript

#520 Add plugin repository
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
Labels: area: enhancement :wrench:, theme: maven

#525 Security: add WithMockUser to IntegrationTest
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#523 Spring Boot Mvc: Dummy context
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/application/DummyApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/domain/DummyDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/domain/DummyService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/config/DummyBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/primary/rest/DummyResource.java
  src/main/resources/generator/server/springboot/mvc/dummy/dummy.patch.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/application/DummyApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/application/DummyAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/domain/DummyDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/config/DummyBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/primary/rest/DummyResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#528 Improve Swagger
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/springdoc/SpringdocConfiguration.java
  src/main/resources/config/application.properties
Labels: area: enhancement :wrench:, generator: internal

#529 Refactoring: move spring boot properties to spring boot common
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/aop/logging/infrastructure/config/AopLoggingConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/config/SpringBootAsyncBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/config/EhcacheBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/Level.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/config/PostgresqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/config/LiquibaseBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/config/DevToolsBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/application/SpringBootLoggingApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/config/SpringBootLoggingBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logstash/tcp/infrastructure/config/LogstashBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/config/JwtSecurityBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/config/SpringBootMvcBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/application/SpringBootPropertiesApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/domain/SpringBootPropertiesService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/infrastructure/config/SpringBootPropertiesBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/properties/package-info.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/aop/logging/domain/maven/AopLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/application/SpringBootLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/domain/SpringBootLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/infrastructure/config/SpringBootLoggingBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/properties/application/SpringBootPropertiesApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/properties/infrastructure/config/SpringBootPropertiesBeanConfigurationIT.java
Labels: server: spring boot, area: refactoring

#534 Dummy: code smell - join these multiple assertions
  src/main/resources/generator/server/springboot/mvc/dummy/dummy.patch.mustache
Labels: area: enhancement :wrench:, server: spring boot

#535 File Utils: read line
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/resources/generator/utils/readme-short.md
Labels: area: enhancement :wrench:, generator: internal

#536 NPM: update package.json for tests
  src/test/resources/generator/command/package-test.json
Labels: area: enhancement :wrench:, generator: internal, theme: npm

#537 Dependabot: add dependencies for package.json
  .github/dependabot.yml
  src/main/resources/generator/dependencies/package.json
Labels: area: enhancement :wrench:, generator: internal, generator: CI

#538 Add SpringDoc
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDoc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocConstants.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/config/SpringDocBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/package-info.java
  src/main/resources/generator/server/springboot/mvc/springdoc/src/SpringDocConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/config/SpringDocBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: api

#540 Add springboot properties empty line and comment methods
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot

#539 Maven: Add version suffix manually
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/Maven.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: maven

#544 Spring Boot Common: code smells, define constant
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
Labels: server: spring boot, area: refactoring

#546 Npm: extract dependency and get version
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/resources/generator/dependencies/package.json
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: npm

#548 Init: use getVersion for package.json in devDependencies section
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/config/InitBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/resources/generator/init/package.json.mustache
  src/test/java/tech/jhipster/lite/generator/init/application/InitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: npm

#547 Extract maven versions to specific pom.xml file
  .github/dependabot.yml
  src/main/resources/generator/dependencies/pom.xml
Labels: area: enhancement :wrench:, generator: internal, theme: maven

#549 Typescript: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/typescript/domain/Typescript.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/main/resources/generator/dependencies/package.json
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: npm, theme: typescript

#558 Spring Boot: update tags
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/rest/DevToolsResource.java
Labels: area: enhancement :wrench:, server: spring boot

#557 Rename spring-doc to springdoc
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResource.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResourceIT.java
  tests-ci/generate.sh
Labels: server: spring boot, theme: api, area: refactoring

#554 Add jib
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDocker.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/config/SpringBootDockerBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/resources/generator/server/springboot/docker/jib/entrypoint.sh.mustache
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/config/SpringBootDockerBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: docker :whale:

#568 Bump Spring Boot to 2.6.3
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
Labels: server: spring boot, area: dependencies

#569 Sonar: exclude src/main/resources
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: internal

#496 Add springboot user
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DatabaseType.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/config/SpringBootUserBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/SpringBootUserResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/package-info.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.csv
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.csv
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user_authority.csv
  src/main/resources/generator/server/springboot/user/sqldatabase/AbstractAuditingEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityEntityTest.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityJpaRepository.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserConstants.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntityTest.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepository.java.mustache
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/config/SpringBootUserBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResourceIT.java
  src/test/resources/generator/server/springboot/liquibase/master.test.xml
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: database

#573 Spring Boot User: fix code smells
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
Labels: area: enhancement :wrench:, theme: database

#574 Improve UserEntity and AuthorityEntity
  src/main/resources/generator/server/springboot/user/sqldatabase/AbstractAuditingEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityEntityTest.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntityTest.java.mustache
Labels: area: enhancement :wrench:, theme: database

#575 CI: separated Windows build
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#576 Sonar: update rules from squid:S4502 to java:S4502
  sonar-project.properties
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: enhancement :wrench:, theme: ci

#577 Springdoc: add Security JWT
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResource.java
  src/main/resources/generator/server/springboot/mvc/springdoc/src/SpringDocConfigurationSecurityJWT.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot, theme: api

#578 Logstash: disabled by default
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
Labels: area: enhancement :wrench:, server: spring boot

#580 Improve application properties with comments and new lines
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/resources/generator/server/springboot/core/application-fast.properties.mustache
  src/main/resources/generator/server/springboot/core/application-test.properties.mustache
  src/main/resources/generator/server/springboot/core/application.properties.mustache
Labels: area: enhancement :wrench:, server: spring boot

#586 dependabot: add github actions for sub folders
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#589 CI: increase wait
  tests-ci/start.sh
Labels: area: enhancement :wrench:, generator: CI

#572 Maven: extract property and get version
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: maven

#597 Spring Boot Common: add getProperty method
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/resources/generator/server/springboot/core/application.src.properties
Labels: area: enhancement :wrench:, server: spring boot

#598 Spring Boot Common: improve method getProperty with Assert
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot

#570 Add Flyway
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/Flyway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/config/FlywayBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/config/ClockConfiguration.java
  src/main/resources/generator/server/springboot/dbmigration/flyway/resources/V00000000000000__init.sql
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/config/FlywayBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database migration

#605 CI: wait instead of sleep
  pom.xml
  src/main/resources/config/application.properties
  tests-ci/start.sh
  tests-ci/stop.sh
Labels: area: enhancement :wrench:, generator: CI

#607 Refactoring: templates for logging
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspect.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspectConfiguration.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspectTest.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/src/LogstashTcpConfiguration.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/src/LogstashTcpLifeCycle.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/src/LogstashTcpProperties.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpLifeCycleTest.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpPropertiesTest.java.mustache
Labels: server: spring boot, area: refactoring

#608 FileUtils: fix readline in classpath
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
Labels: area: bug :bug:, generator: internal

#610 Refactoring and move package.json to dependencies/common
  .github/dependabot.yml
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
Labels: area: refactoring, theme: npm

#609 Handle temporary directory ending with slash
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
Labels: area: enhancement :wrench:, generator: internal

#611 Liquibase improve user authority
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/config/LiquibaseBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#596 Spring-boot: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: maven

#613 Clean import in SpringBootDomainServiceTest
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
Labels: server: spring boot, area: refactoring

#614 Jjwt: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityTest.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#616 User: generate UserEntity for MySQL without sequence
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/config/SpringBootUserBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/SpringBootUserResource.java
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity_without_sequence.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResourceIT.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#618 Liquibase: do not add sequence user for MySQL
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/sequence_user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResourceIT.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#620 Rename generated fast profile to local profile
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBoot.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/resources/generator/server/springboot/core/application-local.properties.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/src/AsyncSpringLiquibase.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/src/bootstrap-local.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap-local.properties.mustache
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/application/SpringBootCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/common/domain/SpringBootCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/application/AopLoggingApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/maven/AopLoggingDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/application/SpringCloudConfigApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigClientResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
  src/test/resources/generator/server/springboot/core/application.src.local.properties
Labels: server: spring boot, area: refactoring

#622 Init: throw exception when dependency version not found
  src/main/java/tech/jhipster/lite/generator/init/domain/InitDomainService.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: init

#623 Typescript: throw exception when dependency version not found
  src/main/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainService.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/TypescriptDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: typescript

#627 Use Liquibase dbchangelog-4.5.xsd
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/authority.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/sequence_user.xml.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user.xml.mustache
Labels: area: bug :bug:, server: spring boot, theme: database migration

#617 Logstash: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/Logstash.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainServiceTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: maven

#625 Problem: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: maven
