Repository seed4j/seed4j, pull requests merged in 2022-08, with the labels that each got.

#2912 Add keycloak startup command to readme
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactoryTest.java
Labels: area: documentation:books:, theme: security, server: spring boot

#2911 Angular OAuth2 module
  src/main/java/tech/jhipster/lite/generator/client/angular/common/README.md
  src/main/java/tech/jhipster/lite/generator/client/angular/common/application/AngularCommonApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommon.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/infrastructure/AngularCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/config/AngularJwtBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2Service.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/config/AngularOauth2BeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOauth2Resource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/FileStartReplacer.java
  src/test/features/angular-oauth2.feature
  src/test/java/tech/jhipster/lite/generator/client/angular/common/application/AngularCommonApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/common/domain/AngularCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/common/infrastructure/AngularCommonBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2ApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/application/AngularOauth2Assert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2DomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/config/AngularOauth2BeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOauth2ResourceIT.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/FileStartReplacerTest.java
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/app.component.spec.ts
  src/test/resources/projects/angular/app.module-with-providers.ts
  src/test/resources/projects/angular/app.module.ts
  src/test/resources/projects/angular/empty-angular.json
  src/test/resources/projects/angular/environment.prod.ts
  src/test/resources/projects/angular/environment.ts
Labels: theme: security, client: angular

#2909 Improve prettier / eslint configuration
  .eslintrc.js
  .lintstagedrc.js
  .prettierrc
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/.eslintrc.js
  src/main/resources/generator/dependencies/vue/package.json
  src/main/resources/generator/init/.lintstagedrc.js
  src/main/resources/generator/init/.prettierrc.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/resources/generator/common/.lintstagedrc.js
Labels: area: enhancement :wrench:, theme: init

#2925 Remove unused MavenService & GradleService
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenService.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/config/MavenBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/config/GradleBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/config/MavenBeanConfigurationIT.java
Labels: theme: gradle, area: refactoring

#2926 Angular 14.1.1
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#2931 Add maven startup command
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: documentation:books:, theme: maven

#2929 Add missing beer removal scenario
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/beers-catalog.feature
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#2927 Angular JWT module
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/application/AngularJwtApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwt.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/config/AngularJwtBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/primary/AngularJwtModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/primary/rest/AngularJwtResource.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/java/tech/jhipster/lite/generator/project/domain/GeneratorAction.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Project.java
  src/main/java/tech/jhipster/lite/generator/project/domain/ProjectRepository.java
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleFactory.java
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
  src/test/features/angular-jwt.feature
  src/test/java/tech/jhipster/lite/TestUtils.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/application/AngularJwtApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/application/AngularJwtAssert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/config/AngularJwtBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/primary/rest/AngularJwtResourceIT.java
  src/test/java/tech/jhipster/lite/generator/project/domain/ProjectTest.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/ProjectLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
Labels: area: refactoring, client: angular

#2941 Rework mongo booting strategy
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/resources/generator/server/springboot/database/mongodb/MongodbTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/TestContainersSpringContextCustomizerFactory.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/TestMongoDBManager.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/spring.factories.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database, theme: tests

#2942 Replace prettier-ignore by formatter off/on
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/DefaultConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#2943 Improve guides
  documentation/guides.md
Labels: area: documentation:books:, generator: internal

#2944 CI: add Springdoc OAuth2 to generated app
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#2948 Delete unused git utils
  src/main/java/tech/jhipster/lite/generator/project/infrastructure/secondary/GitUtils.java
  src/test/java/tech/jhipster/lite/generator/project/infrastructure/secondary/GitUtilsTest.java
Labels: generator: internal, area: refactoring

#2949 Delete unused clock configuration
  src/main/java/tech/jhipster/lite/technical/infrastructure/config/ClockConfiguration.java
Labels: generator: internal, area: refactoring

#2947 Dummy mongoDB persistence
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/application/DummyMongoDBPersistenceApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/infrastructure/primary/DummyMongoDBPersistenceModuleConfiguration.java
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/BeerDocument.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/BeersCollectionChangeUnit.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/MongoDBBeersRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/SpringDataBeersRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/test/infrastructure/secondary/BeerDocumentTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/test/infrastructure/secondary/MongoDBBeersRepositoryIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/test/infrastructure/secondary/MongoDBBeersReseter.java.mustache
  src/test/features/dummy.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#2951 Access ts files from tests in generated Vue.js app
  package.json
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/tsconfig.build.json
  src/main/resources/generator/client/vue/tsconfig.json
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactoryTest.java
  tsconfig.build.json
  tsconfig.json
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#2956 Remove needle from pom
  pom.xml
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandler.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/MavenCommandHandlerTest.java
Labels: area: enhancement :wrench:, theme: maven

#2952 chore : Upgrade keycloak to 19.0.0
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/jhipster-realm.json.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/jhipster-users-0.json.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/docker/keycloak.yml.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/primary/SecurityConfigurationTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactoryTest.java
  src/test/resources/generator/dependencies/Dockerfile
Labels: area: enhancement :wrench:, theme: security, server: spring boot, area: dependencies

#2969 Remove unused default button
  src/main/webapp/app/common/primary/default-button/DefaultButton.component.ts
  src/main/webapp/app/common/primary/default-button/DefaultButton.vue
  src/main/webapp/app/common/primary/default-button/index.ts
  src/test/javascript/spec/common/primary/default-button/DefaultButton.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#2975 Remove properties needles
  src/main/resources/generator/server/springboot/core/application-local.properties.mustache
  src/main/resources/generator/server/springboot/core/application-test.properties.mustache
  src/main/resources/generator/server/springboot/core/application.properties.mustache
Labels: area: enhancement :wrench:

#2980 Remove unused test applyers
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, generator: internal

#2979 Upgrade node and npm
  src/main/java/tech/jhipster/lite/generator/init/application/InitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, theme: npm

#2974 Stick to spring managed FlyWay version
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#3034 Split dummy flyway module
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/application/DummyFlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/infrastructure/primary/DummyFlywaModuleConfiguration.java
  src/test/features/dummy.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactoryTest.java
  tests-ci/config/flywayapp.json
  tests-ci/config/undertowapp.json
  tests-ci/generate.sh
Labels: server: spring boot, server: java, area: refactoring

#3033 Split cucumber module
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/application/CucumberApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberModuleConfiguration.java
  src/test/features/cucumber.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: refactoring, theme: tests

#3035 Split flyway module
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/FlywayModuleConfiguration.java
  src/test/features/flyway.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  tests-ci/config/flywayapp.json
  tests-ci/config/undertowapp.json
  tests-ci/generate.sh
Labels: theme: database migration, area: refactoring

#3037 Split api doc
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/application/SpringdocApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/domain/SpringdocDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/config/SpringdocBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoc/infrastructure/primary/SpringdocModuleConfiguration.java
  src/test/features/springdoc.feature
  tests-ci/generate.sh
Labels: area: documentation:books:, server: spring boot, theme: webflux

#3041 Upgrade Angular 14.1.2
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#3040 Prevent external librairies in domain classes
  src/main/java/tech/jhipster/lite/common/domain/Base64Utils.java
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
Labels: area: enhancement :wrench:, generator: internal

#3046 Remove useless dependency to mongoDB
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/infrastructure/primary/DummyMongoDBPersistenceModuleConfiguration.java
Labels: area: enhancement :wrench:, generator: internal

#3047 Fix dummy persistence dependencies
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/infrastructure/primary/DummyJpaPersistenceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/infrastructure/primary/DummyLiquibaseModuleConfiguration.java
Labels: area: bug :bug:, generator: internal

#3043 Landscape highlights
  src/main/webapp/app/assets/global.scss
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/LandscapeFeature.ts
  src/main/webapp/app/module/domain/landscape/LandscapeModule.ts
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.component.ts
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.html
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.vue
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/landscape/LandscapeConnector.ts
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/main/webapp/app/module/secondary/RestLandscape.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/primary/Landscape.spec.ts
Labels: area: feature request :bulb:, generator: internal

#3036 Add sonar startup commands
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactory.java
  src/main/resources/generator/server/sonar/sonar.md.mustache
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
Labels: area: documentation:books:, area: enhancement :wrench:

#3052 Fix sonar issues
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscape.java
Labels: area: bug :bug:

#3053 Refactor feature slug reading
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscape.java
Labels: area: refactoring

#3054 Refactor base64 utils
  src/main/java/tech/jhipster/lite/common/domain/Base64Utils.java
  src/test/java/tech/jhipster/lite/common/domain/Base64UtilsTest.java
Labels: area: refactoring

#3055 Remove unused from word utils
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/test/java/tech/jhipster/lite/common/domain/WordUtilsTest.java
Labels: area: refactoring

#3056 Add missing package annotation in technical package
  src/main/java/tech/jhipster/lite/technical/package-info.java
Labels: area: enhancement :wrench:

#2972 Disable automatic transactions
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/resources/generator/server/springboot/database/mariadb/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mssql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mysql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/postgresql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/jpapersistence/test/infrastructure/secondary/JpaBeersRepositoryIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/jpapersistence/test/infrastructure/secondary/JpaBeersReseter.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#3109 Update netty feature
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/SpringBootWebfluxModuleConfiguration.java
Labels: area: enhancement :wrench:

#3110 Group dummy persistences
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/infrastructure/primary/DummyJpaPersistenceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/infrastructure/primary/DummyMongoDBPersistenceModuleConfiguration.java
Labels: area: enhancement :wrench:

#3115 Update dummy persistence dependencies
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/infrastructure/primary/DummyFlywaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/infrastructure/primary/DummyLiquibaseModuleConfiguration.java
Labels: area: bug :bug:

#3116 Add order in property definition
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesDefinition.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertyDefinition.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesDefinitionTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesTest.java
Labels: area: feature request :bulb:

#3130 Add missing features
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/infrastructure/primary/AngularJwtModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/infrastructure/primary/AngularOAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/EHCacheModulesConfiguration.java
Labels: area: enhancement :wrench:

#3133 Apply multiple modules
  sonar-project.properties
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesToApply.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeFeature.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/ModulesResource.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesToApply.java
  src/test/java/tech/jhipster/lite/BeanValidationAssertions.java
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesToApplyTest.java
Labels: area: feature request :bulb:, generator: internal

#3107 Landscape selection
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterFeatureDependency.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeDependency.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeLevels.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleDependency.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeDependency.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeModule.java
  src/main/webapp/app/assets/global.scss
  src/main/webapp/app/common/domain/Memoizer.ts
  src/main/webapp/app/common/domain/Optional.ts
  src/main/webapp/app/module/domain/ModuleSlug.ts
  src/main/webapp/app/module/domain/Modules.ts
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/LandscapeElement.ts
  src/main/webapp/app/module/domain/landscape/LandscapeElementType.ts
  src/main/webapp/app/module/domain/landscape/LandscapeFeature.ts
  src/main/webapp/app/module/domain/landscape/LandscapeFeatureSlug.ts
  src/main/webapp/app/module/domain/landscape/LandscapeModule.ts
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.component.ts
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.html
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.vue
  src/main/webapp/app/module/primary/landscape/ComponentLandscape.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscapeElement.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscapeFeature.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscapeLevel.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscapeModule.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/landscape/LandscapeConnector.ts
  src/main/webapp/app/module/primary/modules/ComponentModule.ts
  src/main/webapp/app/module/primary/modules/ComponentModuleCategory.ts
  src/main/webapp/app/module/primary/modules/ComponentModules.ts
  src/main/webapp/app/module/primary/modules/Modules.component.ts
  src/main/webapp/app/module/primary/modules/Modules.vue
  src/main/webapp/app/module/secondary/RestAppliedModule.ts
  src/main/webapp/app/module/secondary/RestLandscapeElementType.ts
  src/main/webapp/app/module/secondary/RestLandscapeFeature.ts
  src/main/webapp/app/module/secondary/RestLandscapeModule.ts
  src/main/webapp/app/module/secondary/RestModule.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeTest.java
  src/test/javascript/spec/common/domain/Optional.spec.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/primary/Landscape.spec.ts
  src/test/javascript/spec/module/primary/Modules.spec.ts
  src/test/javascript/spec/module/primary/landscape/ComponentLandscape.spec.ts
  src/test/javascript/spec/module/primary/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#3150 Apply modules in landscape screen
  package.json
  src/main/webapp/app/assets/side-form.scss
  src/main/webapp/app/common/primary/header/Header.vue
  src/main/webapp/app/module/domain/Module.ts
  src/main/webapp/app/module/domain/ModuleProperty.ts
  src/main/webapp/app/module/domain/ModulePropertyDefinition.ts
  src/main/webapp/app/module/domain/ModulePropertyDefinitionType.ts
  src/main/webapp/app/module/domain/ModulePropertyDescription.ts
  src/main/webapp/app/module/domain/ModulePropertyExample.ts
  src/main/webapp/app/module/domain/ModulePropertyKey.ts
  src/main/webapp/app/module/domain/ModulesRepository.ts
  src/main/webapp/app/module/domain/ModulesToApply.ts
  src/main/webapp/app/module/domain/landscape/LandscapeModule.ts
  src/main/webapp/app/module/primary/PropertyValue.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscape.ts
  src/main/webapp/app/module/primary/landscape/ComponentLandscapeModule.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.component.ts
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.html
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.vue
  src/main/webapp/app/module/primary/module-properties-form/index.ts
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.component.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulePatch.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulePatchCategory.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulesPatch.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.html
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.vue
  src/main/webapp/app/module/primary/modules-patch/index.ts
  src/main/webapp/app/module/primary/modules/index.ts
  src/main/webapp/app/module/primary/project-actions/ProjectActions.component.ts
  src/main/webapp/app/module/primary/project-actions/ProjectActions.html
  src/main/webapp/app/module/primary/project-actions/ProjectActions.vue
  src/main/webapp/app/module/primary/project-actions/index.ts
  src/main/webapp/app/module/secondary/RestLandscapeModule.ts
  src/main/webapp/app/module/secondary/RestModule.ts
  src/main/webapp/app/module/secondary/RestModuleProperties.ts
  src/main/webapp/app/module/secondary/RestModulePropertiesDefinitions.ts
  src/main/webapp/app/module/secondary/RestModuleProperty.ts
  src/main/webapp/app/module/secondary/RestModulePropertyDefinition.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/app/module/secondary/RestModulesToApply.ts
  src/main/webapp/app/router/index.ts
  src/test/javascript/cypress/fixtures/landscape.json
  src/test/javascript/cypress/integration/Landscape.spec.ts
  src/test/javascript/cypress/integration/Patch.spec.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/GlobalWindow.fixture.ts
  src/test/javascript/spec/module/primary/landscape/ComponentLandscape.spec.ts
  src/test/javascript/spec/module/primary/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatch.spec.ts
  src/test/javascript/spec/module/primary/project-actions/ProjectActions.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
  vite.config.ts
Labels: area: feature request :bulb:, generator: internal

#3160 Upgrade Angular 14.1.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#3161 Bump @sveltejs/kit from 1.0.0-next.405 to 1.0.0-next.423
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteDomainService.java
  src/main/resources/generator/client/svelte/jest.config.cjs
  src/main/resources/generator/client/svelte/src/main/webapp/routes/+page.svelte.mustache
  src/main/resources/generator/client/svelte/tsconfig.json
  src/main/resources/generator/dependencies/svelte/package.json
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/application/SvelteAssert.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarModulesFactoryTest.java
Labels: area: dependencies, client: svelte

#2955 Module application statistics
  pom.xml
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleEvents.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/SpringJHipsterModuleEvents.java
  src/main/java/tech/jhipster/lite/statistic/application/StatisticsApplicationService.java
  src/main/java/tech/jhipster/lite/statistic/domain/AppliedModule.java
  src/main/java/tech/jhipster/lite/statistic/domain/AppliedModuleId.java
  src/main/java/tech/jhipster/lite/statistic/domain/Module.java
  src/main/java/tech/jhipster/lite/statistic/domain/ModuleProperties.java
  src/main/java/tech/jhipster/lite/statistic/domain/ProjectPath.java
  src/main/java/tech/jhipster/lite/statistic/domain/Statistics.java
  src/main/java/tech/jhipster/lite/statistic/domain/StatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/RestStatistics.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/SpringJHipsterModuleEventListener.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/StatisticsResources.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/AppliedModuleDocument.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/AppliedModulesChangeUnit.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/InMemoryStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBConfiguration.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongockConfiguration.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/SpringDataMongoDbStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/WithMongo.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/WithoutMongo.java
  src/main/java/tech/jhipster/lite/statistic/package-info.java
  src/main/resources/config/application-cloud.properties
  src/main/resources/generator/server/springboot/database/mongodb/TestMongoDBManager.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/BeerDocument.java.mustache
  src/test/features/mariadb.feature
  src/test/features/modules.feature
  src/test/features/statistics.feature
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/statistic/domain/AppliedModuleFixture.java
  src/test/java/tech/jhipster/lite/statistic/domain/StatisticsFixture.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/primary/RestStatisticsTest.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/primary/StatsSteps.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/AppliedModuleDocumentTest.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/InMemoryStatisticsReseter.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepositoryIntTest.java
  src/test/resources/config/application-mongodb.properties
Labels: area: feature request :bulb:, generator: internal

#3182 Fix wrong module properties duplication
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleApplied.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleToApply.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/JHipsterModuleController.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, generator: internal

#3207 Fix angular build
  pom.xml
  src/main/resources/generator/client/angular/core/jest.conf.js
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
Labels: area: bug :bug:

#3206 Add missing dependency between jwt basic auth and springdoc
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/JwtAuthenticationModulesConfiguration.java
Labels: area: bug :bug:, generator: internal

#3204 Add java-base dependency for authentication modules
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/JwtAuthenticationModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/infrastructure/primary/OAuth2ModuleConfiguration.java
Labels: area: bug :bug:, generator: internal

#3212 Update levels sorting
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeFeature.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeLevel.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeLevels.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeModule.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterLandscapeTest.java
Labels: generator: internal

#2977 Upgrade sonar version
  .github/workflows/github-actions.yml
  src/main/docker/sonar.yml
  src/test/java/tech/jhipster/lite/git/infrastructure/secondary/CommandLineGitRepositoryTest.java
Labels: area: enhancement :wrench:

#3228 Delete CommandLineGitRepository
  src/main/java/tech/jhipster/lite/git/infrastructure/secondary/CommandLineGitRepository.java
  src/main/java/tech/jhipster/lite/git/infrastructure/secondary/GitChecker.java
  src/main/java/tech/jhipster/lite/git/infrastructure/secondary/GitRepositoryConfiguration.java
  src/main/java/tech/jhipster/lite/git/infrastructure/secondary/JGitGitRepository.java
  src/test/java/tech/jhipster/lite/git/infrastructure/secondary/CommandLineGitRepositoryTest.java
  src/test/java/tech/jhipster/lite/git/infrastructure/secondary/GitCheckerTest.java
  src/test/java/tech/jhipster/lite/git/infrastructure/secondary/GitRepositoryConfigurationTest.java
  src/test/java/tech/jhipster/lite/git/infrastructure/secondary/GitTestUtil.java
Labels: generator: internal

#3230 Rename missleading properties
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleParameters.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/project/domain/history/ModuleParameters.java
  src/main/java/tech/jhipster/lite/project/domain/history/ModuleProperties.java
  src/main/java/tech/jhipster/lite/project/domain/history/ProjectAction.java
  src/main/java/tech/jhipster/lite/project/domain/history/ProjectHistory.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/JavaProjects.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/PersistedProjectAction.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/SpringJHipsterModuleEventListener.java
  src/main/webapp/app/module/domain/ModuleParameter.ts
  src/main/webapp/app/module/domain/ModuleParameters.ts
  src/main/webapp/app/module/domain/ModuleProperties.ts
  src/main/webapp/app/module/domain/ModuleProperty.ts
  src/main/webapp/app/module/domain/ModulePropertyValueType.ts
  src/main/webapp/app/module/domain/ModuleToApply.ts
  src/main/webapp/app/module/domain/ModulesToApply.ts
  src/main/webapp/app/module/primary/PropertyValue.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/module-parameters/ModuleParameters.component.ts
  src/main/webapp/app/module/primary/module-parameters/ModuleParameters.html
  src/main/webapp/app/module/primary/module-parameters/ModuleParameters.vue
  src/main/webapp/app/module/primary/module-parameters/index.ts
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.component.ts
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.html
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.html
  src/main/webapp/app/module/primary/module-properties/ModuleProperties.vue
  src/main/webapp/app/module/primary/module-properties/index.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.html
  src/main/webapp/app/module/secondary/RestModuleToApply.ts
  src/main/webapp/app/module/secondary/RestModulesToApply.ts
  src/main/webapp/app/module/secondary/RestProjectHistory.ts
  src/test/features/banner.feature
  src/test/features/codespace.feature
  src/test/features/dummy.feature
  src/test/features/flyway.feature
  src/test/features/github-actions.feature
  src/test/features/gitlab-ci.feature
  src/test/features/gitpod.feature
  src/test/features/hexagonal-architecture-documentation.feature
  src/test/features/infinitest.feature
  src/test/features/jacoco-threshold.feature
  src/test/features/spring-boot-docker.feature
  src/test/features/typescript.feature
  src/test/features/vue.feature
  src/test/java/tech/jhipster/lite/generator/ModulesSteps.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesToApplyTest.java
  src/test/java/tech/jhipster/lite/project/domain/history/ProjectHistoryFixture.java
  src/test/java/tech/jhipster/lite/project/domain/history/ProjectHistoryTest.java
  src/test/javascript/cypress/integration/Landscape.spec.ts
  src/test/javascript/cypress/integration/Patch.spec.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/primary/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatch.spec.ts
Labels: generator: internal

#3277 Fix unknown module selection error
  src/main/webapp/app/module/primary/landscape/ComponentLandscape.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/test/javascript/spec/module/primary/landscape/Landscape.spec.ts
Labels: area: bug :bug:

#3279 Remove unused dependencies
  pom.xml
Labels: generator: internal, area: refactoring

#3282 Create landscape dedicate domain package
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeException.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterFeatureDependency.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeDependency.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeElementType.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeFeature.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeLevel.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeLevels.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterModuleDependency.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleOrganization.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeDependency.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeFeature.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeLevel.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeDependenciesTest.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeFixture.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeTest.java
Labels: area: refactoring

#3284 Rename missleading tag class
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleTag.java
  src/main/java/tech/jhipster/lite/module/domain/resource/InvalidJHipsterModuleTagException.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleApiDoc.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleGroup.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleResource.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTag.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTags.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/OpenApiModulesConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModule.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModules.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterTagsTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTagTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourceFixture.java
Labels: area: refactoring

#3315 Update JWT basic auth dependencies
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/JwtAuthenticationModulesConfiguration.java
Labels: area: bug :bug:

#3318 Delete aop logging module
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/application/AopLoggingApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/AOPLoggingModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/package-info.java
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspect.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspectConfiguration.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspectTest.java.mustache
  src/test/features/aop-logging.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/domain/AopLoggingModuleFactoryTest.java
  tests-ci/generate.sh
Labels: server: spring boot, area: refactoring

#3322 Update spring-boot dependencies
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/SpringBootCoreModuleConfiguration.java
Labels: area: enhancement :wrench:, server: spring boot

#3320 Refactoring: rename to MongoDB
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/InMemoryStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBConfiguration.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongockConfiguration.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/SpringDataMongoDBStatisticsRepository.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/WithMongoDB.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/WithoutMongoDB.java
Labels: generator: internal, area: refactoring

#3321 Typo: infinitest
  src/main/java/tech/jhipster/lite/generator/infinitest/README.md
Labels: area: refactoring, theme: init

#3323 Refactoring: rename vue to vue-core
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/VueModuleConfiguration.java
  src/test/features/vue.feature
  tests-ci/generate.sh
Labels: area: refactoring, client: vue

#3324 Refactoring: rename playwright module
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/infrastructure/primary/CypressModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/infrastructure/primary/PlaywrightModuleConfiguration.java
  src/test/features/playwright.feature
Labels: area: refactoring, theme: tests

#3325 Java ArchUnit depends on Java Base
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/infrastructure/primary/ArchUnitModuleConfiguration.java
Labels: area: bug :bug:, server: java

#3042 Add style from tikui
  .github/actions/setup/action.yml
  .gitignore
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/main/style/atom/atom.pug
  src/main/style/favicon.ico
  src/main/style/index.pug
  src/main/style/layout-documentation.pug
  src/main/style/layout.pug
  src/main/style/molecule/molecule.pug
  src/main/style/organism/organism.pug
  src/main/style/template/template.pug
  src/main/style/tikui.scss
  src/main/webapp/index.html
  tikuiconfig.json
Labels: area: feature request :bulb:, generator: internal

#3326 Refactoring: rename registry to service-discovery
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/ConsulModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/primary/EurekaModuleConfiguration.java
Labels: area: refactoring, theme: microservices

#3344 Remove Ippon banner
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/application/BannerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/BannerModuleConfiguration.java
  src/main/resources/generator/server/springboot/banner/banner-ippon.txt
  src/test/features/banner.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerModuleFactoryTest.java
Labels: server: spring boot, area: refactoring

#3288 Remove mockito inline
  src/main/java/tech/jhipster/lite/ApplicationStartupTraces.java
  src/main/java/tech/jhipster/lite/JHLiteApp.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/ExceptionTranslator.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/exception/HeaderUtil.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/server/springboot/core/ApplicationStartupTraces.java.mustache
  src/main/resources/generator/server/springboot/core/ApplicationStartupTracesTest.java.mustache
  src/main/resources/generator/server/springboot/core/MainApp.java.mustache
  src/main/resources/generator/server/springboot/core/MainAppTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/primary/CustomClaimConverterIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/primary/CustomClaimConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/primary/SecurityConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/test/infrastructure/primary/SecurityConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/main/HeaderUtil.java.mustache
  src/main/resources/generator/server/springboot/mvc/zalandoproblem/test/HeaderUtilTest.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/ExceptionTranslator.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/main/HeaderUtil.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/HeaderUtilTest.java.mustache
  src/test/java/tech/jhipster/lite/ApplicationStartupTracesTest.java
  src/test/java/tech/jhipster/lite/IntegrationTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/exception/HeaderUtilTest.java
  src/test/resources/config/application.properties
Labels: theme: maven, area: refactoring

#3350 Remove no style APIs old stuff
  src/main/java/tech/jhipster/lite/generator/client/react/core/application/ReactCoreApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactCoreModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/StyledApp.tsx.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
  src/test/features/react-jwt.feature
  src/test/features/react.feature
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/resources/projects/react-app/App.tsx
Labels: area: refactoring, theme: client

#3375 Add timeouts to github actions
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI
