Repository seed4j/seed4j, pull requests merged in 2022-02, with the labels that each got.

#628 Spring-cloud: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: microservices

#626 Fix #579 : Use spring boot dependencies bom instead of spring boot pa…
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot

#629 Clean unused import
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/rest/SpringBootUserResourceIT.java
Labels: server: spring boot, area: refactoring

#630 Fix code smells
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootDomainService.java
Labels: server: spring boot, area: refactoring

#633 Fix #621 : Update CORS configurations
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#634 Fix code smells in Security JWT
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
Labels: theme: security, server: spring boot, area: refactoring

#637 Fix generator sequence for User + PostgreSQL
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
Labels: area: bug :bug:, server: spring boot, theme: database

#640 Liquibase: fix User for MySQL with autoIncrement
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/user/user_with_autoincrement.xml.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
Labels: area: bug :bug:, server: spring boot, theme: database migration

#639 Fix #619 : Add integration test for UserJpaRepository
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/domain/SpringBootUserDomainService.java
  src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepository.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepositoryIT.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/user/application/SpringBootUserAssertFiles.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#638 Add history
  pom.xml
  src/main/java/tech/jhipster/lite/common/domain/JsonUtils.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/rest/MavenResource.java
  src/main/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationService.java
  src/main/java/tech/jhipster/lite/generator/history/domain/GeneratorHistoryData.java
  src/main/java/tech/jhipster/lite/generator/history/domain/GeneratorHistoryRepository.java
  src/main/java/tech/jhipster/lite/generator/history/domain/GeneratorHistoryValue.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptor.java
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/history/package-info.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/rest/InitResource.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/infrastructure/primary/rest/NpmResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/infrastructure/primary/rest/JavaBaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoResource.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/SonarResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/rest/SpringBootAsyncResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/rest/EhcacheResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/rest/SpringBootCacheSimpleResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/infrastructure/primary/rest/SpringBootResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/primary/rest/MySQLResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/primary/rest/PostgresqlResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/rest/LiquibaseResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/rest/DevToolsResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/rest/SpringBootDockerResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/aop/infrastructure/primary/rest/AopLoggingResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/infrastructure/primary/rest/DummyResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/rest/JwtSecurityResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/rest/SpringBootMvcResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/primary/rest/SpringCloudConfigResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/rest/ConsulResource.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/user/infrastructure/primary/SpringBootUserResource.java
  src/main/java/tech/jhipster/lite/generator/typescript/infrastructure/primary/TypescriptResource.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/annotation/GeneratorStep.java
  src/main/resources/generator/history/history.json
  src/test/java/tech/jhipster/lite/AnnotationArchTest.java
  src/test/java/tech/jhipster/lite/common/domain/JsonUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/history/application/GeneratorHistoryApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/primary/GeneratorHistoryInterceptorIT.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
Labels: area: feature request :bulb:, generator: internal

#643 Springdoc-openapi: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDoc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: api

#645 Fix code smells: remove public modifier
  src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepositoryIT.java.mustache
Labels: server: spring boot, theme: database, area: refactoring

#646 Testcontainer mysql: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQL.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/BuildToolDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/DependencyTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/ParentTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/generic/domain/PluginTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/application/SpringBootApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/aop/application/AopLoggingApplicationServiceIT.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database

#652 SQL Common: refactoring common part for MySQL and PostgreSQL
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/infrastructure/config/PostgresqlBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfigurationIT.java
Labels: server: spring boot, theme: database, area: refactoring

#654 Add user and authorities with flyway
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResource.java
  src/main/resources/generator/server/springboot/dbmigration/flyway/resources/user/V00000000000000__create_user_authority_tables.sql
  src/main/resources/generator/server/springboot/dbmigration/flyway/resources/user/V00000000000000__create_user_authority_tables_postgresql.sql
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/infrastructure/primary/rest/FlywayResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database migration

#653 Add Frontend Maven Plugin
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/config/FrontendMavenBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResource.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/package-info.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenAssert.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/config/FrontendMavenBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResourceIT.java
Labels: area: feature request :bulb:, theme: maven

#660 Feature: Add ippon ascii banner and api endpoint associated
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/application/BannerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResource.java
  src/main/resources/generator/server/springboot/banner/banner-ippon.txt
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/domain/BannerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/banner/infrastructure/primary/rest/BannerResourceIT.java
Labels: area: enhancement :wrench:, server: spring boot

#659 Add contributing guidelines
  CONTRIBUTING.md
Labels: area: documentation:books:, generator: internal

#666 Clean imports
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/rest/FrontendMavenResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainServiceTest.java
Labels: generator: internal, area: refactoring

#667 Update node and npm lts version
  CONTRIBUTING.md
  src/main/resources/generator/dependencies/pom.xml
Labels: area: dependencies

#668 Init front jhipster lite
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  pom.xml
  sonar-project.properties
  src/main/webapp/app/common/primary/app/App.component.ts
  src/main/webapp/app/common/primary/app/App.html
  src/main/webapp/app/common/primary/app/App.vue
  src/main/webapp/app/common/primary/app/index.ts
  src/main/webapp/app/env.d.ts
  src/main/webapp/app/main.ts
  src/main/webapp/index.html
  src/test/javascript/spec/common/primary/app/App.spec.ts
  tsconfig.json
  vite.config.ts
Labels: area: feature request :bulb:, generator: internal, client: vue

#669 generate Vite+Vue3 client
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVue.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/config/ViteVueBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViveVueResource.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/package-info.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/resources/generator/client/vite/vue3/.eslintrc.js
  src/main/resources/generator/client/vite/vue3/jest.config.js
  src/main/resources/generator/client/vite/vue3/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vite/vue3/tsconfig.json
  src/main/resources/generator/client/vite/vue3/vite.config.ts
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/App.vue.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/index.ts.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/env.d.ts.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/main.ts.mustache
  src/main/resources/generator/client/vite/vue3/webapp/content/images/JHipster-Lite-neon-green.png
  src/main/resources/generator/client/vite/vue3/webapp/content/images/logo.png
  src/main/resources/generator/client/vite/vue3/webapp/index.html.mustache
  src/main/resources/generator/dependencies/vite/vue3/package.json
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/config/ViteVueBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViveVueResourceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: vue

#678 Dependabot: add config for Vite Vue
  .github/dependabot.yml
Labels: area: dependencies, client: vue

#692 Sonar: update configuration for Angular
  sonar-project.properties
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: enhancement :wrench:, theme: ci

#571 Add Angular
  .github/dependabot.yml
  src/main/java/tech/jhipster/lite/generator/client/angular/core/application/AngularApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularService.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/config/AngularBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/AngularResource.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/java/tech/jhipster/lite/generator/project/domain/Constants.java
  src/main/resources/generator/client/angular/angular.json
  src/main/resources/generator/client/angular/jest.conf.js
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app-routing.module.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app-routing.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.css.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.module.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.prod.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.prod.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/polyfills.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/styles.css.mustache
  src/main/resources/generator/client/angular/tsconfig.app.json
  src/main/resources/generator/client/angular/tsconfig.json
  src/main/resources/generator/client/angular/tsconfig.spec.json
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/init/gitignore
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/config/AngularBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/AngularResourceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
Labels: area: feature request :bulb:, client: angular

#700 Angular: fix code smells
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/Angular.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
Labels: area: refactoring, client: angular

#706 CI: add Angular
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI, client: angular

#707 CI: clean labels for fronts
  .github/dependabot.yml
Labels: area: enhancement :wrench:, generator: CI

#716 Add a space between T and E in the banner
  src/main/resources/banner.txt
Labels: area: enhancement :wrench:, generator: internal

#718 Sonar-maven-plugin and Properties-maven-plugin: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/Sonar.java
  src/main/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/domain/SonarTest.java
Labels: area: enhancement :wrench:, theme: maven

#719 Jib-maven-plugin: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDocker.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: docker :whale:

#720 Flyway: use get version, managed by dependabot
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/Flyway.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayDomainServiceTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: database migration

#690 feat: Add MongoDB Support
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongodbApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/Mongodb.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResource.java
  src/main/resources/generator/server/springboot/database/mongodb/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/JSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/MongodbDatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/MongodbTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/TestContainersSpringContextCustomizerFactory.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/mongodb.yml.mustache
  src/main/resources/generator/server/springboot/database/mongodb/spring.factories.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/MongodbAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongodbApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/rest/MongodbResourceIT.java
  tests-ci/config/tomcat-mongodb.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#736 CI: upgrade Node to 16.14.0
  .github/actions/setup/action.yml
Labels: generator: CI, area: dependencies

#738 Vite/Vue: bump Vite to 2.8.2
  src/main/resources/generator/dependencies/vite/vue3/package.json
Labels: area: dependencies

#752 Add codecov yml file
  codecov.yml
Labels: area: enhancement :wrench:, generator: CI

#763 Vite/Vue3: display app name
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainService.java
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/App.html.mustache
  src/main/resources/generator/client/vite/vue3/webapp/app/common/primary/app/StyledApp.html.mustache
Labels: area: enhancement :wrench:, client: vue

#764 Clean imports
  src/test/java/tech/jhipster/lite/common/domain/FileUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/application/SonarApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/sonar/infrastructure/primary/rest/SonarResourceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayAssert.java
Labels: generator: internal, area: refactoring

#765 CI: some refactoring to extract springboot app
  tests-ci/config/springboot.json
  tests-ci/generate.sh
Labels: generator: CI, area: refactoring

#708 Gh codespace
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/application/CodespacesApplicationService.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainService.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesService.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/config/CodespacesBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/rest/CodespacesResource.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/package-info.java
  src/main/resources/generator/setup/codespaces/Dockerfile
  src/main/resources/generator/setup/codespaces/devcontainer.json
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/application/CodespacesApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/application/CodespacesAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/config/CodespacesBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/rest/CodespacesResourceIT.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: docker :whale:

#750 #743 add vite react
  .github/dependabot.yml
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReact.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/config/ViteReactBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ViteReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/package-info.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainService.java
  src/main/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmService.java
  src/main/resources/generator/client/vite/react/jest.config.ts
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/App.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/index.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/index.tsx.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/vite-env.d.ts.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/config/setupTests.ts.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/vite/react/src/test/javascript/spec/common/primary/app/App.test.tsx.mustache
  src/main/resources/generator/client/vite/react/tsconfig.json
  src/main/resources/generator/client/vite/react/vite.config.ts
  src/main/resources/generator/dependencies/vite/react/package.json
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/config/ViteReactBeanConfigurationIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ReactResourceIT.java
  src/test/java/tech/jhipster/lite/generator/packagemanager/npm/domain/NpmDomainServiceTest.java
  tests-ci/config/tomcat-vite-react.json
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: react

#777 Add spring-boot:run as the default maven target
  README.md
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#781 Simplify front import
  jest.config.js
  src/test/javascript/spec/common/primary/app/App.spec.ts
  src/test/javascript/spec/http/AxiosHttp.spec.ts
  tsconfig.json
Labels: area: enhancement :wrench:, generator: internal

#779 Add logback test config on JwtSecurity
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/rest/JwtSecurityResourceIT.java
Labels: area: enhancement :wrench:, server: spring boot

#754 Project primary and secondary
  src/main/webapp/app/generator/domain/Project.ts
  src/main/webapp/app/generator/domain/ProjectService.ts
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
  src/main/webapp/app/http/AxiosHttp.ts
  src/main/webapp/app/main.ts
  src/test/javascript/spec/generator/secondary/ProjectsRepository.spec.ts
  src/test/javascript/spec/http/AxiosHttpStub.ts
  vite.config.ts
Labels: area: feature request :bulb:, generator: internal

#722 Spring Boot Database: refactoring SQL to use a common data base domain service
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/config/MongodbBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQL.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/infrastructure/config/MySQLBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/Postgresql.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/infrastructure/config/SQLCommonBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongodbDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/application/MySQLApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/application/PostgresqlApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
Labels: server: spring boot, theme: database, area: refactoring

#785 Add logback test configuration for Logstash
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/application/LogstashAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/infrastructure/primary/rest/LogstashResourceIT.java
Labels: area: enhancement :wrench:, server: spring boot

#791 Update logback config for Liquibase
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseDomainService.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseAssertFiles.java
Labels: area: enhancement :wrench:, server: spring boot

#792 Bump archunit-junit5-api from 0.22.0 to 0.23.0
  pom.xml
  src/test/resources/archunit.properties
Labels: area: dependencies

#775 Spring cloud / refactoring common dependencies, jhipster registry docker
  src/main/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepository.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommon.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/infrastructure/SpringCloudCommonBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfig.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/infrastructure/config/SpringCloudConfigClientBeanConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/Consul.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaClient.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/infrastructure/config/EurekaBeanConfiguration.java
  src/test/java/tech/jhipster/lite/generator/history/infrastructure/secondary/GeneratorHistoryLocalRepositoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/common/domain/SpringCloudCommonDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigClientDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainServiceTest.java
Labels: server: spring boot, area: refactoring, theme: microservices

#806 Front: improve import with alias @
  jest.config.js
  src/main/webapp/app/generator/domain/ProjectService.ts
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/router/index.ts
  src/test/javascript/spec/common/primary/app/App.spec.ts
  src/test/javascript/spec/common/primary/home/Home.spec.ts
  src/test/javascript/spec/generator/secondary/ProjectsRepository.spec.ts
  src/test/javascript/spec/http/AxiosHttp.spec.ts
  tsconfig.json
  vite.config.ts
Labels: area: enhancement :wrench:, generator: internal

#820 Flyway: fix sequence user and import in UserEntity
  .github/workflows/github-actions.yml
  src/main/resources/generator/server/springboot/dbmigration/flyway/resources/user/V00000000000000__create_user_authority_tables_postgresql.sql
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
  tests-ci/config/flywayapp.json
  tests-ci/generate.sh
Labels: area: bug :bug:, server: spring boot, theme: database migration

#766 [Angular] Improve style (same as Vue)
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/resources/generator/client/angular/angular.json
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.css.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.html.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/content/images/AngularLogo.svg
  src/main/resources/generator/client/angular/src/main/webapp/content/images/JHipster-Lite-neon-red.png
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.prod.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/environments/environment.ts.mustache
  src/main/resources/generator/client/angular/src/main/webapp/index.html.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
Labels: area: enhancement :wrench:, client: angular

#822 CI: add AngularApp and rename another build to ReactApp
  .github/workflows/github-actions.yml
  tests-ci/config/angularapp.json
  tests-ci/config/reactapp.json
  tests-ci/config/tomcat-vite-react.json
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#824 Security JWT: use single controller advice
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/resources/generator/server/springboot/mvc/security/jwt/src/SecurityExceptionTranslator.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityTest.java
Labels: area: bug :bug:, theme: security, server: spring boot

#827 Add CORS configuration
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/cors/CorsFilterConfiguration.java
  src/main/java/tech/jhipster/lite/technical/infrastructure/primary/cors/CorsProperties.java
  src/main/resources/config/application.properties
  src/test/java/tech/jhipster/lite/technical/infrastructure/primary/cors/CorsFilterConfigurationIT.java
  src/test/resources/config/application.properties
Labels: area: enhancement :wrench:, generator: internal

#830 Refactoring: move CORS configuration from Security JWT to Spring MVC
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurity.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvc.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainService.java
  src/main/resources/generator/server/springboot/mvc/web/src/cors/CorsFilterConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/src/cors/CorsProperties.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/cors/CorsFilterConfigurationIT.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/application/JwtSecurityAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtSecurityTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcTest.java
Labels: theme: security, server: spring boot, area: refactoring

#801 Call init project
  src/main/webapp/app/generator/primary/Generator.component.ts
  src/main/webapp/app/generator/primary/Generator.html
  src/main/webapp/app/generator/primary/Generator.vue
  src/main/webapp/app/generator/primary/index.ts
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/router/index.ts
  src/test/javascript/spec/generator/domain/ProjectService.fixture.ts
  src/test/javascript/spec/generator/primary/Generator.spec.ts
  src/test/javascript/spec/generator/secondary/ProjectsRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#839 Maven: forcing UTF-8
  pom.xml
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: area: enhancement :wrench:, theme: maven

#840 Improve config react vue angular
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReact.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainService.java
  src/main/resources/generator/client/angular/angular.json
  src/main/resources/generator/client/vite/react/vite.config.ts
  src/main/resources/generator/client/vite/vue3/vite.config.ts
  src/test/java/tech/jhipster/lite/generator/client/angular/core/application/AngularAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/application/ViteVueAssert.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainServiceTest.java
Labels: area: enhancement :wrench:, client: vue, client: angular, client: react, theme: client

#841 Add redirection to generator page
  src/main/webapp/app/common/primary/home/Home.html
Labels: area: enhancement :wrench:, generator: internal

#842 Archunit: add properties
  src/main/java/tech/jhipster/lite/generator/server/javatool/arch/domain/JavaArchUnitDomainService.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/javatool/arch/archunit.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/application/JavaArchUnitAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/domain/JavaArchUnitDomainServiceTest.java
Labels: area: enhancement :wrench:, server: java

#844 JHLite: add start script and update port [ci skip]
  package.json
  vite.config.ts
Labels: area: enhancement :wrench:, generator: internal

#843 README: update with new fronts
  README.md
  src/test/resources/json/chips.json
  tests-ci/config/angularapp.json
  tests-ci/config/flywayapp.json
  tests-ci/config/full-default.json
  tests-ci/config/reactapp.json
  tests-ci/config/springboot.json
  tests-ci/config/tomcat-configserver.json
  tests-ci/config/tomcat-eureka.json
  tests-ci/config/tomcat-mongodb.json
  tests-ci/config/tomcat-mysql-ehcachexml.json
  tests-ci/config/undertow-consul.json
  tests-ci/config/undertow-simplecache.json
  tests-ci/config/vueapp.json
Labels: area: documentation:books:, generator: internal

#845 Fix sonar issue
  src/main/webapp/app/generator/domain/ProjectService.ts
  src/main/webapp/app/generator/secondary/ProjectRepository.ts
Labels: area: enhancement :wrench:, generator: internal

#846 Fix vue warn message
  src/test/javascript/spec/common/primary/home/Home.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#847 Spring Cloud: update configuration with basename to lower case
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulDomainService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaDomainService.java
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/main/resources/generator/server/springboot/springcloud/eureka/src/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/application/ConsulAssert.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/application/EurekaAssert.java
Labels: area: enhancement :wrench:, server: spring boot, theme: microservices

#850 CI: add Sonar Analysis
  .github/workflows/github-actions.yml
  tests-ci/sonar.sh
Labels: area: enhancement :wrench:, generator: CI

#852 Fix jest configuration
  jest.config.js
Labels: area: enhancement :wrench:, generator: internal

#854 Vue: refactoring by renaming vue3 folder to vue
  .github/dependabot.yml
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/domain/ViteVueDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViveVueResource.java
  src/main/resources/generator/client/vite/vue/.eslintrc.js
  src/main/resources/generator/client/vite/vue/jest.config.js
  src/main/resources/generator/client/vite/vue/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vite/vue/tsconfig.json
  src/main/resources/generator/client/vite/vue/vite.config.ts
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/App.html.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/App.vue.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/StyledApp.html.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/StyledApp.vue.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/index.ts.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/env.d.ts.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/main.ts.mustache
  src/main/resources/generator/client/vite/vue/webapp/content/images/JHipster-Lite-neon-green.png
  src/main/resources/generator/client/vite/vue/webapp/content/images/VueLogo.png
  src/main/resources/generator/client/vite/vue/webapp/index.html.mustache
  src/main/resources/generator/dependencies/vite/vue/package.json
Labels: area: refactoring, client: vue

#861 Prettier some mustache templates
  src/main/resources/generator/server/javatool/arch/HexagonalArchTest.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspect.java.mustache
  src/main/resources/generator/server/springboot/logging/aop/LoggingAspectConfiguration.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/AuthorityJpaRepository.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserConstants.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity.java.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserJpaRepository.java.mustache
Labels: server: spring boot, area: refactoring

#860 Ci sonar analysis for generated projects
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/common/domain/FileUtils.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularDomainService.java
  src/main/resources/generator/client/angular/src/main/webapp/app/common/primary/app/app.component.html.mustache
  src/main/resources/generator/client/vite/vue/webapp/app/common/primary/app/StyledApp.html.mustache
  src/main/resources/generator/server/springboot/user/sqldatabase/UserEntity_without_sequence.java.mustache
  tests-ci/config/consulapp.json
  tests-ci/config/eurekaapp.json
  tests-ci/config/full-default.json
  tests-ci/config/fullapp.json
  tests-ci/config/fullstack.json
  tests-ci/config/mongodbapp.json
  tests-ci/config/mysqlapp.json
  tests-ci/config/tomcat-configserver.json
  tests-ci/config/tomcat-eureka.json
  tests-ci/config/tomcat-mongodb.json
  tests-ci/config/tomcat-mysql-ehcachexml.json
  tests-ci/config/undertow-consul.json
  tests-ci/config/undertow-simplecache.json
  tests-ci/config/undertowapp.json
  tests-ci/generate.sh
  tests-ci/sonar.sh
Labels: area: enhancement :wrench:, generator: CI

#848 Improve front page react generation
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReact.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactService.java
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ViteReactResource.java
  src/main/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViveVueResource.java
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.tsx.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/content.images/JHipster-Lite-neon-blue.png
  src/main/resources/generator/client/vite/react/src/main/webapp/content.images/ReactLogo.png
  src/main/resources/generator/client/vite/react/src/test/javascript/spec/common/primary/app/App.test.tsx.mustache
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/application/ViteReactApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ReactResourceIT.java
  src/test/java/tech/jhipster/lite/generator/client/vite/vue/core/infrastructure/primary/rest/ViveVueResourceIT.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, client: react

#862 React: fix styled page
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/domain/ViteReactDomainService.java
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.tsx.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/app/index.css.mustache
  src/main/resources/generator/client/vite/react/src/main/webapp/content/images/JHipster-Lite-neon-blue.png
  src/main/resources/generator/client/vite/react/src/main/webapp/content/images/ReactLogo.png
  src/main/resources/generator/client/vite/react/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/vite/react/src/test/javascript/spec/common/primary/app/App.test.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#864 Sonar / fix sonar warning multiple tsconfig.json
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: CI

#863 Spring doc / fix base name lowercase
  src/main/java/tech/jhipster/lite/common/domain/WordUtils.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainService.java
  src/main/resources/generator/server/springboot/mvc/springdoc/src/SpringDocConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/springdoc/src/SpringDocConfigurationSecurityJWT.java.mustache
  src/test/java/tech/jhipster/lite/common/domain/WordUtilsTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/application/SpringDocApplicationServiceIT.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/domain/SpringDocDomainServiceTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/springdoc/infrastructure/primary/rest/SpringDocResourceIT.java
Labels: area: bug :bug:, server: spring boot, theme: api

#865 Doc / add docker prerequisites
  CONTRIBUTING.md
Labels: area: documentation:books:, generator: internal

#867 remove volar
  src/main/java/tech/jhipster/lite/generator/client/vite/react/core/infrastructure/primary/ViteReactResource.java
  src/main/resources/generator/client/vite/react/src/main/webapp/app/common/primary/app/StyledApp.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#876 Update to Apache Maven Wrapper 3.1.0 and Maven 3.8.4
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenDomainService.java
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/MavenWrapperDownloader.java.mustache
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.jar
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/mvnw
  src/main/resources/generator/buildtool/maven/mvnw.cmd
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/application/MavenAssertFiles.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/maven/MavenDomainServiceTest.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
Labels: area: enhancement :wrench:, theme: maven
