Repository seed4j/seed4j, pull requests merged in 2023-11, with the labels that each got.

#7912 Typo: srping=>spring
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
Labels: server: java, area: refactoring

#7913 Rename methods (camel case)
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsResource.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/RestProjectHistoryTest.java
Labels: server: java, area: refactoring

#7919 Tikui: increase height for some components to avoid scroll
  src/main/style/atom/atom.pug
  src/main/style/molecule/molecule.pug
  src/main/style/organism/organism.pug
Labels: area: enhancement :wrench:, generator: internal

#7917 Typo
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/infrastructure/primary/DummyMongoDBPersistenceModuleConfiguration.java
Labels: generator: internal, area: refactoring

#7918 Rename constants
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
Labels: server: java, area: refactoring

#7920 Update CONTRIBUTING.md with new parameter spring-configuration-format
  CONTRIBUTING.md
Labels: area: documentation:books:

#7921 Rename method
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
Labels: generator: internal, area: refactoring

#7820 Display the version in navbar
  src/main/style/atom/logo/_logo.scss
  src/main/style/atom/logo/logo.mixin.pug
  src/main/webapp/app/common/primary/header/Header.component.ts
  src/main/webapp/app/common/primary/header/Header.vue
  src/main/webapp/app/main.ts
  src/main/webapp/app/module/domain/ManagementInfo.ts
  src/main/webapp/app/module/domain/ManagementRepository.ts
  src/main/webapp/app/module/secondary/RestManagementRepository.ts
  src/test/javascript/spec/common/primary/header/Header.spec.ts
  src/test/javascript/spec/module/domain/ManagementRepository.fixture.ts
  vite.config.ts
Labels: area: feature request :bulb:, generator: internal

#7926 Remove last gold sponsor: Entando
  README.md
Labels: area: documentation:books:, generator: internal

#7928 Consistency with others modules
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoThresholdModuleConfiguration.java
Labels: area: refactoring

#7929 Rename method
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/infrastructure/primary/GitLabCiModuleConfiguration.java
Labels: area: refactoring

#7936 Sonar: ignore S2699
  sonar-project.properties
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: bug :bug:, generator: internal

#7937 Upgrade JHLite Engine to Spring Boot 3.2.0-RC2
  pom.xml
Labels: generator: internal, area: dependencies

#7942 React: Fix lint command
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/.eslintrc.cjs
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeSlashFilledIcon.tsx.mustache
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: bug :bug:, client: react

#7940 Angular: Inject the PRECONNECT_CHECK_BLOCKLIST token to disable warning during Jest tests
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/test/resources/projects/angular/app.component.spec.ts
Labels: area: enhancement :wrench:, client: angular

#7943 Typo
  src/main/resources/generator/typescript/test/javascript/spec/common/domain/optional/Optional.spec.ts
Labels: generator: internal, area: refactoring

#7946 Vue+Vitest: Remove useless logs
  src/main/resources/generator/client/vue/vitest.config.ts
Labels: client: vue

#7944 Use Java 21 as minimum runtime for jhipster-lite engine
  .github/actions/setup/action.yml
  .github/workflows/github-actions.yml
  Dockerfile
  pom.xml
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddBuildPluginManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectJavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommand.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommandType.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/RemoveDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/RemoveJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/SetVersion.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeFeature.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeElement.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/NpmProjectFormatterTest.java
Labels: area: feature request :bulb:, generator: internal, server: java

#7945 Vue+Vitest: Warning
  src/main/resources/generator/client/vue/test/spec/router/Router.spec.ts.mustache
Labels: client: vue

#7948 Vue: Lint command has 113 errors
  src/main/resources/generator/client/vue/.eslintrc.js
  src/main/resources/generator/client/vue/test/spec/http/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/http/AxiosHttpStub.ts.mustache
  src/main/resources/generator/client/vue/test/spec/http/AxiosStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/http/AxiosHttp.ts.mustache
  src/test/javascript/spec/http/AxiosHttp.spec.ts
Labels: area: bug :bug:, client: vue

#7966 Main engine: Config lint (singleQuote)
  .eslintrc.js
Labels: generator: internal

#7967 Fix punctuation
  README.md
Labels: area: documentation:books:

#7984 Add "name" and "description" attributes to BusinessContext and SharedKernel annotations
  src/main/java/tech/jhipster/lite/BusinessContext.java
  src/main/java/tech/jhipster/lite/SharedKernel.java
  src/main/resources/generator/server/javatool/base/main/BusinessContext.java.mustache
  src/main/resources/generator/server/javatool/base/main/SharedKernel.java.mustache
Labels: area: feature request :bulb:, server: java

#7983 Update documentation and devcontainer for java 21
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  README.md
  pom.xml
Labels: area: feature request :bulb:, generator: internal, server: java

#7986 Contributing.md: Fix punctuation
  CONTRIBUTING.md
Labels: area: documentation:books:

#7982 add license module
  src/main/java/tech/jhipster/lite/generator/setup/license/application/LicenseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/setup/license/domain/LicenseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/license/infrastructure/primary/LicenseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/license/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/setup/license/Apache.txt
  src/main/resources/generator/setup/license/MIT.txt.mustache
  src/test/features/setup/license.feature
  src/test/java/tech/jhipster/lite/generator/setup/license/domain/LicenseModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: init

#7999 Fix typo
  src/main/resources/generator/server/springboot/dbmigration/cassandra/cassandra-migration.md
Labels: area: documentation:books:, server: spring boot, theme: database

#8016 Angular: Fix warning (allowedCommonJsDependencies)
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular

#8015 Front tests: standardize syntax
  src/main/resources/generator/client/react/src/test/javascript/spec/common/services/storage.test.ts.mustache
  src/main/resources/generator/client/vue/test/spec/router/Router.spec.ts.mustache
  src/main/resources/generator/client/vue/test/spec/vue/vue-prop/VueProp.spec.ts
  src/main/resources/generator/typescript/test/javascript/spec/common/domain/optional/Optional.spec.ts
  src/test/javascript/cypress/integration/Landscape.spec.ts
  src/test/javascript/cypress/integration/Patch.spec.ts
  src/test/javascript/spec/common/domain/Optional.spec.ts
  src/test/javascript/spec/common/primary/theme-button/ThemeButton.spec.ts
  src/test/javascript/spec/common/primary/timeout/Timeout.spec.ts
  src/test/javascript/spec/loader/primary/Loader.spec.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.spec.ts
  src/test/javascript/spec/module/domain/landscape/LandscapeSelectionTree.spec.ts
  src/test/javascript/spec/module/domain/landscape/LandscapeUnselectionTree.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeConnector.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/javascript/spec/module/primary/project-actions/ProjectActionsComponent.spec.ts
  src/test/javascript/spec/module/secondary/LocalStorageModuleParametersRepository.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
  src/test/javascript/spec/module/secondary/RestProjectFoldersRepository.spec.ts
Labels: area: refactoring, theme: tests

#8027 Fix: bump prettier-plugin-java from 2.3.1 to 2.4.0
  documentation/cucumber.md
  package-lock.json
  package.json
Labels: area: dependencies

#7998 Angular 17
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.ts.mustache
  src/main/resources/generator/client/angular/core/angular.json
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.ts
  src/main/resources/generator/dependencies/angular/package.json
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/app.component.ts
  src/test/resources/projects/angular/empty-angular.json
Labels: area: dependencies, client: angular, $$ bug-bounty $$, $300

#8049 Fix: Upgrade sonarqube 10.3.0-community
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeSlashFilledIcon.tsx.mustache
  src/main/resources/generator/dependencies/Dockerfile
  src/test/resources/projects/react-app/App.tsx
Labels: area: dependencies

#8018 Remove side-form.scss (unused)
  src/main/style/token/_colors.scss
  src/main/webapp/app/assets/global.scss
  src/main/webapp/app/assets/side-form.scss
  vite.config.ts
Labels: generator: internal, area: refactoring

#8066 Revert "Upgrade JHLite Engine to Spring Boot 3.2.0-RC2"
  pom.xml
Labels: area: dependencies

#8067 Improve gitignore (.attach_pidXXX)
  .gitignore
  src/main/resources/generator/init/gitignore
Labels: area: enhancement :wrench:, theme: init

#8070 Fix: bump org.testcontainers:mongodb from 1.19.1 to 1.19.2
  pom.xml
Labels: area: dependencies

#8069 Add package-info.java in dummy feature
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactory.java
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/package-info.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: java

#8072 Generator: Upgrade Vite 5.0.0
  package-lock.json
  package.json
Labels: area: dependencies

#8071 Vue: Upgrade Vite 5.0.0
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue

#8073 React: Upgrade Vite 5.0.0
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#8068 Refactoring AuthenticatedUserTest
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/test/application/AuthenticatedUserTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/application/AuthenticatedUserTest.java.mustache
Labels: theme: security, server: spring boot, area: refactoring

#8090 Remove custom.css & custom.scss
  src/main/style/token/_token.scss
  src/main/style/token/custom.scss
  src/main/webapp/app/main.ts
  src/main/webapp/content/css/custom.css
Labels: generator: internal, area: refactoring

#8089 Remove global.scss (unused)
  src/main/style/token/_colors.scss
  src/main/webapp/app/assets/global.scss
  vite.config.ts
Labels: generator: internal, area: refactoring

#8126 Fix: font missing
  src/main/style/token/_fonts.scss
Labels: area: bug :bug:, generator: internal

#8127 Native (GraalVM) automated builds
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/docker-image-publish.yml
  .github/workflows/publish-jvm-docker-image.yml
  .github/workflows/publish-native-docker-image.yml
  Dockerfile
  pom.xml
Labels: area: feature request :bulb:, generator: internal

#8128 Fix typo
  src/main/resources/messages/errors/generator-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#8136 Fix typo
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/resources/assertions-errors/assertion-errors-messages_fr.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#8074 Use Java 21 for generated apps
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/ci/gitlab/.gitlab-ci-maven.yml.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile.mustache
  src/main/resources/generator/setup/codespaces/Dockerfile
  src/main/resources/generator/setup/codespaces/devcontainer.json.mustache
  src/main/resources/generator/setup/gitpod/.gitpod.Dockerfile
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
  src/test/resources/projects/init-maven/pom.xml
Labels: area: feature request :bulb:, server: java

#7854 Add 'anchor points' in landscape
  src/main/style/atom/atom.pug
  src/main/style/atom/chip/_chip.scss
  src/main/style/atom/chip/chip.code.pug
  src/main/style/atom/chip/chip.mixin.pug
  src/main/style/root/_root.scss
  src/main/webapp/app/module/domain/AnchorPointState.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
Labels: area: enhancement :wrench:, generator: internal

#8125 add spring boot thymeleaf module
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/application/SpringBootThymeleafApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/infrastructure/primary/SpringBootThymeleafModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/test/features/server/springboot/springboot-thymeleaf.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: client

#8147 Spring-boot 3.2.0
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: server: spring boot, area: dependencies

#8146 add thymeleaf test in the ci
  .github/workflows/github-actions.yml
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: client

#8148 Bump to Keycloak 23.0.0
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/jhipster-realm.json.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/keycloak.yml.mustache
Labels: theme: security, area: dependencies

#8205 Remove duplicated Sonar rule S1133
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: refactoring, theme: CI

#8207 awaitility is now included in spring-boot-starter-test
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
Labels: server: spring boot, server: java, area: refactoring

#8208 Spring Boot: Enable virtual threads
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/resources/config/application.yml
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, server: java
