Repository seed4j/seed4j, pull requests merged in 2023-04, with the labels that each got.

#5861 eslintignore generated only on frontend module
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/resources/generator/client/common/eslint/.eslintignore
  src/test/features/init.feature
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: init

#5878 CI: bump node version and others
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
Labels: area: enhancement :wrench:, theme: ci

#5879 Bump sonarqube to 10.0.0-community
  src/main/docker/sonar.yml
Labels: generator: internal, area: dependencies

#5860 put not emphasized landscape elements in background
  src/main/style/atom/chip/_chip.scss
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#5899 Unused imports
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
Labels: generator: internal, area: refactoring

#5904 Upgrade Angular 15.2.6
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5905 Angular improvements
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/test/resources/projects/angular/app.component.ts
Labels: area: refactoring, client: angular

#5906 Testing with MatDialogHarness
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#5926 React: fix some logs when running npm t
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#5927 React: warning when running npm run lint
  src/main/resources/generator/client/react/.eslintrc.js
Labels: area: enhancement :wrench:, client: react

#5928 React - Fix warning: Unexpected any @typescript-eslint/no-explicit-any
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#5929 Update README with quick start
  README.md
Labels: area: documentation:books:, generator: internal

#5944 add startup command in README.md file
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
Labels: area: triage

#5945 Vue: Vitest 0.30.1
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue

#5964 Replace lambda with method reference
  src/main/resources/generator/server/javatool/base/test/ProjectCollectionsTest.java.mustache
  src/test/java/tech/jhipster/lite/common/domain/JHipsterCollectionsTest.java
Labels: server: java, area: refactoring

#5966 Upgrade Angular 15.2.7
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular, $$ bug-bounty $$, $200

#5990 Bump node to 18.16.0 and npm to 9.6.4
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: generator: internal, area: dependencies

#5991 set spring.jpa.properties.hibernate.cache.use_second_level_cache to true
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/domain/Hibernate2ndLevelCacheModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
Labels: area: feature request :bulb:, server: spring boot, theme: database

#6010 Angular 15.2.8
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6012 Sonar: suppress warnings Monster Class
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
Labels: area: enhancement :wrench:, generator: internal
