Repository seed4j/seed4j, pull requests merged in 2023-01, with the labels that each got.

#4882 Fix: bump @vitest/coverage-istanbul from 0.24.5 to 0.26.2
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
  src/main/resources/generator/dependencies/svelte/package.json
Labels: area: dependencies, client: svelte

#4884 Svelte: Anchor with target=_blank should have rel attribute containing the value noreferrer
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
Labels: area: enhancement :wrench:, client: svelte

#4885 Angular: rework to avoid duplicates 'provideHttpClient(withInterceptorsFromDi())'
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/test/resources/projects/angular/main.ts
Labels: area: bug :bug:, client: angular

#4886 MavenModule: add tests dependencies declaratively
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/dependencies/pom.xml
Labels: area: enhancement :wrench:, theme: maven

#4910 Add copyright script
  .github/workflows/copyright-update.yml
Labels: area: enhancement :wrench:, generator: internal

#4936 Redirection resource not allowing refresh on front (gh-4883)
  src/main/java/tech/jhipster/lite/frontend/infrastructure/primary/RedirectionResource.java
Labels: area: bug :bug:, server: spring boot

#4909 Add spring-mvc-server feature so springdoc-mvc-openapi can depend on it
  src/main/java/tech/jhipster/lite/generator/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/application/SpringBootWebfluxApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/SpringBootWebfluxModuleConfiguration.java
  src/test/features/spring-mvc.feature
  src/test/features/webflux.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
Labels: area: bug :bug:, server: spring boot

#4814 add comment to spring properties
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/Comment.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/JHipsterModuleSpringProperties.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/PropertiesBlockComment.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringComment.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringComments.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringPropertiesBlockComment.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringPropertiesBlockComments.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringProperty.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringPropertyTypeFileName.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal

#4949 Dummy: add missing business context annotation
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/package-info.java
Labels: area: enhancement :wrench:, server: java

#4948 bump to sonarqube:9.8.0-community
  sonar-project.properties
  src/main/docker/sonar.yml
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: dependencies

#4953 CI: factorization in generate.sh for spring-boot
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#4952 CI: Test a minimal generated gradle application
  .github/workflows/github-actions.yml
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: gradle, generator: CI

#4950 JHLite: add git information
  pom.xml
  src/main/java/tech/jhipster/lite/gitinfo/infrastructure/primary/GitInfoConfiguration.java
  src/main/resources/config/application.properties
Labels: area: feature request :bulb:, server: spring boot, generator: internal

#4954 Gradle: use TOML version catalog
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/gradle/libs.versions.toml
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.properties
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: gradle

#4957 Add Git Information for generated Spring Boot applications
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/application/GitInfoApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/infrastructure/primary/GitInfoModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/package-info.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/technicaltools/gitinfo/main/GitInfoConfiguration.java.mustache
  src/test/features/git-info.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot

#4960 CI: add missing prettier module for fullapp
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#4961 Svelte - fix: npm run check
  src/main/resources/generator/client/svelte/src/test/spec/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/svelte/vitest.config.ts
Labels: area: bug :bug:, $$ bug-bounty $$, $200, client: svelte

#4979 bump prettier from 2.8.1 to 2.8.2
  package-lock.json
  package.json
  src/main/glyph/css/jhlite-icons-ie7-codes.css
  src/main/glyph/css/jhlite-icons-ie7.css
Labels: area: dependencies

#4999 Remove Octo Consulting from Gold sponsors
  README.md
Labels: area: documentation:books:

#4980 Change a few api doc group names for harmonization
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/infrastructure/primary/JavaEnumsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/internationalized_errors/infrastructure/primary/InternationalizedErrorsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/optional/infrastructure/primary/OptionalTypescriptModuleConfiguration.java
Labels: area: enhancement :wrench:, generator: internal

#5020 Angular 15.1.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5034 Angular 15.1 Self Closing Tags
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
Labels: area: enhancement :wrench:, client: angular

#5035 Angular: clean code
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.route.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactoryTest.java
Labels: area: refactoring, client: angular

#5036 React: assets not generated by npm run build
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/assets/JHipster-Lite-neon-blue.png
  src/main/resources/generator/client/react/src/main/webapp/assets/ReactLogo.png
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/client/react/vite.config.ts
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/resources/projects/react-app/App.tsx
Labels: area: bug :bug:, client: react

#5090 Vue: bump Axios 1.2.3
  src/main/resources/generator/client/vue/webapp/app/http/AxiosHttp.ts.mustache
  src/main/resources/generator/dependencies/vue/package.json
  src/main/webapp/app/http/AxiosHttp.ts
Labels: area: dependencies, client: vue

#5100 Angular 15.1.1
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5103 bump axios from 1.2.2 to 1.2.3
  package-lock.json
  package.json
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
Labels: area: dependencies

#5168 Angular 15.1.2
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#4958 Feature/issue 877 cassandra support p1
  .github/workflows/github-actions.yml
  CONTRIBUTING.md
  documentation/module-creation.md
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/application/CassandraApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/infrastructure/primary/CassandraModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/package-info.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/database/cassandra/CassandraDatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/CassandraJSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/CassandraJSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/CassandraKeyspaceIT.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/TestCassandraManager.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/cassandra.md
  src/main/resources/generator/server/springboot/database/cassandra/cassandra.yml.mustache
  src/main/resources/generator/server/springboot/database/cassandra/spring.factories.mustache
  src/test/features/cassandra.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/arch/domain/ArchUnitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/generate.sh
  tests-ci/start_docker_compose.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#5150 bump jsdom from 21.0.0 to 21.1.0
  package-lock.json
  package.json
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: dependencies

#5179 Reduce the logs for git-commit-id-maven-plugin
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
Labels: area: enhancement :wrench:, server: spring boot

#5182 Angular: Refactor bootstrapping
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/test/resources/projects/angular/main.ts
Labels: area: enhancement :wrench:, client: angular
