Repository seed4j/seed4j, pull requests merged in 2023-03, with the labels that each got.

#5534 Angular 15.2.1
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5277 Feature/issue 2611 spring factories
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/domain/CassandraMigrationModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/JHipsterModuleSpringFactories.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/PropertyValue.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringFactories.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringFactory.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringFactoryType.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringFactoriesCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringFactoriesHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandler.java
  src/main/resources/generator/server/springboot/database/cassandra/spring.factories.mustache
  src/main/resources/generator/server/springboot/database/mongodb/spring.factories.mustache
  src/main/resources/generator/server/springboot/database/neo4j/spring.factories.mustache
  src/test/java/tech/jhipster/lite/TestFileUtils.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/domain/CassandraMigrationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringFactoriesCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringFactoriesHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesHandlerTest.java
  src/test/resources/projects/project-with-spring-factories/spring.factories
Labels: area: enhancement :wrench:, generator: internal

#5544 fix native container image configuration
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#5547 Fix landscape failures on unknown modules
  src/main/webapp/app/common/domain/Optional.ts
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.spec.ts
Labels: area: bug :bug:, generator: internal

#5536 JHipsterModulePackageJson: Remove dependencies
  src/main/java/tech/jhipster/lite/module/domain/packagejson/JHipsterModulePackageJson.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal

#5590 Angular 15.2.2
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5551 Kipe expression module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/application/KipeApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/infrastructure/primary/KipeExpressionModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/package-info.java
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/kipe-expression.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessContext.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessContextFactory.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessEvaluator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/ElementAccessContext.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/KipeConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/KipeMethodSecurityExpressionHandler.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/KipeMethodSecurityExpressionRoot.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/NullElementAccessContext.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/ObjectAccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/package-info.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessCheckerIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessContextFactoryTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessEvaluatorTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeApplicationService.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeDummy.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeDummyAccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeDummyChild.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/ObjectAccessCheckerTest.java.mustache
  src/test/features/kipe-expression.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot, server: java

#5399 Feature/issue 5324 cassandra dummy
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/application/DummyCassandraPersistenceApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/infrastructure/primary/DummyCassandraPersistenceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/package-info.java
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/cql/00000000000000_create-keyspace.cql.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/cql/00000000000001_create-tables.cql.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/BeerCatalogTable.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/BeerTable.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/CassandraBeerCatalogRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/CassandraBeerRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/SpringDataBeersRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/BeerCatalogTableTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/BeerTableTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/CassandraBeerCatalogRepositoryIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/CassandraBeerRepositoryIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/CassandraBeersResetter.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/SpringDataRepositoryIntTest.java.mustache
  src/test/features/dummy.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactoryTest.java
  src/test/resources/projects/cassandra/application.properties
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database

#5580 feat: add redis dependency and configuration
  .github/workflows/github-actions.yml
  CONTRIBUTING.md
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/application/RedisApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/infrastructure/primary/RedisModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/package-info.java
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/redis/RedisDatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/redis/TestRedisManager.java.mustache
  src/main/resources/generator/server/springboot/database/redis/redis.md.mustache
  src/main/resources/generator/server/springboot/database/redis/redis.yml.mustache
  src/test/features/redis.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/resources/generator/dependencies/Dockerfile
  tests-ci/generate.sh
  tests-ci/start_docker_compose.sh
Labels: area: feature request :bulb:, server: spring boot, server: java, theme: database

#5607 Vue: add lint command
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue

#5605 Move authenticated user files
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/common/domain/AuthenticationModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/resources/generator/server/springboot/mvc/security/common/main/application/AuthenticationException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/main/application/NotAuthenticatedUserException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/main/application/UnknownAuthenticationException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/main/infrastructure/primary/AuthenticationExceptionAdvice.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/main/infrastructure/primary/UnknownAuthenticationException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/common/test/infrastructure/primary/AccountExceptionResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/application/AuthenticatedUser.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/test/application/AuthenticatedUserTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/AccountResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/Authenticator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/application/AuthenticatedUser.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/application/AuthenticatedUserTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, server: java

#5478 React: eslint --fix fails
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/.eslintrc.js
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: bug :bug:, client: react

#5602 Kipe authorization module
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/infrastructure/primary/DummyFeatureModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/application/KipeApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeAuthorizationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/infrastructure/primary/KipeAuthorizationModuleConfiguration.java
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/application/BeerIdAccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/application/BeerResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/application/BeerToCreateAccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/application/BeersAccessesConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/application/BeersApplicationService.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/application/BeerIdAccessCheckerTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/application/BeerToCreateAccessCheckerTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/application/AuthenticatedUser.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/kipe-authorization.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Accesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Action.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/ApplicationAuthorizations.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Resource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/RolesAccesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/package-info.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ActionTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ApplicationAuthorizationsTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/RolesAccessesFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/RolesAccessesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/TestAuthentications.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessContext.java.mustache
  src/test/features/kipe-authorization.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeAuthorizationModuleFactoryTest.java
  src/test/resources/projects/dummy-feature/BeersApplicationService.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: security, server: spring boot, server: java

#5648 Correct Docker image to run jhlite-*.jar instead of jhlite-*-test.jar
  Dockerfile
Labels: area: bug :bug:, theme: docker :whale:

#5681 Bump to MongoDB 6.0.5
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/database/mongodb/TestMongoDBManager.java.mustache
Labels: area: dependencies, theme: database

#5699 Angular 15.2.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5629 React: logout
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#5700 React: Vitest - remove json reporters
  src/main/resources/generator/client/react/vitest.config.ts
Labels: area: enhancement :wrench:, client: react

#5545 Fix Angular OAuth2 with Keycloak
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/test/resources/projects/angular/app.component.ts
Labels: area: bug :bug:, client: angular

#5703 Svelte: Fix warning (<App> was created with unknown prop 'location')
  src/main/resources/generator/client/svelte/src/main/webapp/routes/+page.svelte.mustache
Labels: area: enhancement :wrench:, client: svelte

#5701 React: Button nextui-org/react - replace onClick (deprecated) by onPress
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#5708 remove module count from header
  src/main/webapp/app/common/domain/Statistics.ts
  src/main/webapp/app/common/domain/StatisticsRepository.ts
  src/main/webapp/app/common/primary/header/Header.component.ts
  src/main/webapp/app/common/primary/header/Header.vue
  src/main/webapp/app/common/secondary/RestStatistics.ts
  src/main/webapp/app/common/secondary/RestStatisticsRepository.ts
  src/main/webapp/app/main.ts
  src/test/javascript/spec/common/domain/Statistics.spec.ts
  src/test/javascript/spec/common/primary/header/Header.spec.ts
  src/test/javascript/spec/common/secondary/RestStatisticsRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#5740 add getUsername to ApplicationAuthorizations
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/ApplicationAuthorizations.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ApplicationAuthorizationsTest.java.mustache
Labels: area: enhancement :wrench:, server: spring boot, server: java

#5780 Clean code
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContext.java
  src/test/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactoryTest.java
Labels: area: refactoring, theme: ci, theme: tests

#5778 Angular: remove unused code
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
Labels: area: refactoring, client: angular

#5773 Dependencies: remove duplicated json web token dependency
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaDependenciesReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JHipsterJavaDependenciesVersionsRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/FileSystemProjectJavaDependenciesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/resources/projects/maven-compile-only/pom.xml
  src/test/resources/projects/maven-empty-dependencies/pom.xml
  src/test/resources/projects/maven-with-default-goal/pom.xml
  src/test/resources/projects/maven-with-multiple-webtoken/pom.xml
  src/test/resources/projects/maven/pom.xml
Labels: area: enhancement :wrench:, generator: internal, area: dependencies

#5805 Fix generated GitHub Actions
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-maven.yml.mustache
Labels: area: bug :bug:, theme: ci

#5850 Move simple spring boot cache to Cache group
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/CacheModuleConfiguration.java
Labels: area: bug :bug:, server: spring boot, theme: cache

#5851 Kafka: fix kafka consumer and producer
  src/main/resources/generator/server/springboot/broker/kafka/DummyConsumer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/DummyProducer.java.mustache
Labels: area: bug :bug:, server: spring boot, server: java, theme: broker
