Repository seed4j/seed4j, pull requests merged in 2023-06, with the labels that each got.

#6314 rest local properties storage
  src/main/webapp/app/module/domain/ModuleParametersRepository.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/secondary/LocalStorageModuleParametersRepository.ts
  src/test/javascript/spec/module/domain/ModuleParameters.fixture.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/javascript/spec/module/secondary/LocalStorageModuleParametersRepository.spec.ts
Labels: area: bug :bug:, generator: internal

#6478 Angular 16.0.4
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6479 React app: some improvements
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.css.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/test/resources/projects/react-app/App.tsx
Labels: area: enhancement :wrench:, client: react

#6507 React: Vitest 0.32.0
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/client/react/vitest.config.ts
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: dependencies, client: react

#6538 Angular 16.0.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6565 zone.js 0.13.1
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6580 Angular 16.1.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6585 Angular 16.1.1
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6203 Add upgrade feature
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/GeneratedProjectRepository.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterFileMatcher.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleUpgrade.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterProjectFilesPaths.java
  src/main/java/tech/jhipster/lite/module/domain/ProjectFiles.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestinations.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterFileContent.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterFilesToDelete.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterTemplatedFile.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DependencyId.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ContentReplacers.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterUpgradeFilesReplacement.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterUpgradeFilesReplacements.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/OptionalFileReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/OptionalReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemGeneratedProjectRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFiles.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemProjectFiles.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/docker/FileSystemDockerImagesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaDependenciesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReader.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/file/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyMangementTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemGeneratedProjectRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemProjectFilesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/docker/FileSystemDockerImagesReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaDependenciesReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/FileSystemProjectJavaDependenciesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MalformedAdditionalInformationExceptionTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenScopeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenTypeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/NpmVersionsFixture.java
Labels: area: feature request :bulb:, generator: internal

#6632 Sonarqube 10.1.0-community
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.ts
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/database/mongodb/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConverters.java.mustache
Labels: area: dependencies

#6640 Angular1612
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6647 Improve Sonar analysis
  .github/workflows/github-actions.yml
  tests-ci/sonar.sh
  tests-ci/wait_sonar_analysis.sh
Labels: area: enhancement :wrench:, generator: CI

#6648 Bump sonarqube to 10.1.0-community
  src/main/docker/sonar.yml
Labels: generator: internal, area: dependencies

#6649 Bump node to 18.16.1 and npm to 9.7.2
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: generator: internal, area: dependencies

#6650 Remove Datastax from Gold Sponsor
  README.md
Labels: area: documentation:books:

#6655 Custom readers registrations in tests
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/NpmVersionsFixture.java
Labels: area: enhancement :wrench:, generator: internal

#6664 CI: fix correct jar in release workflow
  .github/workflows/release.yml
Labels: area: bug :bug:, generator: CI

#6717 Angular 16.1.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular
