Repository seed4j/seed4j, pull requests merged in 2023-07, with the labels that each got.

#6800 Angular 16.1.4
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6024 add dark mode support
  src/main/style/atom/chip/_chip.scss
  src/main/style/molecule/field/_field.scss
  src/main/style/root/_root.scss
  src/main/style/template/layout/_layout.scss
  src/main/style/token/color/_brand.scss
  src/main/webapp/app/assets/global.scss
  src/main/webapp/app/common/primary/header/Header.component.ts
  src/main/webapp/app/common/primary/header/Header.vue
  src/main/webapp/app/common/primary/theme-button/ThemeButton.component.ts
  src/main/webapp/app/common/primary/theme-button/ThemeButton.vue
  src/main/webapp/app/common/primary/theme-button/index.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/module/domain/ThemeRepository.ts
  src/main/webapp/app/module/primary/landscape/Landscape.vue
  src/main/webapp/app/module/primary/module-parameters/ModuleParameters.vue
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.vue
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.vue
  src/main/webapp/app/module/primary/tag-filter/TagFilter.vue
  src/main/webapp/app/module/secondary/GetMediaPreference.ts
  src/main/webapp/app/module/secondary/LocalWindowThemeRepository.ts
  src/test/javascript/cypress/integration/Landscape.spec.ts
  src/test/javascript/cypress/integration/Patch.spec.ts
  src/test/javascript/spec/common/primary/theme-button/ThemeButton.spec.ts
  src/test/javascript/spec/module/domain/ThemeRepository.fixture.ts
  src/test/javascript/spec/module/primary/GlobalWindow.fixture.ts
Labels: area: feature request :bulb:, generator: internal

#6806 test: add unit test for LocalWindowThemeRepository and GetMediaPreference.
  src/test/javascript/spec/module/primary/GlobalWindow.fixture.ts
  src/test/javascript/spec/module/secondary/LocalWindowThemeRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#6804 Rename @Generated to @ExcludeFromGeneratedCodeCoverage
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/resources/generator/server/javatool/base/main/ExcludeFromGeneratedCodeCoverage.java.mustache
  src/main/resources/generator/server/pagination/domain/main/AppPageable.java.mustache
  src/main/resources/generator/server/pagination/rest/main/RestAppPageable.java.mustache
  src/main/resources/generator/server/springboot/apidocumentation/springdoccore/SpringdocConfiguration.java.mustache
  src/main/resources/generator/server/springboot/apidocumentation/springdocjwt/SpringdocJWTConfiguration.java.mustache
  src/main/resources/generator/server/springboot/apidocumentation/springdocoauth/SpringdocOAuth2Configuration.java.mustache
  src/main/resources/generator/server/springboot/core/main/ApplicationStartupTraces.java.mustache
  src/main/resources/generator/server/springboot/core/main/MainApp.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/BeerCatalogTable.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/main/infrastructure/secondary/BeerTable.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/jpapersistence/main/infrastructure/secondary/BeerEntity.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/BeerDocument.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/main/infrastructure/secondary/BeersCollectionChangeUnit.java.mustache
  src/main/resources/generator/server/springboot/mvc/frontend/RedirectionResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessEvaluator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/KipeMethodSecurityExpressionRoot.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/NullElementAccessContext.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/ObjectAccessChecker.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
Labels: area: enhancement :wrench:, generator: internal, server: java

#6809 Stylelint dependencies
  package-lock.json
  package.json
  src/main/style/template/layout/_layout.scss
Labels: area: dependencies

#6849 bump @typescript-eslint/parser from 5.61.0 to 6.0.0
  package-lock.json
  package.json
Labels: area: dependencies

#6850 Angular, React, Svelte, Vue: bump @typescript-eslint/eslint-plugin @typescript-eslint/parser
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/dependencies/react/package.json
  src/main/resources/generator/dependencies/svelte/package.json
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies, client: vue, client: angular, client: react, client: svelte

#6861 keycloak-js 22.0.0
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6810 Upgrade to prettier 3
  .github/dependabot.yml
  .github/workflows/docker-image-publish.yml
  .github/workflows/triage.yml
  .lintstagedrc.js
  .prettierrc
  documentation/module-creation.md
  package-lock.json
  package.json
  src/main/glyph/css/jhlite-icons-embedded.css
  src/main/glyph/css/jhlite-icons.css
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/main/resources/generator/server/springboot/mvc/web/resources/404.html
  src/main/webapp/app/common/primary/theme-button/ThemeButton.vue
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/LandscapeFeature.ts
  src/main/webapp/app/module/domain/landscape/LandscapeModule.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/LandscapeConnector.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulePatch.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulePatchCategory.ts
  src/main/webapp/app/module/primary/modules-patch/ComponentModulesPatch.ts
  src/main/webapp/app/module/secondary/LocalWindowThemeRepository.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/content/css/custom.css
  src/main/webapp/index.html
  src/test/javascript/spec/common/domain/Optional.spec.ts
  src/test/javascript/spec/common/secondary/EmitterStub.fixture.ts
  src/test/javascript/spec/common/secondary/alert/MittAlertBus.spec.ts
  src/test/javascript/spec/http/AxiosHttpStub.ts
  src/test/javascript/spec/http/AxiosStub.ts
  src/test/javascript/spec/module/domain/ModuleParameters.fixture.ts
  src/test/javascript/spec/module/domain/Modules.fixture.ts
  src/test/javascript/spec/module/domain/ProjectFolders.fixture.ts
  src/test/javascript/spec/module/domain/landscape/Landscape.fixture.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeScroller.spec.ts
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/javascript/spec/module/secondary/RestModulesRepository.spec.ts
Labels: generator: internal, area: dependencies

#6878 Dockerfile: force clean jar
  Dockerfile
Labels: area: enhancement :wrench:, generator: internal, theme: docker :whale:

#6880 Add dedicated spring profiles
  .gitignore
  README.md
  src/main/resources/config/application-angular.properties
  src/main/resources/config/application-react.properties
  src/main/resources/config/application-svelte.properties
  src/main/resources/config/application-vue.properties
Labels: area: enhancement :wrench:, generator: internal

#6881 Add missing package info in gitinfo
  src/main/java/tech/jhipster/lite/gitinfo/package-info.java
Labels: area: enhancement :wrench:, generator: internal

#6882 Refactoring: move IndentationTest to same package than Indentation
  src/test/java/tech/jhipster/lite/module/domain/IndentationTest.java
Labels: generator: internal, area: refactoring

#6883 Angular 16.1.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular, $$ bug-bounty $$, $300

#6884 Refactoring improve engine code
  src/main/java/tech/jhipster/lite/common/domain/Enums.java
  src/main/java/tech/jhipster/lite/common/domain/Memoizers.java
  src/main/java/tech/jhipster/lite/error/infrastructure/primary/GeneratorErrorsHandler.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPort.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsFactory.java
  src/main/resources/generator/server/javatool/enums/main/Enums.java.mustache
  src/main/resources/generator/server/javatool/memoizers/Memoizers.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/main/ApplicationErrorsHandler.java.mustache
Labels: generator: internal, area: refactoring

#6885 Svelte: disable module, remove from dependabot and github actions build
  .github/dependabot.yml
  .github/workflows/github-actions.yml
  CONTRIBUTING.md
  README.md
  src/main/resources/config/application-svelte.properties
  src/main/resources/config/application.properties
Labels: client: svelte, theme: client, area: remove

#6891 Release drafter: add remove section [ci skip]
  .github/release-drafter.yml
Labels: area: enhancement :wrench:, generator: CI

#6892 CI: fix status checks [ci skip]
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, generator: CI

#6893 README: add jhipster lite sample app link
  README.md
Labels: area: documentation:books:, generator: internal

#6894 Revert "CI: fix status checks [ci skip]"
  .github/workflows/github-actions.yml
Labels: generator: CI, area: invalid

#6895 CI: try to fix status checks [ci skip]
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#6897 CI: add workflow dispatch
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#6902 Release drafter: move dependencies at the end of release note
  .github/release-drafter.yml
Labels: area: enhancement :wrench:, generator: CI

#6903 CI: try to fix status checks
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#6901 CI: display md5 of generated projects
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#6900 Add getInstantOrDefault method to JHipster Module Properties
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterModulePropertiesTest.java
Labels: area: enhancement :wrench:, generator: internal

#6930 Prettier: format some templates
  src/main/resources/generator/server/springboot/apidocumentation/springdoccore/SpringdocConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/hibernate2ndlevelcache/test/Hibernate2ndLevelCacheConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/database/mariadb/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mssql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mysql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/postgresql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/AsyncSpringLiquibase.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationAssertions.java.mustache
Labels: area: enhancement :wrench:, server: java

#6939 Bump node to 18.17.0 and npm to 9.8.1
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
Labels: generator: internal, area: dependencies

#6940 Angular 16.1.6
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6931 Reproductible builds
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/application/FlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/application/DummyFlywayApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/application/DummyLiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  tests-ci/modulePayload.json
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#6941 Improve logback configuration in generated apps
  src/main/resources/generator/server/springboot/core/main/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/test/logback.xml.mustache
  src/main/resources/logback-spring.xml
Labels: area: enhancement :wrench:, server: spring boot

#6904 Switch to non-parallel stream in REST pagination mapping (Fixes #6803)
  src/main/resources/generator/server/pagination/jpa/AppPages.java.mustache
  src/main/resources/generator/server/pagination/rest/main/RestAppPage.java.mustache
Labels: area: enhancement :wrench:, generator: internal

#6958 Logback enhancements
  src/main/resources/generator/server/springboot/core/main/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/test/logback.xml.mustache
  src/main/resources/logback-spring.xml
Labels: area: enhancement :wrench:, server: spring boot

#6960 Spring boot upgrade
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: area: bug :bug:, theme: security, server: spring boot, area: dependencies

#6917 Gradle: Handle AddDirectJavaDependency command
  src/main/java/tech/jhipster/lite/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/DependencySlug.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ContentReplacers.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/MandatoryFileReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/MandatoryReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleDependencyScope.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/gradle/libs.versions.toml
  src/test/java/tech/jhipster/lite/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: area: feature request :bulb:, theme: gradle

#6974 Code cleanup
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/NpmProjectFormatter.java
Labels: generator: internal, area: refactoring

#6975 Generated fluent asserter for arrays
  src/main/resources/generator/server/javatool/base/main/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/test/AssertTest.java.mustache
Labels: area: enhancement :wrench:, server: java

#6993 Refactoring DatabaseConfiguration
  src/main/resources/generator/server/springboot/database/mariadb/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mssql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mysql/DatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/postgresql/DatabaseConfiguration.java.mustache
Labels: server: spring boot, theme: database, area: refactoring

#6994 Refactoring: liquibase
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
Labels: server: spring boot, theme: database migration, area: refactoring

#6995 Consul: improve logger
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: microservices

#6999 Sonar: code smell - Unnecessary use of boolean literals in conditional expression
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
Labels: generator: internal, area: refactoring

#6998 Refactoring: gitinfo to technical
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/resources/generator/server/springboot/technicaltools/gitinfo/main/GitInfoConfiguration.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactoryTest.java
Labels: server: spring boot, area: refactoring

#7013 Angular 16.1.7
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#7037 Springdoc logger
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: api

#7038 CorsFilterConfiguration logger should be static
  src/main/java/tech/jhipster/lite/security/infrastructure/primary/CorsFilterConfiguration.java
Labels: area: triage

#7039 Avoid landscape navigation when focus on a property field
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: bug :bug:, generator: internal
