Repository seed4j/seed4j, pull requests merged in 2023-02, with the labels that each got.

#5254 Angular: new inject() function
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#5269 Angular 15.1.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5270 Angular 15: interceptor as a function
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
  src/test/resources/projects/angular/main.ts
Labels: area: enhancement :wrench:, client: angular

#5271 Rename module with empty
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/SpringBootWebfluxModuleConfiguration.java
  src/test/features/git-info.feature
  src/test/features/spring-mvc.feature
  src/test/features/webflux.feature
Labels: area: bug :bug:, server: spring boot

#5102 refactor CustomClaimConverter
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/infrastructure/primary/OAuth2ModuleConfiguration.java
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/CustomClaimConverter.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/CustomClaimConverterTest.java.mustache
  tests-ci/generate.sh
Labels: theme: security, server: spring boot, area: refactoring

#5273 Angular: Improve accessibility
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/test/resources/projects/angular/app.component.html
Labels: area: enhancement :wrench:, client: angular, $$ bug-bounty $$, $200

#5274 Angular: improve SEO
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
Labels: area: enhancement :wrench:, client: angular

#5275 React: Lighthouse
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.css.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/index.html.mustache
Labels: area: enhancement :wrench:, client: react

#5276 Svelte: Lighthouse
  src/main/resources/generator/client/svelte/src/main/webapp/app.html.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
Labels: area: enhancement :wrench:, client: svelte

#5180 Feature/issue 5181 cassandra migration support
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/application/CassandraMigrationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/domain/CassandraMigrationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/infrastructure/primary/CassandraMigrationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/package-info.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestination.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/dbmigration/cassandra/Cassandra-Migration.Dockerfile.mustache
  src/main/resources/generator/server/springboot/dbmigration/cassandra/README.md
  src/main/resources/generator/server/springboot/dbmigration/cassandra/TestCassandraMigrationLoader.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/cassandra/autoMigrate.sh
  src/main/resources/generator/server/springboot/dbmigration/cassandra/cassandra-migration.md
  src/main/resources/generator/server/springboot/dbmigration/cassandra/cassandra-migration.yml
  src/main/resources/generator/server/springboot/dbmigration/cassandra/create-migration-keyspace.cql
  src/main/resources/generator/server/springboot/dbmigration/cassandra/execute-cql.sh
  src/test/features/cassandra.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/domain/CassandraMigrationModuleFactoryTest.java
  src/test/resources/projects/cassandra/spring.factories
  tests-ci/generate.sh
  tests-ci/start_docker_compose.sh
Labels: area: feature request :bulb:, server: spring boot, theme: database, theme: database migration

#5272 Fix cucumber dependency to spring server mvc/webflux
  src/main/java/tech/jhipster/lite/generator/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber/infrastructure/primary/CucumberModuleConfiguration.java
  src/test/features/api-doc.feature
  src/test/features/cucumber-authentication.feature
  src/test/features/cucumber.feature
  src/test/features/modules.feature
  tests-ci/generate.sh
Labels: area: bug :bug:, server: spring boot

#5301 Bump sonarqube to 9.9.0-community
  src/main/docker/sonar.yml
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/sonar/sonar.yml.mustache
Labels: area: dependencies

#5332 Angular 15.1.4
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5336 Angular: Upgrade angular-devkit/build-angular 15.1.5
  src/main/resources/generator/client/angular/core/tsconfig.json
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5337 Angular: Avoid showing invisible text while custom fonts load
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
Labels: area: enhancement :wrench:, client: angular

#5339 Angular: Upgrade all eslint dependencies
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5340 Bump node to 18.14.0 and npm to 9.4.2
  pom.xml
Labels: generator: internal, area: dependencies

#5392 Angular 15.1.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5393 Add test classifier for local build
  pom.xml
  tests-ci/start.sh
Labels: area: enhancement :wrench:, generator: CI

#5338 Angular: Jest 29
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5352 jhlite custom: ignore all children of a parent module
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterHiddenModules.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterHiddenResourcesProperties.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesResourcesConfiguration.java
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
  src/test/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeFixture.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourceFixture.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourcesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesResourcesConfigurationTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
Labels: area: enhancement :wrench:, generator: internal

#5459 Upgrade: Angular 15.2.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#5475 Avoid building Docker image on main branch
  .github/workflows/docker-image-publish.yml
Labels: area: bug :bug:, generator: CI, theme: docker :whale:

#5474 Bump to Spring boot 3.0.3
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
Labels: server: spring boot, area: dependencies

#5476 Fix code smells in ReactJWT and Vue modules
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
Labels: area: refactoring, client: vue, client: react
