Repository seed4j/seed4j, pull requests merged in 2023-12, with the labels that each got.

#8220 Switch to yaml by default
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/test/features/server/springboot/database/mariadb.feature
  src/test/features/server/springboot/database/mssql.feature
  src/test/features/server/springboot/database/mysql.feature
  src/test/features/server/springboot/database/postgresql.feature
  src/test/features/server/springboot/security/oauth2.feature
  src/test/features/server/springboot/springboot-actuator.feature
  src/test/features/server/springboot/springdoc.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/domain/SpringDocAuth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringDocOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/domain/SpringDocOktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/domain/Neo4jMigrationsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/Oauth2OktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: feature request :bulb:, server: spring boot, server: java

#8221 Landscape: button to re-apply a module
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.component.ts
  src/main/webapp/app/module/primary/landscape-module/LandscapeModule.html
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: feature request :bulb:, generator: internal

#8222 Handle more spring properties as numeric values
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EHCacheModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#8224 Fix re-apply
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: bug :bug:, generator: internal

#8228 Fix typo
  src/main/resources/messages/errors/generator-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#8261 Fix: bump @vitejs/plugin-vue from 4.5.0 to 4.5.1
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.html.mustache
  src/main/resources/generator/dependencies/vue/package.json
Labels: area: dependencies

#8257 Update KafkaConfiguration
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/broker/kafka/KafkaConfiguration.java.mustache
Labels: area: enhancement :wrench:, server: spring boot, theme: broker

#8259 Use yaml by default in UI
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
Labels: area: enhancement :wrench:, generator: internal

#8262 Clean code
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#8223 Refactoring: Tikui landscape-module
  src/main/style/organism/landscape-module/landscape-module.code.pug
  src/main/style/organism/landscape-module/landscape-module.md
  src/main/style/organism/landscape-module/landscape-module.mixin.pug
  src/main/style/organism/landscape-module/landscape-module.render.pug
  src/main/style/organism/landscape/landscape.mixin.pug
Labels: generator: internal, area: refactoring

#8283 Vitest 1.0.1
  package-lock.json
  package.json
  vitest.config.ts
Labels: area: dependencies

#8229 add htmx webjars module
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/application/WebjarsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/domain/WebjarsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/infrastructure/primary/WebjarsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/features/server/webjars/webjars.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/webjars/domain/WebjarsModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: client

#8295 add skeleton layout and index files
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/application/ThymeleafTemplateModuleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/infrastructure/primary/ThymeleafTemplateModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/server/springboot/thymeleaf/template/src/main/resources/static/css/application.css.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/src/main/resources/templates/index.html.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/src/main/resources/templates/layout/main.html.mustache
  src/test/features/server/springboot/springboot-thymeleaf.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: client

#8325 fix: added git release info.
  pom.xml
  src/main/webapp/app/common/primary/header/Header.component.ts
  src/main/webapp/app/module/domain/ManagementInfo.ts
  src/test/javascript/spec/common/primary/header/Header.spec.ts
Labels: area: bug :bug:, generator: internal, generator: cloud

#8329 updates InternationalizedErrors module dependency
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/internationalized_errors/infrastructure/primary/InternationalizedErrorsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/infrastructure/primary/SpringBootWebfluxModuleConfiguration.java
Labels: area: enhancement :wrench:, server: spring boot, theme: webflux

#8330 fix: updated git version in consul module.
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/resources/generator/server/springboot/springcloud/consul/src/bootstrap.properties.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: java, theme: microservices

#8379 Bump actions/download-artifact and actions/upload-artifact to v4
  .github/workflows/github-actions.yml
  .github/workflows/release.yml
Labels: area: dependencies

#8380 Bug: yaml configuration for Kafka Module
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandler.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
Labels: area: bug :bug:, server: spring boot, theme: broker

#8381 Use prettier plugin for formatting cucumber feature files
  .lintstagedrc.js
  .prettierrc
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/prettier/.lintstagedrc.js
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/beers-catalog.feature
  src/test/features/buildtool/gradle.feature
  src/test/features/buildtool/maven.feature
  src/test/features/ci/github-actions.feature
  src/test/features/client/angular-health.feature
  src/test/features/client/angular-jwt.feature
  src/test/features/client/angular-oauth2.feature
  src/test/features/client/browser-test/playwright.feature
  src/test/features/client/svelte.feature
  src/test/features/client/vue.feature
  src/test/features/custom-jhlite.feature
  src/test/features/dummy.feature
  src/test/features/init.feature
  src/test/features/projects.feature
  src/test/features/server/java-base.feature
  src/test/features/server/javatool/memoizers.feature
  src/test/features/server/springboot/broker/apache-kafka.feature
  src/test/features/server/springboot/broker/pulsar.feature
  src/test/features/server/springboot/database/cassandra.feature
  src/test/features/server/springboot/database/mongodb.feature
  src/test/features/server/springboot/database/redis.feature
  src/test/features/server/springboot/security/jwt-authentication.feature
  src/test/features/server/springboot/spring-boot-docker.feature
  src/test/features/server/springboot/springboot-actuator.feature
  src/test/features/server/springboot/springboot-thymeleaf.feature
  src/test/features/server/springboot/springcloud/cloud-config.feature
  src/test/features/server/springboot/springcloud/consul.feature
  src/test/features/server/springboot/springcloud/eureka.feature
  src/test/features/server/springboot/springcloud/gateway.feature
  src/test/features/server/springboot/webflux.feature
  src/test/features/server/webjars/webjars.feature
  src/test/features/statistics.feature
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/resources/generator/common/.lintstagedrc.js
  src/test/resources/projects/init/.lintstagedrc.js
Labels: area: feature request :bulb:, theme: tests

#8403 Vitest: React app generated must fail when coverage is not 100%
  src/main/resources/generator/client/react/vitest.config.ts
Labels: area: bug :bug:, client: react

#8404 Generator must fail when coverage is not 100%
  vitest.config.ts
Labels: area: bug :bug:, generator: internal

#8401 Vue app generated has not 100% coverage
  src/main/resources/generator/client/vue/vitest.config.ts
Labels: area: bug :bug:, client: vue

#8402 Vue app generated must fail when coverage is not 100%
  src/main/resources/generator/client/vue/vitest.config.ts
Labels: area: bug :bug:, client: vue

#8440 Typo
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemYamlSpringCommentsCommandsHandlerTest.java
Labels: area: refactoring

#8326 Support adding maven build extension
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/JHipsterModuleMavenBuildExtensions.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/MavenBuildExtension.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenBuildExtension.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommand.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/resources/projects/maven-with-extensions/pom.xml
Labels: area: feature request :bulb:, theme: maven

#8439 Use new Java 21 methods introduced on java.util.List
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacer.java
  src/test/java/tech/jhipster/lite/cucumber/CucumberConfiguration.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
Labels: generator: internal, area: refactoring

#8430 Initial support for adding java build profiles
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/buildproperties/BuildProperty.java
  src/main/java/tech/jhipster/lite/module/domain/buildproperties/JHipsterModuleBuildProperties.java
  src/main/java/tech/jhipster/lite/module/domain/buildproperties/PropertyKey.java
  src/main/java/tech/jhipster/lite/module/domain/buildproperties/PropertyValue.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddJavaBuildProfile.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommand.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/SetBuildProperty.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/BuildProfileActivation.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/BuildProfileId.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfile.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfiles.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenDependencyErrorKey.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MissingMavenProfileException.java
  src/main/resources/messages/errors/generator-errors-messages.properties
  src/main/resources/messages/errors/generator-errors-messages_fr.properties
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/resources/projects/maven-with-local-profile-and-properties/pom.xml
  src/test/resources/projects/maven-with-local-profile/pom.xml
Labels: area: feature request :bulb:, theme: maven

#8466 Upgrade prettier-plugin-gherkin to 2.2.1
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/beers-catalog.feature
  src/test/features/client/vue.feature
  src/test/features/statistics.feature
Labels: area: dependencies, theme: tests

#8327 add webjars thymeleaf template modules
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/application/ThymeleafTemplateModuleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/infrastructure/primary/ThymeleafTemplateModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/test/features/server/springboot/springboot-thymeleaf.feature
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: client
