Repository seed4j/seed4j, pull requests merged in 2023-08, with the labels that each got.

#7066 Added a line break between assertions and operation in from(Page<S> s…
  src/main/resources/generator/server/pagination/jpa/AppPages.java.mustache
Labels: server: java, area: refactoring

#7081 Property has been removed
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactory.java
  src/test/features/springboot-actuator.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#7090 Angular 16.1.8
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#6976 Organize features in thematic folders to better apprend them
  src/test/features/buildtool/gradle.feature
  src/test/features/buildtool/maven.feature
  src/test/features/ci/github-actions.feature
  src/test/features/ci/gitlab-ci.feature
  src/test/features/client/angular-health.feature
  src/test/features/client/angular-jwt.feature
  src/test/features/client/angular-oauth2.feature
  src/test/features/client/react-jwt.feature
  src/test/features/client/react.feature
  src/test/features/client/svelte.feature
  src/test/features/client/vue.feature
  src/test/features/server/broker/apache-kafka.feature
  src/test/features/server/broker/pulsar.feature
  src/test/features/server/cache/caffeine-cache.feature
  src/test/features/server/cache/ehcache.feature
  src/test/features/server/cache/simple-cache.feature
  src/test/features/server/database/cassandra.feature
  src/test/features/server/database/mariadb.feature
  src/test/features/server/database/mongock.feature
  src/test/features/server/database/mongodb.feature
  src/test/features/server/database/mssql.feature
  src/test/features/server/database/mysql.feature
  src/test/features/server/database/neo4j.feature
  src/test/features/server/database/postgresql.feature
  src/test/features/server/database/redis.feature
  src/test/features/server/dbmigration/flyway.feature
  src/test/features/server/dbmigration/liquibase.feature
  src/test/features/server/dbmigration/neo4j-migrations.feature
Labels: area: refactoring, theme: tests

#7100 Adding workflow dispatch in release drafter
  .github/workflows/release-drafter.yml
Labels: area: enhancement :wrench:, generator: CI

#7052 Refactor RestAppPage formatting (#7033) - Improved method with prope…
  src/main/resources/generator/server/pagination/rest/main/RestAppPage.java.mustache
Labels: server: spring boot, server: java, area: refactoring

#7105 [React] Upgrade NextUI 2
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/JHipsterModulePackageJson.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageJsonType.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/resources/generator/client/react/postcss.config.js
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeSlashFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/tailwind.config.js
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/resources/projects/react-app/index.css
  src/test/resources/projects/react-app/index.tsx
Labels: area: dependencies, client: react, $$ bug-bounty $$, $300

#7152 Reorganize JPA pagination resources
  src/main/java/tech/jhipster/lite/generator/server/pagination/jpa/domain/JpaPaginationModuleFactory.java
  src/main/resources/generator/server/pagination/jpa/main/AppPages.java.mustache
  src/main/resources/generator/server/pagination/jpa/test/AppPagesTest.java.mustache
Labels: server: java, area: refactoring

#7151 Angular 16.2.0
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#7158 Reorganize MongoDb resources
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/resources/generator/server/springboot/database/mongodb/main/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/main/MongodbDatabaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/test/JSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/test/TestMongoDBManager.java.mustache
Labels: server: java, area: refactoring

#7103 Generator: Executes integration tests with a configuration derived from application configuration
  src/test/java/tech/jhipster/lite/IntegrationTest.java
  src/test/java/tech/jhipster/lite/cucumber/CucumberConfiguration.java
  src/test/resources/config/application-test.properties
Labels: generator: internal

#7179 Update redirection resource
  src/main/resources/generator/server/springboot/mvc/frontend/RedirectionResource.java.mustache
Labels: area: enhancement :wrench:, server: spring boot

#7161 Remove password grant from OAuth2 configuration
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/OAuth2Configuration.java.mustache
Labels: area: triage

#7191 Remove password from code
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#7194 Replace Generated annotation usages by ExcludeFromGeneratedCodeCoverage in JHLite
  src/main/java/tech/jhipster/lite/module/domain/JHipsterSlug.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DependencyId.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandler.java
  src/main/java/tech/jhipster/lite/project/domain/download/Project.java
  src/main/java/tech/jhipster/lite/shared/generation/domain/Generated.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/AppliedModuleDocument.java
  src/test/resources/projects/files/MainApp.java
Labels: generator: internal

#7195 Delete UnauthorizedValueException
  src/main/java/tech/jhipster/lite/shared/error/domain/UnauthorizedValueException.java
  src/test/java/tech/jhipster/lite/shared/error/domain/UnauthorizedValueExceptionTest.java
Labels: generator: internal

#7209 Angular 16.2.1
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#7226 Remove unused imports
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsTest.java
Labels: area: refactoring

#7263 bump prettier-plugin-java from 2.2.0 to 2.3.0
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoThresholdModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/simple/domain/SimpleCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/domain/CassandraMigrationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleAfterReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulesToApplyTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringFactoriesCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringFactoriesHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/docker/FileSystemDockerImagesReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/RestProjectHistoryTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/NpmProjectFormatterTest.java
  src/test/java/tech/jhipster/lite/shared/projectfolder/infrastructure/primary/ForcedProjectFolderPrefixIntTest.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepositoryIntTest.java
Labels: area: dependencies, server: java

#7224 okta platinum sponser removed
  README.md
Labels: area: documentation:books:, generator: internal

#7264 Angular: angular.json missing property 'browserTarget'
  src/main/resources/generator/client/angular/core/angular.json
  src/test/resources/projects/angular/angular.json
Labels: area: enhancement :wrench:, client: angular

#7104 generated-application: Executes integration tests with a configuration derived from application configuration
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/domain/Hibernate2ndLevelCacheModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/domain/Neo4jMigrationsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringProfile.java
  src/main/resources/generator/server/springboot/core/test/IntegrationTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/test/features/server/database/mariadb.feature
  src/test/features/server/database/mssql.feature
  src/test/features/server/database/mysql.feature
  src/test/features/server/database/postgresql.feature
  src/test/features/springdoc.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringDocOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mariadb/domain/MariaDBModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mssql/domain/MsSQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/mysql/domain/MySQLModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/postgresql/domain/PostgresqlModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/domain/Neo4jMigrationsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtAuthenticationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#7091 Gradle : support for removing direct dependency
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/VersionsCatalog.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: generator: internal, theme: gradle

#7283 Fix typo on ProjectErrorKey.UNKNOWN_PROJECT
  src/main/java/tech/jhipster/lite/project/domain/ProjectErrorKey.java
  src/main/java/tech/jhipster/lite/project/domain/UnknownProjectException.java
  src/test/java/tech/jhipster/lite/project/domain/UnknownProjectExceptionTest.java
Labels: generator: internal, area: refactoring

#7282 Use checkstyle to check for unused imports during build
  checkstyle.xml
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#7281 Bump to Node 18.17.1
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
Labels: generator: internal, area: dependencies

#7285 Angular 16.2.2
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#7286 Apply checkstyle to test sources
  pom.xml
Labels: area: enhancement :wrench:, generator: internal

#7289 More categorization of cucumber features tests in thematic packages
  src/test/features/client/browser-test/cypress.feature
  src/test/features/client/browser-test/playwright.feature
  src/test/features/server/java-base.feature
  src/test/features/server/javatool/arch-unit.feature
  src/test/features/server/javatool/frontend-maven.feature
  src/test/features/server/javatool/jacoco-threshold.feature
  src/test/features/server/javatool/java-enums.feature
  src/test/features/server/javatool/memoizers.feature
  src/test/features/server/sonar.feature
  src/test/features/server/springboot/async.feature
  src/test/features/server/springboot/banner.feature
  src/test/features/server/springboot/broker/apache-kafka.feature
  src/test/features/server/springboot/broker/pulsar.feature
  src/test/features/server/springboot/cache/caffeine-cache.feature
  src/test/features/server/springboot/cache/ehcache.feature
  src/test/features/server/springboot/cache/simple-cache.feature
  src/test/features/server/springboot/cucumber.feature
  src/test/features/server/springboot/database/cassandra.feature
  src/test/features/server/springboot/database/hibernate-2nd-level-cache.feature
  src/test/features/server/springboot/database/mariadb.feature
  src/test/features/server/springboot/database/mongodb.feature
  src/test/features/server/springboot/database/mssql.feature
  src/test/features/server/springboot/database/mysql.feature
  src/test/features/server/springboot/database/neo4j.feature
  src/test/features/server/springboot/database/postgresql.feature
  src/test/features/server/springboot/database/redis.feature
  src/test/features/server/springboot/dbmigration/flyway.feature
  src/test/features/server/springboot/dbmigration/liquibase.feature
  src/test/features/server/springboot/dbmigration/mongock.feature
  src/test/features/server/springboot/dbmigration/neo4j-migrations.feature
  src/test/features/server/springboot/dev-tools.feature
  src/test/features/server/springboot/internationalized-errors.feature
  src/test/features/server/springboot/logstash.feature
  src/test/features/server/springboot/pagination.feature
  src/test/features/server/springboot/security/cucumber-authentication.feature
  src/test/features/server/springboot/security/jwt-authentication.feature
  src/test/features/server/springboot/security/kipe-authorization.feature
  src/test/features/server/springboot/security/kipe-expression.feature
  src/test/features/server/springboot/security/oauth2.feature
  src/test/features/server/springboot/spring-boot-core.feature
  src/test/features/server/springboot/spring-boot-docker.feature
  src/test/features/server/springboot/spring-mvc.feature
  src/test/features/server/springboot/springboot-actuator.feature
  src/test/features/server/springboot/springcloud/cloud-config.feature
  src/test/features/server/springboot/springcloud/consul.feature
  src/test/features/server/springboot/springcloud/eureka.feature
  src/test/features/server/springboot/springcloud/gateway.feature
  src/test/features/server/springboot/springdoc.feature
  src/test/features/server/springboot/webflux.feature
  src/test/features/setup/codespace.feature
  src/test/features/setup/gitpod.feature
  src/test/features/setup/infinitest.feature
  src/test/features/statistics.feature
Labels: generator: internal, area: refactoring

#7287 Checkstyle module to check for unused imports during build
  src/main/java/tech/jhipster/lite/generator/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/application/CheckstyleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/infrastructure/primary/CheckstyleModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/package-info.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/javatool/checkstyle/main/checkstyle.xml.mustache
  src/main/resources/generator/server/springboot/database/mssql/MsSQLTestContainerExtension.java.mustache
  src/test/features/server/javatool/checkstyle.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: java

#7305 Fix typo
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: refactoring

#7306 Some typos
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscape.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyManagementTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
Labels: area: refactoring

#7307 Fix typo
  src/main/java/tech/jhipster/lite/wire/frontend/infrastructure/primary/RedirectionResource.java
  src/main/resources/generator/server/springboot/mvc/frontend/RedirectionResource.java.mustache
  src/test/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacerTest.java
Labels: server: java, area: refactoring

#7310 fix typo GeneratorExceptionBuilder (#7288)
  src/main/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/GeneratorException.java
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/main/ApplicationException.java.mustache
Labels: area: enhancement :wrench:, server: java

#7311 Exception never thrown
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContextUnitTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/BeanValidationErrorsHandlerTest.java
Labels: server: java, area: refactoring

#7312 Clean code
  src/main/java/tech/jhipster/lite/module/domain/file/ArgumentsReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemGeneratedProjectRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringPropertiesCommandsHandler.java
  src/main/java/tech/jhipster/lite/shared/error/infrastructure/primary/ArgumentsReplacer.java
Labels: server: java, area: refactoring

#7308 Fix typos
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeException.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeLevels.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/OpenApiModulesConfiguration.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepository.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/shared/error/domain/AssertionErrorType.java
  src/main/java/tech/jhipster/lite/shared/error/domain/StringWithWhitespacesException.java
  src/main/resources/generator/server/javatool/base/test/error/AssertTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/main/ApplicationErrorsConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/resources/assertions-errors/assertion-errors-messages.properties
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/resources/assertions-errors/assertion-errors-messages_fr.properties
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/test/infrastructure/primary/JwtReaderTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeIntTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/infrastructure/secondary/OAuth2AuthenticationReaderTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/CustomClaimConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsHandlerTest.java.mustache
  src/main/resources/messages/assertions-errors/assertion-errors-messages.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
  src/test/java/tech/jhipster/lite/module/domain/JHipsterTagsTest.java
  src/test/java/tech/jhipster/lite/module/domain/file/JHipsterDestinationTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/DirectJavaDependencyTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyManagementTest.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/InvalidLandscapeExceptionTest.java
  src/test/java/tech/jhipster/lite/module/domain/npm/NpmPackagesVersionsTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseNameTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTagTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringPropertiesBlockCommentsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/project/domain/download/ProjectsDownloaderTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorsHandlerIntTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/BeanValidationErrorsHandlerTest.java
  src/test/java/tech/jhipster/lite/shared/error_generator/infrastructure/primary/AssertionsErrorsResource.java
  src/test/javascript/spec/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/resources/projects/maven-empty-plugin-management/pom.xml
Labels: server: java, area: refactoring

#7313 Lighthouse: Images without dimensions
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/test/resources/projects/angular/app.component.html
  src/test/resources/projects/angular/app.component.ts
Labels: area: enhancement :wrench:, client: angular

#7357 Rename file: DummyFlywayModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/infrastructure/primary/DummyFlywayModuleConfiguration.java
Labels: server: spring boot, theme: database migration, area: refactoring

#7358 Some typos
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
  src/main/resources/generator/server/springboot/cucumber/ElementAsserter.java.mustache
  src/main/resources/generator/server/springboot/cucumber/ElementAssertions.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/ElementAsserter.java
  src/test/java/tech/jhipster/lite/cucumber/ElementAssertions.java
Labels: server: java, area: refactoring

#7364 Angular 16.2.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular, $$ bug-bounty $$, $200

#7356 Normalize integration tests suffixes
  pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/internationalized_errors/domain/InternationalizedErrorsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/OAuth2AccountModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/infinitest/template-infinitest.filters
  src/main/resources/generator/server/javatool/arch/AnnotationArchTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/CassandraBeerCatalogRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/CassandraBeerRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/SpringDataRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/jpapersistence/test/infrastructure/secondary/JpaBeersRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/test/infrastructure/secondary/MongoDBBeersRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/ApplicationErrorsHandlerIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/AssertionErrorsHandlerIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessCheckerIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/KipeIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/infrastructure/primary/AccountsResourceIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsHandlerIT.java.mustache
  src/test/java/tech/jhipster/lite/AnnotationArchTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/internationalized_errors/domain/InternationalizedErrorsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/Oauth2AccountModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorsHandlerIT.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/BeanValidationErrorsHandlerIT.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/GeneratorErrorsHandlerIT.java
  src/test/java/tech/jhipster/lite/shared/projectfolder/infrastructure/primary/ForcedProjectFolderPrefixIT.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepositoryIT.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/init-maven/pom.xml
Labels: generator: internal, theme: tests
