Repository seed4j/seed4j, pull requests merged in 2023-09, with the labels that each got.

#7369 Gradle: handle add and remove java dependency management commands
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  tests-ci/generate.sh
Labels: area: triage

#7393 Prettier-plugin-java 2.3.1
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/InMemoryStatisticsRepository.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/MongoDBStatisticsRepositoryIT.java
Labels: area: dependencies, server: java

#7368 Sonar advices
  src/test/javascript/spec/module/primary/GlobalWindow.fixture.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
Labels: area: refactoring

#7394 Maven: Declare jacoco plugin after failsafe plugin
  pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
Labels: area: enhancement :wrench:, generator: internal, theme: maven, theme: tests

#7395 Cleanup: remove unneeded ${jacoco.version} in pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: maven

#7396 (chore) Simplify Spring Cloud dependencies declaration
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
Labels: generator: internal, area: refactoring

#7397 Angular: use single version in dependencies
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/JHipsterModulePackageJson.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageJsonDependency.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal, area: dependencies, client: angular

#7416 Fix typos
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactory.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/shared/error/domain/GeneratorException.java
  src/main/resources/generator/server/springboot/cucumber/CucumberTestContextUnitTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/infrastructure/secondary/InMemoryBeersResetter.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/mongodbpersistence/test/infrastructure/secondary/MongoDBBeersResetter.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/main/ApplicationException.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/ApplicationExceptionTest.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/CucumberTestContextUnitTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/cassandrapersistence/domain/DummyCassandraPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/jpapersistence/domain/DummyJpaPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/mongopersistence/domain/DummyMongoDBPersistenceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/GeneratorExceptionTest.java
  src/test/java/tech/jhipster/lite/statistic/infrastructure/secondary/InMemoryStatisticsResetter.java
  src/test/resources/projects/dummy-feature/InMemoryBeersResetter.java
Labels: area: enhancement :wrench:, area: refactoring

#7415 Reorganize memoizers resources
  src/main/java/tech/jhipster/lite/generator/server/javatool/memoizer/domain/JavaMemoizersModuleFactory.java
  src/main/resources/generator/server/javatool/memoizers/main/Memoizers.java.mustache
  src/main/resources/generator/server/javatool/memoizers/test/MemoizersTest.java.mustache
Labels: server: java, area: refactoring

#7412 Spring Gateway should add dependency to Webflux only
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/infrastructure/primary/GatewayModuleConfiguration.java
Labels: area: enhancement :wrench:, server: spring boot

#7413 Bump actions checkout to v4 for templates
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-maven.yml.mustache
Labels: area: dependencies, theme: CI

#7423 dependabot: group some dependencies
  .github/dependabot.yml
Labels: generator: internal, area: dependencies

#7335 Run Cucumber tests with JUnit5
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumbercommon/domain/CucumbersModules.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/cucumber/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/cucumber.md.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberTest.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/CucumberTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumber/domain/CucumberModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
Labels: area: enhancement :wrench:, area: dependencies, theme: tests

#7505 Replace sinon by vitest in tests files
  src/test/javascript/spec/common/primary/timeout/Timeout.spec.ts
  src/test/javascript/spec/common/primary/toast/Toast.spec.ts
  src/test/javascript/spec/common/secondary/ConsoleLogger.spec.ts
  src/test/javascript/spec/common/secondary/alert/MittAlertBus.spec.ts
  src/test/javascript/spec/common/secondary/alert/MittAlertListener.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/javascript/spec/module/primary/landscape/LandscapeScroller.spec.ts
  src/test/javascript/spec/module/primary/project-actions/ProjectActionsComponent.spec.ts
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#7517 Replace sinon by vitest in tests files (generated Vue app)
  src/main/resources/generator/client/vue/test/spec/common/secondary/ConsoleLogger.spec.ts.mustache
Labels: area: enhancement :wrench:, client: vue

#7518 feat(SpyLogs): Split LogsSpy into LogSpy and LogSpyExtension to follow single-responsibility principle
  src/test/java/tech/jhipster/lite/Logs.java
  src/test/java/tech/jhipster/lite/LogsSpy.java
  src/test/java/tech/jhipster/lite/LogsSpyExtension.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesResourcesConfigurationTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepositoryTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/ProjectFormatterConfigurationTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/TraceProjectFormatterTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorsHandlerTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/BeanValidationErrorsHandlerTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/GeneratorErrorsHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal

#7519 Small fixes
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringFactory.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepository.java
Labels: generator: internal, area: refactoring

#7556 White theme icons on patch screen are invisible
  src/main/style/root/_root.scss
  src/main/webapp/app/assets/global.scss
Labels: area: bug :bug:, generator: internal

#7569 Fix missing dependency to logs-spy module
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/LiquibaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModulesConfiguration.java
Labels: area: bug :bug:, server: java

#7570 Bump to Node 18.18.0
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: generator: internal, area: dependencies

#7591 Fix switch button scss
  src/main/style/root/_root.scss
Labels: area: bug :bug:, generator: internal

#7611 Typo
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
Labels: area: refactoring, theme: docs

#7612 Typo
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
Labels: area: refactoring, theme: docs
