Repository seed4j/seed4j, pull requests merged in 2024-07, with the labels that each got.

#10183 chore: use a dedicated typescript version for Angular
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#10167 Sonar: Rename this generic name to match the regular expression
  sonar-project.properties
Labels: area: enhancement :wrench:

#10191 safely remove libs version reference
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/VersionsCatalog.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: area: enhancement :wrench:, generator: internal, theme: gradle, $$ bug-bounty $$, $300

#10203 Sonar: String literals should not be duplicated
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
Labels: area: enhancement :wrench:

#10204 Sonar: Loggers should be 'private static final'
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/resources/generator/server/springboot/broker/kafka/AbstractConsumer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/SampleConsumer.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/SampleProducer.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/AsyncSpringLiquibase.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/AudienceValidator.java.mustache
Labels: area: enhancement :wrench:

#10212 Sonar: Rename this generic name to match the regular expression
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
Labels: area: enhancement :wrench:

#10214 Sonar: Fields that are only assigned in the constructor should be 'readonly'
  src/main/resources/generator/client/vue/webapp/app/http/AxiosHttp.ts.mustache
  src/main/webapp/app/http/AxiosHttp.ts
Labels: area: enhancement :wrench:

#10215 Sonar: Fields that are only assigned in the constructor should be 'readonly'
  src/main/resources/generator/client/vue/webapp/app/common/secondary/ConsoleLogger.ts.mustache
  src/main/webapp/app/common/secondary/ConsoleLogger.ts
Labels: area: enhancement :wrench:, client: vue, theme: client

#10216 Sonar: Fields that are only assigned in the constructor should be 'readonly'
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.ts.mustache
Labels: area: enhancement :wrench:, client: angular, theme: client

#10217 Sonar: Expected property shorthand
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular, theme: client

#10219 Sonar: Remove parentheses around the parameter of this arrow function
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular, theme: client

#10218 Sonar: Function and method names should comply with a naming convention
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
Labels: area: enhancement :wrench:, client: angular, theme: client

#10238 refactor(VersionsCatalog): move libraryEntriesMatchingDependency meth…
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/VersionsCatalog.java
Labels: generator: internal, theme: gradle, area: refactoring

#10237 bump Vitest 2.0.1
  src/main/resources/generator/client/vue/vite.config.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#10263 Sonar configuration: ignore src test resources
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: internal

#10265 Sonar configuration: ignore src test resources projects
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: internal

#10267 Sonar configuration: use sonar.test.exclusions properties
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: internal

#10268 Bump Node to 20.15.1 and NPM to 10.8.2
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal, area: dependencies

#10269 Bug: removed SpringDoc apiLicenseUrl and apiExternalDocUrl blank value
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactory.java
  src/main/resources/generator/server/springboot/apidocumentation/springdoccore/SpringdocConfiguration.java.mustache
Labels: area: bug :bug:, server: spring boot, theme: api

#10271 Sonar: add a nested comment
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsHandlerTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationErrorsResource.java.mustache
Labels: area: enhancement :wrench:, server: java

#10272 Angular: improve login form
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular, $$ bug-bounty $$, $200

#10278 Bug: added check if repository is null in CucumberJpaReset
  src/main/resources/generator/server/springboot/cucumber/CucumberJpaReset.java.mustache
Labels: area: bug :bug:, server: spring boot, theme: tests

#10287 Prettier: fix warnings on generated app
  src/main/resources/generator/server/javatool/archunit/test/HexagonalArchTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/AssertTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/StringTooLongExceptionTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberJpaReset.java.mustache
  src/main/resources/generator/server/springboot/cucumber/rest/CucumberRestTestContextUnitTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/SpringLiquibaseUtilTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/ApplicationErrorsMessagesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/AssertionErrorMessagesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/test/ErrorKeyTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/test/application/AuthenticatedUserTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Accesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Action.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/RolesAccessesTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessContext.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationTest.java.mustache
Labels: area: enhancement :wrench:

#10295 Upgrade prettier-plugin-java 2.6.4
  package-lock.json
  package.json
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscape.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemYamlSpringCommentsCommandsHandler.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
  src/test/java/tech/jhipster/lite/cucumber/rest/CucumberRestTestContextUnitTest.java
  src/test/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterModulePropertiesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/ConsistentMavenDependenciesDeclarationTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenProjectJavaDependenciesRepositoryTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/ErrorKeyTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorMessagesTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/GeneratorErrorsMessagesTest.java
Labels: area: dependencies

#10296 Upgrade Vitest 2.0.3
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/services/login.test.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#10298 Prettier: fix warnings on generated app
  src/main/resources/generator/server/pagination/rest/test/RestAppPageTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/test/sample/infrastructure/primary/beer/RestBeerTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/test/sample/infrastructure/primary/beer/RestBeerToCreateTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/test/infrastructure/primary/AuthenticationResourceIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/test/infrastructure/primary/RestAccountTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/test/infrastructure/primary/RestAuthenticationQueryTest.java.mustache
Labels: area: enhancement :wrench:

#10299 Prettier: fix warnings on Angular generated app
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.css.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.prod.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/styles.css.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.model.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.model.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.model.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular

#10306 Prettier: fix warnings on React generated app
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.css.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/EyeSlashFilledIcon.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/index.html.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/javascript/spec/login/services/login.test.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: react

#10297 manage landscape preset configuration
  src/main/java/tech/jhipster/lite/project/domain/ModuleSlug.java
  src/main/java/tech/jhipster/lite/project/domain/ModulesSlugs.java
  src/main/java/tech/jhipster/lite/project/domain/ProjectsRepository.java
  src/main/java/tech/jhipster/lite/project/domain/history/ProjectAction.java
  src/main/java/tech/jhipster/lite/project/domain/preset/Preset.java
  src/main/java/tech/jhipster/lite/project/domain/preset/PresetName.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepository.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/PersistedPreset.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/PersistedPresets.java
  src/test/java/tech/jhipster/lite/TestFileUtils.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#10319 Upgrade Husky 9.1.1
  .husky/pre-commit
  package-lock.json
  package.json
Labels: area: dependencies

#10318 Upgrade Husky 9.1.1 on generated app
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/prettier/.husky/pre-commit
Labels: area: dependencies

#10333 Prettier: fix warnings on generated app
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.css.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.html.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.html.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
  src/main/resources/generator/server/pagination/domain/test/AppPageTest.java.mustache
  src/main/resources/generator/server/pagination/rest/test/RestAppPageTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/main/infrastructure/secondary/InMemoryBeersRepository.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ApplicationAuthorizationsTest.java.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/documentation/thymeleaf.md.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/src/main/resources/templates/index.html.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/src/main/resources/templates/layout/main.html.mustache
  src/test/resources/projects/thymeleaf/index.html.template
Labels: area: enhancement :wrench:

#10335 Sonar: Unchanged variables should be marked as const
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10334 chore(dependencies): switch to renovate for all dependency types
  .github/dependabot.yml
  renovate.json
Labels: area: enhancement :wrench:, area: dependencies

#10338 Sonar: Fields that are only assigned in the constructor should be readonly
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10339 Sonar: Template strings should be used instead of concatenation
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10340 Sonar: Delete unused import
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ApplicationAuthorizationsTest.java.mustache
Labels: area: enhancement :wrench:

#10341 Sonar: Modifier static is redundant for inner enums
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/RolesAccessesFixture.java.mustache
Labels: area: enhancement :wrench:

#10342 Sonar: Incorrect grammar
  src/main/resources/generator/server/springboot/mvc/sample/feature/sample.md
Labels: area: enhancement :wrench:

#10264 feature(protobuf): use ascopes maven protobuf plugin instead of xolstice one
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/infrastructure/primary/ProtobufModuleConfiguration.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: maven, area: dependencies, server: java

#10343 Typo: at day => on day
  documentation/hexagonal-architecture.md
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
Labels: area: enhancement :wrench:

#10364 fix(renovate): ignore svelte dependencies
  renovate.json
Labels: area: dependencies, client: svelte

#10365 chore(deps): replace dependency npm-run-all with npm-run-all2 5.0.0
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
Labels: area: dependencies

#10366 fix(renovate): restore default ignored paths
  renovate.json
Labels: area: dependencies

#10367 return presets through endpoint
  src/main/java/tech/jhipster/lite/project/application/ProjectsApplicationService.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsResource.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/RestModuleToApply.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/RestPreset.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/RestPresets.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepository.java
  src/test/features/projects.feature
  src/test/java/tech/jhipster/lite/cucumber/CucumberConfiguration.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/RestPresetsTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FakedFileSystemProjectFilesConfiguration.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
Labels: area: feature request :bulb:, generator: internal

#10369 fix(git): don't init git repository in existing repository
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepository.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepositoryTest.java
Labels: area: enhancement :wrench:, theme: init

#10384 Bump Node to 20.16.0
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies

#10388 fix(git): allow committing when project folder is a subfolder of a git repository
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/GitCommitException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepository.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/git/JGitGitRepositoryTest.java
Labels: area: enhancement :wrench:, theme: init

#10390 Angular: Remove unused code in test file
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
Labels: area: enhancement :wrench:, client: angular

#10389 Prettier config improvements
  .prettierignore
  src/main/resources/generator/prettier/.prettierignore
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: init

#10399 feat(archUnit): adding equals/hashcode contract check
  src/main/java/tech/jhipster/lite/generator/server/javatool/archunit/domain/ArchUnitModuleFactory.java
  src/main/resources/generator/server/javatool/archunit/test/EqualsHashcodeArchTest.java.mustache
  src/test/features/server/javatool/arch-unit.feature
  src/test/java/tech/jhipster/lite/EqualsHashcodeArchTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/archunit/domain/ArchUnitModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: tests, java

#10405 TS pagination domain
  src/main/java/tech/jhipster/lite/generator/client/pagination_domain/application/TsPaginationDomainApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/pagination_domain/domain/TSPaginationDomainModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/pagination_domain/infrastructure/primary/TsPaginationDomainModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/pagination_domain/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/pagination/domain/DisplayedOnPage.ts.mustache
  src/main/resources/generator/client/pagination/domain/Page.ts.mustache
  src/test/features/client/ts-pagination-domain.feature
  src/test/java/tech/jhipster/lite/generator/client/pagination_domain/domain/PaginationDomainModuleFactoryTest.java
  tests-ci/generate.sh
Labels: client: vue, client: angular, client: react, client: svelte, client: quasar

#10404 TS Loader module
  src/main/java/tech/jhipster/lite/generator/client/loader/application/TsLoaderModuleApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/loader/domain/TsLoaderModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/loader/infrastructure/primary/TsLoaderModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/loader/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/loader/Loader.spec.ts.mustache
  src/main/resources/generator/client/loader/Loader.ts.mustache
  src/test/features/client/loader.feature
  src/test/java/tech/jhipster/lite/generator/client/loader/domain/TsLoaderModuleFactoryTest.java
  tests-ci/generate.sh
Labels: client: vue, client: angular, client: react, client: svelte, client: quasar

#10415 Angular: functional interceptors
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.ts.mustache
  src/test/resources/projects/angular/main.ts
Labels: area: enhancement :wrench:, client: angular

#10409 Refator interceptor
  src/test/webapp/component/support/Interceptor.ts
Labels: area: enhancement :wrench:, generator: internal

#10417 Angular: remove comments in tests
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.model.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10406 Cypress tooling
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/cypress-config.ts
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/tsconfig.json
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/utils/DataSelector.ts
  src/main/resources/generator/client/common/cypress/src/test/javascript/integration/utils/Interceptor.ts
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
Labels: client: vue, client: angular, client: react, client: svelte, theme: tests, client: quasar

#10418 refactor: fix typo "bloc" -> "block"
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
Labels: generator: internal, area: refactoring

#10420 Angular: remove comments in tests
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts.mustache
  src/test/resources/projects/angular/app.component.spec.ts
Labels: area: enhancement :wrench:, client: angular

#10419 fix(module-api): VersionSource should not be required for removing dependencies from packageJson
  src/main/java/tech/jhipster/lite/module/domain/packagejson/JHipsterModulePackageJson.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageNames.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
Labels: area: enhancement :wrench:, theme: api, theme: npm

#10430 Angular: tests - change detection automatically
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/test/resources/projects/angular/app.component.spec.ts
Labels: area: enhancement :wrench:, client: angular

#10431 Angular: remove unused tests
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/config/application-config.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10438 Typo
  documentation/hexagonal-architecture.md
  documentation/module-creation.md
  src/main/resources/generator/server/springboot/dbmigration/cassandra/README.md
Labels: area: documentation :books:, area: enhancement :wrench:

#10439 Sonar: Angular - Optional boolean parameters should have default value
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10450 refactor(client-common): remove ClientsModulesFactory that was only containing lintstaged configuration
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/common/package-info.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: refactoring, theme: client

#10440 chore: use vite-tsconfig-paths to simplify generated vite and vitest configuration
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/react/vite.config.ts.mustache
  src/main/resources/generator/client/react/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/vite.config.ts.mustache
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, client: react, theme: client

#10429 Use piqure for injections
  package-lock.json
  package.json
  src/main/webapp/app/WindowAction.ts
  src/main/webapp/app/injections.ts
  src/main/webapp/app/main.ts
  src/main/webapp/app/module/application/ModuleProvider.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/primary/project-actions/ProjectActions.component.ts
  src/main/webapp/app/shared/alert/application/AlertProvider.ts
  src/main/webapp/app/shared/header/infrastructure/primary/Header.component.ts
  src/main/webapp/app/shared/logger/application/LoggerProvider.ts
  src/main/webapp/app/shared/theme-button/infrastructure/primary/ThemeButton.component.ts
  src/main/webapp/app/shared/toast/application/ToastProvider.ts
  src/main/webapp/app/shared/toast/domain/Timeout.ts
  src/main/webapp/app/shared/toast/infrastructure/primary/Toast.component.ts
  src/test/webapp/unit/common/primary/header/Header.spec.ts
  src/test/webapp/unit/common/primary/theme-button/ThemeButton.spec.ts
  src/test/webapp/unit/common/primary/timeout/Timeout.fixture.ts
  src/test/webapp/unit/common/primary/timeout/Timeout.spec.ts
  src/test/webapp/unit/common/primary/toast/Toast.spec.ts
  src/test/webapp/unit/module/primary/GlobalWindow.fixture.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/webapp/unit/module/primary/project-actions/ProjectActionsComponent.spec.ts
  vitest.config.ts
Labels: area: enhancement :wrench:, generator: internal

#10452 Sonar: remove - Ignore duplication for Arguments replacer (rule is deprecated)
  sonar-project.properties
Labels: area: enhancement :wrench:

#10451 Rest pagination module
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/application/TSRestPaginationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationFactory.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/infrastructure/primary/TSRestPaginationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/pagination/secondary/RestPage.spec.ts.mustache
  src/main/resources/generator/client/pagination/secondary/RestPage.ts.mustache
  src/main/resources/generator/client/pagination/secondary/rest-page.md
  src/test/features/client/ts-pagination-rest.feature
  src/test/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, client: vue, client: angular, client: react, client: svelte, client: quasar

#10459 Sonar: remove exclusions files not present
  sonar-project.properties
Labels: area: enhancement :wrench:

#10466 feat(vue): replace pinia-plugin-persist by pinia-plugin-persistedstate
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/dependencies/vue/package.json
  src/test/features/client/vue.feature
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: dependencies, client: vue, theme: client

#10464 Simplify generated tsconfig for vue and react
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/pagination/domain/Page.ts.mustache
  src/main/resources/generator/client/pagination/secondary/RestPage.ts.mustache
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/webapp/app/common/domain/Logger.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/secondary/ConsoleLogger.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/http/AxiosHttp.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/vue/VueProp.ts
  src/main/resources/generator/dependencies/react/package.json
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, client: react

#10460 Rename test folders
  package-lock.json
  src/main/java/tech/jhipster/lite/generator/client/loader/domain/TsLoaderModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/optional/domain/OptionalTypescriptModuleFactory.java
  src/main/resources/generator/client/common/.eslintignore
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/.eslintrc.cjs
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/common/primary/app/Home.spec.ts
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/cypress-config.ts
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/tsconfig.json
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/utils/DataSelector.ts
  src/main/resources/generator/client/common/cypress/src/test/webapp/component/utils/Interceptor.ts
  src/main/resources/generator/client/common/playwright/playwright.config.ts
  src/main/resources/generator/client/common/playwright/src/test/webapp/component/common/primary/app/Home-Page.ts
  src/main/resources/generator/client/common/playwright/src/test/webapp/component/common/primary/app/Home.spec.ts
  src/main/resources/generator/client/react/src/test/webapp/unit/common/primary/app/App.spec.tsx.mustache
  src/main/resources/generator/client/react/src/test/webapp/unit/common/primary/app/App.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/webapp/unit/common/services/storage.test.ts.mustache
  src/main/resources/generator/client/react/src/test/webapp/unit/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/webapp/unit/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/src/test/webapp/unit/login/services/login.test.ts.mustache
  src/main/resources/generator/client/react/tsconfig.json
  src/main/resources/generator/client/react/vitest.config.ts.mustache
  src/main/resources/generator/client/svelte/src/test/unit/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/svelte/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/domain/Logger.fixture.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/primary/homepage/Homepage.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/secondary/ConsoleLogger.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosHttpStub.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosStub.ts.mustache
  src/main/resources/generator/client/vue/test/unit/router/Router.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/ArrayComponentVue.vue
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/ObjectComponentVue.vue
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/VueProp.spec.ts
  src/main/resources/generator/client/vue/tsconfig.build.json
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
  src/main/resources/generator/typescript/test/webapp/unit/common/domain/optional/Optional.spec.ts
  src/test/features/client/browser-test/cypress.feature
  src/test/features/client/browser-test/playwright.feature
  src/test/java/tech/jhipster/lite/generator/client/loader/domain/TsLoaderModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/optional/OptionalTypescriptModuleFactoryTest.java
  src/test/resources/projects/ts-config-with-cypress-exclusions/tsconfig.json
  src/test/resources/projects/ts-config-with-exclusions/tsconfig.json
Labels: area: refactoring, theme: client

#10462 Unify and simplify vue and react vitest config
  src/main/resources/generator/client/react/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
Labels: area: refactoring, client: vue, client: react
