Repository seed4j/seed4j, pull requests merged in 2024-01, with the labels that each got.

#8491 Fix: lint
  src/test/features/server/springboot/springboot-thymeleaf.feature
Labels: area: bug :bug:

#8465 Maven: use maven model for handling java build commands rather than DOM manipulation
  pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddJavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPhase.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginAdditionalElements.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecution.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecutionGoal.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecutionId.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecutions.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/mongock/domain/MongockModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/gateway/domain/GatewayModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: theme: maven, area: refactoring

#8514 Update maven and gradle wrappers
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/generator/buildtool/gradle/gradlew
  src/main/resources/generator/buildtool/gradle/gradlew.bat
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/mvnw
  src/main/resources/generator/buildtool/maven/mvnw.cmd
Labels: theme: maven, theme: gradle, area: dependencies

#8529 Fix visibility of builders
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/MavenBuildExtension.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecution.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/ProjectJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringComment.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/SpringProperty.java
  src/main/java/tech/jhipster/lite/module/domain/landscape/JHipsterLandscapeModule.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageJsonDependency.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulePropertyDefinition.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleResource.java
  src/main/java/tech/jhipster/lite/project/domain/history/ProjectAction.java
  src/main/java/tech/jhipster/lite/statistic/domain/AppliedModule.java
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/domain/beer/Beer.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/domain/AuthenticationQuery.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/domain/Account.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#8590 Declare checkstyle as direct dependency for dependabot
  src/main/resources/generator/dependencies/build.gradle.kts
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
Labels: theme: gradle, area: dependencies

#8587 Delete prettier cli parameter that has been removed since version 3
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: svelte

#8591 Bump sonarqube to 10.3.0-community
  src/main/docker/sonar.yml
Labels: area: dependencies

#8589 Rename JavaBuildPlugin to MavenPlugin
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectJavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommand.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JHipsterModuleJavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildplugin/JavaBuildPluginExecution.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPlugins.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenBuildPhase.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecution.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecutionGoal.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecutionId.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecutions.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPluginsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: feature request :bulb:, theme: maven, area: refactoring

#8609 Activate maven enforcer
  pom.xml
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: maven

#8615 fix and improve custom jhlite instructions
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
Labels: area: bug :bug:, generator: internal

#8616 Vitest 1.2.0
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/react/package.json
  src/main/resources/generator/dependencies/vue/package.json
Labels: generator: internal, area: dependencies, client: vue, client: react

#8618 Vue 3.4.13
  package-lock.json
  package.json
  src/main/webapp/app/common/primary/toast/Toast.vue
  src/test/javascript/spec/common/primary/icon/Icon.spec.ts
Labels: area: dependencies, client: vue

#8619 Finish renaming javaBuildPlugin to mavenPlugin
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddGradlePlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginManagement.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: refactoring

#8617 Support declaring maven plugins in maven profiles
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfile.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfiles.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPlugins.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPluginsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: feature request :bulb:, theme: maven

#8621 Fix typo
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/kipe-authorization.md.mustache
Labels: area: triage

#8624 Fix java prettier formatting in gradle packages
  .prettierignore
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleDependencyScope.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/VersionsCatalog.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: theme: gradle, area: refactoring

#8622 Add RedundantImport checkstyle rule
  checkstyle.xml
  src/main/resources/generator/server/javatool/checkstyle/main/checkstyle.xml.mustache
Labels: area: enhancement :wrench:, theme: maven, theme: init

#8623 add gradle git properties plugin
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: gradle

#8649 Realign a few templates with expected prettier formatting
  src/main/resources/generator/server/javatool/arch/HexagonalArchTest.java.mustache
  src/main/resources/generator/server/javatool/checkstyle/main/checkstyle.xml.mustache
  src/main/resources/generator/server/springboot/core/main/MainApp.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
Labels: generator: internal, area: refactoring

#8653 Git Information: fix build time version
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/domain/GitInfoModuleFactory.java
Labels: area: bug :bug:, server: spring boot

#8683 (docker-compose) Follow Docker recommandation for ports mapping
  src/main/resources/generator/server/springboot/broker/kafka/kafka.yml.mustache
  src/main/resources/generator/server/springboot/database/cassandra/cassandra.yml.mustache
  src/main/resources/generator/server/springboot/database/mariadb/mariadb.yml.mustache
  src/main/resources/generator/server/springboot/database/mongodb/mongodb.yml.mustache
  src/main/resources/generator/server/springboot/database/mssql/mssql.yml.mustache
  src/main/resources/generator/server/springboot/database/mysql/mysql.yml.mustache
  src/main/resources/generator/server/springboot/database/postgresql/postgresql.yml.mustache
  src/main/resources/generator/server/springboot/database/redis/redis.yml.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/keycloak.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/configclient/jhipster-registry.yml.mustache
  src/main/resources/generator/server/springboot/springcloud/consul/src/consul.yml.mustache
Labels: area: enhancement :wrench:, theme: docker :whale:

#8686 Minor refactorings
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmVersions.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPort.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/maven/pom.xml.mustache
  src/main/resources/generator/ci/gitlab/.gitlab-ci-maven.yml.mustache
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
Labels: generator: internal, area: refactoring

#8678 Upgrade prettier to 3.2.4
  .prettierrc
  package-lock.json
  package.json
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
Labels: generator: internal, area: dependencies

#8650 Cucumber minor code improvements
  src/main/resources/generator/server/springboot/cucumber/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/cucumber/rest/CucumberRestTestContextUnitTest.java.mustache
  src/main/resources/generator/server/springboot/cucumber/rest/HeaderAssertions.java.mustache
Labels: area: refactoring, theme: tests

#8652 Keycloak: add openid as client scope
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/jhipster-realm.json.mustache
Labels: area: bug :bug:, theme: security, server: spring boot

#8563 Switch JavaScript package to ESM module
  .eslintrc.cjs
  .lintstagedrc.js
  package.json
  src/test/javascript/cypress/.eslintrc.cjs
  src/test/javascript/cypress/tsconfig.json
Labels: generator: internal, area: refactoring

#8533 Vite CJS Node API deprecated
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/vite.config.mts
  src/main/resources/generator/client/vue/vitest.config.mts
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  vite.config.mts
  vitest.config.mts
Labels: area: enhancement :wrench:, generator: internal, client: vue

#8513 Renovate configuration
  renovate.json
Labels: theme: maven, theme: gradle, area: dependencies

#8693 Bump Node to 20.11.0 and NPM to 10.3.0
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#8692 More minor additions
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterServerPortTest.java
Labels: generator: internal, area: refactoring

#8687 Handle Maven plugin dependencies
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginBuilder.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginOptionalBuilder.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginPluginBuilder.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfiles.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPlugins.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecutions.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/mavenplugin/JHipsterModuleMavenPluginsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: feature request :bulb:, theme: maven

#8610 New module: protobuf support
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/application/ProtobufApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/infrastructure/primary/ProtobufModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleAfterReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/RegexNeedleBeforeReplacer.java
  src/main/resources/generator/dependencies/build.gradle.kts
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/javatool/protobuf/main/.gitkeep
  src/main/resources/generator/server/javatool/protobuf/main/ProtobufDatesReader.java.mustache
  src/main/resources/generator/server/javatool/protobuf/main/ProtobufDatesWriter.java.mustache
  src/main/resources/generator/server/javatool/protobuf/main/package-info.java.mustache
  src/main/resources/generator/server/javatool/protobuf/test/ProtobufDatesReaderTest.java.mustache
  src/main/resources/generator/server/javatool/protobuf/test/ProtobufDatesWriterTest.java.mustache
  src/test/features/server/javatool/protobuf.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/feature/domain/DummyFeatureModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: java

#8695 Custom fix cucumber configuration
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberConfiguration.java.mustache
Labels: area: bug :bug:, generator: internal

#8694 Group maven/gradle wrappers as 'build-launcher' and add dependencies
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/infrastructure/primary/GradleModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/infrastructure/primary/MavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
Labels: area: enhancement :wrench:, theme: maven, theme: gradle

#8699 Angular 17 new features
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.html.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
Labels: client: angular

#8712 Remove thymeleafapp module duplication
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, generator: CI

#8711 CI: reproducible generated projects with jwtBase64Secret property
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
Labels: area: enhancement :wrench:, server: spring boot, generator: cloud

#8684 Improve ci to not launch same tests
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, theme: CI

#8713 Bump jhlite lib to 1.2.1
  src/main/resources/generator/dependencies/pom.xml
Labels: area: dependencies

#8714 Don't generate maven (and gradle) wrapper in "maven-java" (and "gradle-java") module
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/test/features/buildtool/gradle.feature
  src/test/features/buildtool/maven.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: maven, theme: gradle

#8715 Fix id for plugins.protobuf
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
Labels: area: dependencies

#8727 Always run all tests at main branch
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#8742 Mysql 8.3.0 - Testcontainers 1.19.4
  pom.xml
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/dependencies/pom.xml
Labels: area: dependencies, theme: database

#8756 Revert "chore(deps-dev): bump husky from 8.0.3 to 9.0.6"
  package-lock.json
  package.json
Labels: area: triage

#8757 Revert "chore(deps-dev): bump husky from 8.0.3 to 9.0.6 in /src/main/resources/generator/dependencies/common"
  src/main/resources/generator/dependencies/common/package.json
Labels: area: triage

#8758 WebSecurity: log warn
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#8759 Use LinkedHashSet instead of HashSet to have reproducible generated code
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddMavenPluginBuilder.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPlugin.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#8741 Skip ci with keywords at head commit message or pull request title
  .github/workflows/github-actions.yml
  CONTRIBUTING.md
Labels: area: bug :bug:, generator: CI

#8760 Bump jhlite dependency to 1.3.0
  src/main/resources/generator/dependencies/pom.xml
Labels: area: dependencies

#8775 force commit message and pull request title to be treated as a string
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, generator: CI

#8762 Angular 17: Update angular.json
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/resources/generator/client/angular/core/angular.json
  src/main/resources/generator/client/angular/core/src/main/webapp/polyfills.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/styles.css.mustache
  src/main/resources/generator/client/angular/core/tsconfig.app.json
  src/main/resources/generator/client/angular/core/tsconfig.spec.json
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/empty-angular.json
Labels: area: enhancement :wrench:, client: angular
