Repository seed4j/seed4j, pull requests merged in 2024-05, with the labels that each got.

#9706 React: activate react/jsx-no-target-blank rule
  src/main/resources/generator/client/react/.eslintrc.cjs
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/App.tsx.mustache
  src/main/resources/generator/client/react/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/test/resources/projects/react-app/App.tsx
Labels: area: enhancement :wrench:, client: react

#9707 Angular: add angular-eslint/template/accessibility plugin
  src/main/resources/generator/client/angular/core/.eslintrc.json
Labels: area: enhancement :wrench:, client: angular

#9708 Fix typos
  src/main/resources/generator/server/springboot/dbmigration/cassandra/README.md
  src/main/resources/generator/server/springboot/dbmigration/cassandra/cassandra-migration.md
Labels: area: enhancement :wrench:, generator: internal

#9717 Declare feature (cucumber) files in gitattributes
  .gitattributes
  src/main/resources/generator/init/gitattributes
Labels: area: enhancement :wrench:, theme: tests

#9718 Remove swagger link
  .github/workflows/publish-native-docker-image.yml
  Dockerfile
  src/main/webapp/app/common/primary/header/Header.vue
Labels: area: enhancement :wrench:, generator: internal

#9727 Init proto.lock file for protobuf-backwards-compatibility-check module
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactory.java
  src/main/resources/generator/server/javatool/protobuf/main/proto.lock
  src/test/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactoryTest.java
Labels: area: enhancement :wrench:

#9733 React: improve generated template
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: react

#9745 React: remove unused dependency framer-motion
  package-lock.json
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: react

#9746 React: missing space
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#9747 React: remove unused dependency types/ws
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/dependencies/react/package.json
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: react

#9778 Use the official Kafka image with TestContainers
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
Labels: area: enhancement :wrench:, theme: broker

#9779 Sonar: declare properties-maven-plugin configuration in the pluginManagement section
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactoryTest.java
Labels: area: enhancement :wrench:

#9758 support context variables at PackageJson and Content Replacer API
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: area: enhancement :wrench:, theme: gradle

#9792 feat(maven): replace existing plugin rather than adding a duplicated one
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: enhancement :wrench:, theme: maven

#9801 add imports option at gradle plugin and gradle profile plugin API
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/BuildGradleImport.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradleCommunityPlugin.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradleCommunityProfilePlugin.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradleCorePlugin.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradlePlugin.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradlePluginImports.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/buildSrc/src/main/kotlin/profile.gradle.kts.template
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/gradle-with-local-profile/buildSrc/src/main/kotlin/profile-local.gradle.kts
  src/test/resources/projects/init-gradle/build.gradle.kts
Labels: area: enhancement :wrench:, theme: gradle

#9766 Run frontend tests by default in watch mode
  package.json
  pom.xml
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendMavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: client

#9719 API in ModuleBuilder to declare entries in gitignore
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/pbt/domain/PropertyBasedTestingModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/OAuth2Auth0ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/OAuth2OktaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/infinitest/domain/InfinitestModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/gitignore/GitIgnoreEntry.java
  src/main/java/tech/jhipster/lite/module/domain/gitignore/JHipsterModuleGitIgnore.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemGitIgnoreHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemReplacer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringFactoriesCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/resources/generator/init/gitignore
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/pbt/domain/PropertyBasedTestingModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/Oauth2OktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/setup/infinitest/domain/InfinitestModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/gitignore/GitIgnoreEntryTest.java
  src/test/java/tech/jhipster/lite/module/domain/gitignore/JHipsterModuleGitIgnoreTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemGitIgnoreHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: area: feature request :bulb:

#9820 Sonar: Rename field which hides the field declared at line
  src/test/java/tech/jhipster/lite/cucumber/rest/CucumberRestTestContext.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#9818 support add instructions at the end of tasks.test in the build.gradle.kts
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/gradleconfiguration/GradleTasksTestInstruction.java
  src/main/java/tech/jhipster/lite/module/domain/gradleconfiguration/JHipsterModuleGradleConfigurations.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddGradleTasksTestInstruction.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/JavaBuildCommand.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemJavaBuildCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/init-gradle/build.gradle.kts
Labels: area: enhancement :wrench:, theme: gradle

#9831 avoid append browser folder at the outputPath directory
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/resources/generator/client/angular/core/angular.json.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
Labels: area: bug :bug:, client: angular

#9825 add missing frontend server plugin
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendJavaBuildToolApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendMavenApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendJavaBuildToolModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendMavenModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/buildSrc/src/main/kotlin/profile.gradle.kts.template
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/test/features/server/javatool/frontend-java-build-tool.feature
  src/test/features/server/javatool/frontend-maven.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactoryTest.java
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/gradle-with-local-profile-and-properties/buildSrc/src/main/kotlin/profile-local.gradle.kts
  src/test/resources/projects/gradle-with-local-profile/buildSrc/src/main/kotlin/profile-local.gradle.kts
  src/test/resources/projects/gradle-with-properties/build.gradle.kts
  src/test/resources/projects/init-gradle/build.gradle.kts
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: gradle

#9832 feature(gradle): remove gradle-java from hidden resources
  .github/workflows/github-actions.yml
  src/main/resources/config/application-angular.yml
  src/main/resources/config/application-react.yml
  src/main/resources/config/application-vue.yml
  src/main/resources/config/application.yml
Labels: area: feature request :bulb:, theme: gradle

#9834 chore(gradle): remove tricks for enabling gradle in ci for the main branch
  .github/workflows/github-actions.yml
Labels: generator: internal, area: refactoring, theme: CI

#9837 fix(ci): filter additional jar to be able to start gradle app
  tests-ci/start.sh
Labels: area: bug :bug:, theme: gradle, generator: CI

#9860 Fix typo
  src/main/resources/generator/server/springboot/mvc/sample/feature/sample.md
Labels: area: enhancement :wrench:

#9872 adapt native jgit hints for latest jgit releases
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/NativeHints.java
Labels: area: bug :bug:, generator: internal, theme: docker :whale:

#9874 fix and improve code generated by fullapp using gradle and replace gradleapp with fullapp at ci
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactory.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/main/domain/beer/Beer.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/main/infrastructure/primary/beer/RestBeer.java.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactoryTest.java
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/gradle-with-properties/build.gradle.kts
  src/test/resources/projects/init-gradle/build.gradle.kts
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: gradle, theme: CI

#9875 remove `gradleapp` from `generate.sh`
  .github/workflows/github-actions.yml
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: gradle, theme: CI

#9883 use standard vite/vitest configuration file extension
  pom.xml
  vite.config.ts
  vitest.config.ts
Labels: area: enhancement :wrench:, generator: internal

#9884 Vitest config fix and cleanup
  src/main/resources/generator/client/react/vitest.config.ts.mustache
  src/main/resources/generator/client/svelte/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/vitest.config.mts.mustache
  vitest.config.ts
Labels: area: enhancement :wrench:, theme: tests

#9885 Simplify lintstaged config
  .lintstagedrc.js
Labels: area: enhancement :wrench:, generator: internal

#9673 (develocity): always publish build scans, even in case of build failures
  .github/workflows/github-actions.yml
  .mvn/develocity.xml
Labels: area: enhancement :wrench:, generator: CI

#9366 Keycloak: Make realmName and clientScopeName customizable
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/infrastructure/primary/OAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterSlug.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTag.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/shared/error/domain/AssertionErrorType.java
  src/main/java/tech/jhipster/lite/shared/error/domain/UrlSafeSingleWordException.java
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/jhipster-realm.json.mustache
  src/main/resources/messages/assertions-errors/assertion-errors-messages.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorMessagesTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorsHandlerIT.java
  src/test/java/tech/jhipster/lite/shared/error_generator/infrastructure/primary/AssertionsErrorsResource.java
Labels: area: enhancement :wrench:, theme: security, server: spring boot

#9900 feat: improve prettier configuration
  package.json
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/prettier/.lintstagedrc.cjs
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/resources/generator/command/package-complete.json
  src/test/resources/generator/command/package-test.json
  src/test/resources/generator/common/.lintstagedrc.cjs
  src/test/resources/projects/files/package.json
  src/test/resources/projects/init/.lintstagedrc.cjs
Labels: area: enhancement :wrench:, theme: init

#9899 feat: generate clients with a .npmrc config for forcing saving exact versions of npm dependencies
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/common/.eslintignore
  src/main/resources/generator/client/common/.npmrc
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, client: angular, client: react, client: svelte, theme: client

#9904 Sonar: code smells
  src/main/resources/generator/server/springboot/cucumber/rest/CucumberRestTestContext.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/oauth2/AuthenticationSteps.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/oauth2/CucumberAuthenticationConfiguration.java.mustache
Labels: area: enhancement :wrench:

#9907 fix: move gitignore configuration for buildSrc from spring-boot-local-profile module to gradle-java module
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: gradle

#9906 Sonar: Replace this usage of Stream.collect with Stream.toList
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessCheckerIT.java.mustache
Labels: area: enhancement :wrench:

#9909 feat: add string not matching pattern field assertion
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterSlug.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTag.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/shared/error/domain/AssertionErrorType.java
  src/main/java/tech/jhipster/lite/shared/error/domain/NotMatchingExpectedPatternException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/UrlSafeSingleWordException.java
  src/main/resources/messages/assertions-errors/assertion-errors-messages.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
  src/test/java/tech/jhipster/lite/module/domain/JHipsterTagsTest.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTagTest.java
  src/test/java/tech/jhipster/lite/shared/error/domain/AssertTest.java
  src/test/java/tech/jhipster/lite/shared/error/infrastructure/primary/AssertionErrorsHandlerIT.java
  src/test/java/tech/jhipster/lite/shared/error_generator/infrastructure/primary/AssertionsErrorsResource.java
Labels: area: enhancement :wrench:, generator: internal

#9920 release script: fix settings.xml [ci skip]
  release.sh
Labels: area: enhancement :wrench:, generator: internal

#9930 chore(clients): reduce duplicated npm dependencies for clients
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/dependencies/react/package.json
  src/main/resources/generator/dependencies/vue/package.json
Labels: generator: internal, area: dependencies, theme: client

#9748 Move the ability to start liquibase asynchronously to its own module
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/LiquibaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/test/features/server/springboot/dbmigration/liquibase.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: database migration

#9932 CI: improve github actions for Windows to allow ignore [ci ignore]
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, theme: CI

#9934 Logback: improve logs during tests
  src/main/resources/generator/server/springboot/core/test/logback.xml.mustache
Labels: area: enhancement :wrench:, server: spring boot, theme: tests

#9963 Springdoc: fix realm name with OAuth2
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringDocOauth2ModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringDocOauth2ModuleFactoryTest.java
Labels: area: bug :bug:, theme: security, server: spring boot

#9965 NPM 10.8.1
  CONTRIBUTING.md
  pom.xml
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: generator: internal
