Repository seed4j/seed4j, pull requests merged in 2024-09, with the labels that each got.

#10714 chore: simplify cucumber module steps
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
Labels: generator: internal, theme: tests

#10711 Front hexagonal architecture documentation module
  src/main/java/tech/jhipster/lite/generator/client/hexagonal_documentation/application/FrontHexagonalArchitectureDocumentationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/hexagonal_documentation/domain/FrontHexagonalDocumentationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/hexagonal_documentation/infrastructure/primary/FrontHexagonalDocumentationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/common/hexagonal-documentation/front-hexagonal-architecture.md.mustache
  src/test/features/client/front-hexagonal-architecture-documentation.feature
  src/test/java/tech/jhipster/lite/generator/client/hexagonal_documentation/domain/FrontHexagonalDocumentationModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: client

#10723 Angular 18.2.2
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#10730 Disable virtual threads by default on generated Spring app
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#10733 Add getters for loader
  src/main/resources/generator/client/loader/Loader.spec.ts.mustache
  src/main/resources/generator/client/loader/Loader.ts.mustache
Labels: area: enhancement :wrench:, theme: client

#10734 Add tsc watch scripts
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, area: triage, client: vue, client: react, theme: client

#10598 ESLint 9
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/main/resources/generator/client/react/core/.eslintrc.cjs
  src/main/resources/generator/client/react/core/eslint.config.js.mustache
  src/main/resources/generator/client/vue/.eslintrc.cjs
  src/main/resources/generator/client/vue/eslint.config.js.mustache
  src/main/resources/generator/client/vue/webapp/app/env.d.ts.mustache
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/dependencies/vue/package.json
  src/main/resources/generator/typescript/.eslintrc.cjs
  src/main/resources/generator/typescript/eslint.config.js.mustache
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
Labels: client: vue, client: angular, client: react, theme: typescript, theme: client

#10742 Sonar: Dockerfile
  Dockerfile
Labels: area: enhancement :wrench:, theme: docker :whale:

#10745 Sonar: Dockerfile (generated apps)
  src/main/resources/generator/server/springboot/docker/Dockerfile-gradle.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile-maven.mustache
Labels: area: enhancement :wrench:, theme: maven, theme: gradle, theme: docker :whale:

#10743 extract landscape compact/extend mode switch to tikui molecule
  src/main/style/atom/atom.pug
  src/main/style/atom/button/_button.scss
  src/main/style/atom/button/button-main/_button-main.scss
  src/main/style/atom/button/button-main/button-main.code.pug
  src/main/style/atom/button/button-main/button-main.md
  src/main/style/atom/button/button-main/button-main.mixin.pug
  src/main/style/atom/button/button-main/button-main.render.pug
  src/main/style/atom/button/button-switch/_button-switch.scss
  src/main/style/atom/button/button-switch/button-switch.code.pug
  src/main/style/atom/button/button-switch/button-switch.md
  src/main/style/atom/button/button-switch/button-switch.mixin.pug
  src/main/style/atom/button/button-switch/button-switch.render.pug
  src/main/style/atom/button/button.code.pug
  src/main/style/atom/button/button.md
  src/main/style/atom/button/button.mixin.pug
  src/main/style/atom/button/button.pug
  src/main/style/atom/button/button.render.pug
  src/main/style/molecule/_molecule.scss
  src/main/style/molecule/mode-switch/_mode-switch.scss
  src/main/style/molecule/mode-switch/mode-switch.code.pug
  src/main/style/molecule/mode-switch/mode-switch.md
  src/main/style/molecule/mode-switch/mode-switch.mixin.pug
  src/main/style/molecule/mode-switch/mode-switch.render.pug
  src/main/style/molecule/molecule.pug
  src/main/style/organism/landscape-minimap/landscape-minimap.mixin.pug
  src/main/style/organism/landscape-preset-configuration/landscape-preset-configuration.mixin.pug
  src/main/style/organism/landscape/_landscape.scss
  src/main/style/organism/landscape/landscape.mixin.pug
  src/main/style/organism/project-actions/project-actions.mixin.pug
  src/main/style/template/menu-content-template/menu-content-template.mixin.pug
  src/main/style/token/_size.scss
  src/main/webapp/app/module/primary/landscape-minimap/LandscapeMiniMap.html
  src/main/webapp/app/module/primary/landscape-preset-configuration/LandscapePresetConfiguration.html
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/project-actions/ProjectActions.html
Labels: area: feature request :bulb:, generator: internal

#10746 Tikui: standardization
  src/main/style/atom/button/button-main/button-main.md
Labels: area: enhancement :wrench:

#10747 Clean code
  src/main/webapp/app/module/primary/landscape-preset-configuration/LandscapePresetConfiguration.component.ts
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
  src/main/webapp/app/shared/header/infrastructure/primary/Header.vue
  src/test/webapp/unit/module/primary/landscape/LandscapePresetConfigurationComponent.spec.ts
Labels: area: enhancement :wrench:

#10756 increase the space between the module columns on the landscape screen
  src/main/style/organism/landscape/_landscape.scss
Labels: area: feature request :bulb:, generator: internal

#10755 Replace @import by @use inside Tikui style
  src/main/style/atom/_atom.scss
  src/main/style/atom/button/_button.scss
  src/main/style/atom/chip/_chip.scss
  src/main/style/atom/input/_input.scss
  src/main/style/atom/input/input-text/_input-text.scss
  src/main/style/atom/loader/_loader.scss
  src/main/style/atom/logo/_logo.scss
  src/main/style/atom/nav-item/_nav-item.scss
  src/main/style/atom/select/_select.scss
  src/main/style/molecule/_molecule.scss
  src/main/style/molecule/icon-text/_icon-text.scss
  src/main/style/molecule/mode-switch/_mode-switch.scss
  src/main/style/molecule/tag-filter/_tag-filter.scss
  src/main/style/molecule/toast/_toast.scss
  src/main/style/organism/_organism.scss
  src/main/style/organism/header/_header.scss
  src/main/style/organism/landscape-preset-configuration/_landscape-preset-configuration.scss
  src/main/style/organism/landscape/_landscape.scss
  src/main/style/organism/module-patch-loader/_module-patch-loader.scss
  src/main/style/organism/module-properties/_module-properties.scss
  src/main/style/organism/modules-patch/_modules-patch.scss
  src/main/style/quark/_quark.scss
  src/main/style/root/_root.scss
  src/main/style/template/_template.scss
  src/main/style/template/menu-content-template/_menu-content-template.scss
  src/main/style/template/toast-overlay/_toast-overlay.scss
  src/main/style/tikui.scss
  src/main/style/token/_animation.scss
  src/main/style/token/_colors.scss
  src/main/style/token/_token.scss
  src/main/style/token/color/_color.scss
Labels: area: enhancement :wrench:, generator: internal

#10758 Tikui: navigation broken
  src/main/style/atom/button/button.pug
Labels: area: bug :bug:

#10761 Vue/ESLint: @typescript-eslint/no-unused-vars rule is enable by default
  eslint.config.js
  src/main/resources/generator/client/vue/eslint.config.js.mustache
Labels: area: enhancement :wrench:, client: vue

#10760 React/ESLint: enable some rules
  src/main/resources/generator/client/react/core/eslint.config.js.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/services/login.ts.mustache
Labels: area: enhancement :wrench:, client: react

#10759 Remove unused lint files
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/resources/generator/client/common/cypress/.eslintrc.cjs
  src/test/features/client/browser-test/cypress.feature
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
  src/test/webapp/component/.eslintrc.cjs
  src/test/webapp/e2e/.eslintrc.cjs
Labels: area: enhancement :wrench:, generator: internal

#10658 Prevent logback from outputting its own status
  src/main/resources/generator/server/springboot/core/main/logback-spring.xml.mustache
  src/main/resources/generator/server/springboot/core/test/logback.xml.mustache
  src/main/resources/logback-spring.xml
  src/test/resources/generator/server/springboot/core/logback-spring.xml
  src/test/resources/generator/server/springboot/core/logback.xml
  src/test/resources/logback.xml
  src/test/resources/projects/logback/logback.xml
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#10713 move husky and lintstaged setup from 'prettier' module to 'init'
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/init/.husky/pre-commit
  src/main/resources/generator/init/.lintstagedrc.cjs
  src/main/resources/generator/prettier/.lintstagedrc.cjs
  src/test/features/init.feature
  src/test/features/prettier.feature
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/projects/init/.lintstagedrc.empty.cjs
  src/test/resources/projects/init/.lintstagedrc.withoutPrettier.cjs
Labels: area: feature request :bulb:, theme: init

#10793 Upgrade Angular 18.2.3
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#10797 fix(react): use type module
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
Labels: area: bug :bug:, client: react, theme: client

#10796 Add run all in scripts
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, client: angular, client: react, theme: client

#10802 Cypress imports error
  src/main/resources/generator/client/common/cypress/tsconfig.json
  src/test/webapp/component/tsconfig.json
Labels: area: bug :bug:, generator: internal, theme: client

#10803 feat: new module for generating OpenAPI contract at build-time for SpringMVC applications
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/application/OpenApiContractApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/domain/OpenApiContractModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/infrastructure/primary/OpenApiContractModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterBasePackage.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/features/server/springboot/openapi-contract.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/domain/OpenApiContractModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, theme: docs

#10712 Rework vue-core
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/Dummy.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/domain/Logger.fixture.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/primary/app/App.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/primary/homepage/Homepage.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/common/secondary/ConsoleLogger.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosHttpStub.ts.mustache
  src/main/resources/generator/client/vue/test/unit/http/AxiosStub.ts.mustache
  src/main/resources/generator/client/vue/test/unit/router/Router.spec.ts.mustache
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/ArrayComponentVue.vue
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/ObjectComponentVue.vue
  src/main/resources/generator/client/vue/test/unit/vue/vue-prop/VueProp.spec.ts
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/AppVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/domain/Logger.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/domain/Message.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/App.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/AppVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/app/index.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.component.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/Homepage.html.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/HomepageVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/common/primary/homepage/index.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/common/secondary/ConsoleLogger.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/home/application/HomeRouter.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/home/infrastructure/primary/HomepageVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/injections.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/main.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/router.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/router/router.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/shared/http/infrastructure/secondary/AxiosHttp.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/vue/VueProp.ts
  src/main/resources/generator/dependencies/vue/package.json
  src/test/features/client/vue.feature
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, theme: client

#10812 feat(openapi): new module for checking backwards incompatible changes to OpenAPI contracts
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/application/OpenApiContractApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/domain/OpenApiContractModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/infrastructure/primary/OpenApiContractModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/features/server/springboot/openapi-contract.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/openapicontract/domain/OpenApiContractModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, server: spring boot, server: java

#10774 Add a small documentation for ApprovalTests
  src/main/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/domain/ApprovalTestingModuleFactory.java
  src/main/resources/generator/server/javatool/approvaltesting/approval-testing.md
  src/test/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/domain/ApprovalTestingModuleFactoryTest.java
Labels: area: documentation :books:, theme: tests

#10821 Upgrade typescript to v5.6.2
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#10826 Fix: Docker image can't start
  Dockerfile
Labels: area: bug :bug:, generator: internal, theme: docker :whale:

#10825 New API for add lintstaged entries + protobuf backwards compatibility check commit hook
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/PreCommitCommands.java
  src/main/java/tech/jhipster/lite/module/domain/StagedFilesFilter.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
Labels: area: feature request :bulb:

#10824 Vue: add tests for AxiosHttp
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosStub.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: bug :bug:, client: vue

#10835 Vue: add tests for HomeRouter
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/webapp/app/router.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/router/HomeRouter.spec.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
Labels: area: enhancement :wrench:, client: vue

#10833 Update vue-core vitest configuration and sonar properties for front
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/router/infrastructure/primary/HomeRouter.spec.ts.mustache
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactoryTest.java
Labels: area: bug :bug:, client: vue

#10837 Fix generated apps: Docker image can't start
  src/main/resources/generator/server/springboot/docker/Dockerfile-gradle.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile-maven.mustache
Labels: area: bug :bug:, theme: docker :whale:

#10838 feat: improve pre-commit-actions API
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/PreCommitCommands.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/test/java/tech/jhipster/lite/module/domain/PreCommitCommandsTest.java
Labels: area: enhancement :wrench:, generator: internal

#10839 Vue & React: build and test scripts adjustments
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: vue, client: react, theme: typescript, theme: client

#10841 fix(vue): fix eslint warnings related to rule 'vue/max-attributes-per-line'
  src/main/resources/generator/client/vue/webapp/app/home/infrastructure/primary/HomepageVue.vue.mustache
Labels: area: enhancement :wrench:, client: vue

#10840 Vue module now depends on typescript module
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/infrastructure/primary/VueModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleMandatoryReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleOptionalReplacementsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/JHipsterModuleReplacementsFactory.java
  src/main/resources/generator/client/vue/eslint.config.js.mustache
  src/main/resources/generator/client/vue/tsconfig.json
  src/main/resources/generator/client/vue/vitest.config.ts.mustache
  src/main/resources/generator/typescript/eslint.config.js.mustache
  src/main/resources/generator/typescript/vitest.config.ts.mustache
  src/test/features/client/vue.feature
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, generator: internal, $$ bug-bounty $$, $500, theme: typescript

#10853 Upgrade Angular 18.2.4
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#10854 Type and must be imported using a type-only import
  src/main/resources/generator/client/pagination/secondary/RestPage.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/router/infrastructure/primary/HomeRouter.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosStub.ts.mustache
Labels: area: enhancement :wrench:, theme: client

#10856 Angular: remove unused providers
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10857 Angular: remove unused providers
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10859 test: add missing prettier module when testing client app (angular, vue or react)
  tests-ci/generate.sh
Labels: area: bug :bug:, generator: CI

#10858 Angular: migrate Eslint configuration to recommended flat config
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/resources/generator/client/angular/core/.eslintrc.json
  src/main/resources/generator/client/angular/core/angular.json.mustache
  src/main/resources/generator/client/angular/core/eslint.config.mjs.mustache
  src/main/resources/generator/dependencies/angular/package.json
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/empty-angular.json
Labels: area: enhancement :wrench:, client: angular

#10862 fix: NpmPackagesVersions::merge was mutating the object passed in parameter
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmPackage.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmPackagesVersions.java
  src/test/java/tech/jhipster/lite/module/domain/npm/NpmPackagesVersionsTest.java
Labels: area: bug :bug:, generator: internal

#10877 Move cypress home test
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/resources/generator/client/common/cypress/home/Home.spec.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: client

#10849 ci-tests: Run linter on generated apps
  .github/workflows/github-actions.yml
  src/main/resources/generator/typescript/eslint.config.js.mustache
Labels: area: enhancement :wrench:, generator: internal, generator: CI

#10781 handle optional in Jackson
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactory.java
  src/main/resources/config/application.yml
  src/main/resources/generator/server/springboot/jackson/main/wire/jackson/infrastructure/primary/JacksonConfiguration.java.mustache
  src/main/resources/generator/server/springboot/jackson/test/wire/jackson/infrastructure/primary/JacksonConfigurationIT.java.mustache
  src/test/features/server/springboot/spring-mvc.feature
  src/test/features/server/springboot/webflux.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#10878 Extensible npm version source
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/npm/JHLiteNpmVersionSource.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmPackageVersion.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmVersionSource.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmVersionSourceFactory.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmVersions.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/JHipsterModulePackageJson.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageJsonDependency.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageName.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/VersionSource.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/JHipsterLiteFileSystemNpmVersionReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/NpmVersionSourceFolder.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/npm/NpmPackagesVersionsTest.java
  src/test/java/tech/jhipster/lite/module/domain/npm/UnknownNpmPackageExceptionTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/JHipsterNpmVersionsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/NpmVersionsFixture.java
Labels: area: feature request :bulb:, generator: internal

#10889 move creation of .npmrc file to the init module
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/test/features/init.feature
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: init

#10888 Approval testing module improvements
  src/main/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/domain/ApprovalTestingModuleFactory.java
  src/main/resources/generator/server/javatool/approvaltesting/approval-testing.md
  src/main/resources/generator/server/javatool/approvaltesting/test/PackageSettings.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/domain/ApprovalTestingModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: tests

#10895 feat(frontend-maven-plugin): extract cache logic (checksum computation of resources) into a dedicated module
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/application/FrontendJavaBuildToolApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/infrastructure/primary/FrontendJavaBuildToolModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/test/features/server/javatool/frontend-java-build-tool.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, server: java, theme: client

#10899 generic ErrorLoader
  src/main/resources/generator/client/loader/Loader.ts.mustache
Labels: area: enhancement :wrench:, theme: client

#10879 Generator: add the ability to snapshot test generated files in module tests
  pom.xml
  src/test/java/tech/jhipster/lite/PackageSettings.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.tsconfig.json.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.vitest.config.ts.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToGradleProject.build.gradle.kts.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToGradleProject.libs.versions.toml.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToGradleProject.package.json.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToMavenProject.package.json.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToMavenProject.pom.xml.approved.txt
  src/test/resources/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyTwoModulesToMavenProject.pom.xml.approved.txt
Labels: generator: internal, theme: tests

#10855 Angular: simplify test
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10902 Sonar: 3 issues related to ApprovalTests PackageSettings
  sonar-project.properties
Labels: area: enhancement :wrench:

#10912 Typo
  documentation/hexagonal-architecture.md
Labels: area: enhancement :wrench:

#10913 Rename toogle to toggle
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.component.ts
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.html
Labels: area: enhancement :wrench:, generator: internal

#10896 feature(custom-jhlite): setup custom npm and maven version reader to handle custom npm/java dependencies
  src/main/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemMavenDependenciesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JHLiteMavenDependenciesReader.java
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/dependencies/domain/NpmVersionSource.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/dependencies/infrastructure/secondary/MavenDependenciesReader.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/dependencies/infrastructure/secondary/NpmVersionReader.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/dependencies/package-info.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/slug/domain/FeatureSlug.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/slug/domain/ModuleSlug.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/slug/package-info.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/package.json
  src/main/resources/generator/server/springboot/custom-jhlite/pom.xml.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/test/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/test/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/test/shared/dependencies/infrastructure/secondary/MavenDependenciesReaderTest.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/test/shared/dependencies/infrastructure/secondary/NpmVersionReaderTest.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/springboot/customjhlite/domain/CustomJHLiteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseNameTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/FileSystemMavenDependenciesReaderTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesFixture.java
Labels: area: feature request :bulb:, generator: internal, $$ bug-bounty $$, $500

#10908 Improve element replacers API
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/locale_profile/domain/LocalProfileModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/PreCommitCommands.java
  src/main/java/tech/jhipster/lite/module/domain/StagedFilesFilter.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/ReplacementCondition.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
Labels: area: enhancement :wrench:, generator: internal, area: breaking change

#10911 fix(spring-yaml-properties): preserve order of an existing property when updating its value
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandlerTest.java
  src/test/resources/projects/project-with-spring-application-yaml/more-complex-application.yml
Labels: area: enhancement :wrench:, server: spring boot, generator: internal

#10914 feat: react module now depends on typescript module
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactCoreModulesConfiguration.java
  src/test/features/client/react-i18n.feature
  src/test/features/client/react-jwt.feature
  src/test/features/client/react.feature
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.tsconfig.json.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.vitest.config.ts.approved.txt
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: react, theme: typescript

#10924 Init with target in gitignore
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/resources/generator/init/gitignore
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: typescript

#10929 Typo
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/webapp/unit/shared/optional/domain/Optional.spec.ts
Labels: area: enhancement :wrench:

#10941 Add dev command for angular
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular, theme: client

#10946 build: add run all in scripts in jhlite generator
  package.json
Labels: area: enhancement :wrench:, generator: internal

#10947 Upgrade Angular 18.2.5
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#10900 Jacoco coverrage Threshold rouding error
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactory.java
  src/test/features/server/javatool/jacoco.feature
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactoryTest.java
Labels: area: bug :bug:, server: java

#10951 Clean tests
  src/test/webapp/unit/module/primary/landscape/LandscapeMiniMapComponent.spec.ts
Labels: area: enhancement :wrench:, theme: tests

#10957 Fix invalid if condition in Github Actions
  .github/workflows/github-actions.yml
  .github/workflows/publish-jvm-docker-image.yml
  .github/workflows/publish-native-docker-image.yml
Labels: area: bug :bug:, generator: CI

#10959 Clean tests
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapePresetConfigurationComponent.spec.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#10928 add vue oauth2 keycloak module
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/application/VueOAuth2KeycloakApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/domain/VueOAuth2KeycloakModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/infrastructure/primary/VueOAuth2KeycloakModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/vue/documentation/vue-authentication-components.md
  src/main/resources/generator/client/vue/webapp/app/auth/application/AuthProvider.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/auth/domain/AuthRepository.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/auth/domain/AuthenticatedUser.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/auth/infrastructure/secondary/KeycloakAuthRepository.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/auth/infrastructure/secondary/KeycloakHttp.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/application/AuthProvider.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakAuthRepository.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttpStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakStub.ts.mustache
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
  src/test/features/client/vue-oauth2-keycloak.feature
  src/test/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/domain/VueOAuth2KeycloakModulesFactoryTest.java
  src/test/resources/projects/vue/main.ts.template
  tests-ci/generate.sh
Labels: area: feature request :bulb:, client: vue

#10972 Define a constant instead of duplicating this literal properties
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactory.java
Labels: area: enhancement :wrench:, generator: internal

#10971 move preset logic to "module" bounded context
  src/main/java/tech/jhipster/lite/module/application/JHipsterModulesApplicationService.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleSlugs.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterPresetRepository.java
  src/main/java/tech/jhipster/lite/module/domain/preset/Preset.java
  src/main/java/tech/jhipster/lite/module/domain/preset/PresetName.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/ModulesResource.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestModuleToApply.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestPreset.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/RestPresets.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterPresetRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PersistedPreset.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/PersistedPresets.java
  src/main/java/tech/jhipster/lite/project/application/ProjectsApplicationService.java
  src/main/java/tech/jhipster/lite/project/domain/ModulesSlugs.java
  src/main/java/tech/jhipster/lite/project/domain/ProjectsRepository.java
  src/main/java/tech/jhipster/lite/project/domain/preset/Preset.java
  src/main/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsResource.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepository.java
  src/main/java/tech/jhipster/lite/project/infrastructure/secondary/PersistedPreset.java
  src/test/features/modules.feature
  src/test/features/projects.feature
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/ModulesSteps.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestPresetsTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterPresetRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/TestJHipsterModules.java
  src/test/java/tech/jhipster/lite/project/infrastructure/primary/ProjectsSteps.java
  src/test/java/tech/jhipster/lite/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
Labels: generator: internal, area: refactoring

#10975 feat(prettier): add prettier plugin 'prettier-plugin-organize-imports' to prettier module
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: client

#10976 React: apply prettier-plugin-organize-imports
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/resources/generator/client/react/core/src/main/webapp/app/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/common/services/storage.test.ts.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.test.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/services/login.test.ts.mustache
Labels: area: enhancement :wrench:, client: react

#10977 Angular: apply prettier-plugin-organize-imports
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth-jwt.service.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/auth.interceptor.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.spec.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.ts.mustache
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.service.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#10985 Vue: apply prettier
  src/main/resources/generator/client/vue/webapp/app/auth/domain/AuthenticatedUser.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/application/AuthProvider.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttpStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakStub.ts.mustache
Labels: area: enhancement :wrench:, client: vue

#10984 Vue: apply prettier-plugin-organize-imports
  src/main/resources/generator/client/vue/webapp/app/auth/application/AuthProvider.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/auth/infrastructure/secondary/KeycloakHttp.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/home/application/HomeRouter.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/injections.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/router.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/application/AuthProvider.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakAuthRepository.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttpStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/router/infrastructure/primary/HomeRouter.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts.mustache
Labels: area: enhancement :wrench:, client: vue

#10983 React: apply prettier
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/services/login.ts.mustache
Labels: area: enhancement :wrench:, client: react

#10986 Apply prettier
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/angular/core/eslint.config.mjs.mustache
  src/main/resources/generator/client/react/core/vite.config.ts.mustache
  src/main/resources/generator/client/vue/vite.config.ts.mustache
  src/main/resources/generator/typescript/vitest.config.ts.mustache
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.vitest.config.ts.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.vitest.config.ts.approved.txt
Labels: area: enhancement :wrench:

#10960 React: Simplify tests
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/common/services/storage.test.ts.mustache
Labels: area: enhancement :wrench:, client: react

#10690 add vue internationalization
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/infrastructure/primary/ReactI18nModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/application/VueI18nApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/infrastructure/primary/VueI18nModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/package-info.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/client/common/i18n/Translations.ts
  src/main/resources/generator/client/common/i18n/app/HomeTranslations.ts
  src/main/resources/generator/client/common/i18n/app/locales/en.ts
  src/main/resources/generator/client/common/i18n/app/locales/fr.ts
  src/main/resources/generator/client/common/i18n/i18n.ts
  src/main/resources/generator/client/vue/i18n/src/test/HomePageVue.spec.ts
  src/main/resources/generator/client/vue/i18n/src/test/setupTests.ts
  src/main/resources/generator/dependencies/vue/package.json
  src/test/features/client/vue-i18n.feature
  src/test/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactoryTest.java
  src/test/resources/projects/vue/HomepageVue.spec.ts.template
  src/test/resources/projects/vue/HomepageVue.vue.template
  src/test/resources/projects/vue/vitest.config.ts.template
Labels: area: feature request :bulb:, client: vue, theme: client

#10996 Sonar: 8 issues
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/primary/landscape/BodyCursorUpdater.ts
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/app/module/secondary/RestProjectFoldersRepository.ts
  src/main/webapp/app/shared/alert/infrastructure/secondary/MittAlertBus.ts
  src/main/webapp/app/shared/alert/infrastructure/secondary/MittAlertListener.ts
Labels: area: enhancement :wrench:, generator: internal

#10907 Handle null in TypeScript optional
  src/main/resources/generator/typescript/test/webapp/unit/common/domain/optional/Optional.spec.ts
  src/main/resources/generator/typescript/webapp/common/domain/optional/Optional.ts
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/LandscapeSelectionTree.ts
  src/main/webapp/app/module/secondary/RestModulesRepository.ts
  src/main/webapp/app/shared/optional/domain/Optional.ts
  src/test/webapp/unit/shared/optional/domain/Optional.spec.ts
Labels: area: enhancement :wrench:, theme: typescript

#11012 allow empty in css stylelint
  .lintstagedrc.js
Labels: area: bug :bug:, generator: internal

#11003 Angular: apply prettier on angularoauth2app
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/http-auth.interceptor.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts.mustache
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#11013 Upgrade Angular 18.2.6
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#11014 Clean code
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/CustomClaimConverter.java.mustache
Labels: area: enhancement :wrench:

#11010 rework react core like vue core
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/resources/generator/client/common/piqure/injections.ts.mustache
  src/main/resources/generator/client/react/core/src/main/webapp/app/home/infrastructure/primary/HomePage.css.mustache
  src/main/resources/generator/client/react/core/src/main/webapp/app/home/infrastructure/primary/HomePage.tsx.mustache
  src/main/resources/generator/client/react/core/src/main/webapp/app/index.tsx.mustache
  src/main/resources/generator/client/react/core/src/test/webapp/unit/common/primary/app/App.test.tsx.mustache
  src/main/resources/generator/client/react/core/src/test/webapp/unit/home/infrastructure/primary/HomePage.spec.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/dependencies/vue/package.json
  src/test/features/client/react.feature
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/resources/projects/react-app/HomePage.css
  src/test/resources/projects/react-app/HomePage.spec.tsx
  src/test/resources/projects/react-app/HomePage.tsx
  src/test/resources/projects/react-app/index.tsx
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.vitest.config.ts.approved.txt
Labels: area: feature request :bulb:, client: react, area: breaking change
