Repository seed4j/seed4j, pull requests merged in 2024-02, with the labels that each got.

#8800 Setup new triage labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/triage.yml
Labels: area: refactoring, theme: CI

#8825 replace default server port when property has custom value
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/resources/generator/client/angular/core/proxy.conf.json
  src/main/resources/generator/client/angular/core/proxy.conf.json.mustache
  src/main/resources/generator/client/react/vite.config.ts.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/jwt-basic-auth.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/jhipster-realm.json.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular, client: react

#8827 Fix hardcoded server port
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/CodespaceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodModuleFactory.java
  src/main/resources/generator/server/springboot/thymeleaf/template/documentation/thymeleaf.md.mustache
  src/main/resources/generator/setup/gitpod/.gitpod.yml.mustache
  src/test/java/tech/jhipster/lite/generator/setup/codespaces/domain/CodespacesModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/setup/gitpod/domain/GitpodModuleFactoryTest.java
  tests-ci/modulePayload.json
  tests-ci/start.sh
Labels: area: enhancement :wrench:

#8828 Update Stylelint dependencies
  .stylelintrc.json
  package-lock.json
  package.json
Labels: area: dependencies

#8829 Some typos
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
Labels: area: refactoring

#8831 Bump prettier to version 3.2.5
  .prettierrc
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/common/package.json
  src/main/resources/generator/prettier/.prettierrc.mustache
Labels: area: enhancement :wrench:, area: dependencies

#8840 Sonar: Fix code smells
  src/main/webapp/app/module/domain/landscape/LandscapeUnselectionTree.ts
  src/main/webapp/app/module/secondary/GetMediaPreference.ts
Labels: area: bug :bug:, generator: internal

#8842 Fix getter for java version property
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
Labels: area: enhancement :wrench:, area: refactoring

#8826 Custom-jhlite should depends on jhlite version that has been used to generate it
  .github/workflows/github-actions.yml
  .github/workflows/release.yml
  Dockerfile
  pom.xml
  src/main/resources/generator/dependencies/pom.xml
  tests-ci/start.sh
Labels: area: feature request :bulb:, generator: internal, $$ bug-bounty $$, $300

#8777 Support declaring dependencies in a maven profile
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/AddJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/RemoveDirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/command/RemoveJavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfile.java
  src/main/java/tech/jhipster/lite/module/domain/javabuildprofile/JHipsterModuleJavaBuildProfiles.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DependenciesCommandsFactory.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/DirectJavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JHipsterModuleJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependency.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyCommandsCreator.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyManagement.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/ProjectJavaDependencies.java
  src/main/java/tech/jhipster/lite/module/domain/javadependency/ProjectJavaDependenciesVersions.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JHipsterJavaDependenciesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JHipsterProjectFolderJavaDependenciesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenProjectJavaDependenciesRepository.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/DependenciesCommandsFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/DirectJavaDependencyTest.java
  src/test/java/tech/jhipster/lite/module/domain/javadependency/JavaDependencyManagementTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/JavaDependenciesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenProjectJavaDependenciesRepositoryTest.java
Labels: area: feature request :bulb:, theme: maven

#8861 Fix: Sonarqube 10.4.0-community
  src/main/resources/generator/client/react/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/dependencies/Dockerfile
  src/main/resources/generator/server/springboot/mvc/frontend/RedirectionResource.java.mustache
Labels: area: dependencies

#8862 Use Sonarqube 10.4.0 for jhlite engine
  src/main/docker/sonar.yml
  src/main/java/tech/jhipster/lite/shared/projectfolder/infrastructure/primary/ProjectFolderConfiguration.java
  src/main/java/tech/jhipster/lite/wire/frontend/infrastructure/primary/RedirectionResource.java
  src/test/java/tech/jhipster/lite/wire/frontend/infrastructure/primary/RedirectionResourceIT.java
Labels: area: dependencies, area: refactoring

#8868 Renovate: disable Dependency Dashboard
  renovate.json
Labels: generator: CI, area: dependencies

#8878 ES warning when releasing
  src/main/java/tech/jhipster/lite/generator/client/common/domain/ClientsModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/client/vue/vitest.config.mts
  src/main/resources/generator/prettier/.lintstagedrc.cjs
  src/test/features/init.feature
  src/test/features/prettier.feature
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/JHipsterModulesAssertions.java
  src/test/resources/generator/common/.lintstagedrc.cjs
  src/test/resources/projects/init/.lintstagedrc.cjs
Labels: generator: internal

#8901 bump @typescript-eslint/eslint-plugin & @typescript-eslint/parser
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#8909 bump @typescript-eslint/parser & @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Labels: area: dependencies

#8910 Node 20.11.1
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  pom.xml
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: generator: internal, area: dependencies

#8911 Fix punctuation in README
  README.md
Labels: area: documentation :books:, generator: internal

#8916 Fix typos
  CONTRIBUTING.md
  documentation/cucumber.md
  documentation/module-creation.md
Labels: area: documentation :books:, generator: internal

#8917 (gradle) Fix integration tests run and testcontainers dependency clash
  .github/workflows/github-actions.yml
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
Labels: theme: gradle, theme: tests

#8918 Fix typos
  documentation/module-creation.md
Labels: area: documentation :books:, generator: internal

#8929 Fix typos
  README.md
  documentation/cucumber.md
Labels: area: documentation :books:, generator: internal

#8930 Fix typos
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  documentation/module-creation.md
Labels: area: documentation :books:, generator: internal

#8937 Unused imports in generated app
  src/main/resources/generator/server/springboot/cucumber/rest/CucumberRestTestContext.java.mustache
Labels: generator: internal

#8932 Bump NPM to 10.4.0
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies

#8936 Fix typos on *.md.mustache files
  src/main/resources/generator/server/javatool/base/main/assertions.md.mustache
  src/main/resources/generator/server/javatool/base/main/package-types.md.mustache
  src/main/resources/generator/server/pagination/rest/rest-pagination.md.mustache
  src/main/resources/generator/server/sonar/sonar.md.mustache
  src/main/resources/generator/server/springboot/cache/caffeine/caffeine.md.mustache
  src/main/resources/generator/server/springboot/cucumber/cucumber.md.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/documentation/application-errors.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/jwt-basic-auth.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/kipe-authorization.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/kipe-expression.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/auth0/documentation/auth0.md.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/okta/documentation/okta.md.mustache
  src/main/resources/generator/server/springboot/thymeleaf/template/documentation/thymeleaf.md.mustache
Labels: area: documentation :books:, generator: internal

#8964 Fix some typos
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
Labels: area: documentation :books:, generator: internal

#8970 add gradle jacoco plugin
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/gradle/libs.versions.toml
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
Labels: area: feature request :bulb:, theme: gradle

#8981 handle gradle github actions and gitlab ci
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/application/GitHubActionsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/GitHubActionsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/application/GitLabCiApplicationService.java
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/domain/GitLabCiModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/infrastructure/primary/GitLabCiModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
  src/main/resources/generator/ci/gitlab/.gitlab-ci-gradle.yml.mustache
  src/test/features/ci/github-actions.feature
  src/test/features/ci/gitlab-ci.feature
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/ci/gitlab/domain/GitLabCiModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: enhancement :wrench:, theme: gradle, theme: CI

#8982 (error) Make exceptions message more explicit by including actual value in error
  src/main/resources/generator/server/javatool/base/main/error/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NotAfterTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NotBeforeTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/StringTooLongException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/StringTooShortException.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/NotAfterTimeExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/NotBeforeTimeExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/StringTooLongExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/StringTooShortExceptionTest.java.mustache
Labels: area: enhancement :wrench:, server: java

#8983 Plugin prettier-plugin-packagejson (config and upgrade)
  .prettierrc
Labels: generator: internal, area: dependencies

#8962 handle different startup commands for maven and gradle
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/domain/CassandraMigrationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/OptionalFileReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/OptionalReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/JHipsterModuleStartupCommands.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/JHipsterStartupCommand.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/JHipsterStartupCommands.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/StartupCommandLine.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/StartupCommandType.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandler.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandlerTest.java
Labels: area: enhancement :wrench:, theme: gradle, $$ bug-bounty $$, $200

#9001 Fix code smells
  sonar-project.properties
Labels: generator: internal, server: java

#9002 Sonar: Disable java:S131 rule
  sonar-project.properties
Labels: generator: internal, server: java

#9006 Fix typo
  src/main/resources/generator/server/javatool/base/test/error/NotAfterTimeExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/NotBeforeTimeExceptionTest.java.mustache
Labels: generator: internal

#9004 Husky 9: fix migration
  .husky/pre-commit
  package.json
Labels: generator: internal, area: dependencies

#9009 Update obsolete node version to unlock dependabot updates
  package.json
Labels: generator: internal, area: dependencies

#9017 [ci ignore] (dependabot) Switch to default rebase-strategy (auto)
  .github/dependabot.yml
Labels: area: dependencies

#9023 Minimal node engine: sync package-lock.json with package.json
  package-lock.json
Labels: area: dependencies

#9012 (generated-app) Husky v9: proper configuration migration
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/resources/generator/prettier/.husky/pre-commit
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/resources/projects/files/package.json
Labels: area: dependencies

#9024 (engine) Enforce npm save-exact policy
  .npmrc
  package-lock.json
  package.json
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/resources/projects/node-multiple-scripts/package.json
  src/test/resources/projects/node/package.json
Labels: generator: internal, area: dependencies

#9016 Add more checkstyle rules for generated applications
  checkstyle.xml
  src/main/resources/generator/server/javatool/arch/AnnotationArchTest.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/Assert.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/MissingMandatoryValueException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NotAfterTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NotBeforeTimeException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NumberValueTooHighException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/NumberValueTooLowException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/StringTooLongException.java.mustache
  src/main/resources/generator/server/javatool/base/main/error/StringTooShortException.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/AssertTest.java.mustache
  src/main/resources/generator/server/javatool/checkstyle/main/checkstyle.xml.mustache
  src/main/resources/generator/server/pagination/domain/main/AppPage.java.mustache
  src/main/resources/generator/server/pagination/rest/main/RestAppPage.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
  src/main/resources/generator/server/springboot/broker/pulsar/PulsarConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/CacheConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/cache/ehcache/test/JavaCacheConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/cucumber/rest/Awaiter.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/jwt/AuthenticationSteps.java.mustache
  src/main/resources/generator/server/springboot/cucumberauthentication/oauth2/AuthenticationSteps.java.mustache
  src/main/resources/generator/server/springboot/database/cassandra/CassandraJSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/hibernate2ndlevelcache/test/Hibernate2ndLevelCacheConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/main/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/test/TestMongoDBManager.java.mustache
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConverters.java.mustache
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/AsyncSpringLiquibaseTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LiquibaseConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/cassandrapersistence/test/infrastructure/secondary/SpringDataRepositoryIT.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/domain/beer/Beer.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/domain/order/BeerOrder.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/infrastructure/primary/beer/RestBeer.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/main/infrastructure/primary/beer/RestBeers.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/domain/BeersIdentityFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/domain/beer/BeersFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/dummy/feature/test/dummy/domain/order/BeerOrderFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/main/ApplicationException.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/domain/AuthenticationQuery.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/RestAuthenticationQuery.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/RestToken.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/Accesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/RolesAccesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/domain/Account.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/primary/RestAccount.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/CustomClaimConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/FakeRequestAttributes.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/JwtGrantedAuthorityConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/BeanValidationAssertions.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/test/cors/CorsFilterConfigurationIT.java.mustache
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: area: enhancement :wrench:, server: java

#9015 Remove useless cacheDirectories in package.json
  package.json
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/resources/generator/init/package.json.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/resources/generator/command/package-complete.json
  src/test/resources/generator/command/package-empty.json
  src/test/resources/generator/command/package-nothing.json
  src/test/resources/generator/command/package-test.json
  src/test/resources/projects/empty-node/package.json
  src/test/resources/projects/files/package.json
  src/test/resources/projects/node-multiple-scripts/package.json
  src/test/resources/projects/node-template/package.json
  src/test/resources/projects/node/package.json
Labels: generator: internal, area: refactoring

#9025 Startup commands improvements
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/domain/SonarQubeModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/pulsar/domain/PulsarModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/cassandra/domain/CassandraModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/domain/Neo4jModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/sqlcommon/domain/SQLCommonModuleBuilder.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/domain/CassandraMigrationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/DockerComposeFile.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/DockerComposeStartupCommandLine.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/GradleStartupCommandLine.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/JHipsterModuleStartupCommands.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/JHipsterStartupCommand.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/MavenStartupCommandLine.java
  src/main/java/tech/jhipster/lite/module/domain/startupcommand/StartupCommandType.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandler.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandlerTest.java
Labels: generator: internal, area: refactoring

#9031 Code improvements
  src/main/java/tech/jhipster/lite/ApplicationStartupTraces.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/domain/SpringDocAuth0ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/flyway/domain/FlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/flyway/domain/DummyFlywayModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/dummy/liquibase/domain/DummyLiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/mavenplugin/MavenPluginExecution.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/TextNeedleBeforeReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/UnknownCurrentValueException.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTags.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResources.java
  src/main/java/tech/jhipster/lite/module/domain/resource/UnknownSlugException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/MissingPackageJsonException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/UnknownFileToDeleteException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/UnknownFileToMoveException.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/docker/FileSystemDockerImagesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/GradleVersionCatalogDependenciesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/MavenDependenciesReader.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReader.java
  src/main/java/tech/jhipster/lite/shared/error/domain/Assert.java
  src/main/java/tech/jhipster/lite/shared/error/domain/NotAfterTimeException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/NullElementInCollectionException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/StringTooLongException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/StringTooShortException.java
  src/main/java/tech/jhipster/lite/shared/error/domain/StringWithWhitespacesException.java
  src/test/java/tech/jhipster/lite/HexagonalArchTest.java
  src/test/java/tech/jhipster/lite/cucumber/rest/AsyncHeaderAsserter.java
  src/test/java/tech/jhipster/lite/cucumber/rest/ElementAssertions.java
  src/test/java/tech/jhipster/lite/cucumber/rest/HeaderAsserter.java
  src/test/java/tech/jhipster/lite/cucumber/rest/HeaderAssertions.java
  src/test/java/tech/jhipster/lite/cucumber/rest/SyncHeaderAsserter.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/domain/KafkaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/file/JHipsterDestinationTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemYamlSpringCommentsCommandsHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/PropertiesFileSpringCommentsHandlerTest.java
Labels: generator: internal, area: refactoring

#9003 bump Vue 3.4.19
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#9034 Fix vscode compile error string template import conflict
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandler.java
Labels: area: bug :bug:, generator: internal

#9039 Remove unused dom4j dependency
  pom.xml
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/NativeHints.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/NativeJavaDependencyConfiguration.java
Labels: generator: internal, area: dependencies

#9036 Sonar: tabIndex values should be 0 or -1
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/primary/module-properties-form/ModulePropertiesForm.html
  src/main/webapp/app/module/primary/modules-patch/ModulesPatch.html
  src/main/webapp/app/module/primary/project-actions/ProjectActions.html
  src/main/webapp/app/module/primary/tag-filter/TagFilter.html
Labels: area: enhancement :wrench:, generator: internal

#9040 Fix native docker image
  .github/workflows/publish-native-docker-image.yml
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/NativeGradleConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/NativeHints.java
  tests-ci/start.sh
  tests-ci/start_docker_container.sh
Labels: area: bug :bug:, theme: docker :whale:

#9053 Release drafter: fix documentation label
  .github/release-drafter.yml
Labels: area: enhancement :wrench:, generator: CI

#9033 Use maven-model-helper library to write changes to the POM model
  pom.xml
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandler.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/protobuf/domain/ProtobufModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenCommandHandlerTest.java
Labels: area: enhancement :wrench:, theme: maven

#9057 add gradle support for dockerfile module
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/application/SpringBootDockerApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/docker/infrastructure/primary/SpringBootDockerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/server/springboot/docker/Dockerfile-gradle.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile-maven.mustache
  src/test/features/server/springboot/spring-boot-docker.feature
  src/test/java/tech/jhipster/lite/generator/server/springboot/docker/domain/SpringBootDockerModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: gradle, theme: docker :whale:

#9054 Sonar: disable two rules
  sonar-project.properties
Labels: area: enhancement :wrench:, generator: internal

#9058 Fix missing defined lib so no update
  src/main/resources/generator/dependencies/pom.xml
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/ConsistentMavenDependenciesDeclarationTest.java
Labels: area: bug :bug:, area: dependencies

#9059 Use renovate to update docker-compose dependencies
  .github/dependabot.yml
  renovate.json
Labels: area: dependencies, theme: docker :whale:

#9061 Handle different frontend build output directory for maven and gradle
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/javabuild/JavaBuildTool.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/main/java/tech/jhipster/lite/shared/collection/domain/JHipsterCollections.java
  src/main/resources/generator/client/angular/core/jest.conf.js.mustache
  src/main/resources/generator/client/angular/core/tsconfig.spec.json.mustache
  src/main/resources/generator/client/react/vite.config.ts.mustache
  src/main/resources/generator/client/react/vitest.config.ts.mustache
  src/main/resources/generator/client/svelte/svelte.config.js.mustache
  src/main/resources/generator/client/svelte/vitest.config.ts.mustache
  src/main/resources/generator/client/vue/vite.config.mts.mustache
  src/main/resources/generator/client/vue/vitest.config.mts.mustache
  src/main/resources/generator/server/sonar/sonar-fullstack-project.properties.mustache
  src/main/resources/generator/server/sonar/sonar-project.properties.mustache
  src/main/resources/generator/server/springboot/cucumber/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile-maven.mustache
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModuleFilesTest.java
Labels: theme: maven, theme: gradle, area: refactoring

#8986 (ci) Introduce java-build-tool in build matrix
  .github/workflows/github-actions.yml
  tests-ci/generate.sh
Labels: generator: internal, theme: gradle, theme: CI

#9075 Add java-build-tool matrix parameter for generating app in main branch
  .github/workflows/github-actions.yml
Labels: theme: CI

#9081 Unused imports
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleShortcuts.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
Labels: area: enhancement :wrench:, generator: internal

#9080 Fix typo
  documentation/hexagonal-architecture.md
Labels: area: enhancement :wrench:, generator: internal

#9079 fix gradle dependencies order code smell
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleDependencyScope.java
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/dependencies/build.gradle.kts
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
  src/test/resources/projects/empty-gradle/build.gradle.kts
  src/test/resources/projects/init-gradle/build.gradle.kts
Labels: area: enhancement :wrench:, theme: gradle

#8776 Add JaCoCo configuration to check minimum coverage
  .jhipster/modules/history.json
  pom.xml
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#9088 Gradle: handle dependencies exclusions
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandlerTest.java
Labels: area: feature request :bulb:, theme: gradle

#9089 add jacoco and jacoco-with-min-coverage-check modules working with maven/gradle
  src/main/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/application/JacocoApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoThresholdModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/jacoco/infrastructure/primary/JacocoThresholdModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/infrastructure/primary/SonarQubeModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteFeatureSlug.java
  src/main/java/tech/jhipster/lite/generator/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/dependencies/pom.xml
  src/test/features/server/javatool/jacoco-threshold.feature
  src/test/features/server/javatool/jacoco.feature
  src/test/java/tech/jhipster/lite/generator/buildtool/gradle/domain/GradleModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/buildtool/maven/domain/MavenModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/jacoco/domain/JacocoThresholdModuleFactoryTest.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
  src/test/resources/projects/init-maven/pom.xml
  tests-ci/generate.sh
Labels: theme: maven, theme: gradle
