Repository seed4j/seed4j, pull requests merged in 2024-12, with the labels that each got.

#11485 Refacto: EmitterStub
  src/test/webapp/unit/shared/alert/infrastructure/secondary/EmitterStub.fixture.ts
  src/test/webapp/unit/shared/alert/infrastructure/secondary/MittAlertBus.spec.ts
Labels: generator: internal, theme: tests

#11486 Refacto: fakeStorage is duplicated
  src/test/webapp/unit/module/secondary/FakeStorage.fixture.ts
  src/test/webapp/unit/module/secondary/LocalStorageModuleParametersRepository.spec.ts
  src/test/webapp/unit/module/secondary/LocalWindowThemeRepository.spec.ts
Labels: generator: internal, theme: tests

#11487 React/ESLint: enable @typescript-eslint/no-unsafe-argument
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactory.java
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.eslint.config.js.approved.txt
Labels: area: enhancement :wrench:, client: react

#11488 chore(deps): simplify springdoc-openapi versions
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactory.java
  src/main/resources/generator/dependencies/pom.xml
Labels: area: enhancement :wrench:, area: dependencies

#11498 Bump Node to 22.12.0
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal, area: dependencies

#11507 A more specific word could be used instead of very simple
  documentation/hexagonal-architecture.md
  src/main/resources/generator/server/documentation/hexagonal-application-service/hexagonal-application-service-architecture.md
  src/main/resources/generator/server/springboot/mvc/sample/feature/sample.md
Labels: area: enhancement :wrench:

#11512 Bump NPM to 10.9.2
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies

#11514 feat(liquibase): async liquibase configuration should not be activated if liquibase is disabled
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
Labels: area: enhancement :wrench:, theme: database migration

#11523 Revert Node to 22.11.0
  CONTRIBUTING.md
  pom.xml
Labels: area: bug :bug:, area: dependencies, client: react

#11525 ci: use node 22.11.0 rather that latest lts
  .github/workflows/github-actions.yml
Labels: area: bug :bug:, generator: CI, area: dependencies

#11506 chore(deps): update generated apps to spring-boot 3.4.0
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/cucumber/cucumber.md.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/springcloud/gateway/java/test/GatewayResourceIT.java.mustache
Labels: server: spring boot, area: dependencies, server: java

#11537 React: upgrade dependency nextui-org/react to v2.6.3
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#11547 add unit test step in gradle ci
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions-gradle.yml.mustache
Labels: theme: gradle

#11556 add unit test step into gradle gitlab ci script
  src/main/resources/generator/ci/gitlab/.gitlab-ci-gradle.yml.mustache
Labels: theme: gradle

#11404 Disable: Liquibase send analytics by default since 4.30
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/LiquibaseConfiguration.java.mustache
Labels: area: enhancement :wrench:, theme: database migration, area: needs discussion

#11557 Upgrade to Spring Boot 3.4.0 (generator)
  .github/workflows/publish-native-docker-image.yml
  README.md
  pom.xml
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleTagTest.java
Labels: server: spring boot, area: dependencies

#11572 Update jmolecules description to mention DDD patterns
  src/main/java/tech/jhipster/lite/generator/server/documentation/jmolecules/infrastructure/primary/JMoleculesModuleConfiguration.java
Labels: area: documentation :books:, area: enhancement :wrench:

#11580 Fix script test:coverage
  src/main/webapp/app/shared/icon/infrastructure/primary/Icon.html
  src/main/webapp/app/shared/icon/infrastructure/primary/Icon.vue
Labels: area: enhancement :wrench:, theme: tests

#11516 React 19
  src/main/resources/generator/dependencies/react/package.json
Labels: area: dependencies, client: react

#11596 Bump NPM to 11.0.0
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies

#11599 Typo
  src/test/webapp/unit/module/domain/Modules.fixture.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#11601 Sonar/Angular: Assertions should be complete
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.component.spec.ts.mustache
Labels: area: enhancement :wrench:, client: angular

#11600 feat(liquibase): new module for configuring a liquibase linter executed as a maven plugin
  .lintstagedrc.js
  .prettierrc
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/application/LiquibaseApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/infrastructure/primary/LiquibaseModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/shared/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/prettier/.prettierrc.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/liquibase-linter.jsonc
  src/test/features/server/springboot/dbmigration/liquibase.feature
  src/test/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/liquibase/domain/LiquibaseModuleFactoryTest.java
  tests-ci/generate.sh
Labels: area: feature request :bulb:, theme: database migration

#11605 Upgrade to Spring Boot 3.4.1
  .github/workflows/publish-native-docker-image.yml
  README.md
  pom.xml
Labels: server: spring boot, area: dependencies

#11602 chore(generator): configure Error Prone and fix existing issues
  .mvn/jvm.config
  pom.xml
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/license/domain/LicenseModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/DocumentationTitle.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterSlug.java
  src/main/java/tech/jhipster/lite/module/domain/docker/DockerImageName.java
  src/main/java/tech/jhipster/lite/module/domain/file/JHipsterDestination.java
  src/main/java/tech/jhipster/lite/module/domain/gitignore/GitIgnoreEntry.java
  src/main/java/tech/jhipster/lite/module/domain/gradleplugin/GradleCorePlugin.java
  src/main/java/tech/jhipster/lite/module/domain/javaproperties/PropertyValue.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmPackageVersion.java
  src/main/java/tech/jhipster/lite/module/domain/npm/NpmVersions.java
  src/main/java/tech/jhipster/lite/module/domain/packagejson/PackageJsonDependency.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterProjectBaseName.java
  src/main/java/tech/jhipster/lite/module/domain/replacement/EndOfFileReplacer.java
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterHiddenModules.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemPackageJsonHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/file/MustacheTemplateRenderer.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/maven/MavenScope.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmLazyInstaller.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmVersionReader.java
  src/main/java/tech/jhipster/lite/project/domain/download/Project.java
  src/main/java/tech/jhipster/lite/project/domain/download/ProjectName.java
  src/main/java/tech/jhipster/lite/shared/base64/domain/Base64Utils.java
  src/main/java/tech/jhipster/lite/shared/enumeration/domain/Enums.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/secondary/AppliedModuleDocument.java
  src/test/java/tech/jhipster/lite/shared/memoizer/domain/MemoizersTest.java
Labels: generator: internal, area: refactoring

#11615 Angular/ESLint Remove workaround
  src/main/resources/generator/client/angular/core/eslint.config.mjs.mustache
Labels: area: enhancement :wrench:, client: angular

#11606 feat(checkstyle): use latest checkstyle version when using checkstyle maven plugin
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/main/resources/generator/dependencies/build.gradle.kts
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/primary/RestAccount.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/CustomClaimConverter.java.mustache
  src/test/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: java

#11624 Angular: remove REMOVE_STYLES_ON_COMPONENT_DESTROY (default value since v17)
  src/main/resources/generator/client/angular/core/src/main/webapp/main.ts.mustache
  src/test/resources/projects/angular/main.ts
Labels: client: angular

#11623 Angular: Typescript 5.6.3
  src/main/resources/generator/client/angular/core/jest.conf.js.mustache
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#11634 Upgrade Typescript 5.7.2 (generator)
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#11635 Set homepage as optional for vue-18next
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
  src/main/resources/generator/client/vue/i18n/src/test/HomePageVue.spec.ts
  src/test/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactoryTest.java
  src/test/resources/projects/vue/HomepageVue.spec.ts.template
Labels: area: enhancement :wrench:, client: vue

#11636 Typo
  documentation/hexagonal-architecture.md
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
Labels: area: enhancement :wrench:

#11641 Typo
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/login/login.component.spec.ts.mustache
Labels: area: enhancement :wrench:

#11644 Update the list of applications
  CONTRIBUTING.md
Labels: area: documentation :books:, generator: internal

#11643 Typo
  src/main/resources/generator/server/springboot/cucumber/rest/SyncResponseAsserter.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/rest/SyncResponseAsserter.java
Labels: area: enhancement :wrench:

#11650 Handle null in Optional.ofNullable
  src/main/resources/generator/typescript/webapp/common/domain/optional/Optional.ts
Labels: area: enhancement :wrench:, theme: client

#11652 Fix update dependency typescript to v5.7.2
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#11656 Angular: simplify test
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
Labels: client: angular, theme: tests

#11655 Typo
  src/main/resources/generator/typescript/vitest.config.ts.mustache
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactCoreModulesFactoryTest.shouldBuildModuleWithStyle.vitest.config.ts.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModulesFactoryTest.shouldCreateVueModule.vitest.config.ts.approved.txt
Labels: area: enhancement :wrench:

#11657 Angular: remove unused constant
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/login/login.component.html.mustache
Labels: client: angular

#11647 chore(tests): remove unused logs spy
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
Labels: generator: internal, theme: tests

#11658 test(generator): start serving webapp in frontend component tests with just `npm run dev`
  package-lock.json
  package.json
Labels: generator: internal, theme: tests

#11653 Tikui, vue & cypress headless failling
  src/main/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/jwt/domain/AngularJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/playwright/domain/PlaywrightModuleFactoryTest.java
Labels: area: bug :bug:, client: vue, theme: client

#11654 Remove unused type: AxiosHttpResponse
  src/main/resources/generator/client/vue/webapp/app/shared/http/infrastructure/secondary/AxiosHttp.ts.mustache
Labels: area: refactoring, theme: client

#11660 Vue/ESLint v-html directive can lead to XSS attack
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactoryTest.java
Labels: area: refactoring, client: vue

#10950 JHLite Generator: merge code coverage of unit and component frontend tests
  .nycrc.json
  package-lock.json
  package.json
  pom.xml
  sonar-project.properties
  src/test/webapp/component/.nycrc.json
  src/test/webapp/component/cypress-config.ts
  src/test/webapp/component/support/component-tests.ts
  vite.config.ts
  vitest.config.ts
Labels: generator: internal, theme: tests, theme: client

#11662 Apply Prettier on generated files
  src/main/resources/generator/client/loader/Loader.spec.ts.mustache
  src/main/resources/generator/client/pagination/secondary/RestPage.spec.ts.mustache
Labels: generator: internal, theme: client
