Repository seed4j/seed4j, pull requests merged in 2025-08, with the labels that each got.

#13092 Change port to 1339
  .devcontainer/devcontainer.json
  .github/workflows/github-actions.yml
  README.md
  src/main/resources/config/application.yml
  src/main/resources/generator/setup/gitpod/.gitpod.yml.mustache
  src/test/webapp/e2e/cypress-config.ts
  tests-ci/generate.sh
  tests-ci/start_docker_container.sh
  vite.config.ts
Labels: generator: internal, area: refactoring

#13094 Add funding.yml for sponsors
  .github/FUNDING.yml
Labels: area: documentation :books:, generator: internal

#13095 Migration: to seed4j, related to Docker
  .github/workflows/publish-jvm-docker-image.yml
  .github/workflows/publish-native-docker-image.yml
  Dockerfile
  README.md
  src/main/docker/sonar/Dockerfile
  src/main/resources/generator/ci/sonarqube/sonar/Dockerfile
Labels: generator: internal, area: refactoring, theme: docker :whale:

#13098 Migration part 5
  README.md
  documentation/jhlite-choice.png
  documentation/style.md
  src/main/glyph/config.json
  src/main/glyph/css/seed4j-icons-codes.css
  src/main/glyph/css/seed4j-icons-embedded.css
  src/main/glyph/css/seed4j-icons-ie7-codes.css
  src/main/glyph/css/seed4j-icons-ie7.css
  src/main/glyph/css/seed4j-icons.css
  src/main/glyph/font/seed4j-icons.eot
  src/main/glyph/font/seed4j-icons.svg
  src/main/glyph/font/seed4j-icons.ttf
  src/main/glyph/font/seed4j-icons.woff
  src/main/glyph/font/seed4j-icons.woff2
Labels: generator: internal, area: refactoring

#13097 Migration: custom-jhlite to seed4j-extension
  .github/workflows/github-actions.yml
  CONTRIBUTING.md
  README.md
  src/main/java/com/seed4j/generator/server/springboot/customjhlite/application/CustomJHLiteApplicationService.java
  src/main/java/com/seed4j/generator/server/springboot/customjhlite/package-info.java
  src/main/java/com/seed4j/generator/server/springboot/seed4jextension/application/Seed4JExtensionApplicationService.java
  src/main/java/com/seed4j/generator/server/springboot/seed4jextension/domain/Seed4JExtensionModuleFactory.java
  src/main/java/com/seed4j/generator/server/springboot/seed4jextension/infrastructure/primary/Seed4JExtensionModuleConfiguration.java
  src/main/java/com/seed4j/generator/server/springboot/seed4jextension/package-info.java
  src/main/java/com/seed4j/shared/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/dependencies/domain/NodePackagesVersionSource.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/dependencies/infrastructure/secondary/MavenDependenciesReader.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/dependencies/infrastructure/secondary/NodePackagesVersionsReader.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/dependencies/package-info.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/slug/domain/FeatureSlug.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/slug/domain/ModuleSlug.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/main/shared/slug/package-info.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/module-creation.md.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/package.json
  src/main/resources/generator/server/springboot/seed4j-extension/pom.xml.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/test/CucumberConfiguration.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/test/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/test/shared/dependencies/infrastructure/secondary/MavenDependenciesReaderTest.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/test/shared/dependencies/infrastructure/secondary/NodePackagesVersionsReaderTest.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/tests-ci/generate.sh.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/tests-ci/modulePayload.json.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/tests-ci/start.sh.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/tests-ci/stop.sh
  src/main/resources/presets/preset-maven.json
  src/test/features/server/springboot/seed4j-extension.feature
  src/test/java/com/seed4j/generator/server/springboot/seed4jextension/domain/Seed4JExtensionModuleFactoryTest.java
  tests-ci/generate.sh
Labels: generator: internal, area: refactoring

#13099 Migration part 6
  README.md
  documentation/module-creation.md
  src/main/java/com/seed4j/wire/springdoc/infrastructure/primary/SpringdocConfiguration.java
  src/main/resources/generator/client/common/hexagonal-documentation/front-hexagonal-architecture.md.mustache
  src/main/resources/generator/client/vue/documentation/vue-jwt-authentication-components.md.mustache
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/mvc/web/cors-configuration.md
  src/main/resources/generator/server/springboot/seed4j-extension/module-creation.md.mustache
  src/main/style/atom/button/button-toggle/button-toggle.md
  src/main/style/atom/select/select.mixin.pug
  src/test/java/com/seed4j/TestFileUtils.java
  src/test/resources/com/seed4j/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyModuleToMavenProject.pom.xml.approved.txt
  src/test/resources/com/seed4j/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.shouldApplyTwoModulesToMavenProject.pom.xml.approved.txt
  src/test/resources/generator/command/package-test.json
  src/test/resources/projects/empty-gradle/settings.gradle.kts
  src/test/resources/projects/empty-maven/pom.xml
  src/test/resources/projects/maven-compile-only/pom.xml
  src/test/resources/projects/maven-empty-build/pom.xml
  src/test/resources/projects/maven-empty-dependencies/pom.xml
  src/test/resources/projects/maven-empty-plugin-management/pom.xml
  src/test/resources/projects/maven-with-default-goal/pom.xml
  src/test/resources/projects/maven-with-extensions/pom.xml
  src/test/resources/projects/maven-with-local-profile-and-properties/pom.xml
  src/test/resources/projects/maven-with-local-profile/pom.xml
  src/test/resources/projects/maven-with-multiple-dependencies-management/pom.xml
  src/test/resources/projects/maven-with-multiple-dependencies/pom.xml
  src/test/resources/projects/maven-with-multiple-webtoken/pom.xml
  src/test/resources/projects/maven/pom.xml
Labels: generator: internal, area: refactoring

#13103 Migration part 8
  .seed4j/modules/history.json
  documentation/module-creation.md
  src/main/java/com/seed4j/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactory.java
  src/main/java/com/seed4j/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactory.java
  src/main/java/com/seed4j/generator/server/springboot/springcloud/configclient/domain/SpringCloudConfigModuleFactory.java
  src/main/java/com/seed4j/module/domain/SeedModule.java
  src/main/java/com/seed4j/module/domain/SeedModuleChanges.java
  src/main/java/com/seed4j/module/domain/SeedModuleContext.java
  src/main/java/com/seed4j/module/domain/buildproperties/SeedModuleBuildProperties.java
  src/main/java/com/seed4j/module/domain/file/SeedModuleFiles.java
  src/main/java/com/seed4j/module/domain/gitignore/SeedModuleGitIgnore.java
  src/main/java/com/seed4j/module/domain/gradleconfiguration/SeedModuleGradleConfigurations.java
  src/main/java/com/seed4j/module/domain/gradleplugin/SeedModuleGradlePlugins.java
  src/main/java/com/seed4j/module/domain/javabuild/SeedModuleMavenBuildExtensions.java
  src/main/java/com/seed4j/module/domain/javabuildprofile/SeedModuleJavaBuildProfile.java
  src/main/java/com/seed4j/module/domain/javadependency/SeedModuleJavaDependencies.java
  src/main/java/com/seed4j/module/domain/javaproperties/SeedModuleSpringFactories.java
  src/main/java/com/seed4j/module/domain/javaproperties/SeedModuleSpringProperties.java
  src/main/java/com/seed4j/module/domain/landscape/SeedLandscapeLevels.java
  src/main/java/com/seed4j/module/domain/landscape/SeedLandscapeModule.java
  src/main/java/com/seed4j/module/domain/packagejson/SeedModulePackageJson.java
  src/main/java/com/seed4j/module/domain/replacement/SeedModuleMandatoryReplacementsFactory.java
  src/main/java/com/seed4j/module/domain/replacement/SeedModuleOptionalReplacementsFactory.java
  src/main/java/com/seed4j/module/domain/replacement/SeedModuleReplacementsFactory.java
  src/main/java/com/seed4j/module/domain/resource/SeedModuleOrganization.java
  src/main/java/com/seed4j/module/domain/resource/SeedModulePropertyDefinition.java
  src/main/java/com/seed4j/module/domain/resource/SeedModuleResource.java
  src/main/java/com/seed4j/module/domain/resource/SeedModuleTags.java
  src/main/java/com/seed4j/module/infrastructure/primary/RestSeedLandscapeModule.java
  src/main/java/com/seed4j/module/infrastructure/primary/RestSeedModule.java
  src/main/java/com/seed4j/module/infrastructure/primary/RestSeedModulePropertyDefinition.java
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/keycloak.yml.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/docker/seed4j-realm.json.mustache
  src/test/java/com/seed4j/generator/init/domain/InitModuleFactoryTest.java
  src/test/java/com/seed4j/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactoryTest.java
  src/test/java/com/seed4j/module/domain/SeedModulesFixture.java
  src/test/java/com/seed4j/module/domain/resource/SeedModulePropertyDefinitionTest.java
  src/test/java/com/seed4j/module/domain/resource/SeedModulesResourceFixture.java
  src/test/java/com/seed4j/module/infrastructure/primary/RestSeedModulePropertiesDefinitionTest.java
  src/test/java/com/seed4j/module/infrastructure/secondary/FileSystemPackageJsonHandlerTest.java
  src/test/java/com/seed4j/module/infrastructure/secondary/SeedModulesAssertions.java
  src/test/java/com/seed4j/module/infrastructure/secondary/TestSeedModules.java
  src/test/java/com/seed4j/module/infrastructure/secondary/javabuild/FileSystemProjectJavaBuildToolRepositoryTest.java
Labels: generator: internal, area: refactoring

#13107 Front: change logos of homepage
  src/main/java/com/seed4j/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/com/seed4j/generator/client/react/core/domain/ReactModuleFactory.java
  src/main/java/com/seed4j/generator/client/vue/core/domain/VueModuleFactory.java
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.css.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.html.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/content/images/JHipster-Lite-neon-red.png
  src/main/resources/generator/client/angular/core/src/main/webapp/content/images/seed4j_logo-name.png
  src/main/resources/generator/client/react/core/src/main/webapp/app/home/infrastructure/primary/HomePage.tsx.mustache
  src/main/resources/generator/client/react/core/src/main/webapp/assets/JHipster-Lite-neon-blue.png
  src/main/resources/generator/client/react/core/src/main/webapp/assets/seed4j_logo-name.png
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
  src/main/resources/generator/client/vue/webapp/app/home/infrastructure/primary/HomepageVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/content/images/JHipster-Lite-neon-green.png
  src/main/resources/generator/client/vue/webapp/content/images/seed4j_logo-name.png
  src/test/java/com/seed4j/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/com/seed4j/generator/client/react/core/domain/ReactModuleFactoryTest.java
  src/test/java/com/seed4j/generator/client/vue/core/domain/VueModuleFactoryTest.java
  src/test/java/com/seed4j/module/domain/file/SeedFileContentTest.java
  src/test/resources/com/seed4j/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.shouldBuildI18nModule.HomePage.tsx.approved.txt
  src/test/resources/com/seed4j/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.shouldBuildModule.HomePage.tsx.approved.txt
  src/test/resources/generator/client/vue/webapp/content/images/JHipster-Lite-neon-green.png
  src/test/resources/generator/client/vue/webapp/content/images/seed4j_logo-name.png
  src/test/resources/projects/angular/app.html
  src/test/resources/projects/react/HomePage.tsx
  src/test/resources/projects/vue/HomepageVue.vue.mustache
Labels: area: enhancement :wrench:, client: vue, client: angular, client: react, theme: client

#13130 Update maven wrapper startup script
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.jar
  src/main/resources/generator/buildtool/maven/.mvn/wrapper/maven-wrapper.properties
  src/main/resources/generator/buildtool/maven/mvnw
  src/main/resources/generator/buildtool/maven/mvnw.cmd
Labels: theme: maven, area: dependencies

#13131 Migration: jhipster to seed4j
  documentation/style.md
  src/main/java/com/seed4j/generator/server/documentation/jqassistant/domain/JQAssistantModuleFactory.java
  src/main/java/com/seed4j/generator/server/springboot/docker/domain/SpringBootDockerModuleFactory.java
  src/main/java/com/seed4j/generator/server/springboot/langchain4j/domain/LangChain4jModuleFactory.java
  src/main/java/com/seed4j/module/domain/SeedModuleShortcuts.java
  src/main/java/com/seed4j/module/domain/properties/SeedProjectBaseName.java
  src/main/java/com/seed4j/module/domain/resource/SeedModuleRank.java
  src/main/java/com/seed4j/module/infrastructure/primary/OpenApiModuleConfiguration.java
  src/main/java/com/seed4j/module/infrastructure/primary/RestSeedModuleProperties.java
  src/main/java/com/seed4j/module/infrastructure/secondary/FileSystemStartupCommandsReadmeCommandsHandler.java
  src/main/java/com/seed4j/module/infrastructure/secondary/SeedModulesResourcesConfiguration.java
  src/main/java/com/seed4j/module/infrastructure/secondary/javadependency/SeedProjectFolderJavaDependenciesReader.java
  src/main/java/com/seed4j/project/domain/download/ProjectName.java
  src/main/java/com/seed4j/project/infrastructure/primary/RestProjectHistory.java
  src/main/java/com/seed4j/shared/projectfolder/infrastructure/primary/ProjectFoldersResource.java
  src/main/java/com/seed4j/statistic/infrastructure/secondary/AppliedModulesChangeUnit.java
  src/main/resources/generator/server/springboot/broker/kafka/SampleConsumerTest.java.mustache
  src/main/resources/generator/server/springboot/broker/kafka/SampleProducerTest.java.mustache
  src/main/resources/generator/server/springboot/database/datasource/docker/mariadb.yml.mustache
  src/main/resources/generator/server/springboot/database/datasource/docker/mssql.yml.mustache
  src/main/resources/generator/server/springboot/database/datasource/docker/mysql.yml.mustache
  src/main/resources/generator/server/springboot/database/datasource/docker/postgresql.yml.mustache
  src/main/resources/generator/server/springboot/database/mongodb/mongodb.yml.mustache
  src/main/resources/generator/server/springboot/database/neo4j/neo4j.yml.mustache
  src/main/resources/generator/server/springboot/database/redis/redis.yml.mustache
  src/main/resources/generator/server/springboot/dbmigration/cassandra/cassandra-migration.md
  src/main/resources/generator/server/springboot/dbmigration/cassandra/create-migration-keyspace.cql
  src/main/resources/generator/server/springboot/dbmigration/cassandra/execute-cql.sh
  src/main/resources/generator/server/springboot/dbmigration/liquibase/resources/0000000000_example.xml
  src/main/resources/generator/server/springboot/dbmigration/mongock/mongock.md
  src/main/resources/generator/server/springboot/docker/Dockerfile-gradle.mustache
  src/main/resources/generator/server/springboot/docker/Dockerfile-maven.mustache
  src/main/resources/generator/server/springboot/docker/jib/entrypoint.sh.mustache
  src/main/resources/generator/server/springboot/mvc/sample/liquibase/00000000000_sample_feature_schema.xml
  src/main/resources/generator/server/springboot/mvc/sample/mongodbpersistence/main/infrastructure/secondary/BeersCollectionChangeUnit.java.mustache
  src/main/resources/generator/server/springboot/seed4j-extension/pom.xml.mustache
  src/test/features/wire/springdoc/api-doc.feature
  src/test/java/com/seed4j/generator/server/springboot/database/mongodb/domain/MongoDbModuleFactoryTest.java
  src/test/java/com/seed4j/generator/server/springboot/docker/domain/SpringBootDockerModuleFactoryTest.java
  src/test/java/com/seed4j/generator/server/springboot/langchain4j/domain/LangChain4jModuleFactoryTest.java
  src/test/java/com/seed4j/module/domain/SeedModuleContextTest.java
  src/test/java/com/seed4j/module/domain/SeedModulesFixture.java
  src/test/java/com/seed4j/module/domain/properties/SeedProjectBaseNameTest.java
  src/test/java/com/seed4j/module/infrastructure/primary/RestSeedModulePropertiesTest.java
  src/test/java/com/seed4j/module/infrastructure/secondary/SeedModulesResourcesConfigurationTest.java
  src/test/java/com/seed4j/project/infrastructure/secondary/FileSystemProjectsRepositoryTest.java
  src/test/resources/generator/buildtool/maven/pom.test.xml
  src/test/resources/projects/angular/app.ts
  src/test/resources/projects/empty-node/package.json
  src/test/resources/projects/node-multiple-scripts/package.json
  src/test/resources/projects/node-template/package.json
  src/test/resources/projects/node/package.json
  src/test/resources/projects/package-json/package.json
Labels: generator: internal, area: refactoring

#13136 CI: activate docker images build
  .github/workflows/publish-jvm-docker-image.yml
  .github/workflows/publish-native-docker-image.yml
Labels: area: enhancement :wrench:, generator: internal, theme: docker :whale:

#13162 Bump spring-boot to 3.5.5
  pom.xml
Labels: server: spring boot, generator: internal, area: dependencies

#13163 Bump spring-boot to 3.5.5 (generated apps)
  src/main/resources/generator/dependencies/pom.xml
Labels: server: spring boot, area: dependencies

#13169 Update gradle 9
  src/main/resources/generator/buildtool/gradle/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/generator/buildtool/gradle/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/generator/buildtool/gradle/gradlew
  src/main/resources/generator/buildtool/gradle/gradlew.bat
  src/main/resources/generator/dependencies/gradle/libs.versions.toml
  src/test/resources/com/seed4j/module/infrastructure/secondary/FileSystemSeedModulesRepositoryTest.shouldApplyModuleToGradleProject.build.gradle.kts.approved.txt
Labels: theme: gradle, area: dependencies

#13198 Bump Node to 22.19.0
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies
