Repository seed4j/seed4j, pull requests merged in 2025-05, with the labels that each got.

#12429 Rename: CodespacesModuleConfiguration
  src/main/java/tech/jhipster/lite/generator/setup/codespaces/infrastructure/primary/CodespacesModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12432 chore: fix error-prone warning
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/YamlFileSpringPropertiesHandler.java
Labels: area: enhancement :wrench:, generator: internal

#12431 Rename: Ehcache
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/application/EhcacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/EhcacheModuleConfiguration.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/domain/EhcacheModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12430 Rename: SimpleCache
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/application/SimpleCacheApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/simple/infrastructure/primary/SimpleCacheModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12433 Rename some services
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/application/OAuth2AccountApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/infrastructure/primary/OAuth2AccountModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/application/OAuth2Auth0ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/infrastructure/primary/OAuth2Auth0ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/application/OAuth2ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/infrastructure/primary/OAuth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/application/OAuth2OktaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/infrastructure/primary/OAuth2OktaModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12436 Rename: SpringBootMvcModuleFactory
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/application/SpringBootMvcApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/web/domain/SpringBootMvcsModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12236 fix the rank button alignment to be centered
  src/main/style/atom/button/button-toggle/_button-toggle.scss
  src/main/style/atom/button/button-toggle/button-toggle.mixin.pug
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.component.ts
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.html
  src/main/webapp/app/shared/toggle-button-expandable/infrastructure/primary/ToggleButtonExpandable.component.ts
  src/main/webapp/app/shared/toggle-button-expandable/infrastructure/primary/ToggleButtonExpandable.html
  src/main/webapp/app/shared/toggle-button-expandable/infrastructure/primary/ToggleButtonExpandable.vue
  src/main/webapp/app/shared/toggle-button-expandable/infrastructure/primary/index.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeRankModuleFilterComponent.spec.ts
  src/test/webapp/unit/shared/toggle-button-expandable/infrastructure/primary/ToggleButtonExpandable.spec.ts
Labels: area: bug :bug:, generator: internal

#12448 React: fix test name
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginForm/index.spec.tsx.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12424 Rename some variables
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/infrastructure/primary/GitLabCiModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/infrastructure/primary/SpringBootActuatorModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/infrastructure/primary/SpringBootThymeleafModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12449 Angular: rework on test
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/health.service.spec.ts.mustache
Labels: area: refactoring, client: angular

#12447 Fix test name
  src/main/resources/generator/typescript/test/webapp/unit/common/domain/optional/Optional.spec.ts
  src/test/webapp/unit/shared/optional/domain/Optional.spec.ts
Labels: generator: internal, area: refactoring

#12457 Angular: Fix update dependency @angular/cdk @angular/material 19.2.14
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: dependencies, client: angular

#12458 Angular: Remove unnecessary code
  src/main/resources/generator/client/angular/security/oauth2/src/main/webapp/app/auth/oauth2-auth.service.spec.ts.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: angular

#12460 Add approved files related to React module
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactoryTest.shouldBuildModule.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactoryTest.shouldBuildModule.tsconfig.json.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactoryTest.shouldBuildModule.vitest.config.ts.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.shouldBuildModule.HomePage.tsx.approved.txt
Labels: area: enhancement :wrench:, generator: internal, theme: tests

#12461 React: rename describe
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.spec.tsx.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12462 React: remove states managed by react-hook-form
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12463 Replace findIndex by some
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
Labels: generator: internal, area: refactoring

#12464 Replace snake case by camel case
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
Labels: generator: internal, area: refactoring

#12467 Factorize some variables
  src/test/webapp/unit/module/primary/landscape/LandscapeScroller.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12468 Simplify map/reduce to reduce
  src/main/webapp/app/module/domain/Modules.ts
Labels: generator: internal, area: refactoring

#12470 Disable formatter on factories
  src/main/java/tech/jhipster/lite/generator/ci/gitlab/domain/GitLabCiModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/ci/renovate/domain/RenovateModuleFactory.java
Labels: generator: internal, area: refactoring

#12477 Fix indentations
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModulesFixture.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepositoryTest.java
Labels: generator: internal, area: refactoring

#12478 Replace indexOf by includes
  src/main/webapp/app/module/primary/modules-patch/ComponentModulesPatch.ts
Labels: generator: internal, area: refactoring

#12479 Remove empty line
  src/main/resources/generator/server/springboot/mvc/sample/cassandrapersistence/main/infrastructure/secondary/BeerCatalogTable.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12481 Doc: update build badge in readme
  README.md
Labels: area: documentation :books:, generator: internal

#12482 Remove unnecessary space
  src/test/features/server/javatool/java-enums.feature
Labels: generator: internal, area: refactoring, theme: tests

#12483 Angular: add hyphen
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/health/modal/health-modal.component.ts.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: angular

#12484 The standard spelling is JavaScript
  src/main/java/tech/jhipster/lite/module/domain/PreCommitCommands.java
Labels: area: documentation :books:, generator: internal, area: refactoring

#12485 Angular: missing article
  src/main/resources/generator/client/angular/security/jwt/src/main/webapp/app/auth/account.service.spec.ts.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: angular

#12486 Rename PostgreSQL
  src/test/webapp/unit/module/domain/landscape/Landscape.fixture.ts
  src/test/webapp/unit/module/domain/landscape/Landscape.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
Labels: generator: internal, area: refactoring

#12490 HTTP links are not secured
  CONTRIBUTING.md
  src/main/style/index.pug
Labels: generator: internal, area: refactoring

#12491 Import can be shortened
  src/test/webapp/unit/module/primary/landscape/BodyCursorUpdater.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12492 chore(docker): use recommended exec form for running jhipster-lite inside docker
  Dockerfile
Labels: area: enhancement :wrench:, generator: internal, theme: docker :whale:

#12505 Format method
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
Labels: generator: internal, area: refactoring

#12504 Svelte: update TypeScript URL
  src/main/resources/generator/client/svelte/src/main/webapp/app.d.ts.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: svelte

#12516 Remove some spaces
  src/main/resources/generator/server/springboot/webflux/web/main/HeaderUtil.java.mustache
  src/main/resources/generator/server/springboot/webflux/web/test/HeaderUtilTest.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12525 Remove empty lines
  src/main/resources/generator/buildtool/gradle/gradlew
  src/main/resources/generator/buildtool/gradle/gradlew.bat
  src/main/resources/generator/ci/gitlab/.gitlab-ci-gradle.yml.mustache
Labels: area: enhancement :wrench:, generator: internal, area: refactoring

#12533 Angular: compatibility with type:module
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/resources/generator/client/angular/core/angular.json.mustache
  src/main/resources/generator/client/angular/core/jest.conf.mjs.mustache
  src/main/resources/generator/client/common/.eslintignore
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/empty-angular.json
Labels: area: bug :bug:, client: angular

#12534 Typo: chaine=>chaîne
  src/main/resources/generator/server/springboot/mvc/internationalized-errors/resources/assertions-errors/assertion-errors-messages_fr.properties
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#12542 Rename react-app folder
  src/test/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
  src/test/resources/projects/react/HomePage.css
  src/test/resources/projects/react/HomePage.spec.tsx
  src/test/resources/projects/react/HomePage.tsx
  src/test/resources/projects/react/index.css
  src/test/resources/projects/react/index.tsx
  src/test/resources/projects/react/vitest.config.ts.template
Labels: generator: internal, area: refactoring, client: react, theme: tests

#12541 Fix URL: Common Application Properties
  src/main/resources/config/application.yml
  src/test/resources/config/application-test.yml
Labels: generator: internal, area: refactoring

#12550 Vue/Tests rename files
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/security/jwt/domain/VueJwtModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/domain/VueOAuth2KeycloakModuleFactoryTest.java
  src/test/resources/projects/vue/HomepageVue.vue.mustache
  src/test/resources/projects/vue/main.ts.mustache
Labels: generator: internal, client: vue, theme: tests, area: needs discussion

#12551 Vue/Tests rename file
  src/test/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactoryTest.java
  src/test/resources/projects/vue/vitest.config.ts.mustache
Labels: generator: internal, client: vue, theme: tests

#12552 Bump Node to 22.15.1
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal, area: dependencies

#12557 React/Tests rename file
  src/test/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.java
  src/test/resources/projects/react/vitest.config.ts.mustache
Labels: generator: internal, client: react, theme: tests

#12558 Thymeleaf/Tests rename files
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
  src/test/resources/projects/thymeleaf/application.css.mustache
  src/test/resources/projects/thymeleaf/index.html.mustache
  src/test/resources/projects/thymeleaf/postcss.config.js.mustache
Labels: generator: internal, theme: tests

#12559 Gradle: rename files
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/javadependency/gradle/GradleCommandHandler.java
  src/main/resources/generator/buildtool/gradle/buildSrc/build.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/buildSrc/settings.gradle.kts.mustache
  src/main/resources/generator/buildtool/gradle/buildSrc/src/main/kotlin/profile.gradle.kts.mustache
Labels: generator: internal, theme: gradle, area: refactoring

#12564 Fix packages
  src/test/java/tech/jhipster/lite/generator/ci/renovate/domain/RenovateModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/domain/Hibernate2ndLevelCacheModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12565 Modernizer module: fix structure
  src/main/java/tech/jhipster/lite/generator/server/javatool/modernizer/infrastructure/primary/ModernizerModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/modernizer/package-info.java
Labels: generator: internal, area: refactoring

#12563 Fix packages
  src/test/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/optional/domain/OptionalTypescriptModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12566 Add package-info missing
  src/main/java/tech/jhipster/lite/generator/client/hexagonal_documentation/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/protobuf/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/package-info.java
Labels: generator: internal, area: refactoring

#12581 Improve rank filter look and feel
  src/main/style/organism/landscape/_landscape.scss
Labels: area: enhancement :wrench:, generator: internal

#12583 Fix typo
  src/main/resources/messages/assertions-errors/assertion-errors-messages_fr.properties
Labels: generator: internal, area: refactoring

#12507 Rename logger
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/AccessEvaluator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/ObjectAccessChecker.java.mustache
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/npm/NoopNpmLazyInstaller.java
Labels: generator: internal, area: refactoring

#12595 Sonar: Use already-defined constant 'PROPERTIES_FIELD' instead of duplicating its value here
  src/main/java/tech/jhipster/lite/generator/server/javatool/frontendmaven/domain/FrontendJavaBuildToolModuleFactory.java
Labels: area: refactoring

#12602 Bump NPM to 11.4.1
  CONTRIBUTING.md
  pom.xml
Labels: area: dependencies

#12605 Bump cucumber.version to v7.22.2
  pom.xml
Labels: area: dependencies

#12613 Fix: bump spring-boot to 3.5.0
  pom.xml
  src/test/java/tech/jhipster/lite/ReplaceCamelCase.java
Labels: area: dependencies

#12614 Fix: bump spring-boot to 3.5.0 (apps)
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/javatool/base/test/ReplaceCamelCase.java.mustache
  src/main/resources/generator/server/springboot/async/src/AsyncConfiguration.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/mongock/mongock.md
  src/main/resources/generator/server/springboot/mvc/sample/mongodbpersistence/main/infrastructure/secondary/BeersCollectionChangeUnit.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: area: dependencies, $$ bug-bounty $$, $200

#12621 Fix URL for logstash-logback-encoder
  src/main/resources/generator/server/springboot/logging/logstash/main/LogstashTcpLifeCycle.java.mustache
Labels: area: refactoring

#12629 Fix URL: How to install Linux on Windows with WSL
  src/main/resources/generator/server/springboot/mvc/security/oauth2/okta/documentation/okta.md.mustache
Labels: area: refactoring

#12637 Standardize feature name
  src/test/features/api-doc.feature
  src/test/features/client/loader.feature
  src/test/features/client/react-i18n.feature
  src/test/features/client/react-jwt.feature
  src/test/features/client/react.feature
  src/test/features/client/svelte.feature
  src/test/features/client/ts-pagination-domain.feature
  src/test/features/client/ts-pagination-rest.feature
  src/test/features/client/vue-i18n.feature
  src/test/features/client/vue.feature
  src/test/features/custom-jhlite.feature
  src/test/features/init.feature
  src/test/features/prettier.feature
  src/test/features/server/documentation/jmolecules.feature
  src/test/features/server/java-base.feature
  src/test/features/server/javatool/arch-unit.feature
  src/test/features/server/javatool/java-enums.feature
  src/test/features/server/javatool/memoizers.feature
  src/test/features/server/sonar.feature
  src/test/features/server/springboot/async.feature
  src/test/features/server/springboot/broker/apache-kafka.feature
  src/test/features/server/springboot/cache/ehcache.feature
  src/test/features/server/springboot/internationalized-errors.feature
  src/test/features/server/springboot/local-profile.feature
  src/test/features/server/springboot/logs-spy.feature
  src/test/features/server/springboot/openapi-contract.feature
  src/test/features/server/springboot/pagination.feature
  src/test/features/server/springboot/security/cucumber-authentication.feature
  src/test/features/server/springboot/spring-boot-core.feature
  src/test/features/server/springboot/springcloud/consul.feature
  src/test/features/setup/codespace.feature
  src/test/features/setup/gitpod.feature
  src/test/features/typescript.feature
Labels: generator: internal, area: refactoring

#12639 Fix scenario name
  src/test/features/server/springboot/dbmigration/mongock.feature
  src/test/features/server/springboot/dbmigration/neo4j-migrations.feature
Labels: generator: internal, area: refactoring

#12644 React: fix typo
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#12645 Vue: remove Sinon dependency
  src/main/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactory.java
  src/main/resources/generator/client/vue/documentation/vue-jwt-authentication-components.md.mustache
  src/main/resources/generator/client/vue/documentation/vue-oauth2-keycloak-authentication-components.md.mustache
  src/main/resources/generator/client/vue/security/jwt/webapp/app/test/webapp/unit/auth/infrastructure/secondary/JwtAuthRepository.spec.ts.mustache
  src/main/resources/generator/client/vue/security/jwt/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttpStub.ts.mustache
  src/main/resources/generator/client/vue/security/oauth2_keycloak/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakAuthRepository.spec.ts.mustache
  src/main/resources/generator/client/vue/security/oauth2_keycloak/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/security/oauth2_keycloak/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakHttpStub.ts.mustache
  src/main/resources/generator/client/vue/security/oauth2_keycloak/webapp/app/test/webapp/unit/auth/infrastructure/secondary/KeycloakStub.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/shared/http/infrastructure/secondary/AxiosStub.ts.mustache
  src/main/resources/generator/dependencies/vue/package.json
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.java
Labels: area: dependencies, client: vue

#12647 Remove Sinon dependency
  package-lock.json
  package.json
  src/test/webapp/unit/module/domain/ManagementRepository.fixture.ts
  src/test/webapp/unit/module/domain/ModuleParameters.fixture.ts
  src/test/webapp/unit/module/domain/Modules.fixture.ts
  src/test/webapp/unit/module/domain/ProjectFolders.fixture.ts
  src/test/webapp/unit/module/domain/ThemeRepository.fixture.ts
  src/test/webapp/unit/module/primary/GlobalWindow.fixture.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapePresetConfigurationComponent.spec.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/webapp/unit/module/primary/project-actions/ProjectActionsComponent.spec.ts
  src/test/webapp/unit/module/secondary/RestManagementRepository.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
  src/test/webapp/unit/module/secondary/RestProjectFoldersRepository.spec.ts
  src/test/webapp/unit/router/index.spec.ts
  src/test/webapp/unit/shared/alert/domain/AlertBus.fixture.ts
  src/test/webapp/unit/shared/alert/domain/AlertListener.fixture.ts
  src/test/webapp/unit/shared/header/infrastructure/primary/Header.spec.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttpStub.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosStub.ts
  src/test/webapp/unit/shared/theme-button/infrastructure/primary/ThemeButton.spec.ts
  src/test/webapp/unit/shared/toast/domain/Timeout.fixture.ts
  src/test/webapp/unit/shared/toast/infrastructure/primary/Toast.spec.ts
Labels: area: enhancement :wrench:, generator: internal

#12648 Spring-boot actuators: switch configuration access to be opt-in rather than opt-out
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#12670 Fix: update dependency org.springframework.cloud:spring-cloud-dependencies to v2025
  src/main/resources/generator/dependencies/pom.xml
  src/main/resources/generator/server/springboot/springcloud/gateway/java/test/GatewayResourceIT.java.mustache
Labels: area: dependencies

#12672 Improvements small changes
  src/main/resources/generator/server/javatool/archunit/test/AnnotationArchTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/ReplaceCamelCase.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: server: java, area: refactoring
