Repository seed4j/seed4j, pull requests merged in 2025-03, with the labels that each got.

#12008 Sonar: Local-Variable Type Inference should be used
  src/main/resources/generator/server/javatool/base/test/error/MissingMandatoryValueExceptionTest.java.mustache
  src/main/resources/generator/server/javatool/base/test/error/NullElementInCollectionExceptionTest.java.mustache
  src/main/resources/generator/server/pagination/domain/test/AppPageableTest.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/main/SpringLiquibaseUtil.java.mustache
  src/main/resources/generator/server/springboot/dbmigration/liquibase/test/LiquibaseConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationIT.java.mustache
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/main/domain/beer/BeersCreator.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/main/infrastructure/primary/beer/BeersResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/sample/feature/test/sample/domain/beer/BeersTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/JWTConfigurer.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/test/infrastructure/primary/JwtReaderTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/AuthenticationResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/jwt/basic-auth/main/infrastructure/primary/Authenticator.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/main/RolesAccesses.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/main/KipeMethodSecurityExpressionHandler.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/kipe/expression/test/AccessEvaluatorTest.java.mustache
  src/test/java/tech/jhipster/lite/shared/error/domain/MissingMandatoryValueExceptionTest.java
Labels: area: enhancement :wrench:, generator: internal, area: refactoring

#12014 Apply prettier
  src/main/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactory.java
Labels: area: enhancement :wrench:, area: refactoring, theme: client

#12019 Remove unnecessary non-null assertion operator
  src/main/webapp/app/shared/toast/infrastructure/primary/Toast.component.ts
Labels: generator: internal, area: refactoring

#12021 Sonar: Local-Variable Type Inference should be used
  src/main/resources/generator/server/springboot/database/cassandra/CassandraJSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/test/JSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/redis/JSR310DateConvertersTest.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12020 Refacto: function to arrow function
  src/main/webapp/app/module/primary/modules-patch/ComponentModulePatch.ts
Labels: generator: internal, area: refactoring

#12023 Upgrade Typescript 5.8.2
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#12024 Client apps: upgrade Typescript 5.8.2
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies, client: vue, client: angular, theme: client

#12039 Bump NPM to 11.2.0
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal, area: dependencies

#12044 Sonar: Local-Variable Type Inference should be used
  src/main/resources/generator/server/springboot/logging/logstash/test/LogstashTcpConfigurationIT.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12043 Remove redundant parameter (prePostEnabled)
  src/main/resources/generator/server/springboot/mvc/security/jwt/authentication/main/infrastructure/primary/SecurityConfiguration.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12045 React: remove unnecessary typing
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginForm/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12054 Upgrade eslint-config-prettier 10.1.1
  eslint.config.js
  package-lock.json
  package.json
Labels: generator: internal, area: dependencies

#12055 React: convert french words to english
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/login/primary/loginModal/index.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.test.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#11981 Angular: Configure environment-specific defaults
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/main/resources/generator/client/angular/core/angular.json.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.local.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.local.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.prod.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.spec.ts.mustache
  src/main/resources/generator/client/angular/core/src/main/webapp/environments/environment.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
  src/test/resources/projects/angular/angular.json
  src/test/resources/projects/angular/empty-angular.json
  src/test/resources/projects/angular/environment.local.ts
  src/test/resources/projects/angular/environment.ts
Labels: area: enhancement :wrench:, client: angular

#12059 Doc: fix link
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
Labels: area: documentation :books:, generator: internal

#12065 Doc: fix link
  documentation/module-creation.md
  src/main/resources/generator/server/springboot/custom-jhlite/module-creation.md.mustache
Labels: area: documentation :books:, area: enhancement :wrench:, generator: internal

#12066 Rename Typescript to TypeScript
  CONTRIBUTING.md
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
Labels: area: documentation :books:, area: enhancement :wrench:, generator: internal, area: refactoring

#12068 ESLint: fix no-empty-function
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapePresetConfigurationComponent.spec.ts
  src/test/webapp/unit/module/primary/modules-patch/ModulesPatchComponent.spec.ts
  src/test/webapp/unit/shared/alert/infrastructure/primary/WindowApplicationListener.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12067 Refacto: simplify .lintstagedrc.js
  .lintstagedrc.js
Labels: generator: internal, area: refactoring

#12058 Add rank to modules
  src/main/java/tech/jhipster/lite/shared/slug/domain/JHLiteModuleSlug.java
Labels: area: enhancement :wrench:, generator: internal

#12074 doc: vue oauth2
  src/main/resources/generator/client/vue/documentation/vue-oauth2-keycloak-authentication-components.md
Labels: area: documentation :books:, client: vue

#12075 Add rank when building modules
  package-lock.json
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleResource.java
  src/main/java/tech/jhipster/lite/shared/slug/domain/JHLiteModuleSlug.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourceFixture.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourcesTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/primary/RestJHipsterLandscapeTest.java
  src/test/java/tech/jhipster/lite/shared/slug/domain/JHLiteModuleSlugTest.java
Labels: area: enhancement :wrench:, generator: internal

#12073 ESLint/React: fix no-empty-function
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.test.tsx.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12076 Refacto: uses template instead of file
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/domain/VueOAuth2KeycloakModulesFactory.java
  src/main/resources/generator/client/vue/documentation/vue-oauth2-keycloak-authentication-components.md.mustache
Labels: generator: internal, area: refactoring, client: vue

#12081 React: rename ReactCore to React
  src/main/java/tech/jhipster/lite/generator/client/react/core/application/ReactApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactModulesFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactModulesConfiguration.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactModulesFactoryTest.java
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModulesFactoryTest.shouldBuildModuleWithStyle.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModulesFactoryTest.shouldBuildModuleWithStyle.tsconfig.json.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModulesFactoryTest.shouldBuildModuleWithStyle.vitest.config.ts.approved.txt
Labels: generator: internal, area: refactoring, client: react

#12082 feat(module-rank): allow custom modules to declare their rank
  src/main/java/tech/jhipster/lite/module/domain/resource/JHipsterModuleSlugFactory.java
  src/main/java/tech/jhipster/lite/shared/slug/domain/JHLiteModuleSlug.java
  src/main/resources/generator/server/springboot/custom-jhlite/main/shared/slug/domain/ModuleSlug.java.mustache
  src/test/java/tech/jhipster/lite/module/domain/resource/FakeJHipsterModuleSlugFactory.java
  src/test/java/tech/jhipster/lite/module/domain/resource/JHipsterModulesResourceFixture.java
Labels: area: enhancement :wrench:, generator: internal

#12084 fix(typescript): add missing @eslint/js dependency
  src/main/java/tech/jhipster/lite/generator/typescript/core/domain/TypescriptModuleFactory.java
  src/main/resources/generator/dependencies/common/package.json
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
Labels: area: bug :bug:, client: vue, client: react, theme: typescript, theme: client

#12090 Rename XxxModulesConfiguration to XxxModuleConfiguration
  src/main/java/tech/jhipster/lite/generator/client/react/core/infrastructure/primary/ReactModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/EHCacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/JwtAuthenticationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/web/infrastructure/primary/SpringBootMvcModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/infrastructure/primary/OpenApiModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12093 Rename TSRestPaginationFactory to TSRestPaginationModuleFactory
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/application/TSRestPaginationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12094 Document dependencies package for Angular
  src/main/resources/generator/dependencies/angular/package.json
Labels: area: documentation :books:, client: angular

#12092 Fix AsyncElementAsserter to properly work in async mode
  src/test/java/tech/jhipster/lite/cucumber/rest/AsyncElementAsserter.java
Labels: area: bug :bug:, theme: tests

#12101 ESLint: update folder ignore
  eslint.config.js
Labels: generator: internal, area: refactoring

#12106 Rename SpringDoc to Springdoc
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/application/SpringdocAuth0ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/domain/SpringdocAuth0ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/infrastructure/primary/SpringdocAuth0ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/application/SpringdocOauth2ApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringdocOauth2ModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/application/SpringdocOktaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/domain/SpringdocOktaModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/infrastructure/primary/SpringdocOktaModuleConfiguration.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/domain/SpringdocAuth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/domain/SpringdocModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/domain/SpringdocOauth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/domain/SpringdocOktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/wire/springdoc/infrastructure/primary/SpringdocSteps.java
Labels: generator: internal, area: refactoring

#12109 Rename AdvancedTestingModuleConfiguration to ApprovalTestingModuleConfiguration
  src/main/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/infrastructure/primary/ApprovalTestingModuleConfiguration.java
Labels: generator: internal, area: refactoring, area: needs discussion

#12108 Rename AngularCoreModuleConfiguration to AngularModuleConfiguration
  src/main/java/tech/jhipster/lite/generator/client/angular/core/infrastructure/primary/AngularModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12107 Rename SpringDoc to Springdoc
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocauth0/infrastructure/primary/SpringdocAuth0ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocoauth/infrastructure/primary/SpringdocOauth2ModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdocokta/infrastructure/primary/SpringdocOktaModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12119 chore: add Intellij icon
  .gitignore
  .idea/icon.png
Labels: area: enhancement :wrench:, generator: internal

#12120 Rename some methods
  src/main/java/tech/jhipster/lite/generator/ci/renovate/infrastructure/primary/RenovateModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/async/infrastructure/primary/SpringBootAsyncModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/dbmigration/neo4jmigrations/infrastructure/primary/Neo4jMigrationsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/infrastructure/primary/DevToolsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/sample/langchain4j/infrastructure/primary/SampleLangChain4jModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12131 feat(checkstyle): exclude generated test sources from checkstyle analysis
  src/main/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/checkstyle/domain/CheckstyleModuleFactoryTest.java
Labels: area: enhancement :wrench:, theme: tests

#12123 feat(github-actions): simplify and modernize github-actions for maven and gradle
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/ci/github/actions/infrastructure/primary/GitHubActionsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleContext.java
  src/main/java/tech/jhipster/lite/module/domain/properties/JHipsterModuleProperties.java
  src/main/resources/generator/ci/github/actions/.github/actions/setup/action.yml.mustache
  src/main/resources/generator/ci/github/actions/.github/workflows/github-actions.yml.mustache
  src/test/java/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/JHipsterModuleContextTest.java
  src/test/resources/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactoryTest.shouldBuildGitHubActionsGradleModule.github-actions.yml.approved.txt
  src/test/resources/tech/jhipster/lite/generator/ci/github/actions/domain/GitHubActionsModuleFactoryTest.shouldBuildGitHubActionsMavenModule.github-actions.yml.approved.txt
Labels: area: enhancement :wrench:, theme: maven, theme: gradle, $$ bug-bounty $$, $200, theme: CI

#12132 bug: missing eslint-config-prettier configuration in eslint.config.js
  src/main/java/tech/jhipster/lite/generator/typescript/core/infrastructure/primary/TypescriptModuleConfiguration.java
  src/main/resources/generator/typescript/eslint.config.js.mustache
  src/test/resources/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactoryTest.shouldBuildModuleWithStyle.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.shouldCreateVueModule.eslint.config.js.approved.txt
  tests-ci/generate.sh
Labels: area: bug :bug:, client: vue, client: react, theme: client

#11910 display filter rank options in frontend
  src/main/style/atom/button/_button.scss
  src/main/style/atom/button/button-toggle/_button-toggle.scss
  src/main/style/atom/button/button-toggle/button-toggle.code.pug
  src/main/style/atom/button/button-toggle/button-toggle.md
  src/main/style/atom/button/button-toggle/button-toggle.mixin.pug
  src/main/style/atom/button/button-toggle/button-toggle.render.pug
  src/main/style/atom/button/button.pug
  src/main/style/organism/_organism.scss
  src/main/style/organism/landscape-rank-module-filter/_landscape-rank-module-filter.scss
  src/main/style/organism/landscape-rank-module-filter/landscape-rank-module-filter.code.pug
  src/main/style/organism/landscape-rank-module-filter/landscape-rank-module-filter.md
  src/main/style/organism/landscape-rank-module-filter/landscape-rank-module-filter.mixin.pug
  src/main/style/organism/landscape-rank-module-filter/landscape-rank-module-filter.render.pug
  src/main/style/organism/landscape/_landscape.scss
  src/main/style/organism/organism.pug
  src/main/webapp/app/module/domain/ModuleRankCount.ts
  src/main/webapp/app/module/domain/ModuleRankStatistics.ts
  src/main/webapp/app/module/domain/RankDescription.ts
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/LandscapeElement.ts
  src/main/webapp/app/module/domain/landscape/LandscapeFeature.ts
  src/main/webapp/app/module/domain/landscape/LandscapeModule.ts
  src/main/webapp/app/module/domain/landscape/ModuleRank.ts
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.component.ts
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.html
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.vue
  src/main/webapp/app/module/primary/landscape-rank-module-filter/index.ts
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/main/webapp/app/module/primary/landscape/Landscape.html
  src/main/webapp/app/module/secondary/RestLandscapeModule.ts
  src/test/webapp/unit/module/domain/landscape/Landscape.fixture.ts
  src/test/webapp/unit/module/domain/landscape/Landscape.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeRankModuleFilterComponent.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#12146 Rename package cucumber_authentication to cucumberauthentication
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumber_authentication/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/application/CucumberAuthenticationApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/domain/CucumberAuthenticationModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12154 Fix: update dependency org.eclipse.jgit:org.eclipse.jgit to v7.2.0.202503040940-r
  pom.xml
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/git/NativeHints.java
Labels: area: dependencies

#12155 Bump spring-boot 3.4.4
  pom.xml
Labels: server: spring boot, generator: internal, area: dependencies

#12156 Bump spring-boot 3.4.4 (apps)
  src/main/resources/generator/dependencies/pom.xml
Labels: area: enhancement :wrench:, server: spring boot, area: dependencies

#12158 Fix missing package
  src/test/java/tech/jhipster/lite/generator/server/springboot/dbmigration/cassandra/domain/CassandraMigrationModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12144 use colors to identify each rank
  src/main/style/atom/button/button-toggle/_button-toggle.scss
  src/main/style/organism/landscape-rank-module-filter/_landscape-rank-module-filter.scss
  src/main/style/organism/landscape/_landscape.scss
  src/main/style/token/_colors.scss
  src/main/webapp/app/module/domain/landscape/Landscape.ts
  src/main/webapp/app/module/domain/landscape/ModuleRank.ts
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.component.ts
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.html
  src/main/webapp/app/module/primary/landscape/Landscape.component.ts
  src/test/webapp/unit/module/domain/landscape/Landscape.fixture.ts
  src/test/webapp/unit/module/domain/landscape/Landscape.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
  src/test/webapp/unit/module/primary/landscape/LandscapeRankModuleFilterComponent.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
Labels: area: feature request :bulb:, generator: internal

#12157 Rename package locale_profile to localprofile
  src/main/java/tech/jhipster/lite/generator/server/springboot/locale_profile/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/application/LocalProfileApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/infrastructure/primary/LocalProfileModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/localeprofile/domain/LocalProfileModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12170 Rename some parameters
  src/main/java/tech/jhipster/lite/generator/ci/renovate/infrastructure/primary/RenovateModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/svelte/core/infrastructure/primary/SvelteModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/apidocumentation/springdoccore/infrastructure/primary/SpringdocModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/infrastructure/primary/KafkaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/infrastructure/primary/Hibernate2ndLevelCacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/jooq/infrastructure/primary/JooqModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/jpa/infrastructure/primary/JpaModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/neo4j/infrastructure/primary/Neo4jModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/sample/cassandrapersistence/infrastructure/primary/SampleCassandraPersistenceModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/sample/langchain4j/infrastructure/primary/SampleLangChain4jModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/infrastructure/primary/ConsulModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/core/infrastructure/primary/TypescriptModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/typescript/optional/infrastructure/primary/OptionalTypescriptModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12169 Rename package java_enum to javaenum
  src/main/java/tech/jhipster/lite/generator/server/javatool/java_enum/package-info.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/javaenum/application/JavaEnumsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/javaenum/domain/JavaEnumsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/javaenum/infrastructure/primary/JavaEnumsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/javaenum/package-info.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/javaenum/domain/JavaEnumsModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12171 Rename some variables
  src/main/java/tech/jhipster/lite/generator/server/springboot/broker/kafka/application/KafkaApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/localeprofile/application/LocalProfileApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/application/OAuth2AccountSecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/application/OAuth2Auth0SecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/application/OAuth2OktaSecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/application/WebjarsApplicationService.java
Labels: generator: internal, area: refactoring

#12172 Add Assert.notNull
  src/main/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/hexagonal_documentation/domain/FrontHexagonalDocumentationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/loader/domain/TsLoaderModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/pagination_domain/domain/TSPaginationDomainModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/rest_pagination/domain/TSRestPaginationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/prettier/domain/PrettierModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/documentation/jmolecules/domain/JMoleculesModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/hexagonaldocumentation/domain/HexagonalDocumentationModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/infinitest/domain/InfinitestModuleFactory.java
Labels: generator: internal, area: refactoring

#12173 Fix formatter annotation
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
Labels: generator: internal, area: refactoring

#12160 Move tests in bad folders
  src/test/webapp/unit/module/primary/landscape/BodyCursorUpdater.spec.ts
  src/test/webapp/unit/shared/header/infrastructure/primary/Header.spec.ts
  src/test/webapp/unit/shared/icon/infrastructure/primary/Icon.spec.ts
  src/test/webapp/unit/shared/theme-button/infrastructure/primary/ThemeButton.spec.ts
Labels: generator: internal, area: refactoring

#12179 Format files
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/init/domain/InitModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/datasource/domain/DatasourceModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/domain/WebjarsModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/setup/license/domain/LicenseModuleFactory.java
  src/main/java/tech/jhipster/lite/generator/typescript/common/domain/TsConfigShortcuts.java
  src/main/java/tech/jhipster/lite/generator/typescript/common/domain/VitestShortcuts.java
Labels: generator: internal, area: refactoring

#12180 Rename shouldCreate to shouldBuild
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/base/domain/JavaBaseModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/async/domain/SpringBootAsyncModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/datasource/domain/DatasourceModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/hibernate2ndlevelcache/Hibernate2ndLevelCacheModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/jooq/domain/JooqModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/jpa/domain/JpaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/langchain4j/domain/LangChain4jModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/logging/logstash/domain/LogstashModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/Oauth2AccountModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/Oauth2OktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/consul/domain/ConsulModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/springcloud/eureka/domain/EurekaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/domain/ThymeleafTemplateModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/webjars/domain/WebjarsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/optional/OptionalTypescriptModuleFactoryTest.java
Labels: generator: internal, area: refactoring

#12188 Remove Mockito on some tests
  src/test/java/tech/jhipster/lite/generator/server/springboot/devtools/domain/DevToolsModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/langchain4j/domain/LangChain4jModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12189 Remove: Given-When-Then
  src/test/java/tech/jhipster/lite/module/domain/file/JHipsterFileContentTest.java
  src/test/java/tech/jhipster/lite/module/domain/properties/JHipsterModulePropertiesTest.java
Labels: generator: internal, area: refactoring

#12193 remove rank button introduction animation
  src/main/style/atom/button/button-toggle/_button-toggle.scss
  src/main/webapp/app/module/primary/landscape-rank-module-filter/LandscapeRankModuleFilter.component.ts
Labels: area: enhancement :wrench:, generator: internal

#12195 Use property shorthand
  src/test/webapp/unit/router/index.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12196 Rework test file
  src/test/webapp/unit/module/primary/project-actions/ProjectActionsComponent.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12207 No else return
  src/main/webapp/app/module/primary/landscape/LandscapeNavigation.ts
Labels: generator: internal, area: refactoring

#12206 Remove unnecessary async
  src/test/webapp/unit/module/primary/landscape/LandscapeMiniMapComponent.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12221 Add and commit approved txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.shouldBuildVueModule.eslint.config.js.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.shouldBuildVueModule.tsconfig.json.approved.txt
  src/test/resources/tech/jhipster/lite/generator/client/vue/core/domain/VueModuleFactoryTest.shouldBuildVueModule.vitest.config.ts.approved.txt
Labels: area: enhancement :wrench:, generator: internal
