Repository seed4j/seed4j, pull requests merged in 2025-04, with the labels that each got.

#12229 Sonar: Control structures should use curly braces
  src/main/resources/generator/server/springboot/cucumber/rest/CucumberRestTestContext.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12121 Integrate Spring Boot's Docker Compose support
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactory.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModule.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModuleChanges.java
  src/main/java/tech/jhipster/lite/module/domain/JHipsterModulesApplyer.java
  src/main/java/tech/jhipster/lite/module/domain/standalonedocker/DockerComposeFiles.java
  src/main/java/tech/jhipster/lite/module/domain/standalonedocker/JHipsterModuleDockerComposeFile.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/DockerComposeFileHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemDockerComposeFileHandler.java
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemJHipsterModulesRepository.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/database/redis/domain/RedisModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/module/domain/standalonedocker/JHipsterModuleDockerComposeFileTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/DockerComposeFileHandlerTest.java
  src/test/java/tech/jhipster/lite/module/infrastructure/secondary/FileSystemDockerComposeFileHandlerTest.java
  src/test/resources/projects/project-with-root-compose-file/docker-compose.yml
Labels: area: feature request :bulb:, server: spring boot, theme: docker :whale:

#12231 feat(spring-boot): avoid declaring twice the logging level for tests
  src/main/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/core/domain/SpringBootCoreModuleFactoryTest.java
Labels: area: enhancement :wrench:, server: spring boot

#12238 Simplify countModules function
  src/main/webapp/app/module/primary/modules-patch/ComponentModulesPatch.ts
Labels: generator: internal, area: refactoring

#12249 Angular: Fix empty line on environment files
  src/main/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactory.java
  src/test/java/tech/jhipster/lite/generator/client/angular/security/oauth2/domain/AngularOauth2ModuleFactoryTest.java
Labels: area: refactoring, client: angular

#12254 Clean code
  src/test/webapp/unit/module/primary/landscape/LandscapeComponent.spec.ts
Labels: generator: internal, area: refactoring

#12265 Typescript 5.8.3
  package-lock.json
  package.json
  src/main/resources/generator/dependencies/angular/package.json
  src/main/resources/generator/dependencies/common/package.json
Labels: area: dependencies

#12266 Angular/Jest: move config option isolatedModules
  src/main/resources/generator/client/angular/core/jest.conf.js.mustache
  src/main/resources/generator/client/angular/core/tsconfig.spec.json.mustache
Labels: area: enhancement :wrench:, client: angular

#12271 Angular: remove admin module
  src/main/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactory.java
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin-routing.module.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin.routes.spec.ts.mustache
  src/main/resources/generator/client/angular/admin/src/main/webapp/app/admin/admin.routes.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/angular/admin/health/domain/AngularHealthModuleFactoryTest.java
Labels: area: enhancement :wrench:, client: angular

#12272 Angular: update links
  src/main/resources/generator/client/angular/core/src/main/webapp/app/app.component.html.mustache
  src/test/resources/projects/angular/app.component.html
Labels: area: enhancement :wrench:, client: angular

#12273 React: update link
  src/main/resources/generator/client/react/core/src/main/webapp/app/home/infrastructure/primary/HomePage.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/test/resources/projects/react-app/HomePage.tsx
  src/test/resources/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.shouldBuildI18nModule.HomePage.tsx.approved.txt
Labels: area: enhancement :wrench:, client: react

#12274 Vue: update doc
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/domain/VueI18nModuleFactory.java
  src/main/resources/generator/client/vue/webapp/app/home/infrastructure/primary/HomepageVue.vue.mustache
  src/main/resources/generator/client/vue/webapp/app/test/webapp/unit/router/infrastructure/primary/HomeRouter.spec.ts.mustache
  src/test/resources/projects/vue/HomepageVue.vue.template
Labels: area: enhancement :wrench:, client: vue

#12276 React: apply Prettier
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginForm/index.test.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.test.tsx.mustache
Labels: area: enhancement :wrench:, client: react

#12279 Bump NPM to 11.3.0
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal

#12280 Apply Prettier
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/primary/AccountsResource.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/main/infrastructure/primary/RestAccount.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/domain/AccountsFixture.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/account/test/infrastructure/primary/RestAccountTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/core/test/infrastructure/primary/CustomClaimConverterTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/useridentity/test/domain/EmailTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/useridentity/test/domain/FirstnameTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/useridentity/test/domain/LastnameTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/security/oauth2/useridentity/test/domain/NameTest.java.mustache
  src/main/resources/generator/server/springboot/mvc/web/main/BeanValidationErrorsHandler.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12281 Improve tests coverage
  src/test/webapp/unit/module/secondary/LocalStorageModuleParametersRepository.spec.ts
Labels: generator: internal, theme: tests

#12290 Fix path for Toast tests
  src/test/webapp/unit/router/index.spec.ts
  src/test/webapp/unit/shared/toast/domain/Timeout.fixture.ts
  src/test/webapp/unit/shared/toast/domain/Timeout.spec.ts
  src/test/webapp/unit/shared/toast/infrastructure/primary/Toast.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12305 Fix: Update dependency prettier-plugin-sh to v0.17.2
  .prettierignore
  package-lock.json
  package.json
Labels: area: dependencies

#12307 Fix path for Http tests
  src/test/webapp/unit/module/secondary/RestManagementRepository.spec.ts
  src/test/webapp/unit/module/secondary/RestModulesRepository.spec.ts
  src/test/webapp/unit/module/secondary/RestProjectFoldersRepository.spec.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttp.spec.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosHttpStub.ts
  src/test/webapp/unit/shared/http/infrastructure/secondary/AxiosStub.ts
Labels: generator: internal, area: refactoring, theme: tests

#12315 Fix path for Loader tests
  src/test/webapp/unit/shared/loader/infrastructure/primary/Loader.spec.ts
Labels: generator: internal, area: refactoring, theme: tests

#12317 Doc: Rename Vue 3 with Vue
  CONTRIBUTING.md
Labels: area: documentation :books:

#12319 Doc: update link to Angular style guide
  CONTRIBUTING.md
Labels: area: documentation :books:

#12318 Doc: fix example
  CONTRIBUTING.md
Labels: area: documentation :books:, generator: internal

#12325 Kafka: remove temporary fix
  src/main/resources/generator/server/springboot/broker/kafka/KafkaTestContainerExtension.java.mustache
Labels: area: enhancement :wrench:, area: dependencies

#12316 React: standardize extension for tests files
  src/main/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactory.java
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/common/services/storage.spec.ts.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginForm/index.spec.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/primary/loginModal/index.spec.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/test/webapp/unit/login/services/login.spec.ts.mustache
  src/test/java/tech/jhipster/lite/generator/client/react/security/jwt/domain/ReactJwtModuleFactoryTest.java
Labels: area: enhancement :wrench:, area: refactoring, client: react

#12326 Update URL vite.dev
  src/main/resources/generator/client/react/core/src/main/webapp/app/home/infrastructure/primary/HomePage.tsx.mustache
  src/main/resources/generator/client/react/security/jwt/src/main/webapp/app/common/primary/app/LoginApp.tsx.mustache
  src/main/resources/generator/client/vue/webapp/app/home/infrastructure/primary/HomepageVue.vue.mustache
  src/test/resources/projects/react-app/HomePage.tsx
  src/test/resources/projects/vue/HomepageVue.vue.template
  src/test/resources/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.shouldBuildI18nModule.HomePage.tsx.approved.txt
Labels: area: documentation :books:

#12322 Fix some typos
  CONTRIBUTING.md
  documentation/hexagonal-architecture.md
Labels: area: documentation :books:, generator: internal

#12332 Doc: update URL for sonarqube
  src/main/resources/generator/server/sonar/sonar.md.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12331 Vite: update URL
  src/main/resources/generator/client/vue/vite.config.ts.mustache
  vite.config.ts
Labels: area: enhancement :wrench:, generator: internal, area: refactoring

#12336 Svelte: update URL svelte.dev
  src/main/resources/generator/client/svelte/src/main/webapp/app/common/primary/app/App.svelte.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: svelte

#12337 Angular: Update comments on tsconfig.app.json
  src/main/resources/generator/client/angular/core/tsconfig.app.json
Labels: area: enhancement :wrench:, area: refactoring, client: angular

#12267 feat(cucumber): default configuration for ignoring features or scenarios with a '@disabled' tag
  src/main/resources/generator/server/springboot/cucumber/CucumberTest.java.mustache
Labels: area: feature request :bulb:, theme: tests

#12344 Angular: clean eslint.config.mjs
  src/main/resources/generator/client/angular/core/eslint.config.mjs.mustache
Labels: area: enhancement :wrench:, area: refactoring, client: angular

#12340 Replace JHipster lite by JHipster Lite
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/RestStatistics.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/RestStatisticsCriteria.java
  src/main/java/tech/jhipster/lite/statistic/infrastructure/primary/StatisticsResources.java
  src/main/style/atom/logo/logo.mixin.pug
Labels: generator: internal, area: refactoring

#12357 Doc: typo
  documentation/hexagonal-architecture.md
Labels: area: documentation :books:, generator: internal

#12358 feat(cucumber): replace test selection using cucumber.features by @SelectDirectories
  src/main/resources/generator/server/springboot/cucumber/CucumberTest.java.mustache
  src/main/resources/generator/server/springboot/custom-jhlite/test/CucumberTest.java.mustache
  src/test/java/tech/jhipster/lite/cucumber/CucumberTest.java
Labels: area: enhancement :wrench:, theme: tests

#12365 Bump Node to 22.15.0
  CONTRIBUTING.md
  pom.xml
Labels: generator: internal, area: dependencies

#12367 Doc: typo
  documentation/module-creation.md
Labels: area: documentation :books:, generator: internal

#12373 Bump spring-boot 3.4.5
  pom.xml
Labels: generator: internal, area: dependencies

#12374 Bump spring-boot 3.4.5 (apps)
  src/main/resources/generator/dependencies/pom.xml
Labels: area: enhancement :wrench:, area: dependencies

#12375 Remove public visibility (default) on methods
  src/main/webapp/app/module/domain/landscape/Landscape.ts
Labels: generator: internal, area: refactoring

#12377 Rename DisplayName
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12378 Rework on tests
  src/test/java/tech/jhipster/lite/generator/client/tikui/domain/TikuiModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/tools/cypress/domain/CypressModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12392 Rename nested class
  src/main/resources/generator/server/springboot/mvc/security/kipe/authorization/test/ApplicationAuthorizationsTest.java.mustache
Labels: area: enhancement :wrench:, area: refactoring, theme: tests

#12391 Use new switch
  src/main/java/tech/jhipster/lite/module/infrastructure/secondary/npm/FileSystemNpmLazyInstaller.java
Labels: generator: internal, area: refactoring

#12399 Add display name
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12405 ci: increase the timeout of the build of generated projects
  .github/workflows/github-actions.yml
Labels: area: enhancement :wrench:, generator: CI

#12406 Rework on tests
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/Oauth2AccountModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/Oauth2OktaModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests

#12411 Fix update prettier/plugin-pug 3.4.0
  src/main/resources/generator/client/tikui/style/atom/button/button.code.pug.mustache
  src/main/resources/generator/client/tikui/style/atom/input-text/input-text.code.pug.mustache
  src/main/resources/generator/client/tikui/style/atom/label/label.code.pug.mustache
  src/main/resources/generator/client/tikui/style/atom/page-title/page-title.code.pug.mustache
  src/main/resources/generator/client/tikui/style/atom/paragraph/paragraph.code.pug.mustache
  src/main/resources/generator/client/tikui/style/molecule/field/field.code.pug.mustache
  src/main/resources/generator/client/tikui/style/molecule/field/field.mixin.pug.mustache
  src/main/resources/generator/client/tikui/style/organism/columns/columns.code.pug.mustache
  src/main/resources/generator/dependencies/common/package.json
Labels: area: enhancement :wrench:, area: dependencies

#12412 Apply display name in camel case
  src/main/resources/generator/server/springboot/database/cassandra/CassandraJSR310DateConvertersTest.java.mustache
  src/main/resources/generator/server/springboot/database/mongodb/test/JSR310DateConvertersTest.java.mustache
Labels: area: enhancement :wrench:, area: refactoring

#12418 Rename variables
  src/main/java/tech/jhipster/lite/generator/server/springboot/devtools/application/DevToolsApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/application/OAuth2SecurityApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/application/SpringBootActuatorApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/application/SpringBootThymeleafApplicationService.java
Labels: generator: internal, area: refactoring

#12419 Remove unnecessary public visibility
  src/main/java/tech/jhipster/lite/generator/server/pagination/domainmodel/infrastructure/primary/PaginationDomainModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/infrastructure/primary/SpringBootThymeleafModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/template/infrastructure/primary/ThymeleafTemplateModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/infrastructure/primary/WebjarsModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12420 Rename some variables
  src/main/java/tech/jhipster/lite/generator/client/react/i18n/infrastructure/primary/ReactI18nModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/i18n/infrastructure/primary/VueI18nModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/jwt/infrastructure/primary/VueJwtModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/client/vue/security/oauth2_keycloak/infrastructure/primary/VueOAuth2KeycloakModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/init/infrastructure/primary/InitModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/hexagonaldocumentation/infrastructure/primary/HexagonalArchitectureDocumentationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/sonarqube/infrastructure/primary/SonarQubeModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/caffeine/infrastructure/primary/CaffeineCacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cache/ehcache/infrastructure/primary/EHCacheModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/cucumberauthentication/infrastructure/primary/CucumberAuthenticationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/logsspy/infrastructure/primary/LogsSpyModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/sample/feature/infrastructure/primary/SampleFeatureModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/infrastructure/primary/JwtAuthenticationModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/technicaltools/gitinfo/infrastructure/primary/GitInfoModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/server/webjars/infrastructure/primary/WebjarsModuleConfiguration.java
  src/main/java/tech/jhipster/lite/generator/setup/gitpod/infrastructure/primary/GitpodModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12408 Rename some tests methods
  src/test/java/tech/jhipster/lite/generator/ci/renovate/RenovateModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/angular/core/domain/AngularModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/core/domain/ReactModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/react/i18n/domain/ReactI18nModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/client/svelte/core/domain/SvelteModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/approvaltesting/domain/ApprovalTestingModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/javatool/pbt/domain/PropertyBasedTestingModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/jwt/domain/JwtBasicAuthModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeAuthorizationModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/kipe/domain/KipeExpressionModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/account/domain/Oauth2AccountModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/auth0/domain/Oauth2Auth0ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/core/domain/OAuth2ModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/mvc/security/oauth2/okta/domain/Oauth2OktaModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/technicaltools/actuator/domain/SpringBootActuatorModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/thymeleaf/domain/SpringBootThymeleafModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/server/springboot/webflux/web/domain/SpringBootWebfluxModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/setup/infinitest/domain/InfinitestModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/core/TypescriptModuleFactoryTest.java
  src/test/java/tech/jhipster/lite/generator/typescript/domain/optional/OptionalTypescriptModuleFactoryTest.java
Labels: generator: internal, area: refactoring, theme: tests, area: needs discussion

#12425 Rename service: MongoDbApplicationService
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/application/MongoDbApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/springboot/database/mongodb/infrastructure/primary/MongoDbModuleConfiguration.java
Labels: generator: internal, area: refactoring

#12426 Rename service: ArchUnitApplicationService
  src/main/java/tech/jhipster/lite/generator/server/javatool/archunit/application/ArchUnitApplicationService.java
  src/main/java/tech/jhipster/lite/generator/server/javatool/archunit/infrastructure/primary/ArchUnitModuleConfiguration.java
Labels: generator: internal, area: refactoring
